-
    const defaultAbiturientamStepsProps = {
        classes: '',
    }

mixin abiturientam-steps(props = defaultAbiturientamStepsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultAbiturientamStepsProps.classes
        }

    section.abiturientam-steps
        .m-container
            +m-columns({
                classes: "m-columns--no-plpr no-border",
                title: '<h2>Как поступить к нам</h2>',
                noContent: true
            })

            +m-columns({
                classes: "m-columns--no-plpr",
                title: '<h2>Шаг 1</h2>'
            })
                <h3>Сдать ЕГЭ</h3>
                <p><b>Для поступления на бакалавриат или специалитет сдайте ЕГЭ по общеобразовательным предметам. Перечень вступительных испытаний и минимальные баллы можно посмотреть на страницах образовательных программ, а также в Приложении 2.1 и Приложении 2.2 (для творческих направлений и специальностей) к Правилам приема.</b></p>
                .text-items-list
                    +link-block({
                        classes: '',
                        text: 'Я после колледжа',
                        vMode: 'btn',
                        type: 'link_angle'
                    })
                    +link-block({
                        classes: '',
                        text: 'Проходные баллы',
                        vMode: 'btn',
                        type: 'link_angle'
                    })


            +m-columns({
                classes: "m-columns--no-plpr",
                title: '<h2>Шаг 2</h2>'
            })
                <h3> Подать документы</h3>
                <p><b>Вы можете подать заявление и необходимый комплект документов:</b></p>
                ul
                    li 
                        b через личный кабинет поступающего;
                    li 
                        b через сервис «Поступление в вуз онлайн» посредством федеральной государственной информационной системы «Единый портал государственных услуг и функций».
                    li 
                        b лично
                    li 
                        b через операторов почтовый связи

            +m-columns({
                classes: "m-columns--no-plpr",
                title: '<h2>Шаг 3</h2>'
            })
                <h3>Сдать экзамены и пройти по конкурсу</h3>
                <p><b>Творческие вступительные испытания/ внутренние экзамены сдают лица, не имеющие результатов ЕГЭ (со средним профессиональным или высшим образованием, инвалидностью, иностранным гражданством, проходившие итоговую аттестацию в иностранных образовательных учреждениях). Отслеживайте свой рейтинг и принимайте решение куда подавать оригинал документа об образовании. Зачисление на бюджетные места проводится по конкурсным (ранжированным) спискам. Поступающие на платные места должны иметь минимальные проходные баллы по каждому предмету. Они заключают договор и оплачивают минимум 1 семестр обучения.</b></p>

            +m-columns({
                classes: "m-columns--no-plpr",
                title: '<h2>Шаг 4</h2>'
            })
                <h3>Вы — студент!</h3>
                ul
                    li 
                        b Выбрать общежитие через личный кабинет абитуриента (для студентов очной формы обучения, зарегистрированных за пределами Херсона) и заселиться в него.
                    li 
                        b Пройти адаптивные курсы (для студентов бакалавриата и специалитета очной формы).
                    li 
                        b Получить студенческий билет, зачётку и кампусную карту.
                    li 
                        b Встать на учет в военно-учетном столе (для студентов мужского пола очной формы).
                    li 
                        b Подготовить медицинские документы для занятий физкультурой.
                    li 
                        b Подготовить идентификационный номер налогоплательщика (ИНН), страховое свидетельство пенсионного страхования (для оформления документов при прохождении производственных практик).




