.tabs-block {
    width: 100%;
    overflow: hidden;

    &__tabs {
        display: flex;
        align-items: stretch;
        padding: 0 29px 5px;
        overflow-x: auto;



        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $c-accent-middle;
            border-radius: 8px;
        }

        @include max(mobile) {
            padding: 0 0 5px 15px;
        }
    }

    &__tab {
        width: 469px;
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 30px;
        cursor: pointer;
        font-family: $ff-second;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.366em;
        color: $c-accent;
        background-color: #D8E8DE;
        transition: color $tr-time, background-color $tr-time;

        @include max(laptop) {
            min-height: 70px;
            padding: 15px 25px;
            font-size: 16px;
            width: 410px;
        }

        @include max(mobile) {
            min-width: 220px;
            font-size: 12px;
            padding: 10px 15px;

            &:last-child {
                margin-right: 15px;
            }
        }

        +.tabs-block__tab {
            border-left: 1px solid #ADCEBE;
        }

        &--active {
            color: $c-white;
            background-color: $c-accent;
        }
    }

    &__slides {
        margin-top: 35px;
    }

    &__slide {
        display: none;

        &--active {
            display: block;
        }
    }

    &--mini {
        .tabs-block__tab {
            min-width: 126px;
            font-size: 14px;
            width: auto;
            line-height: 1em;
            min-height: 1em;

        }
    }


    &--middle {
        .tabs-block__tabs {
            @include max(laptop) {
                padding: 0 20px 5px;
            }

            @include max(tablet) {
                padding: 0 15px 5px;
            }
        }

        .tabs-block__tab {
            min-width: 220px;
            width: auto;
            font-size: 16px;
            min-height: 60px;
        }
    }

    &--white-tabs{
        .tabs-block__tabs{
            background: #fff;
            padding-bottom: 45px;
        }
    }
}