-
    const defaultSmiCardsProps = {
        classes: ''
    }

mixin smi-cards(props = defaultSmiCardsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSmiCardsProps.classes
        }

