-
    const defaultSmiCardsProps = {
        classes: ''
    }

mixin smi-cards(props = defaultSmiCardsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSmiCardsProps.classes
        }

    section.smi-cards
        +a-card({
            img: 'img/smi/smi_card_1.webp',
            title: 'Победители аграрного чемпионата',
            linkName: "Пост в официальной группе ВК",
            date: '22.10.2024',
            cMode: 'green'
        })
        +a-card({
            img: 'img/smi/smi_card_2.webp',
            title: 'Победители аграрного чемпионата',
            text: 'Инженерно-технологический комплекс, на базе которого проводятся углубленные технико-ориентированные курсы дополнительного образования для школьников. Целых 9 курсов по актуальным направлениям подготовки.',
            linkName: "Пост в официальной группе ВК",
            date: '22.10.2024',
            topContent: true
        })
        +a-card({
            img: 'img/smi/smi_card_2.webp',
            title: 'Победители аграрного чемпионата',
            text: 'Инженерно-технологический комплекс, на базе которого проводятся углубленные технико-ориентированные курсы дополнительного образования для школьников. Целых 9 курсов по актуальным направлениям подготовки.',
            linkName: "Пост в официальной группе ВК",
            date: '22.10.2024',
            topContent: true
        })
        +a-card({
            img: 'img/smi/smi_card_1.webp',
            title: 'Победители аграрного чемпионата',
            linkName: "Пост в официальной группе ВК",
            date: '22.10.2024',
            cMode: 'green'
        })
        +a-card({
            img: 'img/smi/smi_card_2.webp',
            title: 'Победители аграрного чемпионата',
            text: 'Инженерно-технологический комплекс, на базе которого проводятся углубленные технико-ориентированные курсы дополнительного образования для школьников. Целых 9 курсов по актуальным направлениям подготовки.',
            linkName: "Пост в официальной группе ВК",
            date: '22.10.2024',
            topContent: true
        })
        +a-card({
            img: 'img/smi/smi_card_2.webp',
            title: 'Победители аграрного чемпионата',
            text: 'Инженерно-технологический комплекс, на базе которого проводятся углубленные технико-ориентированные курсы дополнительного образования для школьников. Целых 9 курсов по актуальным направлениям подготовки.',
            linkName: "Пост в официальной группе ВК",
            date: '22.10.2024',
            topContent: true
        })