//TODO: заменить шрифт на свой
$ff-main: 'Suisse Intl', sans-serif;
$ff-second: 'Manrope', sans-serif;

/* media */
$media-list: (
    'xs': 480,
    'mobile': 640,
    'tablet': 960,
    'large': 1921,
);

// Цвета
$c-white: #fff;
$c-accent: #04412B;
$c-accent-middle: #015738;
$c-accent-light: #4C9E50;
$c-text-light: #9BB3AA;
$c-bg-main: #F0F7F0;
$c-bg-light: #E6F0EC;
$c-border: #CCCCCC;