-
    const defaultNewsDetailedProps = {
        classes: '',
    }

mixin news-detailed(props = defaultNewsDetailedProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultNewsDetailedProps.classes
        }

    section.news-detailed
        .m-container.news-detailed__container
            .news-detailed__main.text-editor 
                p 
                    b 24 сентября в университете презентуют Всероссийский студенческий проект «Твой ход». В четвертом сезоне участников ждет трек «Первопроходец». На встрече организаторы расскажут о возможностях самой платформы проекта, основных конкурсных испытаниях и проведут мастер-классы, часть которых специально предназначена для первокурсников.

                +quote({
                    classes: 'quote--text',
                    text: `<p><b>Трек «Первопроходец»</b></p>
                        <p><b>Трек создан, чтобы первокурсники могли раскрыть свой потенциал, окунуться в студенческую жизнь и познакомиться с молодежной политикой страны.</b></p>`
                })

                +video({
                video: '<iframe width="720" height="405" src="https://rutube.ru/play/embed/1b56934dff273b81a8c991062e7a85cf/?skinColor=43a047" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>',
                poster: 'img/video-poster.webp'
                })

                p 
                    b За годы проведения, по словам организаторов, проект «Твой ход» стал площадкой для обмена опытом и знаний, где обучающиеся могут учиться друг у друга, находить единомышленников и строить полезные связи.

                h2 Презентация пройдет 24 сентября в корпусе на Большой Семеновской, 38 (А-200 и Б-303). 

                ul 
                    li Сбор гостей: 16:30
                    li Начало: 17:00
                    li 
                        a(href="#") <b>Регистрация</b>

                +media-slider({
                    classes: 'media-slider--news media-slider--text',
                    fancyGroup: 'news1',
                    slides: [
                        {
                            image: 'img/news/news_slide_1.webp',
                            video: '',
                            title: '',
                            text: '',
                            mMode: 'image'
                        },
                        {
                            image: 'img/news/news_slide_2.webp',
                            video: '',
                            title: '',
                            text: '',
                            mMode: 'image'
                        },
                        {
                            image: 'img/news/news_slide_3.webp',
                            video: '',
                            title: '',
                            text: '',
                            mMode: 'image'
                        },
                    ],
                })

            .news-detailed__sidebar
                +form({
                    classes: 'news-detailed__form',
                    title: 'Задать вопрос',
                    text: '',
                    btnText: 'Задать вопрос',
                })
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'Имя',
                        inputAttr: {
                            'required': '',
                            'data-type': 'letters'
                        },
                        resetBtn: false,
                        isRequired: true
                    })
                    +field({
                        classes: '',
                        type: 'tel',
                        title: '',
                        placeholder: '+7 (___) ___-__-__',
                        inputAttr: {
                            'data-type': 'phoneNumber',
                            'required': '',
                            'data-v-name': 'phone'
                        },
                        resetBtn: false,
                        isRequired: true
                    })
                    +field({
                        classes: '',
                        type: 'email',
                        title: '',
                        placeholder: 'Email',
                        inputAttr: {
                            'required': '',
                            'data-v-name': 'email'
                        },
                        resetBtn: false,
                        isRequired: true
                    }) 

                    +field({
                        classes: '',
                        tag: 'textarea',
                        title: '',
                        placeholder: 'Текст вопроса',
                        inputAttr: {
                            'required': ''
                        },
                    })

                .news-detailed__rec.rec-news
                    .h2.rec-news__title Другие новости
                    .rec-news__items
                        .rec-news__item
                            .rec-news__content
                                .h3.rec-news__name 
                                    a(href="") Акция «День донора» пройдет в университете
                                .rec-news__date 16 сентября 2024
                            +btn-plus({
                                noText: true
                            })
                        .rec-news__item
                            .rec-news__content
                                .h3.rec-news__name 
                                    a(href="") «С одной стороны — технический, а с другой — гуманитарный»: интервью с директором Музея истории полиграфии, книгоиздания и МГУП им.И.Федорова
                                .rec-news__date 20 сентября 2024
                            +btn-plus({
                                noText: true
                            })
                        .rec-news__item
                            .rec-news__content
                                .h3.rec-news__name 
                                    a(href="") Именную стипендию от Selectel могут получить студенты университета
                                .rec-news__date 1 октября 2024
                            +btn-plus({
                                noText: true
                            })
                        .rec-news__item
                            .rec-news__content
                                .h3.rec-news__name 
                                    a(href="") Старт нового сезона Дней открытых дверей в университете
                                .rec-news__date 16 октября 2024
                            +btn-plus({
                                noText: true
                            })

