-
    const defaultProjectsListProps = {
        classes: '',
    }

mixin projects-list(props = defaultProjectsListProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultProjectsListProps.classes
        }

    section.projects-list
        .m-container
            .h2.projects-list__title Студенческие проекты
            .a-card-list
                +a-card({
                    img: 'img/smi/smi_card_1.webp',
                    title: 'Reform',
                    text: 'Подготовка к сдаче ЕГЭ, ОГЭ и внутренних вступительных испытаний по информатике, математике, физике, русскому языку и обществознанию. Программы для школьников, студентов колледжей, граждан иностранных государств.',
                    cMode: 'green'
                })
                +a-card({
                    img: 'img/smi/smi_card_2.webp',
                    title: 'Аппарат ударно-волновой терапии',
                    text: 'Инженерно-технологический комплекс, на базе которого проводятся углубленные технико-ориентированные курсы дополнительного образования для школьников. Целых 9 курсов по актуальным направлениям подготовки.'
                })
                +a-card({
                    img: 'img/smi/smi_card_3.webp',
                    title: 'Солнечная Регата'
                })
                +a-card({
                    img: 'img/smi/smi_card_1.webp',
                    title: 'Reform',
                    text: 'Подготовка к сдаче ЕГЭ, ОГЭ и внутренних вступительных испытаний по информатике, математике, физике, русскому языку и обществознанию. Программы для школьников, студентов колледжей, граждан иностранных государств.',
                    cMode: 'green'
                })
                +a-card({
                    img: 'img/smi/smi_card_2.webp',
                    title: 'Аппарат ударно-волновой терапии',
                    text: 'Инженерно-технологический комплекс, на базе которого проводятся углубленные технико-ориентированные курсы дополнительного образования для школьников. Целых 9 курсов по актуальным направлениям подготовки.'
                })
                +a-card({
                    img: 'img/smi/smi_card_3.webp',
                    title: 'Солнечная Регата'
                })

            +btn({
                name: 'Загрузить ещё',
                cMode: 'lightGreen'
            })