.projects-list {
    padding-bottom: 30px;
    padding-top: 50px;
    background-color: $c-white;

    &__title {
        color: $c-accent;
        margin-bottom: 50px;
        max-width: 510px;
    }
}