.m-questions {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__title {
        margin-bottom: 10px;
        margin-top: 30px;
        color: $c-accent-middle;
    }

    &__accordion {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 20px;
    }
}