.abiturientam-important {
    padding-top: 30px;

    &__container {
        display: grid;
        grid-template-columns: minmax(0, 60%) minmax(0, 40%);
        gap: 1px 0;
        background-color: #70B173;
        color: $c-white;

        @include max(tablet) {
            grid-template-columns: repeat(2, minmax(0, 50%));
        }

        @include max(mobile) {
            grid-template-columns: minmax(0, 100%);
        }
    }

    &__intro {
        grid-row-start: 1;
        grid-row-end: 3;
        background-color: $c-accent;
        min-height: calc(100vh - 350px);
        padding: 30px;
        background-image: url('../img/abiturientam/abiturientam_important_bg.webp');
        background-repeat: no-repeat;
        background-position: bottom -7% right -20%;
        background-size: 57% auto;

        @include max(tablet) {
            padding: 20px;
            min-height: 320px;
        }

        @include max(mobile) {
            min-height: auto;
            width: 100%;
            grid-row-end: 2;
        }
    }

    &__subtitle {
        margin-top: 20px;
        max-width: 340px;
    }

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        background-color: $c-accent-light;

        @include max(tablet) {
            padding: 20px;
        }

        @include max(mobile) {
            width: 100%;
            flex-direction: row;
            align-items: center;
            gap: 20px;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        width: 53px;
        height: 53px;
        flex-shrink: 0;
        color: $c-accent;
        background-color: $c-white;
        border-radius: 100%;
        transition: all $tr-time;

        @include max(tablet) {
            width: 40px;
            height: 40px;
        }

        svg {
            width: 9px;
            height: 12px;
        }
    }

    &__link:hover &__icon {
        background-color: $c-accent;
        color: $c-white;
    }
}