.home-intro {
    position: relative;

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: calc(100vh - 95px);
        padding-top: 30px;
        padding-bottom: 40px;
    }

    &__top {
        display: flex;
        justify-content: flex-end;
    }

    .intro-history {
        display: flex;
        flex-direction: column;
        padding: 20px 25px;
        width: 100%;
        max-width: 646px;
        min-height: 380px;
        color: $c-white;
        background-color: $c-accent;

        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__text {
            max-width: 290px;
        }

        &__num {
            display: flex;
            align-items: flex-start;
            margin-top: auto;

            span {
                font-size: 300%;
                line-height: 1em;
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: flex-end;
        gap: 30px;
        margin-top: 230px;
    }

    &__now {
        display: flex;
        flex-direction: column;
        width: 35%;
        padding: 30px;
        min-height: 530px;
        background-color: $c-white;

        .btn-plus {
            margin-top: auto;
        }
    }

    &__title {
        color: $c-accent;
    }

    &__text {
        margin-bottom: 40px;
        margin-top: 30px;
        max-width: 400px;
    }

    &__cards {
        width: 65%;
        position: relative;
        display: flex;
        align-items: stretch;
        gap: 30px;
        padding-top: 64px;
    }

    &__subtitle {
        position: absolute;
        left: 0;
        top: 0;
        color: $c-white;
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 130px;
        flex: 0 0 calc((100% - 60px) / 3);
        padding: 30px 25px;
        color: $c-white;
        font-size: 72px;
        line-height: 1em;
        background-color: $c-accent-light;

        .text {
            margin-top: auto;
        }
    }
}