.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 0;
    background-color: $c-white;
    z-index: 80;

    &__container {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        padding-left: 22px;
        min-height: 183px;
        transition: min-height $tr-time linear;
    }

    &--small &__container {
        min-height: 90px;
    }

    &__logo {
        flex: 0 0 236px;
        padding-top: 10px;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 10px;
        align-self: flex-start;
        margin-left: auto;
        padding: 3px 20px;
    }

    &__social {
        width: 53px;
        height: 53px;
        border-radius: 100%;
        color: $c-accent-middle;
        border: 1px solid $c-border;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            max-width: 19.47px;
            max-height: 17px;
        }

    }

    &__nav {
        display: flex;
        align-items: stretch;
        flex: 0 1 1065px;
    }

    .nav-link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 0 calc(100%/3);
        padding: 3px 14px 11px 19px;
        color: $c-accent-middle;
        font-size: 24px;
        font-weight: 500;
        border-left: 1px solid $c-border;

        &__icon {
            width: 53px;
            height: 53px;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: flex-end;
            color: $c-accent-middle;
            border: 1px solid $c-border;
            border-radius: 100%;

            svg {
                width: 14px;
                height: 14px;
            }
        }
    }
}