header.site-header
	.section
		.site-header__container
			a.site-header__logo(href="/")
				img(src="img/full_logo.svg" alt="")
			.site-header__socials
				a.site-header__social(href="#")
					svg 
						use(xlink:href=`img/sprites/sprite.svg#telegram`)
				a.site-header__social(href="#")
					svg 
						use(xlink:href=`img/sprites/sprite.svg#vk`)
				a.site-header__social(href="#")
					svg 
						use(xlink:href=`img/sprites/sprite.svg#rutube`)

			nav.site-header__nav
				a.nav-link(href="")
					span.nav-link__icon
						svg 
							use(xlink:href=`img/sprites/sprite.svg#plus`)
					span.nav-link__text Университет
				a.nav-link(href="")
					span.nav-link__icon
						svg 
							use(xlink:href=`img/sprites/sprite.svg#plus`)
					span.nav-link__text Абитуриентам
				a.nav-link(href="")
					span.nav-link__icon
						svg 
							use(xlink:href=`img/sprites/sprite.svg#plus`)
					span.nav-link__text Студентам



