mixin sidebar-layout(aboutPage = false)
    .sidebar-layout(class = aboutPage ? 'sidebar-layout--about' : '')
        .m-container.sidebar-layout__container
            .sidebar-layout__sidebar(data-js='sidebarLayoutsidebar')
                .sidebar-toggle(data-js='sidebarToggle')
                    .sidebar-toggle__btn.sidebar-toggle__btn--open
                        svg
                            use(xlink:href=`img/sprites/sprite.svg#main_burger`)
                    .sidebar-toggle__btn.sidebar-toggle__btn--close
                        svg
                            use(xlink:href=`img/sprites/sprite.svg#close`)
                ul.side-menu
                    li.side-menu__item
                        a.side-menu__link(href="#") Основные сведения
                    li.side-menu__item
                        a.side-menu__link(href="#") Структура и органы управления образовательной организацией
                    li.side-menu__item
                        a.side-menu__link(href="#") Документы
                    li.side-menu__item
                        a.side-menu__link(href="#") Образование
                    li.side-menu__item
                        a.side-menu__link(href="#") Образовательные стандарты и требования
                    li.side-menu__item
                        a.side-menu__link(href="#") Руководство. Педагогический (научно-педагогический) состав
                    li.side-menu__item
                        a.side-menu__link.side-menu__link--active(href="#") Материально-техническое обеспечение и оснащённость образовательного процесса
                    li.side-menu__item
                        a.side-menu__link(href="#") Стипендии и меры поддержки обучающихся
                    li.side-menu__item
                        a.side-menu__link(href="#") Платные образовательные услуги
                    li.side-menu__item
                        a.side-menu__link(href="#") Финансово-хозяйственная деятельность
                    li.side-menu__item
                        a.side-menu__link(href="#") Вакантные места для приема (перевода) обучающихся
                    li.side-menu__item
                        a.side-menu__link(href="#") Доступная среда
                    li.side-menu__item
                        a.side-menu__link(href="#") Международное сотрудничество
                    li.side-menu__item
                        a.side-menu__link(href="#") Законодательная карта

            .sidebar-layout__main
                block
