mixin mixins()
    //- Компоненты
    include ../../blocks/components/title/title
    include ../../blocks/components/breadcrumbs/breadcrumbs
    include ../../blocks/components/tabs-block/tabs-block
    include ../../blocks/components/link-block/link-block
    include ../../blocks/components/count-block/count-block
    include ../../blocks/components/info-tag/info-tag
    include ../../blocks/components/socials/socials
    include ../../blocks/components/multi-menu/multi-menu
    include ../../blocks/components/news-filter/news-filter
    include ../../blocks/components/period-select/period-select
    include ../../blocks/components/news-card/news-card
    include ../../blocks/components/btn-plus/btn-plus
    include ../../blocks/components/btn/btn
    include ../../blocks/components/pagination/pagination
    include ../../blocks/components/quote/quote
    include ../../blocks/components/media-slider/media-slider
    include ../../blocks/components/form/form
    include ../../blocks/components/field/field
    include ../../blocks/components/link-unit/link-unit
    include ../../blocks/components/modal/modal
    include ../../blocks/components/programm-card/programm-card
    include ../../blocks/components/video/video
    include ../../blocks/components/select/select
    include ../../blocks/components/spoiler/spoiler
    include ../../blocks/components/vacancy-card/vacancy-card
    include ../../blocks/components/salary/salary
    include ../../blocks/components/visual-toggle/visual-toggle
    include ../../blocks/components/a-card/a-card

    //- Модули
    include ../../blocks/modules/sidebar-layout/sidebar-layout
    include ../../blocks/modules/page-intro/page-intro
    include ../../blocks/modules/m-columns/m-columns
    include ../../blocks/modules/m-table/m-table
    include ../../blocks/modules/i-intro/i-intro
    include ../../blocks/modules/callback-form/callback-form
    include ../../blocks/modules/quest-form/quest-form
    include ../../blocks/modules/c-map/c-map
    include ../../blocks/modules/m-questions/m-questions
    include ../../blocks/modules/s-skills/s-skills
    include ../../blocks/modules/s-vacancy/s-vacancy
    include ../../blocks/modules/s-partners/s-partners

    //- Модули страниц
    include ../../blocks/modules/pages/history/history-intro/history-intro
    include ../../blocks/modules/pages/news/news-list/news-list
    include ../../blocks/modules/pages/news/news-socials/news-socials
    include ../../blocks/modules/pages/peoples/people-detail/people-detail
    include ../../blocks/modules/pages/peoples/people-list/people-list
    include ../../blocks/modules/pages/news/news-detailed/news-detailed
    include ../../blocks/modules/pages/seminars/seminars-detailed/seminars-detailed
    include ../../blocks/modules/pages/rectorate/rectorate-list/rectorate-list
    include ../../blocks/modules/pages/faculty/faculty-programms/faculty-programms
    include ../../blocks/modules/pages/faculty/faculty-advantages/faculty-advantages
    include ../../blocks/modules/pages/faculty/faculty-video/faculty-video
    include ../../blocks/modules/pages/vacancy/vacancy-category/vacancy-category
    include ../../blocks/modules/pages/vacancy/vacancy-detailed/vacancy-detailed
    include ../../blocks/modules/pages/programms/programms-list/programms-list
    include ../../blocks/modules/pages/programms/programm-info/programm-info
    include ../../blocks/modules/pages/programms/programm-programms/programm-programms
    include ../../blocks/modules/pages/abiturientam/abiturientam-promo/abiturientam-promo