mixin mixins()
    //- Компоненты
    include ../../blocks/components/title/title
    include ../../blocks/components/breadcrumbs/breadcrumbs
    include ../../blocks/components/tabs-block/tabs-block
    include ../../blocks/components/link-block/link-block
    include ../../blocks/components/count-block/count-block
    include ../../blocks/components/info-tag/info-tag
    include ../../blocks/components/socials/socials
    include ../../blocks/components/menu-list/menu-list
    include ../../blocks/components/news-filter/news-filter

    //- Модули
    include ../../blocks/modules/sidebar-layout/sidebar-layout
    include ../../blocks/modules/page-intro/page-intro
    include ../../blocks/modules/m-columns/m-columns
    include ../../blocks/modules/m-table/m-table

    //- Модули страниц
    include ../../blocks/modules/pages/history/history-intro/history-intro
    include ../../blocks/modules/pages/news/news-list/news-list