.news-list {
    padding-bottom: 140px;

    @include max(laptop) {
        padding-bottom: 100px;
    }

    @include max(tablet) {
        padding-bottom: 60px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 28px;
        margin-top: 20px;

        @include max(tablet) {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 3.2%;
        }

        @include max(mobile) {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include max(laptop) {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }

    }

    &__title {
        line-height: 0.91em;
        letter-spacing: -0.044em;
        color: $c-accent;
    }

    &__pagination {
        margin-top: 28px;
    }

    &--section {
        padding-top: 40px;
    }
}