-
    const defaultNewsSocialsProps = {
        classes: '',
    }

mixin news-socials(props = defaultNewsSocialsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultNewsSocialsProps.classes
        }

    section.news-socials(class=checkProps.classes)
        .news-socials__container.m-container
            h2.h2.news-socials__title Мы в соцсетях
            .news-socials__list
                a.news-socials__item(href="#")
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#rutube`)
                a.news-socials__item(href="#")
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#vk_fill`)
                a.news-socials__item(href="#")
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#whatsapp`)
                a.news-socials__item(href="#")
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#telegram_fill`)




