.news-socials {
    background-color: $c-white;

    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-right: 0 !important;

        @include max(mobile) {
            flex-direction: column;
            gap: 30px;
        }
    }

    &__title {
        margin-top: 30px;
        line-height: 1.14em;
        letter-spacing: -0.03em;
        color: $c-accent;
    }

    &__list {
        display: flex;
        align-items: stretch;
        justify-content: flex-end;

        @include max(mobile) {
            border-top: 1px solid $c-border-op;
            width: calc(100% + 16px);
            margin-left: -16px;
            flex-shrink: 0;
            flex-grow: 0;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 230px;
        height: 252px;
        border-left: 1px solid $c-border-op;
        color: $c-accent-middle;
        background-color: transparent;
        transition: all $tr-time;

        @include max(laptop) {
            flex-basis: 145px;
            height: 159px;
        }

        @include max(mobile) {
            flex: 1 1 25%;
            height: auto;
            aspect-ratio: 1 / 1.096;
        }

        &:hover {
            color: $c-white;
            background-color: $c-accent;
        }

        &:hover svg .handset {
            fill: $c-accent;
        }

        svg {
            width: 52px;
            height: auto;
            max-width: 25%;
            aspect-ratio: 1 / 1;
        }
    }
}