noindex
    div
        // код модалок сюда
        +modal({modalId:"cMapAddressModal", classes:"c-map-modal"})(data-js="cMapAddressModal")

        +modal({modalId:"openDoorsModal", classes:"open-doors-modal"})(data-js="openDoorsModal")
            <div class="open-doors-block__container text-editor">
                <div class="open-doors-block__left">
                <h3>Онлайн мероприятие 04 декабря 2024 в 13:00</h3>
                <p><b>10 октября 2024</b></p>
                </div>
                <div class="open-doors-block__right">
                    <p><b>Поделиться</b></p>
                    <div class="socials">
                        <a class="socials__item" href="#">
                            <svg>
                            <use xlink:href="img/sprites/sprite.svg#telegram"></use>
                            </svg>
                        </a>
                        <a class="socials__item" href="#">
                            <svg>
                            <use xlink:href="img/sprites/sprite.svg#vk"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="open-doors-block__format text-editor">
                <div class="open-doors-block__left">
                    h3 Встреча в Zoom
                </div>
                <div class="open-doors-block__right">
                    <a class="btn-plus" href="#">
                        <span class="btn-plus__text">Перейти</span>
                        <span class="btn-plus__icon"> 
                            <svg>
                                <use xlink:href="img/sprites/sprite.svg#link"></use>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>

            <div class="open-doors-block__format text-editor">
                <div class="open-doors-block__left">
                    h3 Адрес:
                </div>
                <div class="open-doors-block__right">
                    p 
                        b Херсонская Область, г.о. Херсонский, г. Херсон, ул. Сретенская, д. 23
                </div>
            </div> 

            <div class="open-doors-block__modal text-editor">
                img(src="img/open-doors/open-doors-2.webp")
                br
                p Что нужно сделать перед посещением университета:<br>Спланируйте маршрут до вуза, чтобы не опоздать. Оцените, удобно ли вам будет ездить.
                h3 Правила посещения
                ul
                    li Прослушайте официальную часть. Мы рекомендуем приходить к самому началу мероприятия. Так вы не упустите нужную информацию. Возможно, на выступлении ректора вы получите ответы на большую часть своих вопросов. Все важные моменты записывайте в блокнот. Приветственное слово будет говорит заведующий кафедры “Менеджмент”.
                    li Поговорите с представителями приемной комиссии. Ответы конспектируйте в блокнот. Мы подготовили перечень важных вопросов, которые можно выяснить в приемной комиссии: Есть ли у вуза действующая аккредитация по выбранному вами направлению? Где проходит практика? Помогает ли вуз с трудоустройством?Дают ли баллы за золотую медаль и дипломы призеров олимпиад? Каких? Можно ли перевестись на другое направление, если не понравится учиться там, куда поступил? Как и когда это делается? По какому принципу распределяются места в общежитие? За какой период надо вносить оплату? За какой период надо вносить оплату, если поступите на платное?
                    li Изучите учебный корпус. Прогуляйтесь по вузу, посмотрите в каком состоянии аудитории и столовая.
            </div>

        +modal({modalId:"questionModal", classes:"form-modal"})(data-js="questionModal")
            +form({
                classes: '',
                title: 'Задать вопрос',
                text: '',
                btnText: 'Задать вопрос',
                })
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'Имя',
                        inputAttr: {
                            'required': '',
                            'data-type': 'letters'
                        },
                        resetBtn: false,
                        isRequired: true
                    })
                    +field({
                        classes: '',
                        type: 'tel',
                        title: '',
                        placeholder: '+7 (___) ___-__-__',
                        inputAttr: {
                            'data-type': 'phoneNumber',
                            'required': '',
                            'data-v-name': 'phone'
                        },
                        resetBtn: false,
                        isRequired: true
                    })
                    +field({
                        classes: '',
                        type: 'email',
                        title: '',
                        placeholder: 'Email',
                        inputAttr: {
                            'required': '',
                            'data-v-name': 'email'
                        },
                        resetBtn: false,
                        isRequired: true
                    }) 

                    +field({
                        classes: '',
                        tag: 'textarea',
                        title: '',
                        placeholder: 'Текст вопроса',
                        inputAttr: {
                            'required': ''
                        },
                    })

        +modal({modalId:"vacancyRespModal", classes:"form-modal"})(data-js="vacancyRespModal")
            +form({
                classes: '',
                title: 'Отправить резюме',
                text: '',
                btnText: 'Отправить резюме',
                successTitle: 'Ваше резюме отправлено.'
                })
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'Имя',
                        inputAttr: {
                            'required': '',
                            'data-type': 'letters'
                        },
                        resetBtn: false,
                        isRequired: true
                    })
                    +field({
                        classes: '',
                        type: 'tel',
                        title: '',
                        placeholder: '+7 (___) ___-__-__',
                        inputAttr: {
                            'data-type': 'phoneNumber',
                            'required': '',
                            'data-v-name': 'phone'
                        },
                        resetBtn: false,
                        isRequired: true
                    })
                    +field({
                        classes: '',
                        type: 'email',
                        title: '',
                        placeholder: 'Email',
                        inputAttr: {
                            'required': '',
                            'data-v-name': 'email'
                        },
                        resetBtn: false,
                        isRequired: true
                    }) 

                    +field({
                        classes: '',
                        tag: 'textarea',
                        title: '',
                        placeholder: 'Комментарий',
                    })

                    +field-file({
                        placeholder: 'Прикрепить резюме',
                        inputAttr: {
                            'required': '',
                            'data-v-name': 'file',
                            'data-size': '10485760',
                            'accept': 'image/*, text/plain, .docx, .pdf'
                        },
                        isRequired: true
                    })

        +modal({modalId:"seminarModal", classes:"form-modal"})(data-js="seminarModal")
            +form({
                classes: '',
                title: 'Запрос на участие',
                text: '',
                btnText: 'Отправить запрос',
                successTitle: 'Ваш запрос отправлен.'
                })(data-js="seminarForm")
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'ФИО',
                        inputAttr: {
                            'required': '',
                            'data-type': 'letters'
                        },
                        resetBtn: false,
                        isRequired: true
                    })
                    .form__flex
                        +field({
                            classes: '',
                            type: 'email',
                            title: '',
                            placeholder: 'Email',
                            inputAttr: {
                                'required': '',
                                'data-v-name': 'email'
                            },
                            resetBtn: false,
                            isRequired: true
                        }) 
                        +field({
                            classes: '',
                            type: 'tel',
                            title: '',
                            placeholder: '+7 (___) ___-__-__',
                            inputAttr: {
                                'data-type': 'phoneNumber',
                                'required': '',
                                'data-v-name': 'phone'
                            },
                            resetBtn: false,
                            isRequired: true
                        })

                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'Название семинара',
                        inputAttr: {
                            'required': '',
                            'data-js': 'saminarName'
                        },
                        resetBtn: false,
                        isRequired: true
                    })

                    .form__flex
                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'Дата',
                            inputAttr: {
                                'required': '',
                                'data-v-name': 'date',
                                'data-type': 'date',
                                'data-js': 'saminarDate'
                            },
                            resetBtn: false,
                            isRequired: true
                        }) 
                        +field({
                            classes: '',
                            tag: 'select',
                            placeholder: 'Формат участия',
                            selectOptions: [
                                "",
                                "Очно",
                                "Онлайн",
                            ],
                            inputAttr: {
                                'required': ''
                            },
                            selectGreen: true
                        })

                    +field({
                        classes: '',
                        tag: 'textarea',
                        title: '',
                        placeholder: 'Список участников',
                        inputAttr: {
                            'required': ''
                        },
                        isRequired: true
                    })

                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'Название компании / учреждения',
                        inputAttr: {
                            'required': ''
                        },
                        resetBtn: false,
                        isRequired: true
                    })

                    .form__flex
                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'ФИО руководителя',
                            inputAttr: {
                                'required': '',
                                'data-type': 'letters'
                            },
                            resetBtn: false,
                            isRequired: true
                        })

                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'Должность руководителя',
                            inputAttr: {
                                'required': ''
                            },
                            resetBtn: false,
                            isRequired: true
                        })

                    .form__flex
                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'Юридический адрес',
                            inputAttr: {
                                'required': ''
                            },
                            resetBtn: false,
                            isRequired: true
                        })

                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'Почтовый адрес',
                            inputAttr: {
                                'required': ''
                            },
                            resetBtn: false,
                            isRequired: true
                        })

                    .form__flex
                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'ИНН',
                            inputAttr: {
                                'required': '',
                                'data-v-name': 'inn',
                                'data-type': 'number'
                            },
                            resetBtn: false,
                            isRequired: true
                        })

                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'КПП',
                            inputAttr: {
                                'required': '',
                                'data-v-name': 'kpp',
                                'data-type': 'number'
                            },
                            resetBtn: false,
                            isRequired: true
                        })

                    .form__flex
                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'Расчётный счёт',
                            inputAttr: {
                                'required': '',
                                'data-v-name': 'account',
                                'data-type': 'number'
                            },
                            resetBtn: false,
                            isRequired: true
                        })

                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'БИК',
                            inputAttr: {
                                'required': '',
                                'data-v-name': 'bik',
                                'data-type': 'number'
                            },
                            resetBtn: false,
                            isRequired: true
                        })

                    .form__flex
                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'Кор. счёт',
                            inputAttr: {
                                'required': '',
                                'data-v-name': 'account',
                                'data-type': 'number'
                            },
                            resetBtn: false,
                            isRequired: true
                        })

                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'Наименование банка',
                            inputAttr: {
                                'required': '',
                            },
                            resetBtn: false,
                            isRequired: true
                        })

                    +field({
                        classes: '',
                        tag: 'textarea',
                        title: '',
                        placeholder: 'Комментарий',
                    })

        +modal({modalId:"submitDocsModal", classes:"form-modal"})(data-js="submitDocsModal")
            +form({
                classes: '',
                title: 'Отправить документы',
                text: '',
                btnText: 'Отправить документы',
                successTitle: 'Ваши документы отправлены.'
                })(data-js="submitDocsForm")

                    .form__radios
                        .form__radios-title Вы гражданин Российской Федерации?
                        +field({
                            classes: '',
                            type: 'radio',
                            title: 'Да',
                            placeholder: '',
                            inputAttr: {
                                'checked': '',
                                'name': 'citizenship',
                                'value': 'Да',
                                'data-js': 'radioTab'
                            },
                            resetBtn: false,
                        })
                        +field({
                            classes: '',
                            type: 'radio',
                            title: 'Нет',
                            placeholder: '',
                            inputAttr: {
                                'name': 'citizenship',
                                'value': 'Нет',
                                'data-js': 'radioTab'
                            },
                            resetBtn: false,
                        })

                    .form__radios
                        .form__radios-title Вы поступаете в магистратуру/аспирантуру?
                        +field({
                            classes: '',
                            type: 'radio',
                            title: 'Да',
                            placeholder: '',
                            inputAttr: {
                                'checked': '',
                                'name': 'level-education',
                                'value': 'Да',
                                'data-js': 'radioTab'
                            },
                            resetBtn: false,
                        })
                        +field({
                            classes: '',
                            type: 'radio',
                            title: 'Нет',
                            placeholder: '',
                            inputAttr: {
                                'name': 'level-education',
                                'value': 'Нет',
                                'data-js': 'radioTab'
                            },
                            resetBtn: false,
                        })

                    .form__block(data-js="formBlock" data-condition="ifLevelNo")
                        .form__note.text-editor
                            h3 Внимание!
                            p 
                                b Дистанционная подача документов поступающими на программы бакалавриата, специалитета, программы среднего профессионального образования осуществляется через портал Госуслуг <a href="https://www.gosuslugi.ru/">https://www.gosuslugi.ru/</a>

                    .form__block(data-js="formBlock" data-condition="ifLevelYes")
                        .form__block(data-js="formBlock" data-condition="ifCitizenshipYes")
                            +field({
                                classes: '',
                                tag: 'select',
                                placeholder: 'Тип документа',
                                selectOptions: [
                                    "",
                                    "Паспорт гражданина РФ"
                                ],
                                selectGreen: true,
                                inputAttr: {
                                    'required': '',
                                },
                            })
                        .form__block(data-js="formBlock" data-condition="ifCitizenshipNo")
                            +field({
                                classes: '',
                                tag: 'select',
                                placeholder: 'Тип документа',
                                selectOptions: [
                                    "",
                                    "Иностранный паспорт"
                                ],
                                selectGreen: true,
                                inputAttr: {
                                    'required': '',
                                },
                            })

                        .form__flex
                            +field({
                                classes: '',
                                type: 'text',
                                title: '',
                                placeholder: 'Серия документа',
                                inputAttr: {
                                    'required': '',
                                },
                                resetBtn: false,
                                isRequired: true
                            }) 
                            +field({
                                classes: '',
                                type: 'text',
                                title: '',
                                placeholder: 'Номер документа',
                                inputAttr: {
                                    'required': '',
                                },
                                resetBtn: false,
                                isRequired: true
                            })

                        +field({
                            classes: '',
                            type: 'checkbox',
                            title: 'Имею СНИЛС',
                            placeholder: '',
                            inputAttr: {
                                'data-js': 'snils-tab'
                            },
                            resetBtn: false,
                        })

                        .form__block(data-js="formBlock" data-condition="ifSnils")
                            +field({
                                classes: '',
                                type: 'text',
                                title: '',
                                placeholder: 'СНИЛС',
                                inputAttr: {
                                    'required': '',
                                },
                                resetBtn: false,
                                isRequired: true
                            })

                        .form__note.text-editor
                            h3 Внимание!
                            ul
                                li
                                    b Бланк заполняется от руки!
                                li
                                    b Личная подпись ставится<br>- на первой странице (в таблице)<br>- на последней странице

                        .form__links
                            a(href='#' target='_blank') Согласие на обработку персональных данных (18+ лет)
                            a(href='#' target='_blank') Согласие на обработку персональных данных (до 18 лет)
                            a(href='#' target='_blank') Согласие на обработку персональных данных, разешенных субъектом персональных данных для распространения (18+ лет)
                            a(href='#' target='_blank') Согласие на обработку персональных данных, разешенных субъектом персональных данных для распространения (до 18 лет)

                        +field-file({
                            placeholder: 'Согласие на обработку персональных данных',
                            inputAttr: {
                                'required': '',
                                'data-v-name': 'file',
                                'data-size': '10485760',
                                'accept': 'image/*, text/plain, .docx, .pdf'
                            },
                            isRequired: true
                        })

                        +field-file({
                            placeholder: 'Согласие на обработку персональных данных, разешенных субъектом персональных данных для распространения',
                            inputAttr: {
                                'required': '',
                                'data-v-name': 'file',
                                'data-size': '10485760',
                                'accept': 'image/*, text/plain, .docx, .pdf'
                            },
                            isRequired: true
                        })

        +modal({modalId:"sectionModal", classes:"form-modal"})(data-js="sectionModal")
            +form({
                classes: '',
                title: 'Оставить заявку',
                text: '',
                btnText: 'Оставить заявку',
                successTitle: 'Ваша заявка отправлена.'
                })
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'ФИО',
                        inputAttr: {
                            'required': '',
                            'data-type': 'letters'
                        },
                        resetBtn: false,
                        isRequired: true
                    })
                    .form__flex
                        +field({
                            classes: '',
                            type: 'tel',
                            title: '',
                            placeholder: '+7 (___) ___-__-__',
                            inputAttr: {
                                'data-type': 'phoneNumber',
                                'required': '',
                                'data-v-name': 'phone'
                            },
                            resetBtn: false,
                            isRequired: true
                        })
                        +field({
                            classes: '',
                            type: 'email',
                            title: '',
                            placeholder: 'Email',
                            inputAttr: {
                                'required': '',
                                'data-v-name': 'email'
                            },
                            resetBtn: false,
                            isRequired: true
                        })
                    .form__flex
                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'Группа',
                            inputAttr: {
                                'required': ''
                            },
                            resetBtn: false,
                            isRequired: true
                        })
                        +field({
                            classes: '',
                            tag: 'select',
                            placeholder: 'Специальность',
                            selectOptions: [
                                "",
                                "Менеджмент",
                                "Прикладная математика и информатика",
                                "Картография и геоинформатика",
                            ],
                            inputAttr: {
                                'required': ''
                            },
                            selectGreen: true
                        })


                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'название секции/кружка',
                        inputAttr: {
                            'required': ''
                        },
                        resetBtn: false,
                        isRequired: true
                    })

                    +field({
                        classes: '',
                        tag: 'textarea',
                        title: '',
                        placeholder: 'Текущие навыки',
                    })

                    +field({
                        classes: '',
                        tag: 'textarea',
                        title: '',
                        placeholder: 'Ожидания от секции',
                    })

        +modal({modalId:"projectsModal", classes:"form-modal form-projects-modal"})(data-js="projectsModal")
            form.form(action="#" data-validate novalidate data-js="projectsForm")
                .form__content(data-js='form-content')
                    .h2.form__title Предложить проект
                    .form__step.active(data-js="formStep" data-name="desc" data-id="0")
                        .form__fields
                            .text-editor.form-text-editor
                                p
                                    b Данная форма предназначена для сбора проектных инициатив для реализации проектов в рамках дисциплины "Проектная деятельность" в 2024-2025 учебном году.

                                p 
                                    b Термины и определения:

                                p <b>Проект</b> – комплекс взаимосвязанных мероприятий, направленный на создание уникального продукта и/или услуги в условиях временных и ресурсных ограничений.

                                p <b>Проектная команда</b> – группа обучающихся, объединенных для реализации проекта.

                                p <b>Заказчик</b> – лицо, инициирующее проект, заинтересованное в осуществлении проекта и достижении его целей, осуществляющее контроль его реализации и принимающее результаты после его окончания.

                                p <b>Партнер</b> – это лицо либо организация оказывающее содействие в реализации проекта.

                                p <b>Инициативные проекты</b> – персональные проекты обучающихся, сотрудников Университета или внешних инициаторов, направленные на создание новых продуктов, имеющих предпринимательский потенциал и претендующие на коммерциализацию результатов.
                                p Перед подачей заявки необходимо ознакомиться с Регламентом: <a href="">ссылка</a>

                            +field({
                                classes: 'form-projects-modal__agreement',
                                type: 'checkbox',
                                title: 'Я ознакомлен и согласен *',
                                placeholder: '',
                                inputAttr: {
                                    'required': '',
                                    'value': 'Да',
                                },
                                resetBtn: false,
                                isRequired: true
                            })(data-js='formProjectsModalAgreement')

                            .text-editor.form-text-editor
                                p В соответствии с пунктом 2.7 Регламента, администрация ЦПД оставляет за собой право отклонить заявку при несоответствии требований, к проектам и реализации

                        .form__btns
                            +btn({
                                classes: 'form-projects-modal__next',
                                type: 'button',
                                buttonType: 'button',
                                name: 'Дальше',
                                cMode: 'green',
                            })(data-js="formNextStep")

                    .form__step(data-js="formStep" data-name="partner" data-id="1")
                        .form__fields
                            .form__radios
                                .form__radios-title Есть ли у проекта партнер/заказчик?
                                +field({
                                    classes: '',
                                    type: 'radio',
                                    title: 'Есть партнер',
                                    placeholder: '',
                                    inputAttr: {
                                        'checked': '',
                                        'name': 'project-partner',
                                        'value': 'Партнер',
                                        'data-js': 'projectPartnerTab'
                                    },
                                    resetBtn: false,
                                })
                                +field({
                                    classes: '',
                                    type: 'radio',
                                    title: 'Есть заказчик',
                                    placeholder: '',
                                    inputAttr: {
                                        'name': 'project-partner',
                                        'value': 'Заказчик',
                                        'data-js': 'projectPartnerTab'
                                    },
                                    resetBtn: false,
                                })
                                +field({
                                    classes: '',
                                    type: 'radio',
                                    title: 'Нет, проект инициативный',
                                    placeholder: '',
                                    inputAttr: {
                                        'name': 'project-partner',
                                        'value': 'Нет',
                                        'data-js': 'projectPartnerTab'
                                    },
                                    resetBtn: false,
                                })

                            .form__block(data-js="formBlock" data-condition="ifProjectHasPartner")
                                +field({
                                    classes: '',
                                    type: 'text',
                                    title: '',
                                    placeholder: 'Кто является партнером/заказчиком',
                                    inputAttr: {
                                        'required': ''
                                    },
                                    resetBtn: false,
                                    isRequired: true
                                })
                                +field({
                                    classes: '',
                                    type: 'text',
                                    title: '',
                                    placeholder: 'ФИО представителя партнера/заказчика',
                                    inputAttr: {
                                        'required': '',
                                        'data-type': 'letters'
                                    },
                                    resetBtn: false,
                                    isRequired: true
                                })
                                +field({
                                    classes: '',
                                    type: 'tel',
                                    title: '',
                                    placeholder: 'Телефон представителя',
                                    inputAttr: {
                                        'data-type': 'phoneNumber',
                                        'required': '',
                                        'data-v-name': 'phone'
                                    },
                                    resetBtn: false,
                                    isRequired: true
                                })

                        .form__btns
                            +btn({
                                classes: 'form-projects-modal__prev',
                                type: 'button',
                                buttonType: 'button',
                                name: 'Назад',
                                cMode: 'lightGreen',
                            })(data-js="formPrevStep")
                            +btn({
                                classes: 'form-projects-modal__next',
                                type: 'button',
                                buttonType: 'button',
                                name: 'Дальше',
                                cMode: 'green',
                            })(data-js="formNextStep")

                    .form__step(data-js="formStep" data-name="project" data-id="2")
                        .form__fields
                            +field({
                                classes: '',
                                type: 'text',
                                title: '',
                                placeholder: 'Название проекта',
                                inputAttr: {
                                    'required': ''
                                },
                                resetBtn: false,
                                isRequired: true
                            })
                            +field({
                                classes: '',
                                type: 'text',
                                title: '',
                                placeholder: 'Предварительный бюджет проекта, руб.',
                                inputAttr: {
                                    'required': '',
                                    'data-type': 'number'
                                },
                                resetBtn: false,
                                isRequired: true
                            })
                            +field({
                                classes: '',
                                tag: 'textarea',
                                title: '',
                                placeholder: 'Проблема, которую решает проект',
                                inputAttr: {
                                    'required': ''
                                },
                            })
                            +field({
                                classes: '',
                                tag: 'textarea',
                                title: '',
                                placeholder: 'Цель проекта',
                                inputAttr: {
                                    'required': ''
                                },
                            })
                            +field({
                                classes: '',
                                tag: 'textarea',
                                title: '',
                                placeholder: 'Актуальность проекта',
                                inputAttr: {
                                    'required': ''
                                },
                            })
                            +field({
                                classes: '',
                                tag: 'textarea',
                                title: '',
                                placeholder: 'Ключевые задачи проекта',
                                inputAttr: {
                                    'required': ''
                                },
                            })
                            +field({
                                classes: '',
                                tag: 'textarea',
                                title: '',
                                placeholder: 'Ожидаемый продуктовый результат',
                                inputAttr: {
                                    'required': ''
                                },
                            })
                            +field({
                                classes: '',
                                tag: 'select',
                                placeholder: 'Направление проекта',
                                selectOptions: [
                                    "",
                                    "Вариант 1",
                                    "Вариант 2",
                                    "Вариант 3",
                                ],
                                inputAttr: {
                                    'required': ''
                                },
                                selectGreen: true
                            })

                            +field-file({
                                placeholder: 'Дополнительные материалы к заявке',
                                inputAttr: {
                                    'required': '',
                                    'data-v-name': 'file',
                                    'data-size': '10485760',
                                    'accept': 'image/*, text/plain, .docx, .pdf'
                                },
                            })

                            .form__radios
                                .form__radios-title Срок реализации проекта
                                +field({
                                    classes: '',
                                    type: 'radio',
                                    title: '1 учебный год',
                                    placeholder: '',
                                    inputAttr: {
                                        'checked': '',
                                        'name': 'project-term',
                                        'value': '1 учебный год',
                                    },
                                    resetBtn: false,
                                })
                                +field({
                                    classes: '',
                                    type: 'radio',
                                    title: '1 учебный год с продолжением',
                                    placeholder: '',
                                    inputAttr: {
                                        'name': 'project-term',
                                        'value': '1 учебный год с продолжением',
                                    },
                                    resetBtn: false,
                                })

                            .form__radios
                                .form__radios-title Проект уже реализуется в рамках проектной деятельности?
                                +field({
                                    classes: '',
                                    type: 'radio',
                                    title: 'Да',
                                    placeholder: '',
                                    inputAttr: {
                                        'name': 'project-in-progress',
                                        'value': 'Да',
                                        'data-js': 'projectProgressTab'
                                    },
                                    resetBtn: false,
                                })
                                +field({
                                    classes: '',
                                    type: 'radio',
                                    title: 'Нет',
                                    placeholder: '',
                                    inputAttr: {
                                        'checked': '',
                                        'name': 'project-in-progress',
                                        'value': 'Нет',
                                        'data-js': 'projectProgressTab'
                                    },
                                    resetBtn: false,
                                })

                            .form__block(data-js="formBlock" data-condition="ifProjectInProgress" style="display: flex;")
                                .text-editor.form-text-editor
                                    p 
                                        b Введите в поле ниже не более 5 студентов с указанием группы для закрепления их за проектом
                                +field({
                                    classes: '',
                                    tag: 'textarea',
                                    title: '',
                                    placeholder: 'Список студентов',
                                    inputAttr: {
                                    'required': ''
                                },
                                })

                        .form__btns
                            +btn({
                                classes: 'form-projects-modal__prev',
                                type: 'button',
                                buttonType: 'button',
                                name: 'Назад',
                                cMode: 'lightGreen',
                            })(data-js="formPrevStep")
                            +btn({
                                classes: 'form-projects-modal__next',
                                type: 'button',
                                buttonType: 'button',
                                name: 'Дальше',
                                cMode: 'green',
                            })(data-js="formNextStep")

                    .form__step(data-js="formStep" data-name="contacts" data-id="3")
                        .form__fields
                            .form__radios
                                .form__radios-title Ваш статус
                                +field({
                                    classes: '',
                                    type: 'radio',
                                    title: 'Сотрудник внешней организации',
                                    placeholder: '',
                                    inputAttr: {
                                        'checked': '',
                                        'name': 'project-proposer-status',
                                        'value': 'Сотрудник внешней организации',
                                        'data-js': 'porposeStatusTab'
                                    },
                                    resetBtn: false,
                                })
                                +field({
                                    classes: '',
                                    type: 'radio',
                                    title: 'Сотрудник университета',
                                    placeholder: '',
                                    inputAttr: {
                                        'name': 'project-proposer-status',
                                        'value': 'Сотрудник университета',
                                        'data-js': 'porposeStatusTab'
                                    },
                                    resetBtn: false,
                                })
                                +field({
                                    classes: '',
                                    type: 'radio',
                                    title: 'Обучающийся университета',
                                    placeholder: '',
                                    inputAttr: {
                                        'name': 'project-proposer-status',
                                        'value': 'Обучающийся университета',
                                        'data-js': 'porposeStatusTab'
                                    },
                                    resetBtn: false,
                                })

                            .form__block(data-js="formBlock" data-condition="ifIsEmployee")
                                +field({
                                    classes: '',
                                    type: 'text',
                                    title: '',
                                    placeholder: 'Должность',
                                    inputAttr: {
                                        'required': ''
                                    },
                                    resetBtn: false,
                                    isRequired: true
                                })

                            .form__block(data-js="formBlock" data-condition="ifIsStudent")
                                +field({
                                    classes: '',
                                    tag: 'select',
                                    placeholder: 'Специальность',
                                    selectOptions: [
                                        "",
                                        "Менеджмент",
                                        "Прикладная математика и информатика",
                                        "Картография и геоинформатика",
                                    ],
                                    inputAttr: {
                                        'required': ''
                                    },
                                    selectGreen: true
                                })
                                +field({
                                    classes: '',
                                    type: 'text',
                                    title: '',
                                    placeholder: 'Группа',
                                    inputAttr: {
                                        'required': ''
                                    },
                                    resetBtn: false,
                                    isRequired: true
                                })
                                +field({
                                    classes: '',
                                    tag: 'select',
                                    placeholder: 'Уровень образования',
                                    selectOptions: [
                                        "",
                                        "Бакалавриат",
                                        "Специалитет",
                                        "Магистратура",
                                    ],
                                    inputAttr: {
                                        'required': '',
                                        'data-tab': "courseTab"
                                    },
                                    selectGreen: true
                                })

                            .form__block(data-js="formBlock" data-condition="ifUndergraduate")
                                +field({
                                    classes: '',
                                    tag: 'select',
                                    placeholder: 'Курс',
                                    inputAttr: {
                                        'required': ''
                                    },
                                    selectOptions: [
                                        "",
                                        "1 курс",
                                        "2 курс",
                                        "3 курс",
                                        "4 курс",
                                    ],
                                    selectGreen: true
                                })

                            +field({
                                classes: '',
                                type: 'text',
                                title: '',
                                placeholder: 'ФИО',
                                inputAttr: {
                                    'required': '',
                                    'data-type': 'letters'
                                },
                                resetBtn: false,
                                isRequired: true
                            })
                            +field({
                                classes: '',
                                type: 'email',
                                title: '',
                                placeholder: 'Email',
                                inputAttr: {
                                    'required': '',
                                    'data-v-name': 'email'
                                },
                                resetBtn: false,
                                isRequired: true
                            })
                            +field({
                                classes: '',
                                type: 'tel',
                                title: '',
                                placeholder: '+7 (___) ___-__-__',
                                inputAttr: {
                                    'data-type': 'phoneNumber',
                                    'required': '',
                                    'data-v-name': 'phone'
                                },
                                resetBtn: false,
                                isRequired: true
                            })

                            +field({
                                classes: '',
                                type: 'text',
                                title: '',
                                placeholder: 'Откуда вы узнали о проектной деятельности в ХАУ?',
                                resetBtn: false,
                            })

                        .form__privacy.form-privacy(data-js="formField")
                            label
                                input(type="checkbox" data-v-name='checkbox' required)
                                span.form-privacy__fake
                            span.form-privacy__text Согласен на обработку моих персональных данных в соответствии с <a href="#" target="_blank">Политикой в отношении обработки персональных данных</a>
                            span.field__error(data-js='fieldError')
                        .form__btns
                            +btn({
                                classes: 'form-projects-modal__prev',
                                type: 'button',
                                buttonType: 'button',
                                name: 'Назад',
                                cMode: 'lightGreen',
                            })(data-js="formPrevStep")
                            +btn({
                                classes: 'form__submit form-projects-modal__next',
                                type: 'button',
                                buttonType: 'submit',
                                name: 'Отправить на рассмотрение',
                                cMode: 'green',
                            })

                .form__thanks(data-js='form-thanks')
                    .form__image-success
                        svg
                        use(xlink:href=`img/sprites/sprite.svg#success`)
                    .h2.form__title Ваше предложение отправлено.
                    .form__text С Вами свяжется ответственный сотрудник университета по&nbsp;указанным контактным данным.                     