noindex
    div
        //код модалок сюда
        +modal({id:"cMapAddressModal", classes:"c-map-modal"})(data-js="cMapAddressModal")
        +modal({modalId:"openDoorsModal", classes:"open-doors-modal"})(data-js="openDoorsModal")
            <div class="open-doors-block__container text-editor">
                <div class="open-doors-block__left">
                <h3>Онлайн мероприятие 04 декабря 2024 в 13:00</h3>
                <p><b>10 октября 2024</b></p>
                </div>
                <div class="open-doors-block__right">
                    <p><b>Поделиться</b></p>
                    <div class="socials">
                        <a class="socials__item" href="#">
                            <svg>
                            <use xlink:href="img/sprites/sprite.svg#telegram"></use>
                            </svg>
                        </a>
                        <a class="socials__item" href="#">
                            <svg>
                            <use xlink:href="img/sprites/sprite.svg#vk"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="open-doors-block__format text-editor">
                <div class="open-doors-block__left">
                    h3 Встреча в Zoom
                </div>
                <div class="open-doors-block__right">
                    <a class="btn-plus" href="#">
                        <span class="btn-plus__text">Перейти</span>
                        <span class="btn-plus__icon"> 
                            <svg>
                                <use xlink:href="img/sprites/sprite.svg#link"></use>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>

            <div class="open-doors-block__format text-editor">
                <div class="open-doors-block__left">
                    h3 Адрес:
                </div>
                <div class="open-doors-block__right">
                    p 
                        b Херсонская Область, г.о. Херсонский, г. Херсон, ул. Сретенская, д. 23
                </div>
            </div> 

            <div class="open-doors-block__modal text-editor">
                img(src="img/open-doors/open-doors-2.jpg")
                br
                p Что нужно сделать перед посещением университета:<br>Спланируйте маршрут до вуза, чтобы не опоздать. Оцените, удобно ли вам будет ездить.
                h3 Правила посещения
                ul
                    li Прослушайте официальную часть. Мы рекомендуем приходить к самому началу мероприятия. Так вы не упустите нужную информацию. Возможно, на выступлении ректора вы получите ответы на большую часть своих вопросов. Все важные моменты записывайте в блокнот. Приветственное слово будет говорит заведующий кафедры “Менеджмент”.
                    li Поговорите с представителями приемной комиссии. Ответы конспектируйте в блокнот. Мы подготовили перечень важных вопросов, которые можно выяснить в приемной комиссии: Есть ли у вуза действующая аккредитация по выбранному вами направлению? Где проходит практика? Помогает ли вуз с трудоустройством?Дают ли баллы за золотую медаль и дипломы призеров олимпиад? Каких? Можно ли перевестись на другое направление, если не понравится учиться там, куда поступил? Как и когда это делается? По какому принципу распределяются места в общежитие? За какой период надо вносить оплату? За какой период надо вносить оплату, если поступите на платное?
                    li Изучите учебный корпус. Прогуляйтесь по вузу, посмотрите в каком состоянии аудитории и столовая.
            </div>