noindex
    div
        //код модалок сюда
        +modal({modalId:"cMapAddressModal", classes:"c-map-modal"})(data-js="cMapAddressModal")

        +modal({modalId:"openDoorsModal", classes:"open-doors-modal"})(data-js="openDoorsModal")
            <div class="open-doors-block__container text-editor">
                <div class="open-doors-block__left">
                <h3>Онлайн мероприятие 04 декабря 2024 в 13:00</h3>
                <p><b>10 октября 2024</b></p>
                </div>
                <div class="open-doors-block__right">
                    <p><b>Поделиться</b></p>
                    <div class="socials">
                        <a class="socials__item" href="#">
                            <svg>
                            <use xlink:href="img/sprites/sprite.svg#telegram"></use>
                            </svg>
                        </a>
                        <a class="socials__item" href="#">
                            <svg>
                            <use xlink:href="img/sprites/sprite.svg#vk"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="open-doors-block__format text-editor">
                <div class="open-doors-block__left">
                    h3 Встреча в Zoom
                </div>
                <div class="open-doors-block__right">
                    <a class="btn-plus" href="#">
                        <span class="btn-plus__text">Перейти</span>
                        <span class="btn-plus__icon"> 
                            <svg>
                                <use xlink:href="img/sprites/sprite.svg#link"></use>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>

            <div class="open-doors-block__format text-editor">
                <div class="open-doors-block__left">
                    h3 Адрес:
                </div>
                <div class="open-doors-block__right">
                    p 
                        b Херсонская Область, г.о. Херсонский, г. Херсон, ул. Сретенская, д. 23
                </div>
            </div> 

            <div class="open-doors-block__modal text-editor">
                img(src="img/open-doors/open-doors-2.webp")
                br
                p Что нужно сделать перед посещением университета:<br>Спланируйте маршрут до вуза, чтобы не опоздать. Оцените, удобно ли вам будет ездить.
                h3 Правила посещения
                ul
                    li Прослушайте официальную часть. Мы рекомендуем приходить к самому началу мероприятия. Так вы не упустите нужную информацию. Возможно, на выступлении ректора вы получите ответы на большую часть своих вопросов. Все важные моменты записывайте в блокнот. Приветственное слово будет говорит заведующий кафедры “Менеджмент”.
                    li Поговорите с представителями приемной комиссии. Ответы конспектируйте в блокнот. Мы подготовили перечень важных вопросов, которые можно выяснить в приемной комиссии: Есть ли у вуза действующая аккредитация по выбранному вами направлению? Где проходит практика? Помогает ли вуз с трудоустройством?Дают ли баллы за золотую медаль и дипломы призеров олимпиад? Каких? Можно ли перевестись на другое направление, если не понравится учиться там, куда поступил? Как и когда это делается? По какому принципу распределяются места в общежитие? За какой период надо вносить оплату? За какой период надо вносить оплату, если поступите на платное?
                    li Изучите учебный корпус. Прогуляйтесь по вузу, посмотрите в каком состоянии аудитории и столовая.
            </div>

        +modal({modalId:"questionModal", classes:"form-modal"})(data-js="questionModal")
            +form({
                classes: '',
                title: 'Задать вопрос',
                text: '',
                btnText: 'Задать вопрос',
                })
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'Имя',
                        inputAttr: {
                            'required': ''
                        },
                        resetBtn: false,
                        isRequired: true
                    })
                    +field({
                        classes: '',
                        type: 'tel',
                        title: '',
                        placeholder: '+7 (___) ___-__-__',
                        inputAttr: {
                            'data-type': 'phoneNumber',
                            'required': '',
                            'data-v-name': 'phone'
                        },
                        resetBtn: false,
                        isRequired: true
                    })
                    +field({
                        classes: '',
                        type: 'email',
                        title: '',
                        placeholder: 'Email',
                        inputAttr: {
                            'required': '',
                            'data-v-name': 'email'
                        },
                        resetBtn: false,
                        isRequired: true
                    }) 

                    +field({
                        classes: '',
                        tag: 'textarea',
                        title: '',
                        placeholder: 'Текст вопроса',
                    })

        +modal({modalId:"vacancyRespModal", classes:"form-modal"})(data-js="vacancyRespModal")
            +form({
                classes: '',
                title: 'Отправить резюме',
                text: '',
                btnText: 'Отправить резюме',
                successTitle: 'Ваше резюме отправлено.'
                })
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'Имя',
                        inputAttr: {
                            'required': ''
                        },
                        resetBtn: false,
                        isRequired: true
                    })
                    +field({
                        classes: '',
                        type: 'tel',
                        title: '',
                        placeholder: '+7 (___) ___-__-__',
                        inputAttr: {
                            'data-type': 'phoneNumber',
                            'required': '',
                            'data-v-name': 'phone'
                        },
                        resetBtn: false,
                        isRequired: true
                    })
                    +field({
                        classes: '',
                        type: 'email',
                        title: '',
                        placeholder: 'Email',
                        inputAttr: {
                            'required': '',
                            'data-v-name': 'email'
                        },
                        resetBtn: false,
                        isRequired: true
                    }) 

                    +field({
                        classes: '',
                        tag: 'textarea',
                        title: '',
                        placeholder: 'Комментарий',
                    })

                    +field-file({
                        placeholder: 'Прикрепить резюме',
                        inputAttr: {
                            'required': '',
                            'data-v-name': 'file',
                            'data-size': '10485760',
                            'accept': 'image/*, text/plain, .docx, .pdf'
                        },
                        isRequired: true
                    })

        +modal({modalId:"seminarModal", classes:"form-modal"})(data-js="seminarModal")
            +form({
                classes: '',
                title: 'Запрос на участие',
                text: '',
                btnText: 'Отправить запрос',
                successTitle: 'Ваш запрос отправлен.'
                })(data-js="seminarForm")
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'ФИО',
                        inputAttr: {
                            'required': ''
                        },
                        resetBtn: false,
                        isRequired: true
                    })
                    .form__flex
                        +field({
                            classes: '',
                            type: 'email',
                            title: '',
                            placeholder: 'Email',
                            inputAttr: {
                                'required': '',
                                'data-v-name': 'email'
                            },
                            resetBtn: false,
                            isRequired: true
                        }) 
                        +field({
                            classes: '',
                            type: 'tel',
                            title: '',
                            placeholder: '+7 (___) ___-__-__',
                            inputAttr: {
                                'data-type': 'phoneNumber',
                                'required': '',
                                'data-v-name': 'phone'
                            },
                            resetBtn: false,
                            isRequired: true
                        })

                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'Название семинара',
                        inputAttr: {
                            'required': '',
                            'data-js': 'saminarName'
                        },
                        resetBtn: false,
                        isRequired: true
                    })

                    .form__flex
                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'Дата',
                            inputAttr: {
                                'required': '',
                                'data-v-name': 'date',
                                'data-type': 'date',
                                'data-js': 'saminarDate'
                            },
                            resetBtn: false,
                            isRequired: true
                        }) 
                        +field({
                            classes: '',
                            tag: 'select',
                            placeholder: 'Формат участия',
                            selectOptions: [
                                "",
                                "Очно",
                                "Онлайн",
                            ],
                            selectGreen: true
                        })

                    +field({
                        classes: '',
                        tag: 'textarea',
                        title: '',
                        placeholder: 'Список участников',
                        inputAttr: {
                            'required': ''
                        },
                        isRequired: true
                    })

                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'Название компании / учреждения',
                        inputAttr: {
                            'required': ''
                        },
                        resetBtn: false,
                        isRequired: true
                    })

                    .form__flex
                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'ФИО руководителя',
                            inputAttr: {
                                'required': ''
                            },
                            resetBtn: false,
                            isRequired: true
                        })

                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'Должность руководителя',
                            inputAttr: {
                                'required': ''
                            },
                            resetBtn: false,
                            isRequired: true
                        })

                    .form__flex
                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'Юридический адрес',
                            inputAttr: {
                                'required': ''
                            },
                            resetBtn: false,
                            isRequired: true
                        })

                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'Почтовый адрес',
                            inputAttr: {
                                'required': ''
                            },
                            resetBtn: false,
                            isRequired: true
                        })

                    .form__flex
                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'ИНН',
                            inputAttr: {
                                'required': '',
                                'data-v-name': 'inn',
                                'data-type': 'number'
                            },
                            resetBtn: false,
                            isRequired: true
                        })

                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'КПП',
                            inputAttr: {
                                'required': '',
                                'data-v-name': 'kpp',
                                'data-type': 'number'
                            },
                            resetBtn: false,
                            isRequired: true
                        })

                    .form__flex
                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'Расчётный счёт',
                            inputAttr: {
                                'required': '',
                                'data-v-name': 'account',
                                'data-type': 'number'
                            },
                            resetBtn: false,
                            isRequired: true
                        })

                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'БИК',
                            inputAttr: {
                                'required': '',
                                'data-v-name': 'bik',
                                'data-type': 'number'
                            },
                            resetBtn: false,
                            isRequired: true
                        })

                    .form__flex
                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'Кор. счёт',
                            inputAttr: {
                                'required': '',
                                'data-v-name': 'account',
                                'data-type': 'number'
                            },
                            resetBtn: false,
                            isRequired: true
                        })

                        +field({
                            classes: '',
                            type: 'text',
                            title: '',
                            placeholder: 'Наименование банка',
                            inputAttr: {
                                'required': '',
                            },
                            resetBtn: false,
                            isRequired: true
                        })

                    +field({
                        classes: '',
                        tag: 'textarea',
                        title: '',
                        placeholder: 'Комментарий',
                    })

        +modal({modalId:"submitDocsModal", classes:"form-modal"})(data-js="submitDocsModal")
            +form({
                classes: '',
                title: 'Отправить документы',
                text: '',
                btnText: 'Отправить документы',
                successTitle: 'Ваши документы отправлены.'
                })(data-js="submitDocsForm")

                    .form__radios
                        .form__radios-title Вы гражданин Российской Федерации?
                        +field({
                            classes: '',
                            type: 'radio',
                            title: 'Да',
                            placeholder: '',
                            inputAttr: {
                                'checked': '',
                                'name': 'citizenship',
                                'value': 'Да',
                                'data-js': 'radioTab'
                            },
                            resetBtn: false,
                        })
                        +field({
                            classes: '',
                            type: 'radio',
                            title: 'Нет',
                            placeholder: '',
                            inputAttr: {
                                'name': 'citizenship',
                                'value': 'Нет',
                                'data-js': 'radioTab'
                            },
                            resetBtn: false,
                        })

                    .form__radios
                        .form__radios-title Вы поступаете в магистратуру/аспирантуру?
                        +field({
                            classes: '',
                            type: 'radio',
                            title: 'Да',
                            placeholder: '',
                            inputAttr: {
                                'checked': '',
                                'name': 'level-education',
                                'value': 'Да',
                                'data-js': 'radioTab'
                            },
                            resetBtn: false,
                        })
                        +field({
                            classes: '',
                            type: 'radio',
                            title: 'Нет',
                            placeholder: '',
                            inputAttr: {
                                'name': 'level-education',
                                'value': 'Нет',
                                'data-js': 'radioTab'
                            },
                            resetBtn: false,
                        })

                    .form__block(data-js="formBlock" data-condition="ifLevelNo")
                        .form__note.text-editor
                            h3 Внимание!
                            p 
                                b Дистанционная подача документов поступающими на программы бакалавриата, специалитета, программы среднего профессионального образования осуществляется через портал Госуслуг <a href="https://www.gosuslugi.ru/">https://www.gosuslugi.ru/</a>

                    .form__block(data-js="formBlock" data-condition="ifLevelYes")
                        .form__block(data-js="formBlock" data-condition="ifCitizenshipYes")
                            +field({
                                classes: '',
                                tag: 'select',
                                placeholder: 'Тип документа',
                                selectOptions: [
                                    "",
                                    "Паспорт гражданина РФ"
                                ],
                                selectGreen: true
                            })
                        .form__block(data-js="formBlock" data-condition="ifCitizenshipNo")
                            +field({
                                classes: '',
                                tag: 'select',
                                placeholder: 'Тип документа',
                                selectOptions: [
                                    "",
                                    "Иностранный паспорт"
                                ],
                                selectGreen: true
                            })

                        .form__flex
                            +field({
                                classes: '',
                                type: 'text',
                                title: '',
                                placeholder: 'Серия документа',
                                inputAttr: {
                                    'required': '',
                                },
                                resetBtn: false,
                                isRequired: true
                            }) 
                            +field({
                                classes: '',
                                type: 'text',
                                title: '',
                                placeholder: 'Номер документа',
                                inputAttr: {
                                    'required': '',
                                },
                                resetBtn: false,
                                isRequired: true
                            })

                        +field({
                            classes: '',
                            type: 'checkbox',
                            title: 'Имею СНИЛС',
                            placeholder: '',
                            inputAttr: {
                                'data-js': 'snils-tab'
                            },
                            resetBtn: false,
                        })

                        .form__block(data-js="formBlock" data-condition="ifSnils")
                            +field({
                                classes: '',
                                type: 'text',
                                title: '',
                                placeholder: 'СНИЛС',
                                resetBtn: false
                            })

                        .form__note.text-editor
                            h3 Внимание!
                            ul
                                li
                                    b Бланк заполняется от руки!
                                li
                                    b Личная подпись ставится<br>- на первой странице (в таблице)<br>- на последней странице

                        .form__links
                            a(href='#' target='_blank') Согласие на обработку персональных данных (18+ лет)
                            a(href='#' target='_blank') Согласие на обработку персональных данных (до 18 лет)
                            a(href='#' target='_blank') Согласие на обработку персональных данных, разешенных субъектом персональных данных для распространения (18+ лет)
                            a(href='#' target='_blank') Согласие на обработку персональных данных, разешенных субъектом персональных данных для распространения (до 18 лет)

                        +field-file({
                            placeholder: 'Согласие на обработку персональных данных',
                            inputAttr: {
                                'required': '',
                                'data-v-name': 'file',
                                'data-size': '10485760',
                                'accept': 'image/*, text/plain, .docx, .pdf'
                            },
                            isRequired: true
                        })

                        +field-file({
                            placeholder: 'Согласие на обработку персональных данных, разешенных субъектом персональных данных для распространения',
                            inputAttr: {
                                'required': '',
                                'data-v-name': 'file',
                                'data-size': '10485760',
                                'accept': 'image/*, text/plain, .docx, .pdf'
                            },
                            isRequired: true
                        })