-
    const defaultFacultyProgrammsProps = {
        classes: '',
    }

mixin faculty-programms(props = defaultFacultyProgrammsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultFacultyProgrammsProps.classes
        }

    section.faculty-programms
        +tabs-block({
            classes: "tabs-block--middle",
            tabs: [
                {
                    name: 'Бакалавриат и специалитет',
                },
                {
                    name: 'Магистратура',
                },
                {
                    name: 'Аспирантура',
                },
                    ],
            })
                .tabs-block__slide.tabs-block__slide--active(data-js="tabsBlockSlide")
                    .m-container
                        .faculty-programms__list
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления 1',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                        +btn({
                            classes: 'faculty-programms__more',
                            name: 'Загрузить еще',
                            cMode: 'lightGreen',
                        })

                .tabs-block__slide(data-js="tabsBlockSlide")
                    .m-container
                        .faculty-programms__list
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления 2',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })

                        +btn({
                            classes: 'faculty-programms__more',
                            name: 'Загрузить еще',
                            cMode: 'lightGreen',
                        })

                .tabs-block__slide(data-js="tabsBlockSlide")
                    .m-container
                        .faculty-programms__list
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления 3',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })

                        +btn({
                            classes: 'faculty-programms__more',
                            name: 'Загрузить еще',
                            cMode: 'lightGreen',
                        })
