-
    const defaultMDocsProps = {
        classes: '',
        breadcrumbs: {},
        img: '',
        title: '',
        small: false,
        date: '',
    }

mixin m-docs(props = defaultMDocsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultMDocsProps.classes,
            breadcrumbs: props.breadcrumbs ? props.breadcrumbs : defaultMDocsProps.breadcrumbs,
            img: props.img ? props.img : defaultMDocsProps.img,
            title: props.title ? props.title : defaultMDocsProps.title,
            small: props.small ? props.small : defaultMDocsProps.small,
            date: props.date ? props.date : defaultMDocsProps.date
        }

    section.m-docs(class= checkProps.classes)
        .m-container
            h2.h2.m-docs__title Документы
            +m-columns({
                classes: 'm-columns--no-plpr no-border',
                title: `<div class="white-bg">
                    <p>Режим приема по личным вопросам</p>
                    <p><a href="#">О временном режиме приема по личным вопросам граждан, работников и учащихся университета ректором и проректорами Московского Политеха (от 17.03.2020)</a></p>
                    </div>`
            })
                .text-items-list
                    +link-block({
                        classes: 'white-bg',
                        text: 'Об утверждении состава ректората (приказ от 13.05.2022 г. № 460-ОД)'
                    })
                    +link-block({
                        classes: 'white-bg',
                        text: 'Приказ от 31.01.2020 № 155-ОД «О назначении ученого секретаря Ученого совета»'
                    })
                    +link-block({
                        classes: 'white-bg',
                        text: 'Приказ от 31.01.2020 № 156-ОД «О назначении заместителя председателя Ученого совета»'
                    })
                    +link-block({
                        classes: 'white-bg',
                        text: 'Положение об организации управления деятельностью (утверждено приказом от 24.04.2017 г. № 311-ОД)'
                    })
                    +link-block({
                        classes: 'white-bg',
                        text: 'О внесении изменений в Положение об организации управления деятельностью'
                    })

