-
    const defaultfacultyAdvantagesProps = {
        classes: '',
        title: 'Наши выпускники'
    }

mixin faculty-advantages(props = defaultfacultyAdvantagesProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultfacultyAdvantagesProps.classes,
            title: props.title ? props.title : defaultfacultyAdvantagesProps.title,
        }

    section.faculty-advantages
        .m-container
            .h2.faculty-advantages__title!= checkProps.title
            .faculty-advantages__cards(data-js="facultyAdvantagesSlider")
                .swiper-wrapper
                    .faculty-advantages__card.swiper-slide
                        .h2.faculty-advantages__subtitle 01
                        .faculty-advantages__text Ориентируются в тенденциях развития цифровой экономики;
                    .faculty-advantages__card.swiper-slide
                        .h2.faculty-advantages__subtitle 02
                        .faculty-advantages__text обладают универсальными и профессиональными компетенциями работы в командах разработчиков инновационных проектов;
                    .faculty-advantages__card.swiper-slide
                        .h2.faculty-advantages__subtitle 03
                        .faculty-advantages__text являются высококвалифицированным кадровым резервом для всех уровней и подразделений органов государственного и муниципального управления;
                    .faculty-advantages__card.swiper-slide
                        .h2.faculty-advantages__subtitle 04
                        .faculty-advantages__text Владеют методиками и технологиями проведения конкурентного анализа продукции компаний, исследования особенностей поведения потребителей, продвижения брендов на высокотехнологические рынки.