.c-map {
    position: relative;

    @include max(tablet) {
        display: flex;
        flex-direction: column-reverse;
    }

    &__container {
        height: calc(100vh - 222px);
        padding-top: 25px;
        padding-bottom: 40px;

        @include max(laptop) {
            padding-top: 20px;
            padding-bottom: 20px;
            height: calc(100vh - 160px);
        }

        @include max(tablet) {
            padding-top: 0;
            padding-bottom: 0;
            height: auto;
        }
    }

    &__map {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        @include max(tablet) {
            position: relative;
            height: auto;
            aspect-ratio: 1 / 0.8;
        }
    }

    &__content {
        position: relative;
        max-width: 50%;
        padding: 25px 30px;
        max-height: 100%;
        overflow-y: auto;

        @include max(laptop) {
            max-width: 60%;
        }

        @include max(tablet) {
            width: calc(100% + 30px);
            max-width: none;
            margin-left: -15px;
            margin-right: -15px;
            padding: 20px 15px;
            overflow: hidden;
        }

        &::-webkit-scrollbar {
            width: 3px;
            height: 3px;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $c-accent-light;
        }
    }

    &__breadcrumbs {
        border-bottom: 1px solid $c-border-op;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 25px;
        color: $c-accent;

        @include max(mobile) {
            margin-bottom: 10px;
        }
    }

    &__row {
        display: flex;
        align-items: flex-start;
        padding: 35px 0;
        gap: 54px;
        border-top: 1px solid $c-border-op;

        @include max(mobile) {
            flex-direction: column;
            gap: 10px;
            padding: 10px 0;
            border-top: none;
        }
    }

    &__row+&__row {
        @include max(mobile) {
            padding-top: 0;
        }
    }

    &__block {
        flex: 0 1 50%;

        @include max(mobile) {
            border-top: 1px solid $c-border-op;
            flex-basis: auto;
            padding-top: 10px;
        }
    }

    &__subtitle {
        color: $c-accent-middle;
        min-height: 2.04em;
        margin-bottom: 25px;

        @include max(mobile) {
            min-height: auto;
            margin-bottom: 20px;
        }
    }

    &__params {
        display: flex;
        flex-direction: column;
        gap: 25px;

        @include max(mobile) {
            gap: 10px;
        }
    }

    &__param {
        font-size: 16px;
        color: $c-accent;
    }

    &__name {
        font-weight: 400;
        line-height: 1.17em;
        opacity: 0.4;
    }

    &__val {
        font-weight: 500;
        line-height: 1.02em;
        margin-top: 10px;

        a {
            transition: color $tr-time;

            &:hover {
                color: $c-accent-light;
            }
        }

    }
}