-
    const defaultCMapProps = {
        classes: '',
    }

mixin c-map(props = defaultCMapProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultCMapProps.classes,
            coords: props.coords ? props.coords : defaultCMapProps.coords,
            breadcrumbs: props.breadcrumbs ? props.breadcrumbs : defaultCMapProps.breadcrumbs,
            title: props.title ? props.title : defaultCMapProps.title,
            items: props.items ? props.items : defaultCMapProps.items,
        }

    section.c-map(class= checkProps.classes data-js="cMap")
        .c-map__map(data-js="cMapContainer")
        .m-container.c-map__container
            .c-map__content.white-bg
                block