.m-columns {
    display: flex;
    align-items: flex-start;
    gap: 34px;
    padding: 20px 28px;
    border-top: 1px solid $c-border;

    @include max(laptop) {
        flex-direction: column;
        gap: 32px;
        padding: 20px 25px;
    }

    &__subtitle {
        max-width: 930px;
        padding-top: 184px;
        font-size: 45px;
        font-weight: 500;
        line-height: 0.91em;
        letter-spacing: -2px;
        color: $c-accent;

        @include max(laptop) {
            font-size: 40px;
            padding-top: 160px;
        }

        @include max(tablet) {
            font-size: 30px;
            padding-top: 60px;
        }
    }

    &__title {
        flex: 0 0 413px;

        @include max(laptop) {
            flex-basis: auto;
        }
    }

    &__main {
        flex: 1 1 auto;

        @include max(laptop) {
            width: 100%;
        }
    }

    &--column {
        flex-direction: column;
        gap: 32px;
    }

    &--column &__main {
        margin-top: 48px;

        @include max(tablet) {
            margin-top: 0;
        }
    }

    &--column &__title {
        flex-basis: auto;
        width: 100%;

        &>* {
            max-width: 510px;
        }
    }

    &--subtitle {
        border-top: none;
    }

    &--subtitle &__title {
        padding-top: 32px;
        border-top: 1px solid $c-border;
    }
}