.news-vertical {
    display: flex;
    flex-direction: column;
    background-color: $c-white;

    &__img {
        flex: 0 0 auto;
        width: 100%;
        aspect-ratio: 1 / 0.53;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 60px;
        flex: 1 1 auto;
        padding: 15px 25px 30px;

        @include max(tablet) {
            gap: 40px;
        }

        @include max(mobile) {
            gap: 30px;
            padding: 15px;
        }
    }

    &__title {
        max-width: 640px;
        line-height: 1.14em;
        letter-spacing: -0.03em;
        color: $c-accent-middle;
        transition: color $tr-time;

        span {
            color: $c-accent-light;
        }

        &:hover {
            color: $c-accent-light;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 20px;
        margin-top: auto;

        @include max(mobile) {
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
        }
    }

    &__desc {
        max-width: 385px;
    }

    &__icon {
        margin-left: auto;
        flex: 0 0 53px;
        width: 53px;
        height: 53px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $c-white;
        background-color: $c-accent;
        border-radius: 100%;
        transition: all $tr-time;

        @include max(tablet) {
            width: 40px;
            height: 40px;
            flex: 0 0 40px;
        }

        svg {
            width: 9px;
            height: 12px;
        }

        &:hover {
            background-color: $c-accent-light;
        }
    }
}