.field-file {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    padding: 0;
    border: none;

    @include max(1024) {
        gap: 6px;
    }

    @include max(1024) {
        gap: 6px;
    }

    &.field--invalid {
        .field-file__fakeinput {
            border-color: red;
        }

        .field-file__error {
            display: block;
        }
    }

    &--full {
        .field-file__fakeinput {
            .icon-empty {
                display: none;
            }

            .icon-full {
                display: block;
            }
        }
    }

    &__title {
        position: relative;
        width: fit-content;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.23em;
        color: black;

        @include max(1024) {
            font-size: 13px;
        }

        @include max(1024) {
            font-size: 13px;
        }

        span {
            position: absolute;
            right: -8px;
            top: 10px;
            font-size: 20px;
            font-weight: 700;
            line-height: 0;
            color: $c-accent;

            @include max(1024) {
                font-size: 20px;
                right: -8px;
                top: 10px;
            }

            @include max(1024) {
                font-size: 20px;
                right: -8px;
                top: 10px;
            }
        }
    }

    &__fakeinput {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 32px 23px;
        border: 1px solid transparent;
        border-radius: 8px;
        color: $c-white;
        font-family: $ff-main;
        font-size: 16px;
        line-height: 1.02em;
        font-weight: 500;
        min-height: 40px;
        background-color: $c-input-bg;
        outline: none;
        cursor: pointer;

        @include max(mobile) {
            padding: 20px 15px;
        }

        .icon-empty {
            width: 24px;
            height: 24px;
            display: block;

            svg {
                width: 24px;
                height: 24px;
                color: $c-white;

            }
        }

        .icon-full {
            display: none;
            width: 24px;
            height: 24px;

            svg {
                width: 24px;
                height: 24px;

                color: $c-white;
            }
        }
    }

    &__error {
        position: absolute;
        top: calc(100% + 2px);
        left: 0;
        width: 100%;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.18em;
        color: $c-error;
        display: none;
    }

    &__note {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.02em;
        color: #B0B2B7;
        font-size: 11px;
    }

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
        z-index: -10;
    }
}