extends ../layouts/default

block variables
    - const title = "Абитуриентам"

block content
    .page
        .page-layout
            +page-intro({
                classes: 'white-bg',
                title: 'Абитуриентам',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Абитуриентам',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })
            +abiturientam-promo
            +abiturientam-important
            +abiturientam-news({
                news: [
                    {
                        classes: 'abiturientam-news__item',
                        img: 'img/news/news_9.webp',
                        title: 'Окончание приёма документов на&nbsp;бюджет на&nbsp;направления <span>до&nbsp;10&nbsp;июля&nbsp;2024</span>',
                        desc: '<p><b>бакалавариат и специалитет: графика, дизайн, технология художественной обработки материалов, журналистика</b></p>'
                    },
                    {
                        classes: 'abiturientam-news__item',
                        img: 'img/news/news_10.webp',
                        title: 'Набор на&nbsp;подготовительные курсы <span>до&nbsp;15&nbsp;октября&nbsp;2024</span>',
                        desc: '<p><b>по информатике, математике, обществознанию, физике, русскому и иностранному языку, химии, биологии начало занятий в октябре 2024</b></p>'
                    },
                ]
            })
            +abiturientam-info
            +abiturientam-news({
                news: [
                    {
                        classes: 'abiturientam-news__item',
                        img: 'img/news/news_11.webp',
                        title: 'День открытых дверей&nbsp;(очно) 06&nbsp;июля&nbsp;в&nbsp;11:00',
                        desc: ''
                    },
                    {
                        classes: 'abiturientam-news__item',
                        img: 'img/news/news_12.webp',
                        title: 'День открытых дверей&nbsp;(очно) 8&nbsp;августа&nbsp;в&nbsp;13:00',
                        desc: '<p><b>Ждём вас в корпусе на ул. Сретенская улица, 23</b></p>'
                    },
                ]
            })
            +abiturientam-steps
