extends ../layouts/default

block variables
    - const title = "Абитуриентам"

block content
    .page
        .page-layout
            +page-intro({
                classes: 'white-bg',
                title: 'Абитуриентам',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Абитуриентам',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })
            +abiturientam-promo
            +abiturientam-important
            section.news-list.abiturientam-news-list
                .m-container
                    .news-list__header
                        h2.h2.news-list__title Новости приема
                        +period-select
                    .news-list__items
                        +news-card({
                            classes: '',
                            img: 'img/news/news_9.webp',
                            title: 'Окончание приёма документов на&nbsp;бюджет на&nbsp;направления <span>до&nbsp;10&nbsp;июля&nbsp;2024</span>',
                            date: '',
                            desc: '<p><b>бакалавариат и специалитет: графика, дизайн, технология художественной обработки материалов, журналистика</b></p>'
                        })
                        +news-card({
                            classes: '',
                            img: 'img/news/news_10.webp',
                            title: 'Набор на&nbsp;подготовительные курсы <span>до&nbsp;15&nbsp;октября&nbsp;2024</span>',
                            date: '',
                            desc: '<p><b>по информатике, математике, обществознанию, физике, русскому и иностранному языку, химии, биологии начало занятий в октябре 2024</b></p>'
                        })
                        +news-card({
                            classes: '',
                            img: 'img/news/news_11.webp',
                            title: 'Окончание приёма документов на&nbsp;бюджет на&nbsp;направления <span>до&nbsp;10&nbsp;июля&nbsp;2024</span>',
                            date: '',
                            desc: '<p><b>бакалавариат и специалитет: графика, дизайн, технология художественной обработки материалов, журналистика</b></p>'
                        })
                        +news-card({
                            classes: '',
                            img: 'img/news/news_12.webp',
                            title: 'Набор на&nbsp;подготовительные курсы <span>до&nbsp;15&nbsp;октября&nbsp;2024</span>',
                            date: '',
                            desc: '<p><b>по информатике, математике, обществознанию, физике, русскому и иностранному языку, химии, биологии начало занятий в октябре 2024</b></p>'
                        })
                    +pagination({classes: 'news-list__pagination'})
            +abiturientam-info
            +abiturientam-news({
                news: [
                    {
                        classes: 'abiturientam-news__item',
                        img: 'img/news/news_11.webp',
                        title: 'День открытых дверей&nbsp;(очно) 06&nbsp;июля&nbsp;в&nbsp;11:00',
                        desc: ''
                    },
                    {
                        classes: 'abiturientam-news__item',
                        img: 'img/news/news_12.webp',
                        title: 'День открытых дверей&nbsp;(очно) 8&nbsp;августа&nbsp;в&nbsp;13:00',
                        desc: '<p><b>Ждём вас в корпусе на ул. Сретенская улица, 23</b></p>'
                    },
                    {
                        classes: 'abiturientam-news__item',
                        img: 'img/news/news_11.webp',
                        title: 'День открытых дверей&nbsp;(очно) 06&nbsp;июля&nbsp;в&nbsp;11:00',
                        desc: ''
                    },

                ]
            })
            +abiturientam-steps
            section.programms-list(class='programms-list--rows' data-js="programmsList")
                .m-container
                    .programms-list__header 
                        .h2.programms-list__title Программы обучения
                    +news-filter({
                        items: [
                            'Бакалавриат и специалитет',
                            'Магистратура',
                            'Аспирантура',
                        ]
                    })       
                        +visual-toggle({
                            active: 'rows'
                        })(data-js="programmsListToggle")
                    .programms-list__list
                        - let cardsCount = 0
                        - while(cardsCount < 10)
                            +programm-card({
                                classes: '',
                                    faculty: 'Факультет экономики и управления',
                                    name: 'Управление бизнес-процессами (Менеджмент)',
                                    params: [
                                        {
                                            name: 'Стоимость',
                                            value: '321.8 тыс. (2024)'
                                        },
                                        {
                                            name: 'Проходной балл:',
                                            value: '400'
                                        },
                                        {
                                            name: 'Срок обучения:',
                                            value: '4 года'
                                        },
                                        {
                                            name: 'Бюджетных мест:',
                                            value: '26'
                                        }
                                    ],
                                    isRow: true
                            })

                            - cardsCount++

                    +btn({
                        classes: 'programm-list__more',
                        name: 'Загрузить еще',
                        cMode: 'lightGreen',
                    })

            +abiturientam-admission
            +abiturientam-info({
                items: [
                    {
                        icon: 'img/abiturientam/abiturientam_info_6.svg',
                        subtitle: 'Перевод из другого вуза',
                        text: 'Пошаговое руководство по поступлению'
                    },
                    {
                        icon: 'img/abiturientam/abiturientam_info_6.svg',
                        subtitle: 'Иностранным абитуриентам',
                        text: 'Пошаговое руководство по поступлению'
                    },
                    {
                        icon: 'img/abiturientam/abiturientam_info_6.svg',
                        subtitle: 'Инвалидам и лицам с ОВЗ',
                        text: 'Условия поступления'
                    },
                    {
                        icon: 'img/abiturientam/abiturientam_info_6.svg',
                        subtitle: 'Вопрос - ответ',
                        text: 'Найдите ответ на свой вопрос'
                    }
                ]
            })
