extends ../layouts/default

block variables
    - const title = "Библиотечно-информационный комплекс"

block content
    .page
        .page-layout
            +page-intro({
                title: '<span>Библиотечно-</span><br>информационный <br>комплекс',
                classes: "border-bottom white-bg",
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Студентам',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Библиотечно-информационный комплекс',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })

            section.white-bg
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: '<h2>Центр по распространению знаний, патриотического воспитания, духовного и интеллектуального общения</h2>'
                    })
                        p   
                            b Современный библиотечный комплекс, предоставляющий неограниченный доступ к литературе и информации для всех категорий читателей, современные информационно-библиотечные технологии, электронные ресурсы и услуги для образовательного процесса, научно-исследовательской деятельности, самостоятельной работы студентов
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: '<br><br><br><h2>Электронно-библиотечные системы</h2>',
                        noContent: true
                    })

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: '<h3>О доступе</h3>'
                    })
                        p Университет предоставляет пользователям университета бесплатный индивидуальный неограниченный доступ к электронно-библиотечным системам (ЭБС), которые включают в себя учебники, учебные пособия, практикумы, монографии, периодические издания по всем отраслям знаний, художественную литературу. В ЭБС размещены также учебные видео, аудиоиздания, имеются различные сервисы для преподавателей и студентов.

                        ul

                            li 
                                b Образовательная платформа «Юрайт»
                            li 
                                b Электронно-библиотечная система IPR SMART (доступна версия Премиум)
                            li 
                                b Электронно-библиотечная система «Издательство Лань» (доступ к коллекции «Единая профессиональная база знаний для технических вузов» (только электронные книги издательства «Лань») и изданиям Консорциума сетевых электронных библиотек (СЭБ) вузов России и СНГ)

                        p <b>Условия доступа:</b> Регистрация пользователей в ЭБС осуществляется с любого компьютера, или мобильного устройства, имеющих выход в интернет.

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: '<h3>Отечественные электронные ресурсы</h3>'
                    })
                        p <b>Национальная электронная библиотека</b> <br>Доступ к НЭБ осуществляется с компьютеров библиотеки университета 
                        p <b>Президентская библиотека им. Б.Н. Ельцина</b> <br>Доступ осуществляется с компьютеров библиотеки университета
                        p <b><a href="https://www.elibrary.ru/">Научная электронная библиотека eLIBRARY.RU</a></b>
                        p <b><a href="https://polpred.com/">ЭБС Polpred.com</a></b>

            section.news-list.bik-news
                .m-container
                    .news-list__header
                        h2.h2.news-list__title Новости
                        +period-select
                    .news-list__items
                        +news-card({
                            classes: '',
                            img: 'img/news/news_27.webp',
                            title: 'Книжные выставки в июне 2024 года',
                            date: '04 сентября 2024',
                            desc: '<p>Все программы дают возможность существенно повысить уровень владения иностранным языком, а также формируют навыки общения в профессиональной среде.</p>'
                        })
                        +news-card({
                            classes: '',
                            img: 'img/news/news_28.webp',
                            title: 'Книжные выставки в мае 2024 года',
                            date: '16 октября 2024',
                            desc: '<p>Все программы дают возможность существенно повысить уровень владения иностранным языком, а также формируют навыки общения в профессиональной среде.</p>'
                        })
                        +news-card({
                            classes: '',
                            img: 'img/news/news_29.webp',
                            title: 'Книжные выставки в апреле 2024 года',
                            date: '18 ноября 2024',
                            desc: '<p>Все программы дают возможность существенно повысить уровень владения иностранным языком, а также формируют навыки общения в профессиональной среде.</p>'
                        })
                        +news-card({
                            classes: '',
                            img: 'img/news/news_30.webp',
                            title: 'Как успешно пройти собеседование',
                            date: '26 декабря  2024',
                            desc: ''
                        })
                    +pagination({classes: 'news-list__pagination'})

            section.white-bg
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: '<h3>Пользователям</h3>'
                    })
                        p Студентам всех форм обучения, аспирантам, докторантам, профессорско-преподавательскому составу, научным работникам, сотрудникам университета Библиотечно-информационный центр предоставляет следующие услуги:

                        ul
                            li работа на компьютерах с выходом в Интернет и доступом к электронному каталогу БИЦ; информационным, реферативно-библиографическим и полнотекстовым ресурсам; базам данных научного цитирования, в том числе к ЭБС с учебной литературой;
                            li получение консультационной помощи в поиске и выборе произведений печати и других документов;
                            li получение из фонда БИЦ для временного пользования в читальных залах и на абонементах любых изданий, неопубликованных документов;
                            li продление срока пользования литературой в установленном порядке;
                            li выполнение библиографических справок;
                            li индексирование документов (УДК).

                        p Пользователям, не являющимся обучающимися и работниками университета, предоставляется бесплатный свободный доступ к фондам библиотеки (печатным и электронным изданиям) и другим ресурсам.  В целях обеспечения сохранности библиотечных фондов обслуживание осуществляется только в читальных залах. Также, читатели этой категории, имеют возможность посетить книжные выставки и мероприятия, организованные библиотечно-информационным центром.

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: '<h3>Пользователям</h3>'
                    })
                        p Библиотечный фонд формируется в соответствии с профилем Университета, действующими федеральными государственными образовательными стандартами высшего образования, тематикой научных исследований и информационными потребностями читателей.

                        p 
                            b Обеспеченность учебного и научного процессов университета электронными изданиями

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: '<h3>Электронный каталог и база ВКР</h3>'
                    })
                        p <b>Электронный каталог</b> <br>единый электронный каталог БИЦ

                        p <b>Электронная библиотека</b> <br><a href="https://online.mospolytech.ru/course/view.php?d=7621">https://online.mospolytech.ru/course/view.php?d=7621</a>

                        p 
                            b Электронная база выпускных квалификационных работ

                        p 
                            b ВНИМАНИЕ!

                        p Работы принимаются на электронном носителе в формате PDF на любой площадке БИЦ или по электронной почте library@khay.ru

                        p <a href="#"><b>Вход в электронную базу ВКР</b></a> <br><a href="#"><b>Вход для сотрудников БИЦ</b></a>

            +s-partners({
                type: 'er'
            })

            section
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: '<h2>Контактные данные</h2>'
                    })
                        p Библиотекарь: 
                            b Иванова Наталья Матвеевна, заслуженный работник культуры РФ
                        p Телефон: <a href="tel:+74951111111"><b>+7 (495) 111-11-11, доб. 42</b></a> <br>E-mail: <a href="mailto:library@khay.ru"><b>library@khay.ru</b></a>

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: '<h2>График работы</h2>'
                    })
                        p Понедельник – четверг: <b>с 10:00 до 20:00</b> <br>Пятница: <b>с 10:00 до 18:00</b> <br>Суббота, воскресенье – <b>выходные дни</b>
                        p Последняя пятница каждого месяца – 
                            b санитарный день


                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: '<h2>Документы</h2>'
                    })
                        .text-items-list
                            +link-block({
                                classes: 'white-bg',
                                text: 'Положение о БИЦ'
                            })
                            +link-block({
                                classes: 'white-bg',
                                text: 'История БИЦ'
                            })



