extends ../layouts/default

block variables
    - const title = "Карьерный центр"

block content
    .page
        .page-layout
            +page-intro({
                title: 'Карьерный центр',
                classes: "border-bottom white-bg",
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Студентам',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Карьерный центр',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })

            section.white-bg
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: '<h2>Содействие в построении успешной карьеры каждого студента и выпускника по выбранной специальности</h2>'
                    })
                        p Рассказываем про вакансии и стажировки
                        p   
                            b Записаться на консультацию
                            <br> по телефону: <a href="#"><b>+7 (990) 059 50 39</b></a>
                            <br> по почте: <a href="#"><b>crpk@khay.ru</b></a>
                        +btn({
                            name: "Записаться на консультацию",
                            cMode: "darkGreen"
                        })

            +s-vacancy({
                title: 'Вакансии <br>и стажировки',
                cards: [
                    {
                        tag: 'Трудоустройство',
                        title: 'Помощник руководителя',
                        salary: 'собеседование',
                        resp: 'проведение аудита бизнес-процессов на соответствие стратегическим целям и задачам, а так же текущей операционной деятельности, осуществление оперативного контроля функционирования',
                        employer: 'ООО РУСГАЗШЕЛЬФ'
                    },
                    {
                        tag: 'Стажировка',
                        title: 'Специалист группы контроля качества',
                        salary: '35 000р',
                        resp: 'адаптация по ситуации',
                        employer: 'ФБУН ЦНИИ Эпидемиологии Роспотребнадзора (Москва)'
                    },
                    {
                        tag: 'Трудоустройство',
                        title: 'Логист',
                        salary: '35 000р',
                        resp: 'перечень определится после первичного собедесования',
                        employer: 'ПАО Ростелеком'
                    },
                    {
                        tag: '',
                        title: 'Менеджер по бизнес-процессам',
                        salary: 'от 80 000р',
                        resp: 'проведение аудита бизнес-процессов на соответствие стратегическим целям и задачам, а так же текущей операционной деятельности, осуществление оперативного контроля функционирования системы бизнес-процессов и проведение необходимой коррекции для повышения эффективности и результативности бизнес-процессов.',
                        employer: ''
                    },

                ]
            })

            section.news-list
                .m-container
                    .news-list__header
                        h2.h2.news-list__title Обучающие материалы
                        +period-select
                    .news-list__items
                        +news-card({
                            classes: '',
                            img: 'img/news/news_19.webp',
                            title: 'Как составить резюме',
                            date: '04 сентября 2024',
                            desc: '<p>Все программы дают возможность существенно повысить уровень владения иностранным языком, а также формируют навыки общения в профессиональной среде.</p>'
                        })
                        +news-card({
                            classes: '',
                            img: 'img/news/news_20.webp',
                            title: 'Советы для самозанятых',
                            date: '16 октября 2024',
                            desc: '<p>Все программы дают возможность существенно повысить уровень владения иностранным языком, а также формируют навыки общения в профессиональной среде.</p>'
                        })
                        +news-card({
                            classes: '',
                            img: 'img/news/news_21.webp',
                            title: 'Как написать сопроводительное письмо',
                            date: '18 ноября 2024',
                            desc: '<p>Все программы дают возможность существенно повысить уровень владения иностранным языком, а также формируют навыки общения в профессиональной среде.</p>'
                        })
                        +news-card({
                            classes: '',
                            img: 'img/news/news_22.webp',
                            title: 'Как успешно пройти собеседование',
                            date: '26 декабря  2024',
                            desc: ''
                        })
                    +pagination({classes: 'news-list__pagination'})

            section
                .m-container
                    .a-card-list
                        +a-card({
                            img: 'img/smi/smi_card_1.webp',
                            title: 'Все события, вакансии и стажировки в&nbsp;сообществе Центра карьеры',
                            text: '',
                            cMode: 'green'

                        })
                            <div class="a-card__socials"><a class="a-card__social" href="#"><svg><use xlink:href="img/sprites/sprite.svg#telegram"></use></svg></a><a class="a-card__social" href="#"><svg><use xlink:href="img/sprites/sprite.svg#vk"></use></svg></a></div>
                        +a-card({
                            img: 'img/smi/smi_card_2.webp',
                            title: 'Контакты Центра карьеры',
                            text: 'Начальник центра: Иванова Дарья Сергеевна <br>E-mail: <a href="mailto:.s.ivanova@khay.ru">d.s.ivanova@khay.ru</a> <br>Телефон: <a href="tel:+74951111523">+7 (495) 111-15-23</a> <br>Адрес: г. Херсон, ул. Сретенская, д. 23'
                        })
                        +a-card({
                            img: 'img/smi/smi_card_3.webp',
                            title: 'Справочник профессий'
                        })

            +s-partners

            section.news-list
                .m-container
                    .news-list__header
                        h2.h2.news-list__title Новости
                        +period-select
                    .news-list__items
                        +news-card({
                            classes: '',
                            img: 'img/news/news_23.webp',
                            title: 'Представитель Wildberries рассказал, как студентам попасть в их команду и начать карьеру',
                            date: '04 сентября 2024',
                            desc: '<p>В рамках проекта юношей и девушек проинформировали о сущности терроризма, экстремизма, национализма и прочих проявлениях идеологии насилия.</p>'
                        })
                        +news-card({
                            classes: '',
                            img: 'img/news/news_24.webp',
                            title: 'Университет и Ozon заключили соглашение о сотрудничестве',
                            date: '16 октября 2024',
                            desc: '<p>Свои работы на конкурс прислали более 120 человек. Это школьники и студенты из разных стран мира: России, Китая, Белоруссии, Казахстана.</p>'
                        })
                        +news-card({
                            classes: '',
                            img: 'img/news/news_25.webp',
                            title: '«Карьерный марафон» возьмет старт в Аграрном университете',
                            date: '18 ноября 2024',
                            desc: '<p>Для студентов и сотрудников в смешанном формате состоится профилактическая встреча «Формирование в обществе нетерпимого отношения к экстремизму, неотвратимость наказания за совершение правонарушений и преступлений».</p>'
                        })
                        +news-card({
                            classes: '',
                            img: 'img/news/news_26.webp',
                            title: 'Более 85 компаний стали новыми партнерами Аграрного университета в 2023 году',
                            date: '26 декабря  2024',
                            desc: ''
                        })
                    +pagination({classes: 'news-list__pagination'})

            +quest-form({
                title: '<span>Записаться на&nbsp;консультацию</span> по&nbsp;вопросам карьеры',
                formText: '',
                type: 'сareer'
            })



