extends ../layouts/default

block variables
    - const title = "Информация о численности обучающихся"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Информация</span> <br>о численности <br>обучающихся',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Информация о численности обучающихся',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })
            .sidebar-layout__content
                +m-columns({
                    title: '<h2>Документы o численности обучающихся по реализуемым образовательным программам за счёт бюджетных ассигнований федерального бюджета, бюджетов субъектов Российской Федерации, местных бюджетов и по договорам об образовании за счёт средств физических и (или) юридических лиц</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Приказ по основной деятельности № 0987-ОД от 31.08.2023 О введении нормативных документов по организации образования'
                        })

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title.gost-section__title--sup!= '<h2>Информация о численности обучающихся по реализуемым образовательным программам, в том числе: об общей численности обучающихся; о численности обучающихся за счёт бюджетных ассигнований федерального бюджета (в том числе с выделением численности обучающихся, являющихся иностранными гражданами); о численности обучающихся за счёт бюджетных ассигнований бюджетов субъектов Российской Федерации (в том числе с выделением численности обучающихся, являющихся иностранными гражданами); о численности обучающихся за счёт бюджетных ассигнований местных бюджетов (в том числе с выделением численности обучающихся, являющихся иностранными гражданами); о численности обучающихся по договорам об образовании, заключаемых при приёме на обучение за счёт средств физического и (или) юридического лица (в том числе с выделением численности обучающихся, являющихся иностранными гражданами);<h2>'
                    .gost-section__title!= '<h2>Бакалавриат</h2>'
                    +info-tag
                    .m-table.m-table--columns(data-js="mTable")
                        <table>
                            <thead>
                            <tr>
                                <th rowspan="2">№</th>
                                <th rowspan="2">Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей</th>
                                <th rowspan="2">Наименование профессии, специальности, направления подготовки, наименование группы научных специальностей</th>
                                <th rowspan="2">Уровень образования</th>
                                <th rowspan="2">Форма обучения</th>
                                <th rowspan="2">Средняя сумма набранных баллов по всем вступительным испытаниям</th>
                                <th  class="_subtitle" colspan="4">Результаты приема обучающихся за&nbsp;счёт (количество человек)</th>
                            </tr>
                            <tr>
                                <th>по&nbsp;договорам об&nbsp;образовании за&nbsp;счёт средств физических и&nbsp;(или) юридических лиц</th>
                                <th>бюджетных ассигнований федерального бюджета</th>
                                <th>бюджетов субъектов Российской Федерации</th>
                                <th>местных бюджетов</th>
                            <tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td rowspan="3">1</td>
                                <td rowspan="3">01.03.02</td>
                                <td rowspan="3">Прикладная математика и информатика</td>
                                <td rowspan="3">Высшее образование - бакалавриат</td>
                                <td>Очная</td>
                                <td>78.50</td>
                                <td>0</td>
                                <td>31</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Заочная</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Очно-заочная</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td rowspan="3">2</td>
                                <td rowspan="3">08.03.01</td>
                                <td rowspan="3">Строительство</td>
                                <td rowspan="3">Высшее образование - бакалавриат</td>
                                <td>Очная</td>
                                <td>69.10</td>
                                <td>3</td>
                                <td>67</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Заочная</td>
                                <td>0.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Очно-заочная</td>
                                <td>0.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td rowspan="3">3</td>
                                <td rowspan="3">09.03.01</td>
                                <td rowspan="3">Информатика и вычислительная техника</td>
                                <td rowspan="3">Высшее образование - бакалавриат</td>
                                <td>Очная</td>
                                <td>81.00</td>
                                <td>131</td>
                                <td>265</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Заочная</td>
                                <td>87.34</td>
                                <td>56</td>
                                <td>34</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Очно-заочная</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td rowspan="3">4</td>
                                <td rowspan="3">09.03.02</td>
                                <td rowspan="3">Информационные системы и технологии</td>
                                <td rowspan="3">Высшее образование - бакалавриат</td>
                                <td>Очная</td>
                                <td>83.20</td>
                                <td>113</td>
                                <td>257</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Заочная</td>
                                <td>87.87</td>
                                <td>51</td>
                                <td>34</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Очно-заочная</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            </tbody>
                        </table>

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Магистратура</h2>'
                    +info-tag
                    .m-table.m-table--columns(data-js="mTable")
                        <table>
                            <thead>
                            <tr>
                                <th rowspan="2">№</th>
                                <th rowspan="2">Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей</th>
                                <th rowspan="2">Наименование профессии, специальности, направления подготовки, наименование группы научных специальностей</th>
                                <th rowspan="2">Уровень образования</th>
                                <th rowspan="2">Форма обучения</th>
                                <th rowspan="2">Средняя сумма набранных баллов по всем вступительным испытаниям</th>
                                <th  class="_subtitle" colspan="4">Результаты приема обучающихся за&nbsp;счёт (количество человек)</th>
                            </tr>
                            <tr>
                                <th>по&nbsp;договорам об&nbsp;образовании за&nbsp;счёт средств физических и&nbsp;(или) юридических лиц</th>
                                <th>бюджетных ассигнований федерального бюджета</th>
                                <th>бюджетов субъектов Российской Федерации</th>
                                <th>местных бюджетов</th>
                            <tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td rowspan="3">1</td>
                                <td rowspan="3">01.03.02</td>
                                <td rowspan="3">Прикладная математика и информатика</td>
                                <td rowspan="3">Высшее образование - магистратура</td>
                                <td>Очная</td>
                                <td>78.50</td>
                                <td>0</td>
                                <td>31</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Заочная</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Очно-заочная</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td rowspan="3">2</td>
                                <td rowspan="3">08.03.01</td>
                                <td rowspan="3">Строительство</td>
                                <td rowspan="3">Высшее образование - магистратура</td>
                                <td>Очная</td>
                                <td>69.10</td>
                                <td>3</td>
                                <td>67</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Заочная</td>
                                <td>0.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Очно-заочная</td>
                                <td>0.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td rowspan="3">3</td>
                                <td rowspan="3">09.03.01</td>
                                <td rowspan="3">Информатика и вычислительная техника</td>
                                <td rowspan="3">Высшее образование - магистратура</td>
                                <td>Очная</td>
                                <td>81.00</td>
                                <td>131</td>
                                <td>265</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Заочная</td>
                                <td>87.34</td>
                                <td>56</td>
                                <td>34</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Очно-заочная</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td rowspan="3">4</td>
                                <td rowspan="3">09.03.02</td>
                                <td rowspan="3">Информационные системы и технологии</td>
                                <td rowspan="3">Высшее образование - магистратура</td>
                                <td>Очная</td>
                                <td>83.20</td>
                                <td>113</td>
                                <td>257</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Заочная</td>
                                <td>87.87</td>
                                <td>51</td>
                                <td>34</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Очно-заочная</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            </tbody>
                        </table>

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Аспирантура</h2>'
                    +info-tag
                    .m-table.m-table--columns(data-js="mTable")
                        <table>
                            <thead>
                            <tr>
                                <th rowspan="2">№</th>
                                <th rowspan="2">Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей</th>
                                <th rowspan="2">Наименование профессии, специальности, направления подготовки, наименование группы научных специальностей</th>
                                <th rowspan="2">Уровень образования</th>
                                <th rowspan="2">Форма обучения</th>
                                <th rowspan="2">Средняя сумма набранных баллов по всем вступительным испытаниям</th>
                                <th  class="_subtitle" colspan="4">Результаты приема обучающихся за&nbsp;счёт (количество человек)</th>
                            </tr>
                            <tr>
                                <th>по&nbsp;договорам об&nbsp;образовании за&nbsp;счёт средств физических и&nbsp;(или) юридических лиц</th>
                                <th>бюджетных ассигнований федерального бюджета</th>
                                <th>бюджетов субъектов Российской Федерации</th>
                                <th>местных бюджетов</th>
                            <tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td rowspan="3">1</td>
                                <td rowspan="3">01.03.02</td>
                                <td rowspan="3">Прикладная математика и информатика</td>
                                <td rowspan="3">Высшее образование - аспирантура</td>
                                <td>Очная</td>
                                <td>78.50</td>
                                <td>0</td>
                                <td>31</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Заочная</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Очно-заочная</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td rowspan="3">2</td>
                                <td rowspan="3">08.03.01</td>
                                <td rowspan="3">Строительство</td>
                                <td rowspan="3">Высшее образование - аспирантура</td>
                                <td>Очная</td>
                                <td>69.10</td>
                                <td>3</td>
                                <td>67</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Заочная</td>
                                <td>0.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Очно-заочная</td>
                                <td>0.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td rowspan="3">3</td>
                                <td rowspan="3">09.03.01</td>
                                <td rowspan="3">Информатика и вычислительная техника</td>
                                <td rowspan="3">Высшее образование - аспирантура</td>
                                <td>Очная</td>
                                <td>81.00</td>
                                <td>131</td>
                                <td>265</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Заочная</td>
                                <td>87.34</td>
                                <td>56</td>
                                <td>34</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Очно-заочная</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td rowspan="3">4</td>
                                <td rowspan="3">09.03.02</td>
                                <td rowspan="3">Информационные системы и технологии</td>
                                <td rowspan="3">Высшее образование - аспирантура</td>
                                <td>Очная</td>
                                <td>83.20</td>
                                <td>113</td>
                                <td>257</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Заочная</td>
                                <td>87.87</td>
                                <td>51</td>
                                <td>34</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Очно-заочная</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            </tbody>
                        </table>            
