extends ../layouts/default

block variables
    - const title = "Информация о численности обучающихся"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Информация</span> <br>о численности <br>обучающихся',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Информация о численности обучающихся',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })
            .sidebar-layout__content
                +m-columns({
                    title: '<h2>Документы o численности обучающихся по реализуемым образовательным программам за счёт бюджетных ассигнований федерального бюджета, бюджетов субъектов Российской Федерации, местных бюджетов и по договорам об образовании за счёт средств физических и (или) юридических лиц</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Приказ по основной деятельности № 0987-ОД от 31.08.2023 О введении нормативных документов по организации образования'
                        })

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__text
                        p 
                            b Информация о численности обучающихся по реализуемым образовательным программам, в том числе: об общей численности обучающихся; о численности обучающихся за счёт бюджетных ассигнований федерального бюджета (в том числе с выделением численности обучающихся, являющихся иностранными гражданами); о численности обучающихся за счёт бюджетных ассигнований бюджетов субъектов Российской Федерации (в том числе с выделением численности обучающихся, являющихся иностранными гражданами); о численности обучающихся за счёт бюджетных ассигнований местных бюджетов (в том числе с выделением численности обучающихся, являющихся иностранными гражданами); о численности обучающихся по договорам об образовании, заключаемых при приёме на обучение за счёт средств физического и (или) юридического лица (в том числе с выделением численности обучающихся, являющихся иностранными гражданами);
                    .gost-section__title!= '<h2>Бакалавриат</h2>'
                    +info-tag
                    .m-table.m-table--columns
                        <table>
                            <thead>
                            <tr>
                                <th rowspan="3">№</th>
                                <th rowspan="3">Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей</th>
                                <th rowspan="3">Наименование профессии, специальности, направления подготовки наименование группы научных специальностей</th>
                                <th rowspan="3">Уровень образования</th>
                                <th rowspan="3">Форма обучения</th>
                                <th rowspan="3">Общая численность обучающихся</th>
                                <th class="_subtitle" colspan="8">Общая численность обучающихся</th>
                            </tr>
                            <tr>
                                <th  colspan="2">бюджетных ассигнований федерального бюджета</th>
                                <th  colspan="2">бюджетов субъектов Российской Федерации</th>
                                <th  colspan="2">Местных бюджетов</th>
                                <th  colspan="2">По договорам об оказании платных образовательных услуг</th>
                            </tr>
                            <tr>
                                <th>всего</th>
                                <th>из них численность обучающихся, являющихся иностранными гражданами</th>
                                <th>всего</th>
                                <th>из них численность обучающихся, являющихся иностранными гражданами</th>
                                <th>всего</th>
                                <th>из них численность обучающихся, являющихся иностранными гражданами</th>
                                <th>всего</th>
                                <th>из них численность обучающихся, являющихся иностранными гражданами</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>15.03.01</td>
                                <td>Менеджмент</td>
                                <td>Высшее образование бакалавриат</td>
                                <td>Очная <br><br>Заочная <br><br>Очно‑заочная</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>15.03.01</td>
                                <td>Менеджмент</td>
                                <td>Высшее образование бакалавриат</td>
                                <td>Очная <br><br>Заочная <br><br>Очно‑заочная</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>15.03.01</td>
                                <td>Менеджмент</td>
                                <td>Высшее образование бакалавриат</td>
                                <td>Очная <br><br>Заочная <br><br>Очно‑заочная</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            </tbody>
                        </table>

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Магистратура</h2>'
                    +info-tag
                    .m-table.m-table--columns
                        <table>
                            <thead>
                            <tr>
                                <th rowspan="3">№</th>
                                <th rowspan="3">Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей</th>
                                <th rowspan="3">Наименование профессии, специальности, направления подготовки наименование группы научных специальностей</th>
                                <th rowspan="3">Уровень образования</th>
                                <th rowspan="3">Форма обучения</th>
                                <th rowspan="3">Общая численность обучающихся</th>
                                <th class="_subtitle" colspan="8">Общая численность обучающихся</th>
                            </tr>
                            <tr>
                                <th  colspan="2">бюджетных ассигнований федерального бюджета</th>
                                <th  colspan="2">бюджетов субъектов Российской Федерации</th>
                                <th  colspan="2">Местных бюджетов</th>
                                <th  colspan="2">По договорам об оказании платных образовательных услуг</th>
                            </tr>
                            <tr>
                                <th>всего</th>
                                <th>из них численность обучающихся, являющихся иностранными гражданами</th>
                                <th>всего</th>
                                <th>из них численность обучающихся, являющихся иностранными гражданами</th>
                                <th>всего</th>
                                <th>из них численность обучающихся, являющихся иностранными гражданами</th>
                                <th>всего</th>
                                <th>из них численность обучающихся, являющихся иностранными гражданами</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>15.03.01</td>
                                <td>Менеджмент</td>
                                <td>Высшее образование бакалавриат</td>
                                <td>Очная <br><br>Заочная <br><br>Очно‑заочная</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>15.03.01</td>
                                <td>Менеджмент</td>
                                <td>Высшее образование бакалавриат</td>
                                <td>Очная <br><br>Заочная <br><br>Очно‑заочная</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>15.03.01</td>
                                <td>Менеджмент</td>
                                <td>Высшее образование бакалавриат</td>
                                <td>Очная <br><br>Заочная <br><br>Очно‑заочная</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            </tbody>
                        </table>

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Аспирантура</h2>'
                    +info-tag
                    .m-table.m-table--columns
                        <table>
                            <thead>
                            <tr>
                                <th rowspan="3">№</th>
                                <th rowspan="3">Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей</th>
                                <th rowspan="3">Наименование профессии, специальности, направления подготовки наименование группы научных специальностей</th>
                                <th rowspan="3">Уровень образования</th>
                                <th rowspan="3">Форма обучения</th>
                                <th rowspan="3">Общая численность обучающихся</th>
                                <th class="_subtitle" colspan="8">Общая численность обучающихся</th>
                            </tr>
                            <tr>
                                <th  colspan="2">бюджетных ассигнований федерального бюджета</th>
                                <th  colspan="2">бюджетов субъектов Российской Федерации</th>
                                <th  colspan="2">Местных бюджетов</th>
                                <th  colspan="2">По договорам об оказании платных образовательных услуг</th>
                            </tr>
                            <tr>
                                <th>всего</th>
                                <th>из них численность обучающихся, являющихся иностранными гражданами</th>
                                <th>всего</th>
                                <th>из них численность обучающихся, являющихся иностранными гражданами</th>
                                <th>всего</th>
                                <th>из них численность обучающихся, являющихся иностранными гражданами</th>
                                <th>всего</th>
                                <th>из них численность обучающихся, являющихся иностранными гражданами</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>15.03.01</td>
                                <td>Менеджмент</td>
                                <td>Высшее образование бакалавриат</td>
                                <td>Очная <br><br>Заочная <br><br>Очно‑заочная</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>15.03.01</td>
                                <td>Менеджмент</td>
                                <td>Высшее образование бакалавриат</td>
                                <td>Очная <br><br>Заочная <br><br>Очно‑заочная</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>15.03.01</td>
                                <td>Менеджмент</td>
                                <td>Высшее образование бакалавриат</td>
                                <td>Очная <br><br>Заочная <br><br>Очно‑заочная</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            </tbody>
                        </table>            
