extends ../layouts/default

block variables
    - const title = "Контакты"

block content
    .page
        .page-layout
            +c-map({
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Контакты',
                            link: 'javascript:void(0);'
                        }
                    ],  
                },
                title: `<div class="title  title--dark">
                    <div class="title__h1">
                        <h1>Контакты</h1>
                    </div>
                        </div>`,
                items: []
            })