extends ../layouts/default

block variables
    - const title = "Культурно-творческая деятельность"

block content
    .page
        .page-layout
            +page-intro({
                title: '<span>Культурно-творческая</span> <br>деятельность',
                classes: "white-bg",
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Студентам',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Культурно-творческая деятельность',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })

            section.projects-list
                .m-container
                    .a-card-list
                        +a-card({
                            img: 'img/smi/smi_card_1.webp',
                            title: 'Культурно-творческая деятельность',
                            text: 'Подготовка к сдаче ЕГЭ, ОГЭ и внутренних вступительных испытаний по информатике, математике, физике, русскому языку и обществознанию. Программы для школьников, студентов колледжей, граждан иностранных государств.',
                            cMode: 'green'
                        })
                        +a-card({
                            img: 'img/smi/smi_card_2.webp',
                            title: 'Общественная деятельность',
                            text: 'Инженерно-технологический комплекс, на базе которого проводятся углубленные технико-ориентированные курсы дополнительного образования для школьников. Целых 9 курсов по актуальным направлениям подготовки.'
                        })

            section.white-bg
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<img src="img/life/life_1.webp")><br><img src="img/life/life_2.webp")>`
                    })

                        h3 Возможности для культурно-творческой деятельности в университете
                        p При правильном подходе к обучению у тебя останется достаточно свободного времени. Помочь тебе интересно и с пользой провести его — наша основная задача. Будучи студентом, недостаточно просто посещать пары и сдавать сессии – ведь это только часть студенческой жизни! Особенно если есть столько возможностей для развития своего потенциала.
                        p Ты — активная и креативная личность? У тебя за плечами 10 лет бальных танцев и художественной школы или тебе хочется попробовать что-то впервые: участвовать в благотворительных акциях, петь на сцене или создавать театральные декорации?
                        p Творчество в университете начинается с ежегодного фестиваля «Первокурсник». Именно он помогает творчески подкованным студентам проявить свои сильные стороны, а начинающим – определиться с направлением, в котором хотели бы развиваться. Это то место, где можно собрать свою команду КВН или выиграть в номинации «Лучший актер», дебютировав на сцене. После закрытия фестиваля первокурсники продолжают свою творческую и социальную деятельность, выбрав коллектив по направлению.
                        p Дальше тебя ждут тренинги, редактуры, выезды в лагерь со своей командой, семинары, многочасовые репетиции, концерты и выступления.

            +media-slider({
                sectionClasses: "no-padding-bottom",
                isSection: true,
                fancyGroup: 'projectsActivities',
                slides: [
                    {
                        image: 'img/news/news_slide_9.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_10.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/life/life_7.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_4.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_5.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_6.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                ],
            })