extends ../layouts/default

block variables
    - const title = "Культурно-творческая деятельность"

block content
    .page
        .page-layout
            +page-intro({
                title: '<span>Культурно-творческая</span> <br>деятельность',
                classes: "white-bg",
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Студентам',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Культурно-творческая деятельность',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })

            section.white-bg
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: `<h2>Получить консультацию</h2>
                            <div class="text-items-list">
                                <div class="count-block  count-block--column">
                                <div class="count-block__desc">Телефон:</div>
                                <div class="h3 count-block__num"><a href="+79900595039">+7 (990) 059-50-39</a></div>
                                </div>
                            </div>`
                    })
                        ul
                            li 
                                b рассказываем о творческой деятельности
                            li 
                                b делимся воспоминаниями
                        +btn({
                            name: "Оставить заявку",
                            cMode: "darkGreen"
                        })

            section.projects-list
                .m-container
                    .a-card-list.a-card-list--duo
                        +a-card({
                            classes: 'a-card--short',
                            img: 'img/smi/smi_card_4.webp',
                            title: 'Спортивная деятельность',
                            text: 'Вам осталось только сделать правильный выбор среди более чем 40 спортивных секций и сборных команд.',
                            cMode: 'green'
                        })
                        +a-card({
                            classes: 'a-card--short',
                            img: 'img/smi/smi_card_4.webp',
                            title: 'Общественная деятельность',
                            text: 'Если вы неравнодушны к проблемам окружающих, то общественная деятельность как раз вам по плечу! Наша цель — дарить добро и помощь каждому!'
                        })

            section.white-bg
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: `<img src="img/life/life_1.webp")><br><img src="img/life/life_2.webp")>`
                    })

                        h2 Возможности для культурно-творческой деятельности в университете
                        p При правильном подходе к обучению у тебя останется достаточно свободного времени. Помочь тебе интересно и с пользой провести его — наша основная задача. Будучи студентом, недостаточно просто посещать пары и сдавать сессии – ведь это только часть студенческой жизни! Особенно если есть столько возможностей для развития своего потенциала.
                        p Ты — активная и креативная личность? У тебя за плечами 10 лет бальных танцев и художественной школы или тебе хочется попробовать что-то впервые: участвовать в благотворительных акциях, петь на сцене или создавать театральные декорации?
                        p Творчество в университете начинается с ежегодного фестиваля «Первокурсник». Именно он помогает творчески подкованным студентам проявить свои сильные стороны, а начинающим – определиться с направлением, в котором хотели бы развиваться. Это то место, где можно собрать свою команду КВН или выиграть в номинации «Лучший актер», дебютировав на сцене. После закрытия фестиваля первокурсники продолжают свою творческую и социальную деятельность, выбрав коллектив по направлению.
                        p Дальше тебя ждут тренинги, редактуры, выезды в лагерь со своей командой, семинары, многочасовые репетиции, концерты и выступления.

            section.white-bg
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: '<br><h2>Список кружков и секций</h2>',
                        noContent: true
                    })
                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<p>Локальные, без выездных мероприятий:</p>
                            <ul>
                                <li>Студия актёрского мастерства</li>
                                <li>Клуб интеллектуальных игр</li>
                                <li>Литературно –поэтический</li>
                            </ul>`
                    })
                        p С выездными мероприятиями:
                        ul
                            li Студия эстрадного танца
                            li Вектор времени
                            li Баскетбол
                            li Молодой кулинар
                            li Боевая слава
                            li КВН
                    +btn({
                        name: "Подробнее о студ жизни",
                        cMode: "green"
                    })

            +media-slider({
                sectionClasses: "no-padding-bottom",
                isSection: true,
                fancyGroup: 'projectsActivities',
                slides: [
                    {
                        image: 'img/news/news_slide_9.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_10.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/life/life_7.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_4.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_5.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_6.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                ],
            })