extends ../layouts/default

block variables
    - const title = "Сведения о доходах"

block content
    .page
        .page-layout
            +page-intro({
                classes: 'white-bg border-bottom',
                title: '<span>Сведения</span> о доходах',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Сведения о доходах',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })

            .m-container.white-bg
                +m-columns({
                    classes: 'm-columns--no-plpr no-border',
                    title: '<h3>Информация о рассчитываемой за календарный год среднемесячной заработной плате руководителей, их заместителей и главных бухгалтеров федеральных государственных учреждений и федеральных государственных унитарных предприятий, подведомственных Министерству науки и высшего образования Российской Федерации согласно приказа Министерства науки и высшего образования Российской Федерации от 25 апреля 2019 г. № 40н</h3>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Сведения о рассчитываемой за календарный год среднемесячной заработной плате руководителей, их заместителей и главных бухгалтеров за 2023 год'
                        })
                        +link-block({
                            classes: '',
                            text: 'Сведения о рассчитываемой за календарный год среднемесячной заработной плате руководителей, их заместителей и главных бухгалтеров за 2022 год'
                        }) 
                        +link-block({
                            classes: '',
                            text: 'Сведения о рассчитываемой за календарный год среднемесячной заработной плате руководителей, их заместителей и главных бухгалтеров за 2021 год'
                        })

                +m-columns({
                    classes: 'm-columns--no-plpr',
                    title: '<h3>Информация о среднемесячной заработной плате руководителей, их заместителей и главных бухгалтеров согласно постановлению Правительства РФ от 28 декабря 2016 года № 1521</h3>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Сведения о среднемесячной заработной плате руководителя, его заместителей, президента и главного бухгалтера за 2018 год'
                        })
                        +link-block({
                            classes: '',
                            text: 'Сведения о среднемесячной заработной плате руководителя, его заместителей, президента и главного бухгалтера за 2017 год'
                        })

                +m-columns({
                    classes: 'm-columns--no-plpr',
                    title: '<h3>Сведения о доходах, об имуществе и обязательствах имущественного характера руководителя и членов его семьи'
                })
                    +info-tag({
                        text: 'Дата заполнения: 05.2022 г.'
                    })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Сведения о доходах, об имуществе и обязательствах имущественного характера руководителя университета, а также о доходах, об имуществе и обязательствах имущественного характера его супруги (супруга), несовершеннолетних детей за период с 01 января 2021 г. по 31 декабря 2021 г.'
                        })
                    +info-tag({
                        text: 'Дата заполнения: 05.2021 г.'
                    })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Сведения о доходах, об имуществе и обязательствах имущественного характера руководителя университета, а также о доходах, об имуществе и обязательствах имущественного характера его супруги(супруга), несовершеннолетних детей за период с 01 января 2020 г. по 31 декабря 2020 г.'
                        })