extends ../layouts/default

block variables
    - const title = "Сведения о доходах"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Сведения</span> о доходах',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Сведения о доходах',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })
            .sidebar-layout__content
                +m-columns({
                    title: '<h2>Информация о рассчитываемой за календарный год среднемесячной заработной плате руководителей, их заместителей и главных бухгалтеров федеральных государственных учреждений и федеральных государственных унитарных предприятий, подведомственных Министерству науки и высшего образования Российской Федерации согласно приказа Министерства науки и высшего образования Российской Федерации от 25 апреля 2019 г. № 40н</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Сведения о рассчитываемой за календарный год среднемесячной заработной плате руководителей, их заместителей и главных бухгалтеров за 2023 год'
                        })
                        +link-block({
                            classes: '',
                            text: 'Сведения о рассчитываемой за календарный год среднемесячной заработной плате руководителей, их заместителей и главных бухгалтеров за 2022 год'
                        }) 
                        +link-block({
                            classes: '',
                            text: 'Сведения о рассчитываемой за календарный год среднемесячной заработной плате руководителей, их заместителей и главных бухгалтеров за 2021 год'
                        })

                +m-columns({
                    title: '<h2>Информация о среднемесячной заработной плате руководителей, их заместителей и главных бухгалтеров согласно постановлению Правительства РФ от 28 декабря 2016 года № 1521</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Сведения о среднемесячной заработной плате руководителя, его заместителей, президента и главного бухгалтера за 2018 год'
                        })
                        +link-block({
                            classes: '',
                            text: 'Сведения о среднемесячной заработной плате руководителя, его заместителей, президента и главного бухгалтера за 2017 год'
                        })

                +m-columns({
                    title: '<h2>Сведения о доходах, об имуществе и обязательствах имущественного характера руководителя и членов его семьи'
                })
                    +info-tag({
                        text: 'Дата заполнения: 05.2022 г.'
                    })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Сведения о рассчитываемой за календарный год среднемесячной заработной плате руководителей, их заместителей и главных бухгалтеров за 2023 год'
                        })
                    +info-tag({
                        text: 'Дата заполнения: 05.2021 г.'
                    })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Сведения о рассчитываемой за календарный год среднемесячной заработной плате руководителей, их заместителей и главных бухгалтеров за 2023 год'
                        })