extends ../layouts/default

block variables
    - const title = "Документы"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: 'Документы',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Документы',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })
                +info-tag({
                    classes: 'page-intro__tag'
                })
            .sidebar-layout__content
                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Общие документы</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Устав образовательной организации'
                        })
                        +link-block({
                            classes: '',
                            text: 'Свидетельство о государственной аккредитации (с приложениями) (при наличии)'
                        })
                        +link-block({
                            classes: '',
                            text: 'Правила внутреннего распорядка обучающихся'
                        })
                        +link-block({
                            classes: '',
                            text: 'Правила внутреннего трудового распорядка'
                        })
                        +link-block({
                            classes: '',
                            text: 'Правила внутреннего трудового распорядка'
                        })
                        +link-block({
                            classes: '',
                            text: 'Коллективный договор (при наличии)'
                        })
                        +link-block({
                            classes: '',
                            text: 'Локальные нормативные акты о внутренней системе оценки качества образовательной деятельности'
                        })
                        +link-block({
                            classes: '',
                            text: 'Отчёты о результатах самообследования'
                        })

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Локальные нормативные акты образовательной организации по основным вопросам организации и осуществления образовательной деятельности, в том числе регламентирующие:</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Правила приема обучающихся'
                        })
                        +link-block({
                            classes: '',
                            text: 'Режим занятий обучающихся'
                        })
                        +link-block({
                            classes: '',
                            text: 'Формы, периодичность и порядок текущего контроля успеваемости и промежуточной аттестации обучающихся'
                        })
                        +link-block({
                            classes: '',
                            text: 'Порядок и основания перевода, отчисления и восстановления обучающихся'
                        })
                        +link-block({
                            classes: '',
                            text: 'Порядок оформления возникновения, приостановления и прекращения отношений между образовательной организацией и обучающимися и (или) родителями (законными представителями) несовершеннолетних обучающихся'
                        })

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Локальные нормативные акты и иные документы, которые размещаются, опубликовываются по решению образовательной организации и (или) размещение, опубликование которых является обязательным в соответствии с законодательством Российской Федерации</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Положение о кадровой дисциплинарной комиссии'
                        })
                        +link-block({
                            classes: '',
                            text: 'Положение о порядке применения и снятия с обучающихся мер дисциплинарного взыскания'
                        })
                        +link-block({
                            classes: '',
                            text: 'Приказ «О порядке зачета результатов освоения обучающимися учебных дисциплин и практик при переводе, восстановлении, получении последующего образования» '
                        })
                        +link-block({
                            classes: '',
                            text: 'Об утверждении договора оферты по программам ДПО'
                        })
                        +link-block({
                            classes: '',
                            text: 'Положение о порядке актуализации электронных образовательных курсов'
                        })
                        +link-block({
                            classes: '',
                            text: 'Положение о комиссии по урегулированию споров между участниками образовательных отношений '
                        })
                        +link-block({
                            classes: '',
                            text: 'Порядок предоставления каникул обучающимся по основным профессиональным образовательным программам после прохождения итоговой аттестации'
                        })