extends ../layouts/default

block variables
    - const title = "Музей при университете"

block content
    .page
        .page-layout.page-layout--white
            +page-intro({
                title: '<span>Дополнительная</span><br> информация',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Поступающим',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Приемная комиссия',
                            link: 'javascript:void(0);'
                        }
                        ,
                        {
                            name: 'Дополнительная информация',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })
                br
                br
                +info-tag
                br
                br
                .m-columns.m-columns--no-plpr
                    .m-columns__header.text-editor
                        h2 Сведения о&nbsp;наличии оборудованных учебных кабинетов, объектов для&nbsp;проведения практических занятий
                    .m-columns__main.text-editor
                        .text-items-list
                            h2 2023
                            <div class="link-block  link-block--note link-block--download">
                                <div class="link-block__desc">Отчет приемной комиссии за 2023 год (бакалавриат, специалитет)</div><a class="link-block__link" href="javascript:void(0)" target="_blank"><span class="link-block__text">Скачать документ</span><span class="link-block__icon">
                                <svg>
                                <use xlink:href="img/sprites/sprite.svg#download"></use>
                                </svg></span></a>
                            </div>
                            <div class="link-block  link-block--note link-block--download">
                                <div class="link-block__desc">Отчет приемной комиссии за 2023 год (магистратура)</div><a class="link-block__link" href="javascript:void(0)" target="_blank"><span class="link-block__text">Скачать документ</span><span class="link-block__icon">
                                <svg>
                                <use xlink:href="img/sprites/sprite.svg#download"></use>
                                </svg></span></a>
                            </div>
                            <div class="link-block  link-block--note link-block--download">
                                <div class="link-block__desc">Отчет приемной комиссии за 2023 год (аспирантура)</div><a class="link-block__link" href="javascript:void(0)" target="_blank"><span class="link-block__text">Скачать документ</span><span class="link-block__icon">
                                <svg>
                                <use xlink:href="img/sprites/sprite.svg#download"></use>
                                </svg></span></a>
                            </div>
                            br
                            br
                            h2 2022
                            <div class="link-block  link-block--note link-block--download">
                            <div class="link-block__desc">Отчет приемной комиссии за 2022 год (бакалавриат, специалитет)</div><a class="link-block__link" href="javascript:void(0)" target="_blank"><span class="link-block__text">Скачать документ</span><span class="link-block__icon">
                            <svg>
                            <use xlink:href="img/sprites/sprite.svg#download"></use>
                            </svg></span></a>
                            </div>
                            <div class="link-block  link-block--note link-block--download">
                            <div class="link-block__desc">Отчет приемной комиссии за 2022 год (магистратура)</div><a class="link-block__link" href="javascript:void(0)" target="_blank"><span class="link-block__text">Скачать документ</span><span class="link-block__icon">
                            <svg>
                            <use xlink:href="img/sprites/sprite.svg#download"></use>
                            </svg></span></a>
                            </div>
                            <div class="link-block  link-block--note link-block--download">
                            <div class="link-block__desc">Отчет приемной комиссии за 2022 год (аспирантура)</div><a class="link-block__link" href="javascript:void(0)" target="_blank"><span class="link-block__text">Скачать документ</span><span class="link-block__icon">
                            <svg>
                            <use xlink:href="img/sprites/sprite.svg#download"></use>
                            </svg></span></a>
                            </div>


