extends ../layouts/default

block variables
    - const title = "Дополнительное образование"

block content
    .page
        .page-layout
            +page-intro({
                classes: 'white-bg border-bottom',
                title: '<span>Дополнительное </span><br> образование',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Дополнительное образование',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })
            .m-container.white-bg
                +m-columns({
                    classes: "m-columns--no-plpr no-border",
                    title: '<h2>Повышение квалификации и профессиональная переподготовка</h2><p><b>Информацию о ближайшем наборе, можно получить</b></p><p>по телефону:<br> <a href="tel:+79900595039"><b>+7 (990) 059 50 39</b></a></p><p>по почте:<br> <a href="mailto:crpk@khay.ru"><b>crpk@khay.ru</b></a></p>'
                })
                    ul
                        li в короткие сроки освойте базовые, профессиональные и личностные компетенции
                        li получите удостоверение о повышении квалификации,
                        li диплом о профессиональной переподготовке,
                        li свидетельство о профессии рабочего, должности служащего или сертификат об обучении
                    br
                    +btn({
                        name: 'Оставить заявку',
                        type: 'link',
                        cMode: 'darkGreen',
                        link: '#questionareForm'
                    })

                br
            .m-container.white-bg
                +m-columns({
                    classes: "m-columns--no-plpr no-border",
                    title: '<h2>О программах дополнительного профессионального образования</h2>',
                    noContent: true
                })
            .m-container.white-bg
                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<p>Университет ведет набор на программы профессиональной переподготовки и повышения квалификации в областях</p><ul>\n' +
                    '                      <li>промышленной, экологической и информационной безопасности,</li>\n' +
                    '                      <li>диагностики транспортных средств и безопасности дорожного движения,</li>\n' +
                    '                      <li>металлообработки,</li>\n' +
                    '                      <li>охраны труда,</li>\n' +
                    '                      <li>оценочной деятельности,</li>\n' +
                    '                      <li>экономики, управления,</li>\n' +
                    '                      <li>полиграфического производства,</li>\n' +
                    '                      <li>тары и упаковки,</li>\n' +
                    '                      <li>дизайна,</li>\n' +
                    '                      <li>цифровых технологий и программных продуктов,</li>\n' +
                    '                      <li>издательской, редакторской деятельности,</li>\n' +
                    '                      <li>рекламы, маркетинга и медиаиндустрии</li>\n' +
                    '                    </ul>'
                })
                    p <b>Программы повышения квалификации (до 250 часов)</b> позволяют слушателям получить актуальные знания и навыки, сформировать наиболее востребованные работодателями компетенции в рамках имеющейся у обучающегося квалификации. По итогам успешного прохождения итоговой аттестации слушатели получают удостоверение о повышении квалификации.

                    p <b>Программы профессиональной переподготовки (от 250 часов)</b> нацелены на получение новой квалификации (профессии). По итогам успешного прохождения итоговой аттестации слушатели программ профессиональной переподготовки получают диплом с присвоением квалификации.

                    p <b>Обучение по программам ДПО</b> возможно в очной, очно-заочной, заочной форме с применением дистанционных образовательных технологий.

                    p Наши преподаватели – ведущие специалисты отрасли, имеющие практический опыт работы, готовые поделиться своими лучшими кейсами и разрабатывать актуальные производственные задачи слушателей

                    p Корпоративным клиентам университет предлагает индивидуальные условия обучения, гибкую систему скидок и персонализированные образовательные программы. Подробную информацию можно уточнить у сотрудников Центра ДПО.

            section.news-list.news-list--section
                .m-container
                    .news-list__header
                        h2.h2.news-list__title Ближайшие курсы
                        +period-select
                    .news-list__items
                        +news-card({
                            classes: '',
                            img: 'img/news/news_18.webp',
                            title: 'Иностранные языки: английский, французский, немецкий — набор на обучение в 2024-2025',
                            date: '04 сентября 2024',
                            desc: '<p>Все программы дают возможность существенно повысить уровень владения иностранным языком, а также формируют навыки общения в профессиональной среде.</p>'
                        })
                        +news-card({
                            classes: '',
                            img: 'img/news/news_18.webp',
                            title: 'Иностранные языки: английский, французский, немецкий — набор на обучение в 2024-2025',
                            date: '16 октября 2024',
                            desc: '<p>Все программы дают возможность существенно повысить уровень владения иностранным языком, а также формируют навыки общения в профессиональной среде.</p>'
                        })
                        +news-card({
                            classes: '',
                            img: 'img/news/news_18.webp',
                            title: 'Иностранные языки: английский, французский, немецкий — набор на обучение в 2024-2025',
                            date: '18 ноября 2024',
                            desc: '<p>Все программы дают возможность существенно повысить уровень владения иностранным языком, а также формируют навыки общения в профессиональной среде.</p>'
                        })
                        +news-card({
                            classes: '',
                            img: 'img/news/news_18.webp',
                            title: 'Английский язык в IT',
                            date: '26 декабря  2024',
                            desc: ''
                        })
                    +pagination({classes: 'news-list__pagination'})

            section.programms-list(class='programms-list--cards' data-js="programmsList")
                br
                br
                .m-container
                    .programms-list__header
                        .h2.programms-list__title Программы курсов
                        +visual-toggle({
                            active: 'cards'
                        })(data-js="programmsListToggle")
                    .news-filter
                        ul.news-filter__group
                            .news-filter__subtitle Формат
                            ul.news-filter__list
                                li.news-filter__item(class="active") Все
                                li.news-filter__item Дистанционный
                                li.news-filter__item Очный
                                li.news-filter__item Заочный
                        ul.news-filter__group
                            .news-filter__subtitle Срок обучения
                            ul.news-filter__list
                                li.news-filter__item(class="active") Все
                                li.news-filter__item 96 ак.часов
                                li.news-filter__item 48 ак.часов
                                li.news-filter__item 28 ак.часов

                    .programms-list__list
                        +programm-card({
                            classes: '',
                            faculty: 'Финансовый учет и отчетность',
                            name: '«Бухгалтерский учёт, налогообложение и основы аудита (базовый уровень)»',
                            params: [
                                {
                                    name: 'Формат',
                                    value: 'Смешанный'
                                },
                                {
                                    name: 'Стоимость',
                                    value: '32.8 тыс. (2024)'
                                },
                                {
                                    name: 'Срок обучения:',
                                    value: '250 часов'
                                },
                                {
                                    name: 'Мест:',
                                    value: '26'
                                }
                            ],


                        })
                        +programm-card({
                            classes: '',
                            faculty: 'Градостроительство',
                            name: 'Охрана труда. Техносферная безопасность',
                            params: [
                                {
                                    name: 'Формат',
                                    value: 'Онлайн'
                                },
                                {
                                    name: 'Стоимость',
                                    value: '12.8 тыс. (2024)'
                                },
                                {
                                    name: 'Срок обучения:',
                                    value: '90 часов'
                                },
                                {
                                    name: 'Мест:',
                                    value: '6'
                                }
                            ],


                        })
                        +programm-card({
                            classes: '',
                            faculty: 'Градостроительство',
                            name: 'Охрана труда. Техносферная безопасность',
                            params: [
                                {
                                    name: 'Формат',
                                    value: 'Онлайн'
                                },
                                {
                                    name: 'Стоимость',
                                    value: '12.8 тыс. (2024)'
                                },
                                {
                                    name: 'Срок обучения:',
                                    value: '90 часов'
                                },
                                {
                                    name: 'Мест:',
                                    value: '6'
                                }
                            ],


                        })
                        +programm-card({
                            classes: '',
                            faculty: 'Стратегический менеджмент',
                            name: 'Контрактный менеджмент',
                            params: [
                                {
                                    name: 'Формат',
                                    value: 'Смешанный'
                                },
                                {
                                    name: 'Стоимость',
                                    value: '8 тыс. (2024)'
                                },
                                {
                                    name: 'Срок обучения:',
                                    value: '40 часов'
                                },
                                {
                                    name: 'Мест:',
                                    value: '6'
                                }
                            ],
                        })
                        +programm-card({
                            classes: '',
                            faculty: 'Право',
                            name: 'Право на английском / Legal English',
                            params: [
                                {
                                    name: 'Формат',
                                    value: 'Смешанный'
                                },
                                {
                                    name: 'Стоимость',
                                    value: '32.8 тыс. (2024)'
                                },
                                {
                                    name: 'Срок обучения:',
                                    value: '250 часов'
                                },
                                {
                                    name: 'Мест:',
                                    value: '26'
                                }
                            ],


                        })
                        +programm-card({
                            classes: '',
                            faculty: 'Управление персоналом/HR-менеджмент',
                            name: 'Руководитель службы мотивации и управления вознаграждением персонала ',
                            params: [
                                {
                                    name: 'Формат',
                                    value: 'Онлайн'
                                },
                                {
                                    name: 'Стоимость',
                                    value: '12.8 тыс. (2024)'
                                },
                                {
                                    name: 'Срок обучения:',
                                    value: '90 часов'
                                },
                                {
                                    name: 'Мест:',
                                    value: '6'
                                }
                            ],
                        })
                        +programm-card({
                            classes: '',
                            faculty: 'Психология, Право',
                            name: 'Медиация и психология личности в разрешении конфликтов',
                            params: [
                                {
                                    name: 'Формат',
                                    value: 'Онлайн'
                                },
                                {
                                    name: 'Стоимость',
                                    value: '12.8 тыс. (2024)'
                                },
                                {
                                    name: 'Срок обучения:',
                                    value: '90 часов'
                                },
                                {
                                    name: 'Мест:',
                                    value: '6'
                                }
                            ],
                        })
                        +programm-card({
                            classes: '',
                            faculty: 'Лингвистика',
                            name: 'Переводчик в сфере профессиональной коммуникации (английский язык)',
                            params: [
                                {
                                    name: 'Формат',
                                    value: 'Смешанный'
                                },
                                {
                                    name: 'Стоимость',
                                    value: '8 тыс. (2024)'
                                },
                                {
                                    name: 'Срок обучения:',
                                    value: '40 часов'
                                },
                                {
                                    name: 'Мест:',
                                    value: '6'
                                }
                            ],
                        })


                        +programm-card({
                            classes: '',
                            faculty: 'Право',
                            name: 'Право на английском / Legal English',
                            params: [
                                {
                                    name: 'Формат',
                                    value: 'Смешанный'
                                },
                                {
                                    name: 'Стоимость',
                                    value: '32.8 тыс. (2024)'
                                },
                                {
                                    name: 'Срок обучения:',
                                    value: '250 часов'
                                },
                                {
                                    name: 'Мест:',
                                    value: '26'
                                }
                            ],


                        })
                        +programm-card({
                            classes: '',
                            faculty: 'Управление персоналом/HR-менеджмент',
                            name: 'Руководитель службы мотивации и управления вознаграждением персонала ',
                            params: [
                                {
                                    name: 'Формат',
                                    value: 'Онлайн'
                                },
                                {
                                    name: 'Стоимость',
                                    value: '12.8 тыс. (2024)'
                                },
                                {
                                    name: 'Срок обучения:',
                                    value: '90 часов'
                                },
                                {
                                    name: 'Мест:',
                                    value: '6'
                                }
                            ],
                        })
                        +programm-card({
                            classes: '',
                            faculty: 'Психология, Право',
                            name: 'Медиация и психология личности в разрешении конфликтов',
                            params: [
                                {
                                    name: 'Формат',
                                    value: 'Онлайн'
                                },
                                {
                                    name: 'Стоимость',
                                    value: '12.8 тыс. (2024)'
                                },
                                {
                                    name: 'Срок обучения:',
                                    value: '90 часов'
                                },
                                {
                                    name: 'Мест:',
                                    value: '6'
                                }
                            ],
                        })
                        +programm-card({
                            classes: '',
                            faculty: 'Лингвистика',
                            name: 'Переводчик в сфере профессиональной коммуникации (английский язык)',
                            params: [
                                {
                                    name: 'Формат',
                                    value: 'Смешанный'
                                },
                                {
                                    name: 'Стоимость',
                                    value: '8 тыс. (2024)'
                                },
                                {
                                    name: 'Срок обучения:',
                                    value: '40 часов'
                                },
                                {
                                    name: 'Мест:',
                                    value: '6'
                                }
                            ],
                        })

                        +programm-card({
                            classes: '',
                            faculty: 'Право',
                            name: 'Право на английском / Legal English',
                            params: [
                                {
                                    name: 'Формат',
                                    value: 'Смешанный'
                                },
                                {
                                    name: 'Стоимость',
                                    value: '32.8 тыс. (2024)'
                                },
                                {
                                    name: 'Срок обучения:',
                                    value: '250 часов'
                                },
                                {
                                    name: 'Мест:',
                                    value: '26'
                                }
                            ],


                        })
                        +programm-card({
                            classes: '',
                            faculty: 'Управление персоналом/HR-менеджмент',
                            name: 'Руководитель службы мотивации и управления вознаграждением персонала ',
                            params: [
                                {
                                    name: 'Формат',
                                    value: 'Онлайн'
                                },
                                {
                                    name: 'Стоимость',
                                    value: '12.8 тыс. (2024)'
                                },
                                {
                                    name: 'Срок обучения:',
                                    value: '90 часов'
                                },
                                {
                                    name: 'Мест:',
                                    value: '6'
                                }
                            ],
                        })
                        +programm-card({
                            classes: '',
                            faculty: 'Психология, Право',
                            name: 'Медиация и психология личности в разрешении конфликтов',
                            params: [
                                {
                                    name: 'Формат',
                                    value: 'Онлайн'
                                },
                                {
                                    name: 'Стоимость',
                                    value: '12.8 тыс. (2024)'
                                },
                                {
                                    name: 'Срок обучения:',
                                    value: '90 часов'
                                },
                                {
                                    name: 'Мест:',
                                    value: '6'
                                }
                            ],
                        })
                        +programm-card({
                            classes: '',
                            faculty: 'Лингвистика',
                            name: 'Переводчик в сфере профессиональной коммуникации (английский язык)',
                            params: [
                                {
                                    name: 'Формат',
                                    value: 'Смешанный'
                                },
                                {
                                    name: 'Стоимость',
                                    value: '8 тыс. (2024)'
                                },
                                {
                                    name: 'Срок обучения:',
                                    value: '40 часов'
                                },
                                {
                                    name: 'Мест:',
                                    value: '6'
                                }
                            ],
                        })

                    +btn({
                        classes: 'programm-list__more',
                        name: 'Загрузить еще',
                        cMode: 'lightGreen',
                    })
            +quest-form({
                title: '<span>Анкета-заявка</span> на&nbsp;курсы дополнительного профессионального образования'
            })(id="questionareForm")