extends ../layouts/default

block variables
    - const title = "Доступная среда"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Доступная</span> среда',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Доступная среда',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })

            .sidebar-layout__content
                +m-columns({
                    title: '<h3>Наличие возможности оказания обучающимся психолого-педагогической, медицинской и социальной помощи</h3>'
                })
                    p 
                        b Предоставление психолого-педагогического консультирования обучающихся, их родителей (законных представителей), педагогических работников. Кабинет психолога.

                +m-columns({
                    title: '<h3>Наличие условий организации обучения и воспитания обучающихся с ограниченными возможностями здоровья и инвалидов</h3>'
                })
                    p 
                        b Предоставление услуг ассистента (помощника), оказывающего обучающимся необходимую техническую помощь

                +m-columns({
                    title: '<h3>Информация о наличии специальных технических средств обучения коллективного и индивидуального пользования</h3>'
                })
                    ul
                        li 
                            b Индукционная петля для обеспечения комфортных условий обучения для лиц с проблемами органов слуха
                        li 
                            b Коляска для лиц с нарушениями функций опорно-двигательного аппарата
                        li 
                            b Въездные пандусы
                        li 
                            b Кнопки вызова помощи (ассистента)

                +m-columns({
                    title: '<h3>Информация об обеспечении беспрепятственного доступа в здания образовательной организации</h3>'
                })
                    p
                        b Для лиц в ограниченными возможностями здоровья (ОВЗ) имеется:

                    ul    
                        li 
                            b доступ для маломобильных групп и колясочников (пандус) в фойе 1 этажа учебного корпуса ;
                        li 
                            b мужской туалет для маломобильных групп и колясочников, расположенный на 3 этаже ;
                        li 
                            b есть туалет для маломобильных групп и колясочников, а также доступ в учебные аудитории без с специального оборудования;
                        li 
                            b есть доступ на 1 этаж (пандус) и жилая комната 10;
                        li 
                            b на 1 этаже работает столовая (доступ для колясочников нет);
                        li 
                            b на 1 этаже имеется буфер в помещении 410, есть вендинговый аппарат, микроволновка (доступ для колясочников нет);
                        li 
                            b имеется беспрепятственный доступ в здания образовательной организации;
                        li 
                            b имеются условия для беспрепятственного доступа в общежития;
                        li 
                            b доступ для маломобильных групп и колясочников (пандус) 1 этаж учебного корпуса;
                        li 
                            b С/у для маломобильных групп и колясочников, расположенный на 1 этаже учебного корпуса;
                        li 
                            b ауд.211 для самостоятельной работы лиц с ОВЗ.

                +m-columns({
                    title: '<h3>Положение об организации обучения инвалидов и студентов с ограниченными возможностями</h3>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Положение об организации приема и обучения лиц с ограниченными возможностями здоровья и инвалидов'
                        })

                +m-columns({
                    title: '<h3>Информация о средствах обучения и воспитания, приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья</h3>'
                })
                    p 
                        b Доступ к Электронным образовательным ресурсам. Доступ к системе дистанционного обучения. Доступ к LMS и Электронной библиотеке

                +m-columns({
                    title: '<h3>Сведения о специальных условиях охраны здоровья</h3>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Медицинский пункт'
                        })
                        +link-block({
                            classes: '',
                            text: 'Служба психологической помощи'
                        })
                        .text-items-list__note Обеспечен беспрепятственный доступ в учебные корпуса и общежития студенческого городка

                +m-columns({
                    title: '<h3>Сведения о доступе к информационным системам и информационно-телекоммуникационным сетям, приспособленным для использования инвалидами и лицами с ограниченными возможностями здоровья</h3>'
                })
                    p 
                        b Доступ к Электронным образовательным ресурсам. Доступ к системе дистанционного обучения. Доступ к LMS и Электронной библиотеке

                +m-columns({
                    title: '<h3>Сведения о специально оборудованных учебных кабинетах и объектах для проведения практических занятий, приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья</h3>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Сведения о специально оборудованных учебных кабинетах, приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья'
                        })
                        +link-block({
                            classes: '',
                            text: 'Сведения об объектах для проведения практических занятий, приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья'
                        })

                +m-columns({
                    title: '<h3>Информация о библиотеке(ах), приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья</h3>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Положение о БИЦ'
                        })
                        +link-block({
                            classes: '',
                            text: 'Информация о библиотеках'
                        })

                +m-columns({
                    title: '<h3>Информация о специальных условиях питания</h3>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Столовая 1'
                        })
                        +link-block({
                            classes: '',
                            text: 'Помещение для приема пищи'
                        })

                +m-columns({
                    title: '<h3>Информация об объектах спорта, приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья</h3>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Спортивный зал №1'
                        })
                        +link-block({
                            classes: '',
                            text: 'Спорткомплекс'
                        })

                +m-columns({
                    title: '<h3>Информация об электронных образовательных ресурсах, к которым обеспечивается доступ инвалидов и лиц с ограниченными возможностями здоровья</h3>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Электронно-библиотечная система «Лань»',
                            vMode: 'table',
                            linkText: 'Перейти',
                            type: 'link',
                        })
                        +link-block({
                            classes: '',
                            text: 'Образовательная платформа «Юрайт»',
                            vMode: 'table',
                            linkText: 'Перейти',
                            type: 'link',
                        })
                        +link-block({
                            classes: '',
                            text: 'Электронно-библиотечная система IPR SMART',
                            vMode: 'table',
                            linkText: 'Перейти',
                            type: 'link',
                        })

                +m-columns({
                    title: '<h3>Информация о количестве жилых помещений в общежитии, интернате, приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья</h3><div class="info-tag">Актуальная дата проверки: 01.09.2024</div>'
                })
                    +m-table({
                        header: [
                            "№",
                            "Наименование показателя",
                            "Общежитий",
                            "Интернатов"
                        ],

                        rows: [
                            [
                                "1",
                                "Количество всего в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья",
                                "1",
                                "—",
                            ],
                            [
                                "2",
                                "Общая площадь (кв.м.)",
                                "123",
                                "—",
                            ],
                            [
                                "3",
                                "Жилая площадь (кв.м.)",
                                "123",
                                "—",
                            ],
                            [
                                "4",
                                "Количество мест: <br>всего в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья",
                                "123 <br><br>11",
                                "—",
                            ],
                            [
                                "5",
                                "Обеспеченность 100% мягкими и жестким инвентарем по установленным стандартным нормам",
                                "да",
                                "—",
                            ],
                            [
                                "6",
                                "Наличие питания (включая буфеты, столовые)",
                                "да",
                                "—",
                            ]
                        ]
                    })

                +m-columns({
                    title: '<h3>Информация о наличии условий для беспрепятственного доступа в общежития, интернаты</h3>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Правила внутреннего распорядка в студенческом городке'
                        })

                        .text-items-list__note Обеспечен беспрепятственный доступ в учебные корпуса и общежития студенческого городка

                +m-columns({
                    title: '<h3>Информация об особенностях проведения вступительных испытаний для инвалидов и лиц с ограниченными возможностями здоровья</h3>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Положение об организации приема и обучения лиц с ограниченными возможностями здоровья и инвалидов'
                        })

                +m-columns({
                    title: '<h3>Положение об организации приема и обучения лиц с ограниченными возможностями здоровья и инвалидов</h3>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Приказ по основной деятельности № 0122-ОД от 09.02.2023 О введении нормативных документов по организации образования (3073376 v4)'
                        })        
