extends ../layouts/default

block variables
    - const title = "Факультет"

block content
    .page
        .page-layout
            +i-intro({
                title: 'Факультет экономики и управления',
                img: 'img/faculties/faculty_intro.webp',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Факультеты',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Название факультета',
                            link: 'javascript:void(0);'
                        }
                    ],
                },
            })

            .m-container
                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<h2>Факультет экономики и управления (ФЭиУ) готовит специалистов в области экономики, управления и рекламы нового поколения, обладающих стратегическим мышлением, аналитическими навыками, практическими знаниями. Все образовательные программы факультета разрабатываются совместно с индустриальными партнёрами.</h2>'
                    })
                        p 
                            b Обучаясь на нашем факультете, вы не только получите теоретические знания, <br>прикладные навыки, приобретете управленческие компетенции, но и станете <br>обладателями незаурядных знаний, научитесь командной работе, <br>приобретете лидерские и организаторские качества.

            +faculty-programms

            .m-container.white-bg
                +m-columns({
                    classes: 'm-columns--no-plpr no-border',
                    title: '<h2>Структура факультета</h2>'
                })
                    .text-items-list
                        +count-block({
                            classes: 'count-block--reverse border-bottom',
                            text: 'зав. кафедрой к.э.н., доцент Елена Эдуардовна Аленина',
                            num: 'Кафедра «Менеджмент»',
                            vMode: 'column'
                        })
                        +count-block({
                            classes: 'count-block--reverse border-bottom',
                            text: 'зав. кафедрой к.э.н., доцент Юлия Олеговна Алтунина',
                            num: 'Кафедра «Реклама и связи с общественностью в медиаиндустрии»',
                            vMode: 'column'
                        })
                        +count-block({
                            classes: 'count-block--reverse border-bottom',
                            text: 'зав. кафедрой к.э.н., доцент Елена Эдуардовна Аленина',
                            num: 'Кафедра «Управление персоналом»',
                            vMode: 'column'
                        })
                        +count-block({
                            classes: 'count-block--reverse',
                            text: ' зав. кафедрой к.э.н., доцент Александр Владимирович Тенищев',
                            num: 'Кафедра «Экономика и организация»',
                            vMode: 'column'
                        })


                +m-columns({
                    classes: 'm-columns--no-plpr',
                    title: '<h2>Учёный совет</h2>'
                })
                    .text-items-list
                        +count-block({
                            classes: 'count-block--reverse border-bottom',
                            text: 'председатель ученого совета – декан факультета экономики и управления',
                            num: 'Иванов Антон Владимирович ',
                            vMode: 'column'
                        })
                        +count-block({
                            classes: 'count-block--reverse border-bottom',
                            text: 'председатель ученого совета – декан факультета экономики и управления',
                            num: 'Иванов Антон Владимирович ',
                            vMode: 'column'
                        })
                        +count-block({
                            classes: 'count-block--reverse border-bottom',
                            text: 'председатель ученого совета – декан факультета экономики и управления',
                            num: 'Иванов Антон Владимирович ',
                            vMode: 'column'
                        })
                        +count-block({
                            classes: 'count-block--reverse border-bottom',
                            text: 'председатель ученого совета – декан факультета экономики и управления',
                            num: 'Иванов Антон Владимирович ',
                            vMode: 'column'
                        })
                        +count-block({
                            classes: 'count-block--reverse border-bottom',
                            text: 'председатель ученого совета – декан факультета экономики и управления',
                            num: 'Иванов Антон Владимирович ',
                            vMode: 'column'
                        })
                        +count-block({
                            classes: 'count-block--reverse border-bottom',
                            text: 'председатель ученого совета – декан факультета экономики и управления',
                            num: 'Иванов Антон Владимирович ',
                            vMode: 'column'
                        })
                        +count-block({
                            classes: 'count-block--reverse border-bottom',
                            text: 'председатель ученого совета – декан факультета экономики и управления',
                            num: 'Иванов Антон Владимирович ',
                            vMode: 'column'
                        })
                        +count-block({
                            classes: 'count-block--reverse border-bottom',
                            text: 'председатель ученого совета – декан факультета экономики и управления',
                            num: 'Иванов Антон Владимирович ',
                            vMode: 'column'
                        })
                        +count-block({
                            classes: 'count-block--reverse border-bottom',
                            text: 'председатель ученого совета – декан факультета экономики и управления',
                            num: 'Иванов Антон Владимирович ',
                            vMode: 'column'
                        })
                        +count-block({
                            classes: 'count-block--reverse border-bottom',
                            text: 'председатель ученого совета – декан факультета экономики и управления',
                            num: 'Иванов Антон Владимирович ',
                            vMode: 'column'
                        })
                        +count-block({
                            classes: 'count-block--reverse border-bottom',
                            text: 'председатель ученого совета – декан факультета экономики и управления',
                            num: 'Иванов Антон Владимирович ',
                            vMode: 'column'
                        })
                        +count-block({
                            classes: 'count-block--reverse border-bottom',
                            text: 'председатель ученого совета – декан факультета экономики и управления',
                            num: 'Иванов Антон Владимирович ',
                            vMode: 'column'
                        })
                        +count-block({
                            classes: 'count-block--reverse border-bottom',
                            text: 'председатель ученого совета – декан факультета экономики и управления',
                            num: 'Иванов Антон Владимирович ',
                            vMode: 'column'
                        })
                        +count-block({
                            classes: 'count-block--reverse border-bottom',
                            text: 'председатель ученого совета – декан факультета экономики и управления',
                            num: 'Иванов Антон Владимирович ',
                            vMode: 'column'
                        })
                        +count-block({
                            classes: 'count-block--reverse',
                            text: 'председатель ученого совета – декан факультета экономики и управления',
                            num: 'Иванов Антон Владимирович ',
                            vMode: 'column'
                        })

                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<img src="img/programma-razvitia/1.webp")>'
                    })
                        h2 Что мы делаем?
                        p Мы даём только нужные знания и ничего лишнего. Точечная подготовка кадров под конкретные управленческие позиции по заказу отраслевых предприятий обеспечивает востребованность всех наших выпускников.
                        p Обучаясь у нас, вы не только получите теоретические знания, прикладные навыки, приобретёте управленческие компетенции, но и станете обладателями незаурядных знаний, научитесь командной работе, приобретете лидерские и организаторские качества. Часть занятий построена в формате игр и реальных кейсов. На чемпионатах по Управленческим боям студенты развивают soft skills, учатся аргументировать и отстаивать свою позицию, решать ситуационные задачи, в «Парламентском клубе» тренируют навыки публичных выступлений, а на Digital PRактике проводят маркетинговые исследования и создают рекламные проекты. В процессе обучения со студентами проводятся практикоориентированные занятия в управе и префектуре района, Московской Городской Думе, Государственной Думе РФ, Совете Федерации. Проводить мастер-классы приглашают представителей коммуникационных агентств. 
                        p Стажировку и практику наши студенты проходят в таких компаниях как Samsung, BMW, Газпром, Ростелеком, Сбербанк, Промсвязьбанк, МГТС, Мосгортранс, Мосавтосантранс, Минэкономразвития, Минпром, Минтранс, Министерстве науки и высшего образования РФ, аппарате Госдумы, Федеральном казначействе РФ, администрациях и управах районов Херсона.
                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<h2>Перспективные направления развития</h2>'
                    })
                        p Опираясь на перспективные направления развития профессиональной деятельности, такие как: форсайт-менеджер, модератор платформы общения с органами власти, менеджер распределенных сообществ, координатор программ развития местных сообществ, модератор личных профессиональных траекторий, бизнес-аналитик, специалист по логистике, финансист, диджитал и креатив стратегия; а также запросы работодателей, студенты факультета осваивают такие дисциплины, как архитектура бизнес-систем, тайм-менеджмент, прикладной форсайтинг, бизнес-планирование, стратегический менеджмент в инновационной деятельности, цифровая экономика, HR-аналитика, диджитал технологии, комплексный экономический анализ, оценка эффективности инноваций, компетентностный подход и профстандарты в управлении персоналом, перспективные рынки труда, цифровая экономика труда. Дисциплина HR-брендинг успешно переросла в разработку проекта для BMW.
                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<h2>Перспективные направления развития</h2>'
                    })
                        p Взаимодействие с индустриальными партнёрами ФЭиУ осуществляется как в процессе обучения (прохождение практик и проектной деятельности), так и после выпуска (трудоустройство).
                        p К числу наших основных партнёров можно отнести ПАО Сбербанк, ПАО ВТБ, государственные корпорации «РОСКОСМОС» и «РОСТЕХ», технопарки «Мосгормаш» и «Сапфир», Г, рекламные агентства: ООО "Рекламно-издательское агентство «Максим» и многие другие.
                        p Мы работаем с некоммерческими, корпоративными и общественными организациями. Студенты с лучшими результатами могут быть трудоустроены к нашим партнерам после окончания Университета.

            +faculty-advantages

            +faculty-video({
                title: 'Видеовизитка факультета'
            })

            +media-slider({
                isSection: true,
                fancyGroup: 'facultyDetailed',
                slides: [
                    {
                        image: 'img/news/news_slide_1.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_2.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_3.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                ],
            })

            +c-map()
                .h2.c-map__title Руководство и контакты
                .c-map__row.no-border
                    .c-map__block
                        .c-map__params
                            .c-map__param
                                .c-map__name Декан факультета:
                                .c-map__val Иванов Антон Владимирович, д.э.н., доцент
                            .c-map__param
                                .c-map__val Херсонская Область, г.о. Херсонский, г. Херсон, ул. Сретенская, д. 23
                            .c-map__param
                                .c-map__name Приемная:
                                .c-map__val Дронова Виктория Алексеевна, Волошина Мария Валерьевна
                            .c-map__param
                                .c-map__name Телефон:
                                .c-map__val <a href="tel:+74951111111">+7 (495) 111-11-11 доб. 33</a>

                    .c-map__block
                        .c-map__params
                            .c-map__param
                                .c-map__name Заместитель декана по учебной работе:
                                .c-map__val Иванова Нина Эдуардовна
                            .c-map__param
                                .c-map__val г. Херсон, ул. Сретенская, д. 23
                            .c-map__param
                                .c-map__name Телефон:
                                .c-map__val <a href="tel:+74951111111">+7 (495) 111-11-11 доб. 35</a>
                            .c-map__param
                                .c-map__name E-mail:
                                .c-map__val <a href="mailto:n.e.ivanova@khay.ru">n.e.ivanova@khay.ru</a>

                .c-map__row
                    .c-map__block(data-js="cMapPlacemark" data-coords="46.642528, 32.587303")
                        .c-map__params
                            .c-map__param
                                .c-map__name Деканат:
                                .c-map__val Петрова Анастасия Ильинична г.&nbsp;Херсон, ул.&nbsp;Сретенская, д.&nbsp;23
                            .c-map__param
                                .c-map__name Телефон:
                                .c-map__val <a href="tel:+74951111111">+7 (495) 111-11-11 доб. 46</a>
                            .c-map__param
                                .c-map__name E-mail:
                                .c-map__val <a href="mailto:fem@khay.ru"> fem@khay.ru</a>

                    .c-map__block
                        .c-map__params
                            .c-map__param
                                .c-map__name Заместитель декана по воспитательной и социальной работе:
                                .c-map__val Петрова Наталья Николаевна
                            .c-map__param
                                .c-map__val г. Херсон, ул. Сретенская, д. 23
                            .c-map__param
                                .c-map__name Телефон:
                                .c-map__val <a href="tel:+74951111111">+7 (495) 111-11-11 доб. 35</a>
                            .c-map__param
                                .c-map__name E-mail:
                                .c-map__val <a href="mailto:n.e.ivanova@khay.ru">n.e.ivanova@khay.ru</a>

                .c-map__row
                    .c-map__block(data-js="cMapPlacemark" data-coords="46.640548, 32.585375")
                        .c-map__params
                            .c-map__param
                                .c-map__name Адрес учебного корпуса
                                .c-map__val г. Херсон, ул. Сретенская, д. 23
                            .c-map__param
                                .c-map__name Проезд:
                                .c-map__val от станции метро «Херсон» (выход №4 и №5) на автобусах 378, 286 до ост. «Гимназия», далее пешком меньше 5 минут; <br><br>от станции метро «Херсон» (выход №1) на трамваях 11, 25 до ост. «Пл. Академика Люльки», далее пешком 8 минут; <br><br>от станции метро «Херсон» пройти до остановки на ул. Мытищинская 3-я пешком 6 минут, сесть на автобус 714 до ост. «Гимназия», далее пешком 3 минуты.
