extends ../layouts/default

block variables
    - const title = "Вопрос-ответ"

block content
    .page
        .page-layout
            +page-intro({
                title: 'Вопрос-ответ',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Вопрос-ответ',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })

            +m-questions