extends ../layouts/default

block variables
    - const title = "Финансово-хозяйственная деятельность"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Финансово-</span><br>хозяйственная <br>деятельность',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Финансово-хозяйственная деятельность',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })
            .sidebar-layout__content
                .gost-section.gost-section--bordered.text-editor
                    .gost-section__text
                        p 
                            b Ссылка на информацию, согласно ФЗ №83-ФЗ от 08.05.2010 «О внесении изменений в отдельные законодательные акты РФ в связи с совершенствованием правового положения государственных (муниципальных) учреждений», а также согласно приказу Министерства финансов РФ от 21.07.2011 № 86н «Об утверждении порядка предоставления информации государственным (муниципальным) учреждением, её размещения на официальном сайте в сети Интернет и ведения указанного сайта»
                    .text-items-list
                        +link-block({
                            classes: '',
                            type: 'link',
                            linkText: 'Перейти',
                            vMode: 'table',
                            text: 'Ссылка на страницу с официальной информацией об учреждении на ресурсе bus.gov.ru'
                        })

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title
                        h2 Документы 
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Поступление и расходование материальных, финансовых средств'
                        })
                        +link-block({
                            classes: '',
                            text: 'План финансово-хозяйственной деятельности образовательной организации, утвержденный в установленном законодательством Российской Федерации порядке, или бюджетные сметы образовательной организации'
                        })
                        +link-block({
                            classes: '',
                            text: 'Коллективный договор 2024-2027'
                        })
                        +link-block({
                            classes: '',
                            text: 'Учетная политика'
                        })
                        +link-block({
                            classes: '',
                            text: 'Государственное задание 2024'
                        })
                        +link-block({
                            classes: '',
                            text: 'Акт готовности университета'
                        })
