extends ../layouts/default

block variables
    - const title = "История университета"

block content
    .page
        .page-layout
            +history-intro({
                title: '<span>История</span> <br> университета',
                breadcrumbs: {
                cMode: 'light',
                items: [
                    {
                        name: 'Главная',
                        link: 'javascript:void(0);'
                    },
                    {
                        name: 'История университета',
                        link: 'javascript:void(0);'
                    }
                ],
            },

            }
            )
                p Херсонский  аграрный университет (ХАУ) — современное высшее учебное заведение IV уровня аккредитации, в котором учится свыше 3 тысяч студентов дневной, заочной и вечерней форм обучения, на 5 факультетах, по 29 специальностям, по степеням «Бакалавр», «Магистр» «Доктор наук».
                p В университете действуют инновационные системы обучения : дуальное образование, агроинтернатура, двойные дипломы. Высшее учебное заведение является активным участником из реализации научных отечественных и международных проектов и грантов.
                p На базе университета успешно функционируют инновационные образовательные проекты: Школа аграрного лидера, бизнес школа «Smart Junior», школа Экономики, школа кулинарного мастерства, биологическая школа, школа будущего инженера.
            +tabs-block({
                classes: "tabs-block--mini history-timeline",
                tabs: [
                    {
                        name: '1870-1979',
                    },
                    {
                        name: '1880-1989',
                    },
                    {
                        name: '1910-1919',
                    },
                    {
                        name: '1920-1929',
                    },
                    {
                        name: '1950-1959',
                    },
                    {
                        name: '1990-1999',
                    },
                    {
                        name: '2010-2019',
                    },
                    {
                        name: '2020-2024',
                    },
                ],
            }
            )
                .tabs-block__slide.tabs-block__slide--active(data-js="tabsBlockSlide")
                    +m-columns({
                        classes: "m-columns--history",
                        title: '<h2>1874</h2>'
                    })
                        img(src="img/history/history1.webp")
                        p 1 сентября 1874 года было открыто Херсонское земское сельско-хозяйственное училище III степени с трёхлетним, затем четырёхлетним сроком обучения (из решения губернского Земского Собрания Сессии 1872 г.). Училище было подчинено Министерству народного просвещения Российской Империи.
                .tabs-block__slide(data-js="tabsBlockSlide")
                    +m-columns({
                        classes: "m-columns--history",
                        title: '<h2>1883</h2>'
                    })
                        p Реорганизация училища в среднее учебное заведение II степени с шестилетним сроком обучения (согласно распоряжению российского императора Александра III и Постановления государственного совещания от 22.05.1882 г.). Училище было подведомственно Министерству государственного имущества Российской Империи (департамент земледелия и сельской промышленности).
                        p К началу XX века при училище были созданы сад и опытное поле.
                .tabs-block__slide(data-js="tabsBlockSlide") 
                    +m-columns({
                        classes: "m-columns--history",
                        title: '<h2>1918</h2>'
                    })
                        p В 1918 году Херсонское земледельческое училище было преобразовано в Херсонский сельскохозяйственный институт. Институт работал несколько месяцев.
                .tabs-block__slide(data-js="tabsBlockSlide")     
                    +m-columns({
                        classes: "m-columns--history",
                        title: '<h2>1920</h2>'
                    })
                        p Объединение Херсонского сельскохозяйственного училища с Политехническим институтом в сельскохозяйственный техникум со статусом вуза.
                    +m-columns({
                        classes: "m-columns--history",
                        title: '<h2>1928</h2>'
                    })
                        p В 1928 году сельскохозяйственный техникум был реорганизован в Херсонский сельскохозяйственный институт им. А. Д. Цюрупы.
                        p В ходе боевых действий Великой Отечественной войны и в период немецкой оккупации города (19 августа 1941 — 13 марта 1944) институт пострадал, но в дальнейшем был восстановлен и возобновил деятельность.
                .tabs-block__slide(data-js="tabsBlockSlide")
                    +m-columns({
                        classes: "m-columns--history",
                        title: '<h2>1956</h2>'
                    })
                        p В составе института действовали два факультета (агрономический и зоотехнический), аспирантура и учебно-опытное хозяйство.
                .tabs-block__slide(data-js="tabsBlockSlide")    
                    +m-columns({
                        classes: "m-columns--history",
                        title: '<h2>1995</h2>'
                    })
                        img(src="img/history/history2.webp")
                        p В марте 1995 года Верховная Рада Украины внесла институт и учебно-опытное хозяйство «Приозёрное» Херсонского СХИ в перечень объектов, которые не подлежат приватизации в связи с общегосударственным значением.
                    +m-columns({
                        classes: "m-columns--history",
                        title: '<h2>1998</h2>'
                    })
                        p 2 июня 1998 года Херсонский сельскохозяйственный институт был преобразован в Херсонский государственный аграрный университет.
                        p Согласно распоряжению Министерства аграрной политики Украины от 28.03.2005 г. № 17 университет получил полное название — Государственное высшее учебное заведение «Херсонский государственный аграрный университет».
                .tabs-block__slide(data-js="tabsBlockSlide")     
                    +m-columns({
                        classes: "m-columns--history",
                        title: '<h2>2015</h2>'
                    })
                        p 4 февраля 2015 года Кабинет министров Украины передал университет из сферы управления министерства аграрной политики и продовольствия Украины в ведение министерства образования и науки Украины.
                .tabs-block__slide(data-js="tabsBlockSlide")    
                    +m-columns({
                        classes: "m-columns--history",
                        title: '<h2>2020</h2>'
                    })
                        p В 2020 году официально переименован в Херсонский аграрный университет.

            .text-block-width-img.text-block-width-img--history
                .text-block-width-img__block
                    .m-columns
                        .m-columns__header.text-editor
                            img(src="img/history/history3.webp")
                        .m-columns__main.text-editor
                            h2 Перестройка под ноль
                            p Согласно распоряжению правительства РФ от 29 марта 2023 года, вузы из Донецкой и Луганской народных республик, Запорожской и Херсонской областей были приняты в федеральную собственность и отнесены к ведению федеральных властей.
                            p Программы российские и украинские существенно отличались, но за два-три года мы синхронизировались и к моменту присоединения [новых регионов в состав РФ] были полностью адаптированы.
                    .m-columns
                        .m-columns__header.text-editor
                            img(src="img/history/history4.webp")
                            img(src="img/history/history5.webp")
                        .m-columns__main.text-editor
                            h2 Дендропарк
                            p На территории, которую занимает сейчас  Аграрный университет, в XIX веке располагался сад «Отрада»

                            p Он занимал площадь около 2 гектаров. На территории сада были расположены аттракционы, летний театр, в котором выступали актёры из разных городов Украины.

                            p Отдыхали в саду состоятельные люди со всего города. Он был засажен разнообразными породами фруктовых и декоративных деревьев.

                            p После строительства сельскохозяйственного института парковая зона вокруг него расширялась, студенты старательно ухаживали за деревьями, высаживали новые породы.

                            p Парк развивался, и в 1964 году было решено оформить его. Дендропарк городского значения был обозначен в соответствии с распоряжением облсовета от 22.04.64 № 238, переутверждены решением облисполкома от 19.08.83 № 441/16, г. Херсон, Александровская пл., 2 (землевладелец — Херсонский аграрный университет).


