extends ../layouts/default

block variables
    - const title = "Иностранным  абитуриентам"

block content
    .page
        .page-layout
            +page-intro({
                title: '<span>Иностранным  </span><br> абитуриентам',
                classes: "white-bg border-bottom",
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Иностранным  абитуриентам',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })

            .m-container.white-bg
                +m-columns({
                    classes: "m-columns--no-plpr no-border",
                    title: '<h2>В университете учится много иностранных студентов</h2>'
                })
                    p Из этого раздела вы узнаете:

                    ul
                        li как происходит поступление иностранных граждан:
                        li какие документы нужны для поступления и куда их подавать
                        li что требуется для зачисления и заселения в общежитие а также всю контактную информацию
                    br
            .m-container.white-bg
                +m-columns({
                    classes: "m-columns--no-plpr no-border",
                    title: '<h2>Правила поступления <br>для иностранцев</h2>',
                    noContent: true
                })
            .m-container.white-bg

                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<p><b>При поступлении на программы бакалавриата, специалитета и магистратуры</b></p><p>иностранные абитуриенты предоставляют в Отдел по работе с иностранными обучающимися  следующие документы:</p>'
                })
                    p Иностранные абитуриенты предоставляют в Отдел по работе с иностранными обучающимися  следующие документы:
                    ul
                        li нотариально заверенная копия паспорта и нотариально заверенный перевод паспорта на русский язык;
                        li нотариально заверенная копия документов об образовании и нотариально заверенный перевод данных документов и приложения к нему на русский язык;
                        li наличие консульской легализации и апостиля на документах;
                        li нострификация (в случае отсутствия международных договоров между странами о взаимном признании);
                        li 4 фото 3×4.

                    p Посмотреть перечень направлений подготовок/специальностей, на которые университет производит прием иностранных граждан и лиц без гражданства можно в <b>Приложении 4.1 к Правилам приёма</b>.
            .m-container.white-bg
                +m-columns({
                    classes: "m-columns--no-plpr no-border",
                    title: '<h2>Поступление на дополнительную общеобразовательную программу подготовки иностранных граждан и лиц без гражданства к освоению профессиональных программ на русском языке</h2>',
                    noContent: true
                })

            .m-container.white-bg
                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<p><b>На момент подачи документов на приглашение:</b></p><ul><li>личное заявление (заполняется при подаче документов);</li><li>нотариально заверенная копия паспорта и нотариально заверенный перевод паспорта на русский язык</li><li>нотариально заверенный документ об образовании (копию и оригинал);оплаченная государственная пошлина (800 р.)</li></ul> </p><p>ВАЖНО! Документы (сканы) можно прислать по электронной почте. Приглашение может быть по желанию абитуриента выслано по электронной почте <b>urisa@khay.ru</b></p><br><br><p><b>Для заселения в общежитие:</b></p><ul><li>справка (на русском языке) об отсутствии ВИЧ-инфекции, выданная не ранее чем за 2 недели до даты подачи документов;</li><li>справка RW (на русском языке), выданная не ранее чем за 2 недели до даты подачи документов;</li><li>флюорография (на русском языке), действует не более 1 года;</li><li>6 фото 3×4.</li></ul>'
                })
                    p
                        b Для зачисления требуется:
                    ul
                        li оплаченный договор (для слушателей, обучающихся на платной основе);
                        li направление (для слушателей, обучающихся по квоте).

                    p
                        b Для оформления в медицинской службе:
                    ul
                        li медицинская справка 086/у;
                        li данные о проведенных прививках (против дифтерии, столбняка, кори, эпидемического паротита, краснухи, полиомелита, гепатита В). Могут быть оформлены в виде сертификата о прививках, выписки из медицинской карты (заверяется в медицинском учреждении) либо указываются в справке 086у.