extends ../layouts/default

block variables
    - const title = "Инвалидам и лицам с ОВЗ"

block content
    .page
        .page-layout
            +page-intro({
                title: '<span>Инвалидам  </span><br> и лицам с ОВЗ',
                classes: "white-bg border-bottom",
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Инвалидам и лицам с ОВЗ',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })
            .m-container.white-bg
                +m-columns({
                    classes: "m-columns--no-plpr no-border",
                    title: '<h2>В университете создана доступная среда</h2>'
                })
                    p Из этого раздела вы узнаете всю информацию для лиц <br>с инвалидностью и ограниченными возможностями здоровья<br><br>

            .m-container.white-bg
                +m-columns({
                    classes: "m-columns--no-plpr no-border",
                    title: '<h2>Информация для абитуриентов и студентов с инвалидностью и лиц с ограниченными возможностями здоровья</h2>',
                    noContent: true
                })


                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<p><b>В целях обеспечения выполнения показателей доступности высшего образования для инвалидов и лиц с ограниченными возможностями здоровья в университете проводятся следующие мероприятия:</b></p>'
                })
                    ul
                        li в период проведения приёмной кампании профориентирование абитуриентов из числа инвалидов и лиц с ОВЗ обеспечивается сотрудниками профориентационной зоны, в остальное время сотрудниками приёмной комиссии (ответственный — секретарь приёмной комиссии И.И. Иванов);

                        li при необходимости приём документов от абитуриентов-инвалидов и лиц с ОВЗ осуществляется в индивидуальном порядке на специально оборудованном рабочем месте с прикреплением ассистента (ответственный — секретарь приёмной комиссии И.И. Иванов);

                        li в университете работает персональная «горячая линия» для инвалидов и лиц с ОВЗ (тел. +7 (990) 059 50 39);

                        li приём документов от инвалидов на обучение в соответствии с их особыми образовательными потребностями осуществляют заместители ответственного секретаря приёмной комиссии;

                        li при входе в университет размещены специальные значки и указатели, информационные таблички с телефонами, и при необходимости, потребности абитуриента или студента инвалида предоставляется сопровождение волонтера (ответственные за сопровождение — Иванов Иван Иванович, Петров Петр Петрович);

                        li для инвалидов и лиц с ОВЗ полностью оборудован корпус по адресу:  Херсон, Сретенская улица, 23,;

                        li при проведении вступительных испытаний для поступающих из числа инвалидов и лиц с ОВЗ университет обеспечивает создание условий с учетом особенностей психофизического развития поступающих, их индивидуальных возможностей и состояния здоровья (подробнее в <b>правилах проведения вступительных испытаний для лиц с ограниченными возможностями здоровья</b>);

                        li в университете создана программа «Доступная среда», в которой предусмотрено развитие инклюзивного образования, оборудование учебных корпусов, специализированных учебных аудиторий, организация профессиональной ориентации инвалидов, волонтёрского движения в этом направлении.
                    br
                    br
            .m-container.white-bg
                +m-columns({
                    classes: "m-columns--no-plpr no-border",
                    title: '<h2>Возможности и условия для получения образования обучающимися с ограниченными возможностями</h2>',
                    noContent: true
                })

            .m-container.white-bg
                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<p><b>В университете созданы условия для получения образования студентами с ограниченными возможностями здоровья и студентами-инвалидами. Присутствует доступная среда, достаточная для обеспечения возможности беспрепятственного доступа студентов и работников с ограниченными возможностями здоровья в учебные корпуса по следующим адресам:  Скадовский район, п. Антоновка, ул. Студенческая, 1. В университете организован учет обучающихся с ограниченными возможностями здоровья и инвалидов.</b></p>'
                })
                    p Студенты-инвалиды и студенты с ограниченными возможностями здоровья, как и все остальные студенты, могут обучаться в установленные сроки. При необходимости, с учетом особенностей и образовательных потребностей конкретных обучающихся, разрабатываются индивидуальные учебные планы. По каждой дисциплине учебных планов образовательных программ разработаны методические документы, включающие методические рекомендации по самостоятельному освоению курсов. На основе индивидуализированного подхода организуется прохождение практики обучающихся-инвалидов и обучающихся с ограниченными возможностями здоровья.

                    p Особое внимание уделяется охране здоровья обучающимся из числа инвалидов и лиц с ограниченными возможностями здоровья. В учебном корпусе по адресу:  Скадовский район, п. Антоновка, ул. Студенческая, 1 работает медицинский кабинет, где оказывается необходимая первичная медико-санитарная помощь, производится периодичный осмотр обучающихся инвалидов и обучающихся с ограниченными возможностями. В университете работает консультативный пункт психологической помощи для всех обучающихся, со штатом в количестве 2 человек. Утверждена и действует программа об охране и укреплении здоровья обучающихся в университете.

                    p Библиотечно-информационный центр университета, представленный по адресам:  Скадовский район, п. Антоновка, ул. Студенческая, 1, осуществляет обслуживание обучающихся из числа инвалидов и лиц с ограниченными возможностями здоровья, а именно:
                    ul
                        li обеспечивает доступность к книжным фондам и электронным ресурсам библиотеки;

                        li принимает заказы на издания и другие документы (дистанционно);

                        li подбирает и доставляет литературу и другие документы к месту пребывания обучающихся в университете;

                        li оказывает помощь в работе с электронным и карточным каталогом;

                        li организует доступ (удаленный доступ) к электронным библиотечным системам (ЭБС) и другим электронным ресурсам.

                        li Все ЭБС снабжены версиями для слабовидящих. В ЭБС «Лань» интегрированы сервисы для незрячих студентов, которые позволяют эффективно работать с ЭБС. В мобильное приложение ЭБС «Лань» интегрирован синтезатор речи. Используя этот сервис, незрячие обучающиеся могут:

                        li осуществлять навигацию как по каталогу, так и в тексте книги;

                        li слушать озвученные книги на мобильном устройстве;

                        li регулировать скорость воспроизведения речи;

                        li осуществлять переход по предложениям, абзацам или главам книги.

                    p Для освоения дисциплины «Физическая культура» студентами-инвалидами предлагаются задания и специальный комплекс упражнений для самостоятельного физического совершенствования в соответствии с рабочей программой дисциплин. Для студентов с ограниченными возможностями здоровья проводятся занятия с доступной физической нагрузкой, учитывающей особенности каждого студента. Занятия проводятся в специально оборудованном спортивном зале по адресу:  Скадовский район, п. Антоновка, ул. Студенческая, 1.

                    p Работники приёмной комиссии университета работают с соблюдением законодательства в части приема абитуриентов-инвалидов и абитуриентов с ограниченными возможностями здоровья.

                    p Полностью оборудован объект студенческого городка — общежитие № 8 по адресу: Скадовский район, п. Антоновка, ул. Студенческая, 1 и является доступным для пользования инвалидами и лицами с ограниченными возможностями здоровья. Общежитие предусматривает 3 жилых помещения (57,6 кв.м) на 1-м этаже для проживания 7 инвалидов и лиц с ограниченными возможностями здоровья. Соответствие общежития для использования инвалидами и лицами с ограниченными возможностями здоровья подтверждено заключением Общественной инспекции по делам инвалидов в г. Херсон (Акт обследования объекта действующей инфраструктуры в г. Херсоне от 31.01.2024 № 1).

                    p В университете разработаны локальные нормативные документы, которые регламентируют процедуру организации образовательного процесса для инвалидов и лиц с ограниченными возможностями здоровья студентов с ограниченными возможностями здоровья.

                    p Подготовлены специализированные стоянки для автотранспорта лиц с ограниченными возможностями в соответствии с ГОСТ Р 52289 и ГОСТ Р 12.4.026 по следующим адресам:  Скадовский район, п. Антоновка, ул. Студенческая, 1 — 2 парковочных места. Размещены информационные таблички о наличии ситуационной помощи лицам с ограниченными возможностями выполненные в соответствии с требованиями ГОСТ Р 52875.

                    p Входы в вышеуказанные учебные корпуса университета оборудованы пандусами в соответствии с требованиями к доступности среды для маломобильных граждан СНиП 35.01.2001, СП 42.13330, ГОСТ Р 51261, ГОСТ Р 52875.

                    p С целью обеспечения принятия коллегиальных решений по вопросам организации образовательного процесса для инвалидов и лиц с ограниченными возможностями здоровья, определения основных направлений и координации работы по развитию инклюзивного образования в университете приказом ректора создана постоянно действующая комиссия.

                    p Для выполнения Требований к организации образовательного процесса для обучения инвалидов и лиц с ограниченными возможностями здоровья в институте утвержден План мероприятий по организации образовательного процесса для обучения инвалидов и лиц с ограниченными возможностями здоровья.
                    br