extends ../layouts/default

block variables
    - const title = "Таблица с заголовками слева"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: 'Таблица с заголовками слева',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Таблица с заголовками слева',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })
            .gost-section.gost-section--bordered
                +info-tag
                +m-table({
                    vMode: 'rows',
                    header: [
                        "№",
                        "Наименование показателя",
                        "Общежитий",
                        "Интернатов"
                    ],

                    rows: [
                        [
                            "1",
                            "Количество всего в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья",
                            "1",
                            "—",
                        ],
                        [
                            "2",
                            "Количество всего в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья",
                            "1",
                            "—",
                        ],
                        [
                            "3",
                            "Количество всего в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья",
                            "1",
                            "—",
                        ],
                        [
                            "4",
                            "Количество всего в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья",
                            "1",
                            "—",
                        ],
                    ]
                })
