extends ../layouts/default

block variables
    - const title = "Медицинский центр"

block content
    .page
        .page-layout
            +page-intro({
                title: '<span>Медицинский</span> центр',
                classes: "border-bottom white-bg",
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Студентам',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Медицинский центр',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })

            section.white-bg
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: `<h2>Оказание медицинской помощи всем студентам и&nbsp;работникам университета</h2>`
                    })
                        ul
                            li 
                                b первичная медицинская помощь при травмах и несчастных случаях;
                            li 
                                b первичная медицинская помощь при острых заболеваниях и обострении хронических заболеваний.

                        +btn({
                            name: 'Задать вопрос',
                            cMode: 'darkGreen'
                        })(data-modal="#questionModal")

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: '<h3>Контактные данные</h3>'
                    })
                        p Адрес: 
                            b 273003, Херсонская Область, г.о. Херсонский, г. Херсон, ул. Сретенская, д. 23
                            <br>График работы: 
                            b ПН-ПТ: с 9:00 до 17:00
                            <br>Медицинская сестра: 
                            b Иванова Елена Анатольевна
                            <br>Телефон: <a href="+79996130101"><b>+7 (999) 613-01-01</b></a>

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: '<h3>Служба психологической помощи</h3>'
                    })
                        .text-items-list
                            +link-block({
                                classes: '',
                                text: 'Служба психологической помощи',
                                type: 'link',
                                vMode: 'table',
                                linkText: 'Перейти'
                            })

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: '<h3>Документы</h3>'
                    })
                        .text-items-list
                            +link-block({
                                classes: '',
                                text: 'Выписка из реестра лицензий по состоянию на 16:47 06.06.2022 г.',
                            })
                            +link-block({
                                classes: '',
                                text: 'Медицинская лицензия № ФС-99-01-009577 от 18.10.2018',
                            })
                            +link-block({
                                classes: '',
                                text: 'Экспертное заключение № 77.15.08.М.000125.01.18 от 17.01.2018 О соответствии для осуществления медицинской деятельности',
                            })
                            +link-block({
                                classes: '',
                                text: 'Презентация для первокурсников',
                            })
                            +link-block({
                                classes: '',
                                text: 'ГРИПП: симптомы и профилактика',
                            })
                            +link-block({
                                classes: '',
                                text: 'Рекомендации по профилактике короновирусной инфекции COVID-19',
                            })
                            +link-block({
                                classes: '',
                                text: 'Санитарно-эпидемиологическое заключение № 77.15.16.000.М.000294.01.18 от 17 января 2018 г. О соответствии для осуществления медицинской деятельности',
                            })

            +media-slider({
                isSection: true,
                fancyGroup: 'medicalCenter',
                slides: [
                    {
                        image: 'img/news/news_slide_1.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_4.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_5.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_1.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_4.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_5.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                ],
            })

            section.white-bg 
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: '<br><br><h2>Студенческая поликлиника, территориальная для университета (обслуживание без выезда врача на дом)</h2>',
                        noContent: true
                    })

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<p><b>Медицинская помощь может быть оказана уже в день обращения, сразу после оформления заявления на прикрепление.</b></p>
                            <p>
                                Контактные данные
                                <br>Адрес: <b>273003, Херсонская Область, г.о. Херсонский, г. Херсон, ул. Сретенская, д. 23</b>
                                <br>Телефон: <a href="tel:+74951111111"><b>+7 (495) 111-11-11, доб. 42</b></a>
                                <br>E-mail: <a href="mailto:med-info@medkh.ru"><b>med-info@medkh.ru</b></a>
                            </p>
                            <p>
                                График работы
                                <br>Пн. – Пт.: <b>8:00—20:00</b> 
                                <br>Сб. – Вс.: <b>9:00—15:00</b>
                            </p>`
                    })
                        p Для прикрепления Вам потребуется обратиться к администратору со следующим комплектом документов:

                        ul
                            li <a href="#"><b>Заявление о прикреплении к поликлинике РГСУ;</b></a>
                            li <a href="#"><b>Информационное согласие;</b></a>
                            li Копию разворота и страницы с пропиской паспорта гражданина РФ;
                            li Копию страхового медицинского полиса ОМС;
                            li Копию СНИЛС (страховое свидетельство обязательного пенсионного страхования).

                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: '<br><br><h2>Амбулаторно-поликлиническое обслуживание студентов в возрасте до 18 лет</h2>',
                        noContent: true
                    })

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<p><b>Медицинское обслуживание обучающихся в возрасте до 18 лет осуществляется в детских поликлиниках г. Херсона по выбору после прикрепления на медицинское обслуживание.<b></p>`
                    })

                        p Для прикрепления к детской поликлинике необходимо:

                        ul
                            li В присутствие законного представителя обратиться любую страховую медицинскую организацию, осуществляющую деятельность на территории г. Херсона, для перерегистрации регионального полиса ОМС на херсонский (если имеется херсонский полис ОМС, обращаться не нужно);

                            li В присутствие законного представителя обратиться с паспортом и херсонским полисом ОМС в администрацию детской поликлиники по выбору для прикрепления на медицинское обслуживание.

                        p Детская поликлиника, территориальная для университета(без выезда врача на дом): <b>ГБУЗ «Детская городская поликлиника № 52 ДЗМ»</b>

                        <p>Контактные данные
                            <br>Адрес: <b>273003, Херсонская Область, г.о. Херсонский, г. Херсон, ул. Сретенская, д. 23</b>
                            <br>Телефон: <a href="tel:+74951111111"><b>+7 (495) 111-11-11, доб. 42</b></a>
                            <br>E-mail: <a href="mailto:med-info@medkh.ru"><b>med-info@medkh.ru</b></a>
                        </p>
                        <p>График работы
                            <br>Пн. – Пт.: <b>8:00—20:00</b> 
                            <br>Сб. – Вс.: <b>9:00—15:00</b>
                        </p>

                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: '<br><br><h2>Перерегистрация регионального полиса ОМС</h2>',
                        noContent: true
                    })

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<p><b>Застрахованное лицо может сменить страховую компанию 1 раз в год.</b></p>
                            <p>Для перерегистрации регионального полиса ОМС на херсонский следует обратиться в одну из страховых медицинских компаний, осуществляющих свою деятельность на территории г. Херсона.</p>`
                    })
                        p При обращении в страховую медицинскую компанию при себе следует иметь:

                        ul
                            li паспорт РФ;
                            li СНиЛС;
                            li полис ОМС;
                            li основание для перерегистрации полиса ОМС в г. Херсоне (студенческий билет/регистрацию на территории г. Херсона/справку с работы на территории г. Херсона и т.д.)

                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: '<br><br><h2>Медицинское обслуживание иностранных студентов</h2>',
                        noContent: true
                    })

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<p><b>Все иностранные студенты должны иметь медицинскую страховку, полис Добровольного медицинского страхования (полис ДМС) в течение всего периода пребывания на территории РФ. Полис ДМС приобретается иностранными студентами самостоятельно.</b></p><p>Если медицинская страховка закончила свое действие в период учебы, необходимо продлить страховку в страховой компании или обратиться в другую страховую компанию.</p>`
                    })

                        p Амбулаторно-поликлиническое обслуживание иностранных студентов осуществляется в медицинских учреждениях, указанных в 
                            b страховых полисах ДМС.

                        p Иностранные обучающиеся могут также получать медицинскую помощь в поликлиниках г. Херсона по собственному выбору через отделения 
                            b платных услуг.

                        p Услуги скорой и неотложной медицинской помощи иностранным гражданам оказываются 
                            b бесплатно.

                        p В целях обеспечения эпидемиологического благополучия региона все иностранные обучающиеся должны предоставить в медицинский пункт данные о прививках: сертификат о профилактических прививках (форма №156/у-93), справку о проведенных прививках или иную медицинскую документацию о проведенной ранее вакцинации на русском языке (нотариально заверенный <b>перевод на русский язык</b>).

                        p При заселении в общежитие иностранные обучающиеся, поступившие на 1 курс или заселяющиеся в общежитие первично, должны предоставить медицинскую справку (врачебное профессионально-консультативное заключение, <b>форма 086/у</b>) об отсутствии противопоказаний для проживания 
                            b в общежитии.

                        p Иностранные студенты, проживающие в общежитии, обязаны ежегодно в период обучения после летних каникул в срок до 01 октября предоставлять администрации общежития медицинскую справку (в произвольной форме) с обязательными отметками врача-терапевта или врача общей практики об отсутствии противопоказаний для проживания в общежитии и отметкой из кожно-венерологического диспансера и о прохождении флюорографии, а также анализы на ВИЧ и RW, при этом такая справка должна быть выдана 
                            b не ранее одного месяца до дня её предоставления.

                        p При наличии справки по форме 086/у, оформленной в текущем календарном году, <b>допуск к заселению в общежитие</b> может оформляться врачом-терапевтом медицинского пункта университета.

                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: '<br><br><h2>Экстренная и неотложная медицинская помощь</h2>',
                        noContent: true
                    })

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<p><b>Экстренная и неотложная медицинская помощь оказывается бесплатно, независимо от наличия полиса ОМС и места прикрепления на медицинское обслуживание.</b></p><p>Главный номер для вызова скорой медицинской помощи в Херсоне - <b>номер 103 (вызов с городского и мобильного телефона)</b></p>`
                    })
                        p Помимо этого, существует номер <b>112</b> — вызов с мобильных телефонов; работает при заблокированной SIM-карте, при отсутствии SIM-карты, а также при отсутствии денежных средств на счету телефона. Операторы отвечают как на русском, так и на английском языках.

                        p Можно вызвать дежурного врача из районной поликлиники по месту фактического пребывания больного, не зависимо от того, где он прописан и к какой поликлинике прикреплен, имеет больной страховой полис или нет - на дом врач придет в любом случае. 

                        p 
                            b Врача из поликлиники можно вызвать как в рабочий, так и в выходной, праздничный день.

                        p Повторный визит и дальнейшее лечение в этом случае осуществляется по месту прикрепления на медицинское обслуживание.

                        p При легкой травме, не сопряженной с угрозой жизни, можно обратиться самостоятельно в травмпункт по месту фактического пребывания пострадавшего: будет оказана помощь в полном объеме и назначено дальнейшее лечение. При необходимости может быть оформлено направление на стационарное лечение и вызвана бригада для транспортировки в стационар.

                        p На Станции скорой и неотложной медицинской помощи им. А.С. Пучкова работает ВРАЧЕБНО-КОНСУЛЬТАТИВНЫЙ ПУЛЬТ

                        p <b>Высококвалифицированные врачи круглосуточно</b> могут дать необходимые советы, подскажут, как облегчить состояние больного и стоит ли вызывать «скорую помощь».  Телефон <a href="tel:+74956204233"><b>+7 (495) 620-42-33.</b></a>

                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: '<br><br><h2>Вакцинация</h2>',
                        noContent: true
                    })

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<p><b>В целях обеспечения эпидемиологического благополучия все обучающиеся должны предоставить в медицинский пункт документ о прививках: сертификат о профилактических прививках (форма №156/у-93) или справку о проведенных прививках<b></p>`
                    })
                        p Вакцинация в соответствии с Национальным календарем профилактических прививок (согласно Приказу Министерства здравоохранения РФ от 21 марта 2014 г. N 125н «Об утверждении национального календаря профилактических прививок и календаря профилактических прививок по эпидемическим показаниям») проводится в медицинских организациях по месту прикрепления на медицинское обслуживание.

                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: '<br><br><h2>Амбулаторно-поликлиническое обслуживание студентов</h2>',
                        noContent: true
                    })

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<p><b>В соответствии <a href="">с Федеральным законом «Об обязательном медицинском страховании в Российской Федерации»</a></b></p><p>застрахованные лица имеют право на выбор медицинской организации из числа участвующих в реализации территориальной программы обязательного медицинского страхования. Обучающиеся университета могут прикрепиться на медицинское обслуживание к любой поликлинике в г. Херсон (по месту жительства, регистрации и др.), оказывающей услуги в системе ОМС.</p>`
                    })
                        p Право выбрать медицинскую организацию для прикрепления на медицинское обслуживание застрахованный может реализовать 
                            b не чаще 1 раза в год.

                        p При смене места жительства сменить медицинскую организацию можно независимо от давности прикрепления.

                        p Для прикрепления к поликлинике необходимо:

                        ul
                            li обратиться в любую страховую медицинскую организацию, осуществляющую деятельность на территории г. Москвы, для перерегистрации регионального полиса ОМС на московский (если имеется московский полис ОМС, обращаться не нужно);
                            li обратиться с паспортом и московским полисом ОМС в администрацию медицинского учреждения по выбору для прикрепления на медицинское обслуживание

            +m-questions({
                title: 'Вопрос-ответ'
            })