extends ../layouts/default

block variables
    - const title = "Международное сотрудничество"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Международное</span> <br>сотрудничество',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Международное сотрудничество',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })
            .sidebar-layout__content

                +m-columns({
                    title: '<h2>Сведения об интеграции российского образования с мировым образовательным пространством</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Численность иностранных обучающихся по основным и дополнительным образовательным программам'
                        })

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Информация о заключённых и планируемых к заключению договорах с иностранными и (или) международными организациями по вопросам образования и науки (при наличии)</h2>'

                    +info-tag

                    +m-table({
                        hasLinks: 'true',
                        header: [								
                            "№",
                            "Страна",
                            "Организация / Учреждение",
                            "Информация о документе",
                            ""
                        ],

                        rows: [
                            [
                                "1",
                                "Китай",
                                "Пекинский университет химических технологий",
                                "Меморандум о&nbsp;взаимопонимании <br>Дата:&nbsp;01.09.2024 <br>Срок действия: 5&nbsp;лет",
                                "Скачать документ (ссылка)",
                            ],
                            [
                                "2",
                                "Казахстан",
                                "Карагандинский технический университет им. Абылкаса Сагинова",
                                "Соглашение о&nbsp;сотрудничестве <br>Дата:&nbsp;01.09.2024 <br>Номер:&nbsp;01-09/2024МД <br>Срок действия: 5&nbsp;лет",
                                "Скачать документ (ссылка)",
                            ],
                            [
                                "3",
                                "Узбекистан",
                                "Ташкентский государственный университет узбекского языка и литературы им. Алишера Навои",
                                "Меморандум о&nbsp;взаимопонимании <br>Дата:&nbsp;01.09.2024 <br>Номер:&nbsp;311-09/2024МД <br>Срок действия: 5&nbsp;лет",
                                "Скачать документ (ссылка)",
                            ],
                            [
                                "4",
                                "Беларусь",
                                "Белорусский государственный технологический университет",
                                "Соглашение о&nbsp;сотрудничестве <br>Дата:&nbsp;01.09.2024 <br>Номер:&nbsp;01-09/2024 <br>Срок действия: 5&nbsp;лет",
                                "Скачать документ (ссылка)",
                            ],
                            [
                                "5",
                                "Таджикистан",
                                "Ташкентский государственный университет узбекского языка и литературы им. Алишера Навои",
                                "Соглашение о&nbsp;сотрудничестве <br>Дата:&nbsp;01.09.2024 <br>Номер:&nbsp;05/19 <br>Срок действия: 5&nbsp;лет",
                                "Скачать документ (ссылка)",
                            ],
                        ]
                    })

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Численность иностранных педагогических и научных работников</h2>'
                    p 
                        b Количество: 5