extends ../layouts/default

block variables
	- const title = "Материально-техническое обеспечение и оснащённость образовательного процесса"

block content
	.page
		+sidebar-layout
			+page-intro
			+tabs-block
				.tabs-block__slide.tabs-block__slide--active
					+m-columns
						+link-block({
							classes: 'link-block--text',
						})
						+link-block({
							classes: 'link-block--text',
							text: 'Служба психологической помощи'
						})
					+m-columns({
						title: 'Информация о библиотеке(ах)'
					})
						+link-block({
							classes: 'link-block--text',
							text: 'Положение о БИЦ'
						})

					//- тут таблица

					+m-columns({
						title: 'Сведения о средствах обучения и&nbsp;воспитания'
					})
						p 
							b В корпусах размещены аудитории, учебные и научные лаборатории, компьютерные классы, спортивные залы, читальные залы, научно-техническая библиотека с фондом около 2 млн. экземпляров, столовые и буфеты. Также во всех корпусах предоставляется высокоскоростной проводной доступ к сети интернет. Часть корпусов оборудована доступом к Wi-Fi-сети.

						p 
							b Все основные образовательные программы обеспечены лабораториями со специальным оборудованием в соответствии с профилями специальностей и направлений. Лабораторная база постоянно обновляется, закупается новое оборудование.

						p 
							b Образовательный процесс организован с учетом специфики, реализуемых основных образовательных программ в 25 учебно-лабораторных корпусах.

						p 
							b Для обеспечения проживания иногородних студентов университет располагает 10 благоустроенными, комфортабельными общежитиями.

						p 
							b Для отдыха и внеучебной деятельности студентов в университете достаточно разнообразная инфраструктура:

						ul
							li 
								b образовательный, культурный и спортивно-технический центр «Полет»;
							li 
								b дом отдыха «Сушнево-2»;
							li 
								b яхт-клуб.

					+m-columns({
						title: 'Приоритетными направлениями воспитательной работы и средствами воспитания в университете, в том числе приспособленными для использования инвалидами и лицами с ограниченными возможностями здоровья являются:'
					})
						ol 
							li Совершенствование системы воспитательной работы
							li Сохранение и преумножение историко-культурных традиций университета, преемственности, приобщение к университетскому духу, формирования чувства университетского корпоративизма
							li Создание условий для реализации и развития творческого потенциала студентов, в том числе инвалидов и лиц с ограниченными возможностями здоровья, удовлетворения их потребностей в интеллектуальном, культурном и нравственном развитии
							li Этическое воспитание студентов, ориентация на общечеловеческие ценности и высокие гуманистические идеалы
							li Обеспечение взаимосвязи воспитательного процесса с учебной и научной работой.
							li Формирование у студентов, в том числе инвалидов и лиц с ограниченными возможностями здоровья, гражданской позиции и патриотического сознания, правовой и политической культуры.
							li Обеспечение высокой культуры быта в студенческих общежитиях.
							li Социальная адаптация, укрепление и совершенствование физического здоровья, стремления к здоровому образу жизни, воспитание нетерпимого отношения к наркотикам, пьянству, антиобщественному поведению.

					//- тут таблица

					+m-columns({
						title: 'Сведения об условиях охраны здоровья обучающихся'
					})
						+link-block({
							classes: 'link-block--text',
							text: 'Медицинский пункт'
						})
						+link-block({
							classes: 'link-block--text',
							text: 'Служба психологической помощи'
						})

					+m-columns({
						title: 'Информация о наличии доступа к информационно-телекомму-никационной сети "Интернет"'
					})
						+link-block({
							classes: 'link-block--text',
							text: 'Дог. расходный № 1260_1859.ЕП_22 от 30.12.2022 с СВЯЗЬ АО Оказание услуг по идентификации пользователей wi-fi (3028066 v1)'
						})
						+link-block({
							classes: 'link-block--text',
							text: 'Подписанный договор Лот 1 Единственный поставщик (223-ФЗ) Закупка на услуги по предоставлению  доступа к сети (3036960 v1)'
						})

					+m-columns({
						title: 'Информация о наличии локального нормативного акта об электронной информационной образовательной среде'
					})
						+link-block({
							classes: 'link-block--text',
							text: 'Положение об электронной информационно-образовательной среде'
						})

					+m-columns({
						title: 'Информация о наличии доступа к электронному расписанию'
					})
						+link-block({
							classes: 'link-block--text',
							text: 'Личный кабинет',
							linkText: 'Перейти',
							vMode: 'table',
							icon: 'link'
						})
						+link-block({
							classes: 'link-block--text',
							text: 'Расписание занятий',
							linkText: 'Перейти',
							vMode: 'table',
							icon: 'link'
						})
						+link-block({
							classes: 'link-block--text',
							text: 'Расписание экзаменов и зачётов',
							linkText: 'Перейти',
							vMode: 'table',
							icon: 'link'
						})

					+m-columns({
						title: 'Информация о наличии доступа к учебным планам, рабочим программам дисциплин (модулей), программам практик, электронным учебным изданиям и электронным образовательным ресурсам, указанным в рабочих программах дисциплин (модулей), программах практик по каждой образовательной программе'
					})
						+link-block({
							classes: 'link-block--text',
							text: 'Доступ к учебным планам, рабочим программам дисциплин (модулей), программам практик, электронным учебным изданиям и электронным образовательным ресурсам, указанным в рабочих программах дисциплин (модулей), программах практик по каждой образовательной программе',
							linkText: 'Перейти',
							vMode: 'table',
							icon: 'link'
						})
						+link-block({
							classes: 'link-block--text',
							text: 'Доступ к системе дистанционного образования',
							linkText: 'Перейти',
							vMode: 'table',
							icon: 'link'
						})




