extends ../layouts/default

block variables
	- const title = "Материально-техническое обеспечение и оснащённость образовательного процесса"

block content
	.page
		+sidebar-layout
			+page-intro
			+tabs-block
				.tabs-block__slide.tabs-block__slide--active(data-js="tabsBlockSlide")
					+m-columns
						.text-items-list
							+link-block({
								classes: '',
							})
							+link-block({
								classes: '',
								text: 'Служба психологической помощи'
							})
					+m-columns({
						title: '<h2>Информация о библиотеке(ах)</h2>'
					})
						.text-items-list
							+link-block({
								classes: '',
								text: 'Положение о БИЦ'
							})

					.gost-section.gost-section--bordered.text-editor
						!= '<h2>Информация об объектах спорта</h2>'
						+info-tag
						+m-table({
							header: [								
								"№",
								"Наименование объекта",
								"Вид помещения",
								"Адрес местонахождения",
								"Общая площадь (кв.м.)"
							],

							rows: [
								[
									"1",
									"Спортивный зал №1",
									"Объект спорта",
									"Сретенская ул., 23, Херсон",
									"536,4"
								],
								[
									"2",
									"Спорткомплекс",
									"Объект спорта",
									"Сретенская ул., 23, Херсон",
									"437,3"
								]
							]
						})

					+m-columns({
						title: '<h2>Сведения о средствах обучения и&nbsp;воспитания</h2>'
					})
						p 
							b В корпусах размещены аудитории, учебные и научные лаборатории, компьютерные классы, спортивные залы, читальные залы, научно-техническая библиотека с фондом около 2 млн. экземпляров, столовые и буфеты. Также во всех корпусах предоставляется высокоскоростной проводной доступ к сети интернет. Часть корпусов оборудована доступом к Wi-Fi-сети.

						p 
							b Все основные образовательные программы обеспечены лабораториями со специальным оборудованием в соответствии с профилями специальностей и направлений. Лабораторная база постоянно обновляется, закупается новое оборудование.

						p 
							b Образовательный процесс организован с учетом специфики, реализуемых основных образовательных программ в 25 учебно-лабораторных корпусах.

						p 
							b Для обеспечения проживания иногородних студентов университет располагает 10 благоустроенными, комфортабельными общежитиями.

						p 
							b Для отдыха и внеучебной деятельности студентов в университете достаточно разнообразная инфраструктура:

						ul
							li 
								b образовательный, культурный и спортивно-технический центр «Полет»;
							li 
								b дом отдыха «Сушнево-2»;
							li 
								b яхт-клуб.

					+m-columns({
						title: '<h2>Приоритетными направлениями воспитательной работы и средствами воспитания в университете, в том числе приспособленными для использования инвалидами и лицами с ограниченными возможностями здоровья являются:</h2>'
					})
						ol 
							li Совершенствование системы воспитательной работы
							li Сохранение и преумножение историко-культурных традиций университета, преемственности, приобщение к университетскому духу, формирования чувства университетского корпоративизма
							li Создание условий для реализации и развития творческого потенциала студентов, в том числе инвалидов и лиц с ограниченными возможностями здоровья, удовлетворения их потребностей в интеллектуальном, культурном и нравственном развитии
							li Этическое воспитание студентов, ориентация на общечеловеческие ценности и высокие гуманистические идеалы
							li Обеспечение взаимосвязи воспитательного процесса с учебной и научной работой.
							li Формирование у студентов, в том числе инвалидов и лиц с ограниченными возможностями здоровья, гражданской позиции и патриотического сознания, правовой и политической культуры.
							li Обеспечение высокой культуры быта в студенческих общежитиях.
							li Социальная адаптация, укрепление и совершенствование физического здоровья, стремления к здоровому образу жизни, воспитание нетерпимого отношения к наркотикам, пьянству, антиобщественному поведению.

					.gost-section.gost-section--bordered.text-editor
						!= '<h2>Информация об условиях питания обучающихся</h2>'
						+info-tag
						+m-table()

					+m-columns({
						title: '<h2>Сведения об условиях охраны здоровья обучающихся</h2>'
					})
						.text-items-list
							+link-block({
								classes: '',
								text: 'Медицинский пункт'
							})
							+link-block({
								classes: '',
								text: 'Служба психологической помощи'
							})

					+m-columns({
						title: '<h2>Информация о наличии доступа к информационно-телекомму-никационной сети "Интернет"</h2>'
					})
						.text-items-list
							+link-block({
								classes: '',
								text: 'Дог. расходный № 1260_1859.ЕП_22 от 30.12.2022 с СВЯЗЬ АО Оказание услуг по идентификации пользователей wi-fi (3028066 v1)'
							})
							+link-block({
								classes: '',
								text: 'Подписанный договор Лот 1 Единственный поставщик (223-ФЗ) Закупка на услуги по предоставлению  доступа к сети (3036960 v1)'
							})

					+m-columns({
						title: '<h2>Информация о наличии локального нормативного акта об электронной информационной образовательной среде</h2>'
					})
						.text-items-list
							+link-block({
								classes: '',
								text: 'Положение об электронной информационно-образовательной среде'
							})

					+m-columns({
						title: '<h2>Информация о наличии доступа к электронному расписанию</h2>'
					})

						.text-items-list
							+link-block({
								classes: '',
								text: 'Личный кабинет',
								linkText: 'Перейти',
								vMode: 'table',
								type: 'link'
							})
							+link-block({
								classes: '',
								text: 'Расписание занятий',
								linkText: 'Перейти',
								vMode: 'table',
								type: 'link'
							})
							+link-block({
								classes: '',
								text: 'Расписание экзаменов и зачётов',
								linkText: 'Перейти',
								vMode: 'table',
								type: 'link'
							})

					+m-columns({
						title: '<h2>Информация о наличии доступа к учебным планам, рабочим программам дисциплин (модулей), программам практик, электронным учебным изданиям и электронным образовательным ресурсам, указанным в рабочих программах дисциплин (модулей), программах практик по каждой образовательной программе</h2>'
					})
						.text-items-list
							+link-block({
								classes: '',
								text: 'Доступ к учебным планам, рабочим программам дисциплин (модулей), программам практик, электронным учебным изданиям и электронным образовательным ресурсам, указанным в рабочих программах дисциплин (модулей), программах практик по каждой образовательной программе',
								linkText: 'Перейти',
								vMode: 'table',
								type: 'link'
							})
							+link-block({
								classes: '',
								text: 'Доступ к системе дистанционного образования',
								linkText: 'Перейти',
								vMode: 'table',
								type: 'link'
							})

					+m-columns({
						title: '<h2>Общее количество компьютеров и электронных образовательных и информационных ресурсов</h2>'
					})
						.text-items-list
							+count-block()
							+count-block({
								text: 'Общее количество ЭБС, к которым имеют доступ обучающиеся (собственных или на договорной основе)',
								num: '5'
							})
							+count-block({
								text: 'Наличие собственных электронных образовательных и информационных ресурсов',
								num: '4'
							})
							+count-block({
								text: 'Наличие сторонних электронных образовательных и информационных ресурсов',
								num: '3'
							})
							+count-block({
								text: 'Наличие базы данных электронного каталога (количество)',
								num: '1'
							})

					+m-columns({
						title: '<h2>Информационная обеспеченность</h2>'
					})
						.text-items-list
							+count-block({
								text: 'Обеспеченность преподавателей компьютерами',
								num: '820 ноутбуков выдано преподавателям',
								vMode: 'column'
							})
							+count-block({
								text: 'Общее кол-во компьютеров с выходом в интернет',
								num: '1500',
								vMode: 'column'
							})
							+count-block({
								text: 'Обеспеченность интерактивными досками',
								num: '314 интерактивных панелей размещено по учебным аудиториям',
								vMode: 'column'
							})
							+count-block({
								text: 'Обеспеченность мультимедийными проекторами',
								num: '40 штук',
								vMode: 'column'
							})
							+count-block({
								text: 'Обеспеченность учащихся компьютерами',
								num: '1500 персональных компьютеров',
								vMode: 'column'
							})


					+m-columns({
						title: '<h2>Информация о собственных электронных образовательных и информационных ресурсах</h2>'
					})
						.text-items-list
							+link-block({
								classes: '',
								text: 'Eдиный электронный каталог БИЦ',
								linkText: 'Перейти',
								vMode: 'table',
								type: 'link'
							})
							+link-block({
								classes: '',
								text: 'Электронная библиотека',
								linkText: 'Перейти',
								vMode: 'table',
								type: 'link'
							})
							+link-block({
								classes: '',
								text: 'Электронная база ВКР',
								linkText: 'Перейти',
								vMode: 'table',
								type: 'link'
							})
							+link-block({
								classes: '',
								text: 'Электронные образовательные ресурсы',
								linkText: 'Перейти',
								vMode: 'table',
								type: 'link'
							})

					+m-columns({
						title: '<h2>Информация о сторонних электронных образовательных и информационных ресурсах</h2>'
					})
						.text-items-list
							+link-block({
								classes: '',
								text: 'Электронно-библиотечная система «Лань»',
								linkText: 'Перейти',
								vMode: 'table',
								type: 'link'
							})
							+link-block({
								classes: '',
								text: 'Образовательная платформа «Юрайт»',
								linkText: 'Перейти',
								vMode: 'table',
								type: 'link'
							})
							+link-block({
								classes: '',
								text: 'Электронно-библиотечная система IPR SMART',
								linkText: 'Перейти',
								vMode: 'table',
								type: 'link'
							})
							+link-block({
								classes: '',
								text: 'Национальная электронная библиотека',
								linkText: 'Перейти',
								vMode: 'table',
								type: 'link'
							})
							+link-block({
								classes: '',
								text: 'Президентская библиотека им. Б.Н. Ельцина',
								linkText: 'Перейти',
								vMode: 'table',
								type: 'link'
							})
							+link-block({
								classes: '',
								text: 'Наличие базы данных электронного каталога (количество):',
								linkText: '1',
								vMode: 'table',
								type: 'link',
								noLink: true
							})

					+m-columns({
						title: '<h2>Перечень электронных ресурсов, к которым обеспечивается доступ обучающихся</h2>'
					})
						.text-items-list
							+link-block({
								classes: '',
								text: 'Электронно-библиотечная система «Лань»',
								linkText: 'Перейти',
								vMode: 'table',
								type: 'link'
							})
							+link-block({
								classes: '',
								text: 'Образовательная платформа «Юрайт»',
								linkText: 'Перейти',
								vMode: 'table',
								type: 'link'
							})
							+link-block({
								classes: '',
								text: 'Электронно-библиотечная система IPR SMART',
								linkText: 'Перейти',
								vMode: 'table',
								type: 'link'
							})
							+link-block({
								classes: '',
								text: 'Национальная электронная библиотека',
								linkText: 'Перейти',
								vMode: 'table',
								type: 'link'
							})
							+link-block({
								classes: '',
								text: 'Президентская библиотека им. Б.Н. Ельцина',
								linkText: 'Перейти',
								vMode: 'table',
								type: 'link'
							})

					+m-columns({
						title: '<h2>Количество изданных и принятых к публикации статей в изданиях, для публикации научных работ за отчётный период</h2>'
					})
						.text-items-list
							+count-block({
								text: 'Рекомендованных ВАК:',
								num: '148',
								vMode: 'column'
							})
							+count-block({
								text: 'Зарубежных:',
								num: '99',
								vMode: 'column'
							})

					+m-columns({
						title: '<h2>Количество патентов, полученных на разработки за последние 5 лет:</h2>'
					})
						.text-items-list
							+count-block({
								text: 'Российских: ',
								num: '104',
								vMode: 'column'
							})
							+count-block({
								text: 'Зарубежных:',
								num: '0',
								vMode: 'column'
							})

					+m-columns({
						title: '<h2>Количество свидетельств о регистрации объекта интеллектуальной собственности, выданных на разработки за отчётный период</h2>'
					})
						.text-items-list
							+count-block({
								text: 'Количество',
								num: '24',
								vMode: 'column'
							})

				.tabs-block__slide(data-js="tabsBlockSlide")
					+m-columns({
						title: '<h2>Условия для индивидуальной работы с обучающимися</h2>'
					})

						p 
							b Обеспечивается участие студентов в кружках, спортивных секциях, творческих коллективах 

						ul
							li 
								b Танцевальный коллектив  Dance Family
							li 
								b Профорганизация
							li 
								b Волонтёрский центр
							li 
								b Студенческое общественное объединение 
							li 
								b Объединённый совет обучающихся
							li 
								b Комитет по качеству образования
							li 
								b Студенчесĸий медиацентр
							li 
								b Мини-футбол (Мужская команда)
							li 
								b Мини-футбол (Женская команда)
							li 
								b Волейбол (общая команда) 
							li 
								b Баскетбол (мужская команда)
							li 
								b Баскетбол (женская команда)
							li 
								b Лакросс
							li 
								b Силовые виды спорта(Пауэрлифтинг, Стритлифтинг, Тяжёлая атлетика, Армреслинг), Атлетизм, Настольный теннис, ММА, Греплинг (борьба), Тхэквондо (WTF)

					+m-columns({
						title: '<h2>Психологическая помощь и профилактика</h2>'
					})
						p В 2023 году студенты первого курса в количестве 2500 человек прошли социально-психологическое тестирование на предмет выявления предрасположенности к незаконному потреблению наркотических веществ (СПТ).

						p По итогам СПТ психологи из числа сотрудников службы психологической помощи провели порядка 60 тренингов со студентами первого курса, в целях профилактики аддиктивного поведения.

						p Также ежегодно проводятся лекции по профилактике <b>аддиктивного поведения</b> в рамках адаптационных мероприятий для студентов первого курса.

						p 
							b Служба психологической помощи проводит консультации со студентами всех курсов по индивидуальным запросам.

						p 
							b В 2023 году СПТ прошли 2800 студентов первого курса, а также прослушали лекцию на тему "Портрет студента", включающую в себя правила поведения в студенческой среде.

						p 
							b Социально-психологическое тестирование на предмет раннего выявления незаконного потребления наркотических средств и психотропных веществ среди обучающихся в  университете проводилось в сентябре-октябре 2022 года. В тестирование приняли участие студенты 89 групп, в количестве 1571 студента.

						p 
							b По результатам тестирования со студентами, попавшими в "группу риска" с повышенной вероятностью вовлечения в зависимое поведение, проводилась профилактическая работа направленная на предотвращение условий, способствующих вовлечению студентов первого курса в зависимое поведение, в период с апреля по июнь 2023 года силами сотрудников службы психологической помощи.

					+m-columns({
						title: '<h2>Информация о&nbsp;конкурсах и&nbsp;олимпиадах в&nbsp;отчётном году (в&nbsp;том числе во&nbsp;всероссийских и&nbsp;международных), проводимых при&nbsp;участии организации</h2>',
						titlePosLeft: 'false',
						subtitle: 'Наличие возможности развития творческих способностей и интересов обучающихся, включая их участие в конкурсах и олимпиадах (в том числе во всероссийских и международных), выставках, смотрах, физкультурных мероприятиях, спортивных мероприятиях, в том числе в официальных спортивных соревнованиях, и других массовых мероприятиях'
					})
						.text-editor__columns
							.text-editor__column
								ul 
									li Студенческая научно-практическая конференция
									li Региональный этап Всероссийского конкурса "Студент года"
									li Всероссийский студенческий конкурс "Твой ход"
									li Всероссийская премия "Российская студенческая весна"
									li Смотр-конкурс "Фестиваль первокурсника"
									li Конкурс на лучшее профсоюзное бюро "Ты - лидер"
									li Конкурс "Студенческий лидер"
									li Конкурс на лучший студенческий совет общежития 
									li Конкурс на лучшего молодого преподавателя вуза 
									li Объединенная межвузовская математическая олимпиада
									li Всемирные зимние игры специальной олимпиады
									li Конкурс "Золотой голос"
									li Конкурс "Мистер и мисс"
									li Премия "ПИК" 
									li Куратор года
									li Волонтер года
									li Кубок ректора по волейболу
									li Осенний университетский кросс
									li Турнир по силовым видам спорта
									li Серия турниров по шахматам
									li Кубок по мини-футболу
									li Спартакиада 
									li Серия киберспортивных турниров

							.text-editor__column
								p Численность обучающихся, принявшие участие в отчётном году в различных олимпиадах, смотрах, конкурсах: <b>600</b>

								p Наличие в отчётном году, из числа обучающихся в образовательной организации, победителей конкурсов, смотров и др. на мероприятиях:

								ul
									li регионального уровня - <b>115</b>
									li всероссийского уровня - <b>87</b>
									li международного уровня - <b>37</b>

								p Численность обучающихся в образовательной организации, принявшие участие в спортивных олимпиадах, соревнованиях в отчётном году: <b>2200</b>

								p Наличие в отчётном году победителей спортивных олимпиад различного уровня: <b>163</b>

								p Проведение мероприятий по сдаче норм ГТО:

								ul
									li Первенство  по многоборью с выполнением тестов ГТО (сентябрь 2022)
									li Первенство  по многоборью с выполнением тестов ГТО (декабрь 2022)
									li Первенство  по многоборью с выполнением тестов ГТО (май 2023)



