extends ../layouts/default

block variables
    - const title = "Музей при университете"

block content
    .page
        +history-intro({
            title: '<span>Музей</span> <br>при университете',
            breadcrumbs: {
            cMode: 'light',
            items: [
                {
                    name: 'Главная',
                    link: 'javascript:void(0);'
                },
                {
                    name: 'Музей при университете',
                    link: 'javascript:void(0);'
                }
            ],
        },

        }
        )
            p Музей истории при аграрном университете повествует об основных вехах в истории развития высшего учебного заведения. Он будет интересен для всех, кто интересуется сельским хозяйством, потому что именно оно является сферой научного интереса всех, кто учится и преподает в вузе.
            p Роль университета исключительно велика и с каждым годом все более возрастает. Репрезентативная функция музейной экспозиции в этом смысле является лучшей иллюстрацией достижений вуза.
            p Для удобства восприятия огромного потока информации посетителями музея, вся история университета разделена на тематические комплексы, которые выстроены в хронологическом порядке.