extends ../layouts/default

block variables
    - const title = "Информация о направлениях и результатах научной (научно-исследовательской) деятельности и научно-исследовательской базе для ее осуществления"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Информация</span> о направлениях и результатах научной (научно-исследовательской) деятельности и научно-исследовательской базе для ее осуществления',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Информация о направлениях и результатах научной (научно-исследовательской) деятельности и научно-исследовательской базе для ее осуществления',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })

            .sidebar-layout__content
                .gost-section.gost-section--bordered.text-editor
                    +info-tag
                    +m-table({
                        header: [								
                            "№",
                            "Код, наименование профессии, специальности, направления подготовки, наименование группы научных специальностей",
                            "Уровень образования",
                            "Перечень научных направлений, в рамках которых ведется научная (научно-исследовательская) деятельность",
                            "Образовательная программа, направленность, профиль, шифр и наименование научной специальности"

                        ],

                        rows: [
                            [
                                "1",
                                "38.03.02 Менеджмент",
                                "Высшее образование бакалавриат",
                                "1. Исследование процессов устойчивого развития человеческого капитала высшей школы. <br>2. Исследование систем управления устойчивым инновационным развитием организаций в условиях цифровой трансформации. <br>3. Исследование и моделирование производственных систем и бизнес-процессов.",
                                "Управление бизнес-процессами (УБП)"
                            ],
                            [
                                "2",
                                "38.03.02 Менеджмент",
                                "Высшее образование бакалавриат",
                                "1. Исследование процессов устойчивого развития человеческого капитала высшей школы. <br>2. Исследование систем управления устойчивым инновационным развитием организаций в условиях цифровой трансформации. <br>3. Исследование и моделирование производственных систем и бизнес-процессов.",
                                "Управление организацией (УО)"
                            ],
                            [
                                "3",
                                "38.03.02 Менеджмент",
                                "Высшее образование бакалавриат",
                                "1. Исследование процессов устойчивого развития человеческого капитала высшей школы.",
                                "Управление организацией (УО)"
                            ],
                            [
                                "4",
                                "38.03.02 Менеджмент",
                                "Высшее образование бакалавриат",
                                "1. Исследование процессов устойчивого развития человеческого капитала высшей школы.",
                                "Управление организацией (УО)"
                            ]
                        ]
                    })
