extends ../layouts/default

block variables
    - const title = "Информация о направлениях и результатах научной (научно-исследовательской) деятельности и научно-исследовательской базе для ее осуществления"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Информация</span> о направлениях и результатах научной (научно-исследовательской) деятельности и научно-исследовательской базе для ее осуществления',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Информация о направлениях и результатах научной (научно-исследовательской) деятельности и научно-исследовательской базе для ее осуществления',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })

            .sidebar-layout__content
                .gost-section.gost-section--bordered.text-editor
                    +info-tag
                    +m-table({
                        header: [								
                            "№",
                            "Код, наименование профессии, специальности, направления подготовки, наименование группы научных специальностей",
                            "Уровень образования",
                            "Перечень научных направлений, в рамках которых ведется научная (научно-исследовательская) деятельность",
                            "Образовательная программа, направленность, профиль, шифр и наименование научной специальности",
                            "Результаты научной (научно-исследовательской) деятельности",
                            "Сведения о научно-исследовательской базе для осуществления научной (научно-исследовательской) деятельности"
                        ],

                        rows: [
                            [
                                "1",
                                "38.03.02 Менеджмент",
                                "Высшее образование бакалавриат",
                                "1. Исследование процессов устойчивого развития человеческого капитала высшей школы. <br>2. Исследование систем управления устойчивым инновационным развитием организаций в условиях цифровой трансформации. <br>3. Исследование и моделирование производственных систем и бизнес-процессов.",
                                "Управление бизнес-процессами (УБП)",
                                "Опубликованы статьи: <br>1. Bimorph deformable mirror with a high density of electrodes to correct for atmospheric distortions / V. Toporovskiy, A. Kudryashov, V. Samarkin [et al.]. - DOI 10.1364/AO.58.006019. - Текст : электронный // Applied Optics - 2019. - URL : https://opg.optica.org/ao/abstract.cfm?uri=ao-58-22-6019. <br>2. Study of the optimal reinforcing structure of the compressor wheel from composition material of the transport turbocharged engine / V .M. Fomin, D. V. Apelinskiy, A.N. Netrusov. - DOI 10.1088/1757-899X/534/1/012031. - Текст : электронный // IOP Conf. Series: Materials Science and Engineering. - 2019. - URL : https://iopscience.iop.org/article/10.1088/1757-899X/534/1/012031/meta. <br>Опубликованы научные результаты: <br>Способ предотвращения тепловых деформаций каркаса ротора дискового высокотемпературного вращающегося регенеративного подогревателя рабочего тела энергетической установки. Костюков А.В., Надарейшвили Г.Г., Карпухин К.Е., Туктакиев Г.С., Азаров К.О. Патент на изобретение.",
                                "Оборудование: <br>Динамометры постоянного тока <br>Измеритель крутящего момента Datum <br>Измеритель расхода топлива ТЕНЗО-М <br>Стенд для испытаний теплообменников; стенд для испытаний камеры сгорания; винтовой компрессор GBKM25|8 <br>Газоанализатор BoshBea 50 <br>Установка для электрохимического травления полупроводников <br>Установка для ультразвуковой приварки контактов (диаметр проволоки 30-80 мкм); <br>Набор оптических микроскопов ИНФРАМ-И, МИИ-4, МЕТАМ-1 <br>Атомно-силовой микроскоп FSM Nanoview 1000 с антивибрационной платформой TMC TableTop CSP, микротвердомеры <br>Транспортное средство - лаборатория для испытаний системы предиктивного управления. Стенды для лабораторных испытаний системы предиктивного управления <br>Универсальный стенд для испытаний комбинированных энергоустановок"
                            ],
                            [
                                "2",
                                "38.03.02 Менеджмент",
                                "Высшее образование бакалавриат",
                                "1. Исследование процессов устойчивого развития человеческого капитала высшей школы. <br>2. Исследование систем управления устойчивым инновационным развитием организаций в условиях цифровой трансформации. <br>3. Исследование и моделирование производственных систем и бизнес-процессов.",
                                "Управление организацией (УО)",
                                "Опубликованы статьи: <br>1. Bimorph deformable mirror with a high density of electrodes to correct for atmospheric distortions / V. Toporovskiy, A. Kudryashov, V. Samarkin [et al.]. - DOI 10.1364/AO.58.006019. - Текст : электронный // Applied Optics - 2019. - URL : https://opg.optica.org/ao/abstract.cfm?uri=ao-58-22-6019. <br>2. Study of the optimal reinforcing structure of the compressor wheel from composition material of the transport turbocharged engine / V .M. Fomin, D. V. Apelinskiy, A.N. Netrusov. - DOI 10.1088/1757-899X/534/1/012031. - Текст : электронный // IOP Conf. Series: Materials Science and Engineering. - 2019. - URL : https://iopscience.iop.org/article/10.1088/1757-899X/534/1/012031/meta. <br>Опубликованы научные результаты: <br>Способ предотвращения тепловых деформаций каркаса ротора дискового высокотемпературного вращающегося регенеративного подогревателя рабочего тела энергетической установки. Костюков А.В., Надарейшвили Г.Г., Карпухин К.Е., Туктакиев Г.С., Азаров К.О. Патент на изобретение.",
                                "Оборудование: <br>Динамометры постоянного тока <br>Измеритель крутящего момента Datum <br>Измеритель расхода топлива ТЕНЗО-М <br>Стенд для испытаний теплообменников; стенд для испытаний камеры сгорания; винтовой компрессор GBKM25|8 <br>Газоанализатор BoshBea 50 <br>Установка для электрохимического травления полупроводников <br>Установка для ультразвуковой приварки контактов (диаметр проволоки 30-80 мкм); <br>Набор оптических микроскопов ИНФРАМ-И, МИИ-4, МЕТАМ-1 <br>Атомно-силовой микроскоп FSM Nanoview 1000 с антивибрационной платформой TMC TableTop CSP, микротвердомеры <br>Транспортное средство - лаборатория для испытаний системы предиктивного управления. Стенды для лабораторных испытаний системы предиктивного управления <br>Универсальный стенд для испытаний комбинированных энергоустановок"
                            ],
                            [
                                "3",
                                "38.03.02 Менеджмент",
                                "Высшее образование бакалавриат",
                                "1. Исследование процессов устойчивого развития человеческого капитала высшей школы.",
                                "Управление организацией (УО)",
                                "Опубликованы статьи: <br>1. Bimorph deformable mirror with a high density of electrodes to correct for atmospheric distortions / V. Toporovskiy, A. Kudryashov, V. Samarkin [et al.]. - DOI 10.1364/AO.58.006019. - Текст : электронный // Applied Optics - 2019. - URL : https://opg.optica.org/ao/abstract.cfm?uri=ao-58-22-6019. <br>2. Study of the optimal reinforcing structure of the compressor wheel from composition material of the transport turbocharged engine / V .M. Fomin, D. V. Apelinskiy, A.N. Netrusov. - DOI 10.1088/1757-899X/534/1/012031. - Текст : электронный // IOP Conf. Series: Materials Science and Engineering. - 2019. - URL : https://iopscience.iop.org/article/10.1088/1757-899X/534/1/012031/meta. <br>Опубликованы научные результаты: <br>Способ предотвращения тепловых деформаций каркаса ротора дискового высокотемпературного вращающегося регенеративного подогревателя рабочего тела энергетической установки. Костюков А.В., Надарейшвили Г.Г., Карпухин К.Е., Туктакиев Г.С., Азаров К.О. Патент на изобретение.",
                                "Оборудование: <br>Динамометры постоянного тока <br>Измеритель крутящего момента Datum <br>Измеритель расхода топлива ТЕНЗО-М <br>Стенд для испытаний теплообменников; стенд для испытаний камеры сгорания; винтовой компрессор GBKM25|8 <br>Газоанализатор BoshBea 50 <br>Установка для электрохимического травления полупроводников <br>Установка для ультразвуковой приварки контактов (диаметр проволоки 30-80 мкм); <br>Набор оптических микроскопов ИНФРАМ-И, МИИ-4, МЕТАМ-1 <br>Атомно-силовой микроскоп FSM Nanoview 1000 с антивибрационной платформой TMC TableTop CSP, микротвердомеры <br>Транспортное средство - лаборатория для испытаний системы предиктивного управления. Стенды для лабораторных испытаний системы предиктивного управления <br>Универсальный стенд для испытаний комбинированных энергоустановок"
                            ],
                            [
                                "4",
                                "38.03.02 Менеджмент",
                                "Высшее образование бакалавриат",
                                "1. Исследование процессов устойчивого развития человеческого капитала высшей школы.",
                                "Управление организацией (УО)",
                                "Опубликованы статьи: <br>1. Bimorph deformable mirror with a high density of electrodes to correct for atmospheric distortions / V. Toporovskiy, A. Kudryashov, V. Samarkin [et al.]. - DOI 10.1364/AO.58.006019. - Текст : электронный // Applied Optics - 2019. - URL : https://opg.optica.org/ao/abstract.cfm?uri=ao-58-22-6019. <br>2. Study of the optimal reinforcing structure of the compressor wheel from composition material of the transport turbocharged engine / V .M. Fomin, D. V. Apelinskiy, A.N. Netrusov. - DOI 10.1088/1757-899X/534/1/012031. - Текст : электронный // IOP Conf. Series: Materials Science and Engineering. - 2019. - URL : https://iopscience.iop.org/article/10.1088/1757-899X/534/1/012031/meta. <br>Опубликованы научные результаты: <br>Способ предотвращения тепловых деформаций каркаса ротора дискового высокотемпературного вращающегося регенеративного подогревателя рабочего тела энергетической установки. Костюков А.В., Надарейшвили Г.Г., Карпухин К.Е., Туктакиев Г.С., Азаров К.О. Патент на изобретение.",
                                "Оборудование: <br>Динамометры постоянного тока <br>Измеритель крутящего момента Datum <br>Измеритель расхода топлива ТЕНЗО-М <br>Стенд для испытаний теплообменников; стенд для испытаний камеры сгорания; винтовой компрессор GBKM25|8 <br>Газоанализатор BoshBea 50 <br>Установка для электрохимического травления полупроводников <br>Установка для ультразвуковой приварки контактов (диаметр проволоки 30-80 мкм); <br>Набор оптических микроскопов ИНФРАМ-И, МИИ-4, МЕТАМ-1 <br>Атомно-силовой микроскоп FSM Nanoview 1000 с антивибрационной платформой TMC TableTop CSP, микротвердомеры <br>Транспортное средство - лаборатория для испытаний системы предиктивного управления. Стенды для лабораторных испытаний системы предиктивного управления <br>Универсальный стенд для испытаний комбинированных энергоустановок"
                            ]
                        ]
                    })
