extends ../layouts/default

block variables
    - const title = "В университете пройдет презентация Всероссийского проекта «Твой ход»"

block content
    .page
        .page-layout
            +i-intro({
                title: 'В университете пройдет презентация Всероссийского проекта «Твой ход»',
                img: 'img/news/news_detailed_intro.webp',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Новости',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Название новости',
                            link: 'javascript:void(0);'
                        }
                    ],
                },
                date: '<span>01</span> <br>сентября <br>2024'
            })
            +news-detailed