extends ../layouts/default

block variables
    - const title = "Информация о реализуемых образовательных программах"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Информация</span> о реализуемых образовательных программах',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Информация о реализуемых образовательных программах',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })

            .sidebar-layout__content
                +m-columns({
                    title: '<h3>Документы о языках образования</h3><div class="m-columns__note">В образовательной организации не реализуются общеобразовательные программы</div>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Приказ по основной деятельности № 0987-ОД от 31.08.2023 О введении нормативных документов '
                        })

                +m-columns({
                    title: '<h3>Информация о сроке действия государственной аккредитации образовательной программы</h3>'
                })
                    p 
                        b Информация о реализуемых образовательных программах, включая адаптированные образовательные программы (при наличии), с указанием учебных предметов, курсов, дисциплин (модулей), практики, предусмотренных соответствующей образовательной программой (за исключением образовательных программ дошкольного образования), с указанием для каждой из них следующей информации:

                    ul
                        li 
                            b об уровне общего или профессионального образования, о наименовании образовательной программы (для общеобразовательных программ);
                        li 
                            b о форме обучения (за исключением образовательных программ дошкольного образования);
                        li 
                            b нормативном сроке обучения, коде и наименовании профессии, специальности (специальностей), направления (направлений) подготовки или укрупненной группе профессий, специальностей и направлений подготовки (для образовательных программ высшего образования по программам бакалавриата, программам специалитета, программам магистратуры, программам ординатуры и программам ассистентуры-стажировки);
                        li 
                            b о шифре и наименовании области науки, группы научных специальностей, научной специальности (для образовательных программ высшего образования по программам подготовки научных и научно-педагогических кадров в аспирантуре (адъюнктуре);
                        li 
                            b о наличии или об отсутствии государственной аккредитации образовательной деятельности по реализуемым образовательным программам, за исключением образовательных программ дошкольного образования, программ подготовки научных и научно-педагогических кадров в аспирантуре (адъюнктуре), образовательных программ, реализуемых в соответствии с федеральным государственным образовательным стандартом образования обучающихся с нарушением интеллекта, и основных программ профессионального обучения (выписка из государственной информационной системы "Реестр организаций, осуществляющих образовательную деятельность по имеющим государственную аккредитацию образовательным программам");
                        li 
                            b об использовании при реализации образовательной программы электронного обучения и дистанционных образовательных технологий.

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h3>Информация о реализуемых образовательных программах, в том числе о реализуемых адаптированных образовательных программах, с указанием в отношении каждой образовательной программы: форм обучения; нормативного срока обучения; срока действия государственной аккредитации образовательной программы (при наличии государственной аккредитации); языка(х), на котором(ых) осуществляется образование (обучение); учебных предметов, курсов, дисциплин (модулей), предусмотренных соответствующей образовательной программой; практики, предусмотренной соответствующей образовательной программой; об использовании при реализации образовательной программы электронного обучения и дистанционных образовательных технологий.</h3>'
                })
                    .m-table.m-table--columns(data-js="mTable")
                        <table>
                            <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей</th>
                                    <th>Наименование профессии, специальности, направления подготовки, наименование группы научных специальностей</th>
                                    <th>Образовательная программа, направленность, профиль, шифр и наименование научной специальности</th>
                                    <th>Уровень образования</th>
                                    <th>Форма обучения</th>
                                    <th>Нормативный срок обучения</th>
                                    <th>Наличие или отсутствие государственной аккредитации образовательной деятельности. Срок действия государственной аккредитации (при наличии государственной аккредитации) (дата окончания действия свидетельства о&nbsp;государственной аккредитации)</th>
                                    <th>Учебные предметы, курсы, дисциплины (модули), предусмотренные соответствующей образовательной программой</th>
                                    <th>Практики, предусмотренные соответствующей образовательной программой</th>
                                    <th>Использование при реализации образовательных программ электронного обучения и дистанционных образовательных технологий</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="3">1</td>
                                    <td rowspan="3">01.03.02</td>
                                    <td rowspan="3">Прикладная математика и информатика</td>
                                    <td><a href="">Интеллектуальные системы управления транспортом (ИСУТ)</a></td>
                                    <td>Высшее образование&nbsp;- бакалавриат</td>
                                    <td>Очная</td>
                                    <td>4 года</td>
                                    <td>Бессрочно <br><br><a href="#">Государственная аккредитация</a> <br><a href="#">Свидетельство о государственной аккредитации</a></td>
                                    <td>Аналитическая динамика и теория колебаний; Безопасность жизнедеятельности; Введение в проектную деятельность; Введение в профессию; Выполнение и защита выпускной квалификационной работы; Деловые коммуникации; Динамика и прочность беспилотных транспортных средств; Дифференциальные уравнения и комплексный анализ; Игровые виды спорта; Иностранный язык; Интеллектуальные сенсоры и системы; Интеллектуальные системы управления транспортом; Информационная безопасность; Искусственный интеллект в мобильных системах; История России; Композиционные конструкции беспилотных транспортных средств; Компьютерное зрение и распознавание образов в беспилотных системах; Конструкция и устройство современных транспортных средств; Конфликтология; Культурология; Линейная алгебра; Математический анализ; Математическое моделирование технических систем; Метод конечных элементов; Методы вычислений; Методы и языки программирования; Модуль "Проекты и проектная деятельность"; Модуль «Безопасность жизнедеятельности и военная подготовка»; Модуль «Математические дисциплины»; Надежность механических и электронных систем; Нейронные сети; Неолимпийские виды спорта; Общая физическая подготовка; Основы военной подготовки; Основы материаловедения и сопротивления материалов; Основы механики; Основы рационального проектирования; Основы решения инженерных задач; Основы российской государственности; Основы технологического предпринимательства; Основы экономического обоснования проектных решений; Планирование и организация эксперимента; Подготовка к сдаче и сдача государственного экзамена; Правовые основы профессиональной деятельности; Прикладные информационные технологии; Программирование; Программирование микроконтроллеров; Проектная деятельность; Разработка электронных блоков управления; Строевая подготовка; Теория автоматического управления транспортных средств; Теория автомобиля; Теория вероятностей и математическая статистика; Управление проектами; Уравнения математической физики; Физическая культура и спорт; Физические основы оптоэлектроники; Философия; Численные методы; Электроника современного транспортного средства.</td>
                                    <td>Производственная практика (преддипломная); Производственная практика (технологическая); Учебная практика (проектная); Учебная практика (технологическая).</td>
                                    <td>Частично реализуются с применением электронного обучения и дистанционных образовательных технологий</td>
                                </tr>
                                <tr>
                                    <td><a href="#">Программирование и&nbsp;интеллектуальные системы управления транспортом (ПиУСУТ)</a></td>
                                    <td>Высшее образование&nbsp;- бакалавриат</td>
                                    <td>Очная</td>
                                    <td>4 года</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Математическое и&nbsp;компьютерное моделирование (МиКМ)</a></td>
                                    <td>Высшее образование&nbsp;- бакалавриат</td>
                                    <td>Очная</td>
                                    <td>4 года</td>
                                    <td>Бессрочно <br><br><a href="#">Государственная аккредитация</a> <br><a href="#">Свидетельство о государственной аккредитации</a></td>
                                    <td>Аналитическая динамика и теория колебаний; Архитектура вычислительных систем; Базы данных; Безопасность жизнедеятельности; Введение в проектную деятельность; Введение в специальность; Выполнение и защита выпускной квалификационной работы; Вычислительная механика и компьютерный инжиниринг; Динамика и прочность конструкций; Дифференциальные уравнения и комплексный анализ; Имитационное моделирование; Иностранный язык; Иностранный язык в профессиональной сфере; Информационная безопасность; История (история России, всеобщая история); Композиционные материалы; Компьютерное моделирование; Конфликтология; Культурология; Линейная алгебра и дифференциальное исчисление; Математический анализ; Математическое моделирование технических систем; Математическое моделирование физических процессов; Метод конечных элементов; Методы вычислений; Методы и языки программирования; Надежность механических и электронных систем; Непрерывные математические модели; Основы деловой коммуникации; Основы материаловедения и сопротивления материалов; Основы механики; Основы рационального проектирования; Основы решения инженерных задач; Основы технологического предпринимательства; Основы управления проектами; Основы экономического обоснования проектных решений; Планирование и организация эксперимента; Подготовка к сдаче и сдача государственного экзамена; Правовые основы профессиональной деятельности; Прикладные информационные технологии; Программирование; Программные комплексы инженерного анализа; Проектная деятельность; Теория вероятностей и математическая статистика; Уравнения математической физики; Физическая культура и спорт; Философия; Численные методы; Элективные дисциплины по физической культуре и спорту; Электроника и микропроцессорная техника.</td>
                                    <td>Производственная практика (преддипломная); Производственная практика (технологическая); Учебная практика (технологическая).</td>
                                    <td>Частично реализуются с применением электронного обучения и дистанционных образовательных технологий</td>
                                </tr>


                                <tr>
                                    <td rowspan="4">2</td>
                                    <td rowspan="4">09.03.01</td>
                                    <td rowspan="4">Строительство</td>
                                    <td rowspan="2"><a href="">Промышленное и гражданское строительство (ПГС)</a></td>
                                    <td rowspan="2">Высшее образование&nbsp;- бакалавриат</td>
                                    <td>Очная</td>
                                    <td>4 года</td>
                                    <td>Бессрочно <br><br><a href="#">Государственная аккредитация</a> <br><a href="#">Свидетельство о государственной аккредитации</a></td>
                                    <td rowspan="2">Архитектура гражданских и промышленных зданий; Безопасность жизнедеятельности; Введение в проектную деятельность; Введение в профессию; Геодезия; Геология; Государственные программы и проекты; Градостроительные основы современного города; Деловые коммуникации; Железобетонные и каменные конструкции; Игровые виды спорта; Инженерные сооружения; Иностранный язык; Информационные технологии; История России; Конструкции из дерева и пластмасс; Линейная алгебра; Математический анализ; Металлические конструкции; Метрология, стандартизация и сертификация; Механика грунтов, основания и фундаменты; Модуль "Проекты и проектная деятельность"; Модуль «Безопасность жизнедеятельности и военная подготовка»; Модуль «Математические и естественно-научные дисциплины»; Начертательная геометрия, инженерная и компьютерная графика; Неолимпийские виды спорта; Общая физическая подготовка; Основы BIM технологий; Основы архитектуры зданий; Основы водоснабжения и водоотведения; Основы военной подготовки; Основы расчета строительных конструкций; Основы российской государственности; Основы теплогазоснабжения и вентиляции; Основы технической эксплуатации объектов строительства; Основы технологического предпринимательства; Подготовка к процедуре защиты и защита выпускной квалификационной работы; Подземные и специальные сооружения; Правовое регулирование отрасли; Проектная деятельность; Расчет пространственных строительных конструкций; Системы умного дома и автоматизация инженерных систем; Сопротивление материалов; Строевая подготовка; Строительная механика; Строительные материалы; Строительные машины и оборудование; Теоретическая механика; Теплозащита и энергосбережение в зданиях; Техническая экспертиза и обследование зданий и сооружений; Технологии и организация процессов в жилищно-коммунальном комплексе; Технологии информационного моделирования в строительстве; Технологии умного города; Технология и организация строительного производства; Технология ремонтных и восстановительных работ; Управление персоналом предприятия; Управление проектами; Управление проектами в строительстве; Устройство и эксплуатация промышленных зданий; Физика; Физическая культура и спорт; Философия; Химия; Цифровая грамотность; Экологическая и энергетическая сертификация зданий; Экономика и управление в строительстве; Электротехника и электроснабжение в строительстве.</td>
                                    <td rowspan="2">Производственная практика (преддипломная); Производственная практика (технологическая); Учебная практика (ознакомительная); Учебная практика (проектная).</td>
                                    <td rowspan="2">Частично реализуются с применением электронного обучения и дистанционных образовательных технологий</td>
                                </tr>
                                <tr>
                                    <td>Заочная</td>
                                    <td>4 года</td>
                                    <td>Бессрочно <br><br><a href="#">Государственная аккредитация</a> <br><a href="#">Свидетельство о государственной аккредитации</a></td>
                                </tr>
                                <tr>
                                    <td><a href="">Теплогазоснабжение, вентиляция, водоснабжение и водоотведение (ТГВВиВ)</a></td>
                                    <td>Высшее образование&nbsp;- бакалавриат</td>
                                    <td>Очная</td>
                                    <td>4 года</td>
                                    <td>Бессрочно <br><br><a href="#">Государственная аккредитация</a> <br><a href="#">Свидетельство о государственной аккредитации</a></td>
                                    <td>Безопасность жизнедеятельности; Введение в проектную деятельность; Введение в профессию; Вентиляция; Внутренние системы водоснабжения и водоотведения; Газоснабжение и газораспределение; Геодезия; Геология; Государственные программы и проекты; Деловые коммуникации; Детали машин и основы конструирования; Игровые виды спорта; Иностранный язык; Информационные технологии; История России; Источники и системы теплоснабжения предприятий и ЖКХ; Кондиционирование воздуха; Линейная алгебра; Математический анализ; Методы испытаний и наладки технологического оборудования; Метрология, стандартизация и сертификация; Механика жидкости и газа; Модуль "Проекты и проектная деятельность"; Модуль «Безопасность жизнедеятельности и военная подготовка»; Модуль «Математические и естественно-научные дисциплины»; Монтаж и эксплуатация систем водоснабжения, водоотведения, отопления объектов жилищно-коммунального хозяйства; Монтаж и эксплуатация систем газораспределения и газопотребления; Нагнетатели и тепловые двигатели; Наружные сети водоснабжения и канализации; Начертательная геометрия, инженерная и компьютерная графика; Неолимпийские виды спорта; Общая физическая подготовка; Основы BIM технологий; Основы архитектуры зданий; Основы водоснабжения и водоотведения; Основы военной подготовки; Основы монтажа систем вентиляции и кондиционирования воздуха; Основы монтажа холодильных установок; Основы расчета строительных конструкций; Основы российской государственности; Основы теплогазоснабжения и вентиляции; Основы технической эксплуатации объектов строительства; Основы технологического предпринимательства; Отопление; Подготовка к процедуре защиты и защита выпускной квалификационной работы; Правовое регулирование отрасли; Проектная деятельность; Системы умного дома и автоматизация инженерных систем; Сопротивление материалов; Строевая подготовка; Строительная теплофизика и микроклимат зданий; Строительные материалы; Теоретическая механика; Техническая термодинамика и тепломассообмен; Технологии информационного моделирования в строительстве; Технологии умного города; Технология и организация строительного производства; Управление персоналом предприятия; Управление проектами; Устройство и эксплуатация промышленных зданий; Физика; Физическая культура и спорт; Философия; Химия; Цифровая грамотность; Экономика и управление в строительстве; Электротехника и электроснабжение в строительстве.</td>
                                    <td>Производственная практика (преддипломная); Производственная практика (технологическая); Учебная практика (ознакомительная); Учебная практика (проектная).</td>
                                    <td>Частично реализуются с применением электронного обучения и дистанционных образовательных технологий</td>
                                </tr>
                                <tr>
                                    <td><a href="">Урбанистика и строительство</a></td>
                                    <td>Высшее образование&nbsp;- бакалавриат</td>
                                    <td>Очно-заочная</td>
                                    <td>4 года</td>
                                    <td></a></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table> 
