extends ../layouts/default

block variables
    - const title = "Образовательные стандарты и требования"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Образовательные</span> <br>стандарты и требования',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Образовательные стандарты и требования',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })
            .sidebar-layout__content

                .gost-section.gost-section--bordered.text-editor
                    +info-tag
                    +m-table({
                        hasLinks: 'true',
                        header: [								
                            "№",
                            "Код, наименование профессии, специальности, направления подготовки, наименование группы научных специальностей",
                            "Уровень образования",
                            "О применяемых федеральных государственных образовательных стандартах с размещением их копий и (или) гиперссылки на соответствующие документы",
                        ],

                        rows: [
                            [
                                "1",
                                "05.03.03 «Картография и геоинформатика»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 05.03.03 Скачать документ (ссылка)",
                            ],
                            [
                                "2",
                                "05.03.04 «Гидрометеорология»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 05.03.04 Скачать документ (ссылка)",
                            ],
                            [
                                "3",
                                "05.03.06 «Экология и природопользование»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 05.03.06 Скачать документ (ссылка)",
                            ],
                            [
                                "4",
                                "07.02.01 «Архитектура»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС  07.02.01 Скачать документ (ссылка)",
                            ],
                            [
                                "5",
                                "07.03.03 «Дизайн архитектурной среды»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС  07.03.03 Скачать документ (ссылка)",
                            ],
                            [
                                "6",
                                "08.03.01 «Строительство»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС  08.03.01 Скачать документ (ссылка)",
                            ],
                            [
                                "7",
                                "19.03.01 «Биотехнология»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 19.03.01 Скачать документ (ссылка)",
                            ],
                            [
                                "8",
                                "19.03.02 «Продукты питания из растительного сырья»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 19.03.02 Скачать документ (ссылка)",
                            ],
                            [
                                "9",
                                "19.03.03 «Продукты питания животного происхождения»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 19.03.03 Скачать документ (ссылка)",
                            ],
                            [
                                "10",
                                "19.03.04 «Технология продукции и организация общественного питания»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 19.03.04 Скачать документ (ссылка)",
                            ],
                            [
                                "11",
                                "20.03.01 «Техносферная безопасность»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 20.03.01 Скачать документ (ссылка)",
                            ],
                            [
                                "12",
                                "20.03.02 «Природообустройство и водопользование»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 20.03.02  Скачать документ (ссылка)",
                            ],
                            [
                                "13",
                                "21.03.02 «Землеустройство и кадастры»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 21.03.02 Скачать документ (ссылка)",
                            ],
                            [
                                "14",
                                "21.03.03 «Геодезия и дистанционное зондирование»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 21.03.03 Скачать документ (ссылка)",
                            ],
                            [
                                "15",
                                "35.03.01 «Лесное дело»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 35.03.01  Скачать документ (ссылка)",
                            ],
                            [
                                "16",
                                "35.03.03 «Агрохимия и агропочвоведение»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 35.03.03 Скачать документ (ссылка)",
                            ],
                            [
                                "17",
                                "35.02.05 «Агрономия»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 35.02.05 Скачать документ (ссылка)",
                            ],
                            [
                                "18",
                                "35.03.04 «Защита растений и фитосанитарный контроль»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 35.03.04 Скачать документ (ссылка)",
                            ],
                            [
                                "19",
                                "35.03.05 «Садоводство»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 35.03.05 Скачать документ (ссылка)",
                            ],
                            [
                                "20",
                                "35.03.06 «Агроинженерия»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 35.03.06 Скачать документ (ссылка)",
                            ],
                            [
                                "21",
                                "35.02.06 «Технология производства и переработки сельскохозяйственной продукции»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 35.02.06 Скачать документ (ссылка)",
                            ],
                            [
                                "22",
                                "35.03.08 «Водные биоресурсы и аквакультура»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 35.03.08  Скачать документ (ссылка)",
                            ],
                            [
                                "23",
                                "35.03.10 «Ландшафтная архитектура»",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 35.03.10 Скачать документ (ссылка)",
                            ]
                        ]
                    })