extends ../layouts/default

block variables
    - const title = "Информация о реализуемых образовательных программах"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Информация</span> о реализуемых образовательных программах',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Информация о реализуемых образовательных программах',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })

            .sidebar-layout__content
                +m-columns({
                    title: '<h2>Документы о языках образования</h2><div class="m-columns__note">В образовательной организации не реализуются общеобразовательные программы</div>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Приказ по основной деятельности № 0987-ОД от 31.08.2023 О введении нормативных документов '
                        })

                +m-columns({
                    title: '<h2>Информация о сроке действия государственной аккредитации образовательной программы</h2>'
                })
                    p 
                        b Информация о реализуемых образовательных программах, включая адаптированные образовательные программы (при наличии), с указанием учебных предметов, курсов, дисциплин (модулей), практики, предусмотренных соответствующей образовательной программой (за исключением образовательных программ дошкольного образования), с указанием для каждой из них следующей информации:

                    ul
                        li 
                            b об уровне общего или профессионального образования, о наименовании образовательной программы (для общеобразовательных программ);
                        li 
                            b о форме обучения (за исключением образовательных программ дошкольного образования);
                        li 
                            b нормативном сроке обучения, коде и наименовании профессии, специальности (специальностей), направления (направлений) подготовки или укрупненной группе профессий, специальностей и направлений подготовки (для образовательных программ высшего образования по программам бакалавриата, программам специалитета, программам магистратуры, программам ординатуры и программам ассистентуры-стажировки);
                        li 
                            b о шифре и наименовании области науки, группы научных специальностей, научной специальности (для образовательных программ высшего образования по программам подготовки научных и научно-педагогических кадров в аспирантуре (адъюнктуре);
                        li 
                            b о наличии или об отсутствии государственной аккредитации образовательной деятельности по реализуемым образовательным программам, за исключением образовательных программ дошкольного образования, программ подготовки научных и научно-педагогических кадров в аспирантуре (адъюнктуре), образовательных программ, реализуемых в соответствии с федеральным государственным образовательным стандартом образования обучающихся с нарушением интеллекта, и основных программ профессионального обучения (выписка из государственной информационной системы "Реестр организаций, осуществляющих образовательную деятельность по имеющим государственную аккредитацию образовательным программам");
                        li 
                            b об использовании при реализации образовательной программы электронного обучения и дистанционных образовательных технологий.

                +m-columns({
                    title: '<h2>Информация о реализуемых образовательных программах, в том числе о реализуемых адаптированных образовательных программах, с указанием в отношении каждой образовательной программы: форм обучения; нормативного срока обучения; срока действия государственной аккредитации образовательной программы (при наличии государственной аккредитации); языка(х), на котором(ых) осуществляется образование (обучение); учебных предметов, курсов, дисциплин (модулей), предусмотренных соответствующей образовательной программой; практики, предусмотренной соответствующей образовательной программой; об использовании при реализации образовательной программы электронного обучения и дистанционных образовательных технологий.</h2>'
                })
                    +m-table({
                        header: [
                            "№",
                            "Наименование показателя",
                            "Общежитий",
                            "Интернатов"
                        ],

                        rows: [
                            [
                                "1",
                                "Количество всего в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья",
                                "1",
                                "—",
                            ],
                            [
                                "2",
                                "Общая площадь (кв.м.)",
                                "123",
                                "—",
                            ],
                            [
                                "3",
                                "Жилая площадь (кв.м.)",
                                "123",
                                "—",
                            ],
                            [
                                "4",
                                "Количество мест: <br>всего в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья",
                                "123 <br><br>11",
                                "—",
                            ],
                            [
                                "5",
                                "Обеспеченность 100% мягкими и жестким инвентарем по установленным стандартным нормам",
                                "да",
                                "—",
                            ],
                            [
                                "6",
                                "Наличие питания (включая буфеты, столовые)",
                                "да",
                                "—",
                            ]
                        ]
                    })

                .gost-section.gost-section--bordered
                    +info-tag
                    +m-table({
                        vMode: 'rows',
                        header: [
                            "№",
                            "Наименование показателя",
                            "Общежитий",
                            "Интернатов"
                        ],

                        rows: [
                            [
                                "1",
                                "Количество всего в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья",
                                "1",
                                "—",
                            ],
                            [
                                "2",
                                "Количество всего в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья",
                                "1",
                                "—",
                            ],
                            [
                                "3",
                                "Количество всего в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья",
                                "1",
                                "—",
                            ],
                            [
                                "4",
                                "Количество всего в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья",
                                "1",
                                "—",
                            ],
                        ]
                    })
