extends ../layouts/default

block variables
    - const title = "Образование"

block content
    .page
        +sidebar-layout(true)
            .sidebar-layout__block
                +page-intro({
                    title: 'Образование',
                    breadcrumbs: {
                        items: [
                            {
                                name: 'Главная',
                                link: 'javascript:void(0);'
                            },
                            {
                                name: 'Образование',
                                link: 'javascript:void(0);'
                            }
                        ],
                    } 
                })
                .sidebar-layout__content
                    .gost-section.gost-section--bordered.text-editor
                        .text-items-list
                            +link-block({
                                classes: '',
                                type: 'link',
                                linkText: 'Перейти',
                                vMode: 'table',
                                text: 'Информация о реализуемых образовательных программах, в том числе о реализуемых адаптированных образовательных программах, с указанием в отношении каждой образовательной программы: форм обучения; нормативного срока обучения; срока действия государственной аккредитации образовательной программы (при наличии государственной аккредитации); языка(х), на котором(ых) осуществляется образование (обучение); учебных предметов, курсов, дисциплин (модулей), предусмотренных соответствующей образовательной программой; практики, предусмотренной соответствующей образовательной программой; об использовании при реализации образовательной программы электронного обучения и дистанционных образовательных технологий; о наименовании общеобразовательной программы (для образовательных организаций, реализующих общеобразовательные программы).'
                            })
                            +link-block({
                                classes: '',
                                type: 'link',
                                linkText: 'Перейти',
                                vMode: 'table',
                                text: 'Информация об описании образовательной программы с приложением образовательной программы в форме электронного документа или в виде активных ссылок, непосредственный переход по которым позволяет получить доступ к страницам официального сайта, содержащим информацию об описании образовательной программы, в том числе: об учебном плане с приложением его в виде электронного документа; об аннотации к рабочим программам дисциплин (по каждому учебному предмету, курсу, дисциплине (модулю), практики, в составе образовательной программы) с приложением рабочих программ в виде электронного документа; о календарном учебном графике с приложением его в виде электронного документа; о методических и иных документах, разработанных образовательной организацией для обеспечения образовательного процесса, а также рабочей программы воспитания и календарного плана воспитательной работы, включаемых в основные образовательные программы в соответствии с частью 1 статьи 12.1 ФЗ от 29.12.2012 № 273-ФЗ «Об образовании в Российской Федерации» в виде электронного документа.'
                            })
                            +link-block({
                                classes: '',
                                type: 'link',
                                linkText: 'Перейти',
                                vMode: 'table',
                                text: 'Информация о численности обучающихся по реализуемым образовательным программам, в том числе: об общей численности обучающихся; о численности обучающихся за счёт бюджетных ассигнований федерального бюджета (в том числе с выделением численности обучающихся, являющихся иностранными гражданами); о численности обучающихся за счёт бюджетных ассигнований бюджетов субъектов Российской Федерации (в том числе с выделением численности обучающихся, являющихся иностранными гражданами); о численности обучающихся за счёт бюджетных ассигнований местных бюджетов (в том числе с выделением численности обучающихся, являющихся иностранными гражданами); о численности обучающихся по договорам об образовании, заключаемых при приёме на обучение за счёт средств физического и (или) юридического лица (в том числе с выделением численности обучающихся, являющихся иностранными гражданами);'
                            })
                            +link-block({
                                classes: '',
                                type: 'link',
                                linkText: 'Перейти',
                                vMode: 'table',
                                text: 'Информация о направлениях и результатах научной (научно-исследовательской) деятельности и научно-исследовательской базе для ее осуществления (для образовательных организаций высшего образования и организаций дополнительного профессионального образования) (при осуществлении научной (научно-исследовательской) деятельности)'
                            })
                            +link-block({
                                classes: '',
                                type: 'link',
                                linkText: 'Перейти',
                                vMode: 'table',
                                text: 'Информация о результатах приема по каждой профессии, по каждой специальности среднего профессионального образования, по каждому направлению подготовки или специальности высшего образования, научной специальности с различными условиями приема: на места, финансируемые за счёт бюджетных ассигнований федерального бюджета; на места, финансируемые за счёт бюджетных ассигнований бюджетов субъектов Российской Федерации; на места, финансируемые за счёт бюджетных ассигнований местных бюджетов; по договорам об оказании платных образовательных услуг; о средней сумме набранных баллов по всем вступительным испытаниям (при наличии вступительных испытаний);'
                            })
                            +link-block({
                                classes: '',
                                type: 'link',
                                linkText: 'Перейти',
                                vMode: 'table',
                                text: 'Информация о результатах перевода; о результатах восстановления и отчисления;'
                            })

            .sidebar-layout__block
                h2.h2.sidebar-layout__block-title Документы

                .sidebar-layout__content
                    +m-columns({
                        titlePosLeft: 'false',
                        title: '<h3>Лицензия на осуществление образовательной деятельности с приложениями (выписка из реестра лицензий на осуществление образовательной деятельности)</h3>'
                    })
                        .text-items-list
                            +link-block({
                                classes: '',
                                text: 'Лицензия'
                            })

                    +m-columns({
                        titlePosLeft: 'false',
                        title: '<h3>О наличии или об отсутствии государственной аккредитации образовательной деятельности по реализуемым образовательным программам, за исключением образовательных программ дошкольного образования, программ подготовки научных и научно-педагогических кадров в аспирантуре (адъюнктуре), образовательных программ, реализуемых в соответствии с федеральным государственным образовательным стандартом образования обучающихся с нарушением интеллекта, и основных программ профессионального обучения (выписка из государственной информационной системы "Реестр организаций, осуществляющих образовательную деятельность по имеющим государственную аккредитацию образовательным программам")</h3>'
                    })
                        .text-items-list
                            +link-block({
                                classes: '',
                                text: 'Свидетельство о государственной аккредитации'
                            })