extends ../layouts/default

block variables
    - const title = "Образовательные стандарты и требования"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Образовательные</span> <br>стандарты и требования',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Образовательные стандарты и требования',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })
            .sidebar-layout__content

                .gost-section.gost-section--bordered.text-editor
                    +info-tag
                    +m-table({
                        header: [								
                            "№",
                            "Код, наименование профессии, специальности, направления подготовки, наименование группы научных специальностей",
                            "Уровень образования",
                            "О применяемых федеральных государственных образовательных стандартах с размещением их копий и (или) гиперссылки на соответствующие документы",
                        ],

                        rows: [
                            [
                                "1",
                                "<a href='#'>05.03.03 «Картография и геоинформатика»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 05.03.03 Скачать документ (ссылка)",
                            ],
                            [
                                "2",
                                "<a href='#'>05.03.04 «Гидрометеорология»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 05.03.04 Скачать документ (ссылка)",
                            ],
                            [
                                "3",
                                "<a href='#'>05.03.06 «Экология и природопользование»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 05.03.06 Скачать документ (ссылка)",
                            ],
                            [
                                "4",
                                "<a href='#'>07.02.01 «Архитектура»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС  07.02.01 Скачать документ (ссылка)",
                            ],
                            [
                                "5",
                                "<a href='#'>07.03.03 «Дизайн архитектурной среды»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС  07.03.03 Скачать документ (ссылка)",
                            ],
                            [
                                "6",
                                "<a href='#'>08.03.01 «Строительство»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС  08.03.01 Скачать документ (ссылка)",
                            ],
                            [
                                "7",
                                "<a href='#'>19.03.01 «Биотехнология»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 19.03.01 Скачать документ (ссылка)",
                            ],
                            [
                                "8",
                                "<a href='#'>19.03.02 «Продукты питания из растительного сырья»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 19.03.02 Скачать документ (ссылка)",
                            ],
                            [
                                "9",
                                "<a href='#'>19.03.03 «Продукты питания животного происхождения»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 19.03.03 Скачать документ (ссылка)",
                            ],
                            [
                                "10",
                                "<a href='#'>19.03.04 «Технология продукции и организация общественного питания»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 19.03.04 Скачать документ (ссылка)",
                            ],
                            [
                                "11",
                                "<a href='#'>20.03.01 «Техносферная безопасность»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 20.03.01 Скачать документ (ссылка)",
                            ],
                            [
                                "12",
                                "<a href='#'>20.03.02 «Природообустройство и водопользование»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 20.03.02  Скачать документ (ссылка)",
                            ],
                            [
                                "13",
                                "<a href='#'>21.03.02 «Землеустройство и кадастры»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 21.03.02 Скачать документ (ссылка)",
                            ],
                            [
                                "14",
                                "<a href='#'>21.03.03 «Геодезия и дистанционное зондирование»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 21.03.03 Скачать документ (ссылка)",
                            ],
                            [
                                "15",
                                "<a href='#'>35.03.01 «Лесное дело»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 35.03.01  Скачать документ (ссылка)",
                            ],
                            [
                                "16",
                                "<a href='#'>35.03.03 «Агрохимия и агропочвоведение»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 35.03.03 Скачать документ (ссылка)",
                            ],
                            [
                                "17",
                                "<a href='#'>35.02.05 «Агрономия»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 35.02.05 Скачать документ (ссылка)",
                            ],
                            [
                                "18",
                                "<a href='#'>35.03.04 «Защита растений и фитосанитарный контроль»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 35.03.04 Скачать документ (ссылка)",
                            ],
                            [
                                "19",
                                "<a href='#'>35.03.05 «Садоводство»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 35.03.05 Скачать документ (ссылка)",
                            ],
                            [
                                "20",
                                "<a href='#'>35.03.06 «Агроинженерия»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 35.03.06 Скачать документ (ссылка)",
                            ],
                            [
                                "21",
                                "<a href='#'>35.02.06 «Технология производства и переработки сельскохозяйственной продукции»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 35.02.06 Скачать документ (ссылка)",
                            ],
                            [
                                "22",
                                "<a href='#'>35.03.08 «Водные биоресурсы и аквакультура»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 35.03.08  Скачать документ (ссылка)",
                            ],
                            [
                                "23",
                                "<a href='#'>35.03.10 «Ландшафтная архитектура»</a>",
                                "Высшее&nbsp;образование бакалавриат&nbsp;/ магистратура",
                                "ФГОС 35.03.10 Скачать документ (ссылка)",
                            ]
                        ]
                    })