extends ../layouts/default

block variables
    - const title = "Дни открытых дверей"

block content
    .page
        .page-layout
            +i-intro({
                title: 'Дни открытых дверей',
                img: 'img/open-doors/open-doors.webp',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Управление бизнес-процессами (Менеджмент)',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })
            .m-container
                +m-columns({
                    classes: "m-columns--no-plpr no-border",
                    title: '<div class="m-container white-bg"><br><h2>Выбрать период</h2><form><div class="date-range"><div class="date-range__block"><label class="field  " data-js="formField"><select class="field__select" data-js="formSelect"><option>Ноябрь</option><option>Октябрь</option><option>Сентябрь</option></select></label></div><div class="date-range__block"><label class="field  " data-js="formField"><select class="field__select" data-js="formSelect"><option>2024</option><option>2023</option><option>2022</option></select></label></div></div><button class="btn form__submit btn--darkGreen" type="submit">Искать</button></form><br><br><p>Следите за нами в  соцсетях</p><div class="socials"><a class="socials__item" href="#"><svg><use xlink:href="img/sprites/sprite.svg#telegram"></use></svg></a><a class="socials__item" href="#"><svg> <use xlink:href="img/sprites/sprite.svg#vk"></use></svg></a><a class="socials__item" href="#"><svg><use xlink:href="img/sprites/sprite.svg#rutube"></use></svg></a></div></div>'
                })
                    .open-doors-block.white-bg
                        .open-doors-block__container
                            .open-doors-block__left
                                h3 Онлайн мероприятие 04 декабря 2024 в 13:00
                                p <b>10 октября 2024</b>
                            .open-doors-block__right

                                p <b>Поделиться</b>
                                <div class="socials"><a class="socials__item" href="#">
                                <svg>
                                <use xlink:href="img/sprites/sprite.svg#telegram"></use>
                                </svg></a><a class="socials__item" href="#">
                                <svg>
                                <use xlink:href="img/sprites/sprite.svg#vk"></use>
                                </svg></a></div>
                        .open-doors-block__container
                            .open-doors-block__left
                                p Мероприятие пройдёт в корпусе на 	ул. Сретенская, д. 23

                                p Абитуриенты смогут узнать о поступлении, посетить профильные мастер-классы, получить консультацию у представителей факультетов и институтов, а также увидеть лаборатории и аудитории учебных корпусов.
                            .open-doors-block__right
                                +btn-plus()(data-modal="#openDoorsModal")
                    .open-doors-block.white-bg
                        .open-doors-block__container
                            .open-doors-block__left
                                h3 Онлайн мероприятие 04 декабря 2024 в 13:00
                            .open-doors-block__right
                                p <b>Поделиться</b>
                                <div class="socials"><a class="socials__item" href="#">
                                <svg>
                                <use xlink:href="img/sprites/sprite.svg#telegram"></use>
                                </svg></a><a class="socials__item" href="#">
                                <svg>
                                <use xlink:href="img/sprites/sprite.svg#vk"></use>
                                </svg></a></div>
                        .open-doors-block__container
                            .open-doors-block__left
                                p Мероприятие пройдёт в корпусе на 	ул. Сретенская, д. 23

                                p Абитуриенты смогут узнать о поступлении, посетить профильные мастер-классы, получить консультацию у представителей факультетов и институтов, а также увидеть лаборатории и аудитории учебных корпусов.
                            .open-doors-block__right
                                +btn-plus()(data-modal="#openDoorsModal")
                    .open-doors-block.white-bg
                        .open-doors-block__container
                            .open-doors-block__left
                                h3 Онлайн мероприятие 04 декабря 2024 в 13:00
                            .open-doors-block__right
                                p <b>Поделиться</b>
                                <div class="socials"><a class="socials__item" href="#">
                                <svg>
                                <use xlink:href="img/sprites/sprite.svg#telegram"></use>
                                </svg></a><a class="socials__item" href="#">
                                <svg>
                                <use xlink:href="img/sprites/sprite.svg#vk"></use>
                                </svg></a></div>
                        .open-doors-block__container
                            .open-doors-block__left
                                p Мероприятие пройдёт в корпусе на 	ул. Сретенская, д. 23

                                p Абитуриенты смогут узнать о поступлении, посетить профильные мастер-классы, получить консультацию у представителей факультетов и институтов, а также увидеть лаборатории и аудитории учебных корпусов.
                            .open-doors-block__right
                                +btn-plus()(data-modal="#openDoorsModal")
                    .open-doors-block.white-bg
                        .open-doors-block__container
                            .open-doors-block__left
                                h3 Онлайн мероприятие 04 декабря 2024 в 13:00
                            .open-doors-block__right
                                p <b>Поделиться</b>
                                <div class="socials"><a class="socials__item" href="#">
                                <svg>
                                <use xlink:href="img/sprites/sprite.svg#telegram"></use>
                                </svg></a><a class="socials__item" href="#">
                                <svg>
                                <use xlink:href="img/sprites/sprite.svg#vk"></use>
                                </svg></a></div>
                        .open-doors-block__container
                            .open-doors-block__left
                                p Мероприятие пройдёт в корпусе на 	ул. Сретенская, д. 23

                                p Абитуриенты смогут узнать о поступлении, посетить профильные мастер-классы, получить консультацию у представителей факультетов и институтов, а также увидеть лаборатории и аудитории учебных корпусов.

                            .open-doors-block__right
                                +btn-plus()(data-modal="#openDoorsModal")

