extends ../layouts/default

block variables
    - const title = "Об описании образовательной программы"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Об описании</span> <br>образовательной <br>программы',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Вакантные места для приёма (перевода) обучающихся',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })
            .sidebar-layout__content
                .gost-section.gost-section--bordered.text-editor
                    .gost-section__text 
                        p Информация об описании образовательной программы с приложением образовательной программы в форме электронного документа или в виде активных ссылок, непосредственный переход по которым позволяет получить доступ к страницам официального сайта, содержащим информацию об описании образовательной программы, в том числе: об учебном плане с приложением его в виде электронного документа; об аннотации к рабочим программам дисциплин (по каждому учебному предмету, курсу, дисциплине (модулю), практики, в составе образовательной программы) с приложением рабочих программ в виде электронного документа; о календарном учебном графике с приложением его в виде электронного документа; о методических и иных документах, разработанных образовательной организацией для обеспечения образовательного процесса, а также рабочей программы воспитания и календарного плана воспитательной работы, включаемых в основные образовательные программы в соответствии с <a href="#">частью 1 статьи 12.1 ФЗ от 29.12.2012 № 273-ФЗ «Об образовании в Российской Федерации»</a> в виде электронного документа.
                    .gost-section__title!= '<h2>Информация по неадаптированным образовательным программам</h2>'

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h3>Бакалавриат</h3>'
                    +info-tag
                    .m-table.m-table--columns(data-js="mTable")
                        <table>
                            <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей</th>
                                    <th>Наименование профессии, специальности, направления подготовки наименование группы научных специальностей</th>
                                    <th>Уровень образования</th>
                                    <th>Образовательная программа, направленность, профиль, шифр и&nbsp;наименование научной специальности</th>
                                    <th>Реализуемые формы обучения</th>
                                    <th>Ссылка на&nbsp;описание образовательной программы с&nbsp;приложением ее в&nbsp;виде электронного документа</th>
                                    <th>Ссылка на&nbsp;учебный план с&nbsp;приложением его в&nbsp;виде электронного документа</th>
                                    <th>Ссылка на&nbsp;рабочие программы (по&nbsp;каждой дисциплине в&nbsp;составе образовательной программы) в&nbsp;виде электронного документа</th>
                                    <th>Ссылка на рабочие программы практик, предусмотренных соответствующей образовательной программой, с&nbsp;приложением их в&nbsp;виде электронного документа (при наличии)</th>
                                    <th>Ссылка на календарный учебный график с&nbsp;приложением его в&nbsp;виде электронного документа</th>
                                    <th>Ссылка на иные компоненты, оценочные и методические материалы, а также в предусмотренных ФЗ от&nbsp;29.12.2012 №&nbsp;273-ФЗ «Об образовании в РФ» случаях в&nbsp;виде рабочей программы воспитания, календарного плана воспитательной работы, форм аттестации в&nbsp;виде электронного документа</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td rowspan="3">1</td>
                                    <td rowspan="3">38.03.02</td>
                                    <td rowspan="3">Менеджмент</td>
                                    <td>Высшее образование&nbsp;- бакалавриат</td>
                                    <td><a href="#">Интеллектуальные системы управления транспортом (ИСУТ)</a></td>
                                    <td>Очная</td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>Методические и иные документы 2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                </tr>
                                <tr>
                                    <td>Высшее образование&nbsp;- бакалавриат</td>
                                    <td><a href="#">Программирование и&nbsp;интеллектуальные системы управления транспортом (ПиУСУТ)</a></td>
                                    <td>Очная</td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>Методические и иные документы 2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                </tr>
                                <tr>
                                    <td>Высшее образование&nbsp;- бакалавриат</td>
                                    <td><a href="#">Математическое и&nbsp;компьютерное моделирование (МиКМ)</a></td>
                                    <td>Очная</td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>Методические и иные документы 2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                </tr>
                                </tbody>
                            </table>

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h3>Магистратура</h3>'
                    +info-tag
                    .m-table.m-table--columns(data-js="mTable")
                        <table>
                            <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей</th>
                                    <th>Наименование профессии, специальности, направления подготовки наименование группы научных специальностей</th>
                                    <th>Уровень образования</th>
                                    <th>Образовательная программа, направленность, профиль, шифр и&nbsp;наименование научной специальности</th>
                                    <th>Реализуемые формы обучения</th>
                                    <th>Ссылка на&nbsp;описание образовательной программы с&nbsp;приложением ее в&nbsp;виде электронного документа</th>
                                    <th>Ссылка на&nbsp;учебный план с&nbsp;приложением его в&nbsp;виде электронного документа</th>
                                    <th>Ссылка на&nbsp;рабочие программы (по&nbsp;каждой дисциплине в&nbsp;составе образовательной программы) в&nbsp;виде электронного документа</th>
                                    <th>Ссылка на рабочие программы практик, предусмотренных соответствующей образовательной программой, с&nbsp;приложением их в&nbsp;виде электронного документа (при наличии)</th>
                                    <th>Ссылка на календарный учебный график с&nbsp;приложением его в&nbsp;виде электронного документа</th>
                                    <th>Ссылка на иные компоненты, оценочные и методические материалы, а также в предусмотренных ФЗ от&nbsp;29.12.2012 №&nbsp;273-ФЗ «Об образовании в РФ» случаях в&nbsp;виде рабочей программы воспитания, календарного плана воспитательной работы, форм аттестации в&nbsp;виде электронного документа</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td rowspan="3">1</td>
                                    <td rowspan="3">38.03.02</td>
                                    <td rowspan="3">Менеджмент</td>
                                    <td>Высшее образование&nbsp;- магистратура</td>
                                    <td><a href="#">Интеллектуальные системы управления транспортом (ИСУТ)</a></td>
                                    <td>Очная</td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>Методические и иные документы 2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                </tr>
                                <tr>
                                    <td>Высшее образование&nbsp;- магистратура</td>
                                    <td><a href="#">Программирование и&nbsp;интеллектуальные системы управления транспортом (ПиУСУТ)</a></td>
                                    <td>Очная</td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>Методические и иные документы 2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                </tr>
                                <tr>
                                    <td>Высшее образование&nbsp;- магистратура</td>
                                    <td><a href="#">Математическое и&nbsp;компьютерное моделирование (МиКМ)</a></td>
                                    <td>Очная</td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>Методические и иные документы 2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                </tr>
                                </tbody>
                            </table>

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h3>Аспирантура</h3>'
                    +info-tag
                    .m-table.m-table--columns(data-js="mTable")
                        <table>
                            <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей</th>
                                    <th>Наименование профессии, специальности, направления подготовки наименование группы научных специальностей</th>
                                    <th>Уровень образования</th>
                                    <th>Образовательная программа, направленность, профиль, шифр и&nbsp;наименование научной специальности</th>
                                    <th>Реализуемые формы обучения</th>
                                    <th>Ссылка на&nbsp;описание образовательной программы с&nbsp;приложением ее в&nbsp;виде электронного документа</th>
                                    <th>Ссылка на&nbsp;учебный план с&nbsp;приложением его в&nbsp;виде электронного документа</th>
                                    <th>Ссылка на&nbsp;рабочие программы (по&nbsp;каждой дисциплине в&nbsp;составе образовательной программы) в&nbsp;виде электронного документа</th>
                                    <th>Ссылка на рабочие программы практик, предусмотренных соответствующей образовательной программой, с&nbsp;приложением их в&nbsp;виде электронного документа (при наличии)</th>
                                    <th>Ссылка на календарный учебный график с&nbsp;приложением его в&nbsp;виде электронного документа</th>
                                    <th>Ссылка на иные компоненты, оценочные и методические материалы, а также в предусмотренных ФЗ от&nbsp;29.12.2012 №&nbsp;273-ФЗ «Об образовании в РФ» случаях в&nbsp;виде рабочей программы воспитания, календарного плана воспитательной работы, форм аттестации в&nbsp;виде электронного документа</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td rowspan="3">1</td>
                                    <td rowspan="3">38.03.02</td>
                                    <td rowspan="3">Менеджмент</td>
                                    <td>Высшее образование&nbsp;- аспирантура</td>
                                    <td><a href="#">Интеллектуальные системы управления транспортом (ИСУТ)</a></td>
                                    <td>Очная</td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>Методические и иные документы 2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                </tr>
                                <tr>
                                    <td>Высшее образование&nbsp;- аспирантура</td>
                                    <td><a href="#">Программирование и&nbsp;интеллектуальные системы управления транспортом (ПиУСУТ)</a></td>
                                    <td>Очная</td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>Методические и иные документы 2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                </tr>
                                <tr>
                                    <td>Высшее образование&nbsp;- аспирантура</td>
                                    <td><a href="#">Математическое и&nbsp;компьютерное моделирование (МиКМ)</a></td>
                                    <td>Очная</td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                    <td>Методические и иные документы 2023 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2022 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a><br>2021 год начала подготовки:<br><a href="#">ОПОП 01.03.02 ИСУТ</a></td>
                                </tr>
                                </tbody>
                            </table>       