extends ../layouts/default

block variables
    - const title = "Об описании образовательной программы"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Об описании</span> <br>образовательной <br>программы',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Вакантные места для приёма (перевода) обучающихся',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })
            .sidebar-layout__content
                .gost-section.gost-section--bordered.text-editor
                    .gost-section__text 
                        p Информация об описании образовательной программы с приложением образовательной программы в форме электронного документа или в виде активных ссылок, непосредственный переход по которым позволяет получить доступ к страницам официального сайта, содержащим информацию об описании образовательной программы, в том числе: об учебном плане с приложением его в виде электронного документа; об аннотации к рабочим программам дисциплин (по каждому учебному предмету, курсу, дисциплине (модулю), практики, в составе образовательной программы) с приложением рабочих программ в виде электронного документа; о календарном учебном графике с приложением его в виде электронного документа; о методических и иных документах, разработанных образовательной организацией для обеспечения образовательного процесса, а также рабочей программы воспитания и календарного плана воспитательной работы, включаемых в основные образовательные программы в соответствии с частью 1 статьи 12.1 ФЗ от 29.12.2012 № 273-ФЗ «Об образовании в Российской Федерации» в виде электронного документа.
                    .gost-section__title!= '<h2>Информация по неадаптированным образовательным программам</h2>'

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h3>Бакалавриат</h3>'
                    +info-tag
                    +m-table({
                        header: [								
                            "№",
                            "Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей",
                            "Наименование профессии, специальности, направления подготовки наименование группы научных специальностей",
                            "Образовательная программа, направленность, профиль, шифр и наименование научной специальности",
                            "Реализуемые формы обучения",
                            "Ссылка на описание образовательной программы с приложением ее в виде электронного документа",
                            "Ссылка на рабочие программы (по каждой дисциплине в составе образовательной программы) в виде электронного документа"
                        ],

                        rows: [
                            [
                                "1",
                                "38.03.02",
                                "Менеджмент",
                                "Менеджмент организаций",
                                "Очная <br><br>Заочная <br><br>Очно‑заочная",
                                "2020 год набора: <br>ОПОП 38.03.02 УО <br><br>2019 год набора: <br>ОПОП 38.03.02 УО",
                                "2020 год набора: Б.2.1 Практика по получения первичных профессиональных умений и навыков <br>Б.2.2 Практика по получению профессиональных умений и опыта профессиональной деятельности <br>Б.2.3 Преддипломная практика2019 год набора: <br>Б.2.1 Практика по получению первичных профессиональных умений и навыков <br>Б.2.2 Практика по получению профессиональных умений и опыта профессиональной деятельности <br>Б.2.3 Преддипломная практика"
                            ],
                            [
                                "2",
                                "38.03.01",
                                "Экономика",
                                "Экономика предприятия",
                                "32",
                                "15",
                                "10"
                            ],
                            [
                                "3",
                                "38.03.02",
                                "Менеджмент",
                                "Менеджмент туризма",
                                "32",
                                "15",
                                "10"
                            ]
                        ]
                    })

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h3>Магистратура</h3>'
                    +info-tag
                    +m-table({
                        header: [								
                            "№",
                            "Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей",
                            "Наименование профессии, специальности, направления подготовки наименование группы научных специальностей",
                            "Образовательная программа, направленность, профиль, шифр и наименование научной специальности",
                            "Количество выпускников",
                            "Направлено на&nbsp;места трудоустройства",
                            "Количество трудоустроенных выпускников"
                        ],

                        rows: [
                            [
                                "1",
                                "38.03.02",
                                "Менеджмент",
                                "Менеджмент организаций",
                                "32",
                                "15",
                                "10"
                            ],
                            [
                                "2",
                                "38.03.01",
                                "Экономика",
                                "Экономика предприятия",
                                "32",
                                "15",
                                "10"
                            ],
                            [
                                "3",
                                "38.03.02",
                                "Менеджмент",
                                "Менеджмент туризма",
                                "32",
                                "15",
                                "10"
                            ]
                        ]
                    })

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h3>Аспирантура</h3>'
                    +info-tag
                    +m-table({
                        header: [								
                            "№",
                            "Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей",
                            "Наименование профессии, специальности, направления подготовки наименование группы научных специальностей",
                            "Образовательная программа, направленность, профиль, шифр и наименование научной специальности",
                            "Количество выпускников",
                            "Направлено на&nbsp;места трудоустройства",
                            "Количество трудоустроенных выпускников"
                        ],

                        rows: [
                            [
                                "1",
                                "38.03.02",
                                "Менеджмент",
                                "Менеджмент организаций",
                                "32",
                                "15",
                                "10"
                            ],
                            [
                                "2",
                                "38.03.01",
                                "Экономика",
                                "Экономика предприятия",
                                "32",
                                "15",
                                "10"
                            ],
                            [
                                "3",
                                "38.03.02",
                                "Менеджмент",
                                "Менеджмент туризма",
                                "32",
                                "15",
                                "10"
                            ]
                        ]
                    })       