extends ../layouts/default

block variables
    - const title = "Информация  о результатах перевода, о результатах восстановления и отчисления"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Информация</span> о результатах перевода, о результатах восстановления и отчисления',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Информация  о результатах перевода, о результатах восстановления и отчисления',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })

            .sidebar-layout__content
                .gost-section.gost-section--bordered.text-editor
                    +info-tag
                    +m-table({
                        header: [								
                            "№",
                            "Код, наименование профессии, специальности, направления подготовки, наименование группы научных специальностей",
                            "Уровень образования",
                            "Форма обучения",
                            "Численность обучающихся, переведенных в другие образовательные организации",
                            "Численность обучающихся, переведенных в другие образовательные организации",
                            "Численность восстановленных обучающихся"
                        ],

                        rows: [
                            [
                                "1",
                                "38.03.02 Менеджмент",
                                "Высшее образование бакалавриат",
                                "Очная <br><br>Заочная <br><br>Очно‑заочная",
                                "1",
                                "1",
                                "1"
                            ],
                            [
                                "2",
                                "38.03.02 Менеджмент",
                                "Высшее образование бакалавриат",
                                "Очная <br><br>Заочная <br><br>Очно‑заочная",
                                "1",
                                "1",
                                "1"
                            ],
                            [
                                "3",
                                "38.03.02 Менеджмент",
                                "Высшее образование бакалавриат",
                                "Очная <br><br>Заочная <br><br>Очно‑заочная",
                                "1",
                                "1",
                                "1"
                            ]
                        ]
                    })
