extends ../layouts/default

block variables
    - const title = "Информация о результатах перевода, о результатах восстановления и отчисления"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Информация</span> о результатах перевода, о результатах восстановления и отчисления',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Информация  о результатах перевода, о результатах восстановления и отчисления',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })

            .sidebar-layout__content
                .gost-section.gost-section--bordered.text-editor
                    +info-tag
                    .m-table.m-table--columns(data-js="mTable")
                        <table>
                            <thead>
                            <tr>
                                <th>№</th>
                                <th>Код, наименование профессии, специальности, направления подготовки, наименование группы научных специальностей</th>
                                <th>Уровень образования</th>
                                <th>Форма обучения</th>
                                <th>Численность обучающихся, переведенных в другие образовательные организации</th>
                                <th>Численность обучающихся, переведенных из других образовательных организаций</th>
                                <th>Численность восстановленных обучающихся</th>
                                <th>Численность отчисленных обучающихся</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>38.03.02 Менеджмент</td>
                                <td>Высшее образование&nbsp;- бакалавриат</td>
                                <td>Очная</td>
                                <td>3</td>
                                <td>0</td>
                                <td>0</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td rowspan="2">2</td>
                                <td rowspan="2">38.03.02 Менеджмент</td>
                                <td rowspan="2">Высшее образование&nbsp;- бакалавриат</td>
                                <td>Очная</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>31</td>
                            </tr>
                            <tr>
                                <td>Заочная</td>
                                <td>3</td>
                                <td>0</td>
                                <td>0</td>
                                <td>14</td>
                            </tr>
                            <tr>
                                <td rowspan="3">3</td>
                                <td rowspan="3">38.03.02 Менеджмент</td>
                                <td rowspan="3">Высшее образование&nbsp;- бакалавриат</td>
                                <td>Очная</td>
                                <td>1</td>
                                <td>0</td>
                                <td>0</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>Заочная</td>
                                <td>4</td>
                                <td>0</td>
                                <td>0</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <td>Очно‑заочная</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>1</td>
                            </tr>

                            </tbody>
                        </table>