extends ../layouts/default

block variables
    - const title = "Платные  образовательные услуги"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Платные</span> <br>образовательные услуги',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Платные  образовательные услуги',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })
                +info-tag({
                    classes: 'page-intro__tag'
                })
            .sidebar-layout__content
                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Порядок оказания платных образовательных услуг</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Положение о порядке предоставления платных образовательных услуг'
                        })

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Образец договора об оказании платных образовательных услуг</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'двухсторонний договор на обучение по образовательным программам высшего образования с физическими лицами в связи с поступлением на 1 курс'
                        })
                        +link-block({
                            classes: '',
                            text: 'трехсторонний договор на обучение по образовательным программам высшего образования с физическими лицами в связи с поступлением на 1 курс'
                        })
                        +link-block({
                            classes: '',
                            text: 'трехсторонний договор на обучение по образовательным программам высшего образования с юридическими лицами в связи с поступлением на 1 курс'
                        })
                        +link-block({
                            classes: '',
                            text: 'двухсторонний договор на обучение по образовательным программам высшего образования с физическими лицами в связи с восстановлением для продолжения обучения'
                        })
                        +link-block({
                            classes: '',
                            text: 'трехсторонний договор на обучение по образовательным программам высшего образования с физическими лицами в связи с восстановлением для продолжения обучения'
                        })
                        +link-block({
                            classes: '',
                            text: 'трехсторонний договор на обучение по образовательным программам высшего образования с юридическими лицами в связи с восстановлением для продолжения обучения'
                        })
                        +link-block({
                            classes: '',
                            text: 'двухсторонний договор на обучение по образовательным программам высшего образования с физическими лицами в связи с переводом из другой образовательной организации'
                        })
                        +link-block({
                            classes: '',
                            text: 'трехсторонний договор на обучение по образовательным программам высшего образования с физическими лицами в связи с переводом из другой образовательной организации'
                        })
                        +link-block({
                            classes: '',
                            text: 'трехсторонний договор на обучение по образовательным программам высшего образования с юридическими лицами в связи с переводом из другой образовательной организации'
                        })
                        +link-block({
                            classes: '',
                            text: 'согласие на заключение несовершеннолетним договора на обучение по образовательным программам высшего образования'
                        })
                        +link-block({
                            classes: '',
                            text: 'двухсторонний договор на обучение по программам подготовки научных и научно-педагогических кадров в аспирантуре'
                        })
                        +link-block({
                            classes: '',
                            text: 'трехсторонний договор на обучение по программам подготовки научных и научно-педагогических кадров в аспирантуре'
                        })
                        +link-block({
                            classes: '',
                            text: 'двухсторонний договор на обучение по программам подготовки научных и научно–педагогических кадров в аспирантуре в связи с восстановлением для продолжения обучения'
                        })
                        +link-block({
                            classes: '',
                            text: 'трехсторонний договор на обучение по программам подготовки научных и научно–педагогических кадров в аспирантуре в связи с восстановлением для продолжения обучения'
                        })
                        +link-block({
                            classes: '',
                            text: 'двухсторонний договор на обучение по программам подготовки научных и научно–педагогических кадров в аспирантуре в связи с переводом из другой образовательной организации'
                        })
                        +link-block({
                            classes: '',
                            text: 'трехсторонний договор на обучение по программам подготовки научных и научно–педагогических кадров в аспирантуре в связи с переводом из другой образовательной организации'
                        })

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Образец договора об оказании платных образовательных услуг</h2>'
                })
                    h3 2024
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Приказ №400-ОД от 05.04.2024 Об установлении стоимости платных образовательных услуг в 2024/2025 учебном году для 1 курса'
                        })
                        +link-block({
                            classes: '',
                            text: 'Приказ №434-ОД от 16.04.2024 О стоимости образовательных услуг в 2024/2025 учебном году для продолжающих обучение, переводящихся и восстанавливающихся'
                        })
                    h3 2023    
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Приказ №366-ОД от 31.03.2023 Об установлении стоимости платных образовательных услуг в 2023/2024 учебном году для 1 курса'
                        })
                        +link-block({
                            classes: '',
                            text: 'Приказ №660-ОД от 31.05.2023 О стоимости образовательных услуг в 2023/2024 учебном году для продолжающих обучение, переводящихся и восстанавливающихся'
                        })
