extends ../layouts/default

block variables
    - const title = "Приемная комиссия"

block content
    .page
        .page-layout
            +page-intro({
                title: '<span>Приемная </span>комиссия',
                classes: "white-bg border-bottom",
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Приемная комиссия',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })
            .m-container.white-bg
                +m-columns({
                    classes: "m-columns--no-plpr no-border",
                    title: '<h2>3165 бюджетных места на бакалавриат и специалитет в университет</h2>'
                })
                    ul
                        li В 2024 году поступление в университет ведётся по новым правилам
                        li Подробнее о каждом нововведении читайте далее
                    br


            .m-container.white-bg

                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<h3>Контактная информация</h3><br><p>Телефон:<br><a href="tel:+79900595039"><b>+7 (990) 059 50 39</b></a></p><p>Почта:<br><a href="mailto:priem@khay.ru"><b>priem@khay.ru</b></a></p><p>Адрес:<br><b>г. Херсон, ул. Сретенская, д. 23</b></p>'
                })
                    br
                    br
                    br
                    p часы работы:<br>
                        b Пн. — Пт. 10:30 - 18:00<br>
                        b Сб. 10:30 - 15:00<br>
                        b Вс. приём онлайн

            .m-container
                +m-columns({
                    classes: "m-columns--no-plpr no-border",
                    title: '<h2>Сроки и формы подачи документов</h2><p><b>Начало приёма документов — 15 апреля 2024 года.</b></p><p>Списки документов, полные правила приёма и приложения доступны на странице — <a href=""><b>Правила приема</b></a></p><br>'
                })
                    p Посмотреть актуальные сроки окончания приёма документов в университет на программы бакалавриата, специалитета, магистратуры и аспирантуры можно в разделе — <a href=""><b>Подача документов</b></a>.

                    p На этой же странице указаны все способы подачи документов и комментарии к ним:  через сервис Госуслуги («Поступление в вуз онлайн»); лично (через законного представителя), через операторов почтовой связи общего пользования.

                    p <b>Копии документов, которые подаются онлайн, заверять не нужно.</b>
            br
            br
            .m-container
                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<h2>Нужно указывать приоритетность направлений</h2><p>Приоритетность можно поменять, но только до дня завершения приёма документов</p> <p><a href=""><b>Выбрать программы</b></a></p>'
                })
                    p При подаче документов в заявлении необходимо указывать приоритетность выбранных направлений. Например, абитуриент выбрал пять направлений для поступления. Он должен расставить их в порядке «привлекательности» для себя: Информатика и вычислительная техника, образовательная программа «Веб-технологии» – первый приоритет; Наземные транспортно-технологические средства, образовательная программа «Спортивные транспортные средства» – второй приоритет; Автоматизация технологических процессов и производств, образовательная программа «Роботы и робототехнические комплексы» – третий приоритет и так далее.

                    p Зачисление проводится в соответствии с конкурсными списками, в которых поступающие ранжированы в порядке убывания баллов и по приоритетности, указанной в их заявлениях о приёме, до заполнения установленного количества мест. Это даёт возможность поучаствовать во всех конкурсах, на которые подано заявление.
            .m-container
                +m-columns({
                    classes: "m-columns--no-plpr no-border",
                    title: '<h2>Согласие на зачисление больше не требуется</h2>',
                    noContent: true
                })
            .m-container
                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<p>В 2022 году для зачисления на бюджет нужно было подать оригинал документа об образовании и согласие на зачисление. </p>'
                })
                    p В 2024 году для поступления на бюджет достаточно подать оригиналы документа об образовании, на платную основу – заключить договор.
            br
            br
            .m-container
                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<h2>Оригиналы документов будут принимать по единому времени</h2>'
                })
                    p В новом году приём оригиналов документов об образовании закончится строго в 12:00 на бакалавриат/специалитет по московскому времени. Временное ограничение распространяется на все способы подачи документов и охватывает все часовые пояса страны.
            br
            br
            .m-container
                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<h2>Для поступления можно выбрать до 5 специальностей</h2>'
                })
                    p Сейчас вузы сами устанавливают количество направлений подготовки, которое можно выбрать (от двух до пяти).<br>Наш университет разрешает подать документы на 5 направлений подготовки. Меньше, естественно, можно, больше — нет.<br>Подать документы можно не более, чем в 5 вузов.
            br
            br

            .m-container
                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<h2>Разные комбинации ЕГЭ для одной специальности</h2><p>На большинстве образовательных программ поступающий может выбрать третий ЕГЭ из двух-трёх предметов.\n</p>'
                })
                    p Например, абитуриент собирается поступать на направление подготовки «Биотехнология». По правилам приёма, он может выбрать, результат какого ЕГЭ указать — по химии или по биологии.

                    p В итоге у выпускников, которые сдают не три экзамена, а четыре или пять, появляется больше вариативной возможности, и увеличивается фактор участия в конкурсе, потому что они выбирают максимальный балл из имеющихся.
            br
            br
            .m-container
                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<h2>Обезличенные конкурсные списки</h2><p>В конкурсных списках вместо фамилии абитуриента указывается либо СНИЛС, либо уникальный код, присвоенный поступающему</p>'
                })
                    p Это требование Министерства науки и высшего образования Российской Федерации, которое изложено в документе «Об утверждении Порядка приема на обучение по образовательным программам высшего образования — программам бакалавриата, программам специалитета, программам магистратуры».
            br
            br
            .m-container
                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<h2>Распределение целевых квот</h2><p>Целевая квота на программу бакалавриата и специалитета составляет <b>от 10% до 30%</b> бюджетных мест. </p><p>Целевая квота на программы магистратуры составляет <b>5-20%</b> бюджетных мест.</p>'
                })
                    p <b>Целевой приём осуществляется по отдельному конкурсу</b>

                    p Если процент бюджетных мест на каком-то направлении подготовки выделен под целевой приём, то на эти места будут претендовать только те люди, которые имеют целевые договора.

                    p Если поступающих на целевое обучение оказывается меньше, чем количества выделенных мест, тогда зачислены будут все из них, а невостребованные места будут переданы абитуриентам, поступающим по общему конкурсу. Если желающих поступить на целевое обучение больше, чем вакантных мест, то среди них будет проведён конкурс по баллам.

                    p Что будущие работодатели обеспечивают студентам во время обучения:
                    ul
                        li Прохождение всех практик, которые предусмотрены учебным процессом — от ознакомительной до преддипломной;
                        li Рабочее место после выпуска студента из университета;
                        li Меры поддержки, прописанные в договоре (выплата повышенной стипендии, оплата проезда до места учёбы и другие).
                        li Обязанность студента после получения образования по целевому договору — отработать на предприятии заказчика не менее трёх лет.

                    p Направить на целевое обучение за счёт федерального бюджета могут органы государственной власти и самоуправления, либо юридические лица, в уставном капитале которых есть доля, находящаяся в собственности Российской Федерации или субъекта РФ, то есть государственные компании, корпорации.
            br
            br
            .m-container
                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<h2>Поступление после колледжей</h2><p>Для выпускников колледжа есть несколько вариантов поступления</p>'
                })
                    p <b>Обладатели дипломов среднего профессионального образования могут сдавать как ЕГЭ, так и внутренние экзамены</b>

                    p В 2022 году внутривузовские вступительные испытания изменили свой формат. Вместо общеобразовательных предметов будут экзамены, учитывающие профессиональные компетенции поступающих. Исключение составит только «Русский язык».

                    p Кроме того, у выпускников колледжей есть возможность сдать и то, и другое, выбрать наилучшие результаты и приложить их при поступлении в любом наборе.

                    p Например, абитуриент сдал ЕГЭ по трём предметам. ЕГЭ получилось сдать лучше по двум из них, а за внутренний экзамен удалось получить больше баллов по третьему предмету. Он их комбинирует так, как ему будет выгоднее.

                    p Следующий вариант подходит выпускникам СПО, которые сдавали внутренний демонстрационный экзамен в формате WorldSkills и получили соответствующий документ. В этом случае вместо одного из результатов внутренних экзаменов мы засчитываем результат демонстрационного экзамена. Таким образом, абитуриент приносит один результат демонстрационного экзамена и сдаёт уже два экзамена, а не три.

                    p Выпускники СПО имеют право на ускоренное обучение по индивидуальному учебному плану. Если абитуриент пришел из колледжа, после зачисления он может обратиться в Многофункциональный центр университета с заявлением о переходе на индивидуальный учебный план для дальнейшего рассмотрения на соответствующем факультете/институте. Для студентов, которые выпустились из колледжа, возможен зачёт значительного блока дисциплин, которые совпадают в учебном плане, в результате чего возможно ускорение обучения. Изначально абитуриент будет зачислен на первый курс, но закончит обучение не за четыре года, а, например, за три.

                    p Для поступающих после колледжа на бюджетную основу сроки подачи документов чуть короче из-за сдачи внутренних вступительных испытаний. Приём документов на все формы обучения и уровни образования в университет начинается 15 апреля. У школьников, которые поступают по результатам ЕГЭ, мы принимаем их документы до 25 июля, а у тех, кто поступает по результатам внутренних экзаменов, до 10 июля. Эти две недели даны на проведение консультаций, самих экзаменов, апелляций по ним и так далее. Сроки зачисления, сроки ожидания приказов, единые конкурсные списки — всё это абсолютно одинаково.
                    +btn-plus
            .m-container.white-bg
                +m-columns({
                    classes: "m-columns--no-plpr no-border",
                    title: '<h2>Подача документов</h2>',
                    noContent: true
                })
                br
                br
                br
            .m-container.white-bg
                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<h3>Способы подачи документов</h3><p><b>1. Через сервис «Поступление в вуз онлайн»</b></p><p>Посредством федеральной государственной информационной системы <a href=""><b>«Единый портал государственных услуг и функций»</b></a></p><p><b>2. Лично(через законного представителя)</b></p><p>Представляются поступающим или его доверенным лицом в точки приёма приёмной комиссии, уполномоченному должностному лицу университета, проводящему приём документов в здании иной организации или в передвижном пункте приема документов.</p><p>Адрес приёмной комиссии: <b>г. Херсон, ул. Сретенская, д. 23</b></p><p>В случае если документы, необходимые для поступления, представляются в точку приёма поступающим или доверенным лицом, поступающему или доверенному лицу выдается <b>расписка о приёме документов</b></p><b>3. Дистанционно</b></p><p>Через операторов почтовой связи почтовым отправлением с уведомлением и описью вложения по адресу: 273003, Херсонская Область, г.о. Херсонский, г. Херсон, ул. Сретенская, д. 23, Херсонский аграрный университет, приемная комиссия</p><p>При направлении документов через операторов почтовой связи общего пользования к личному заявлению о приеме необходимо приложить копии всех необходимых документов.</p><p>В случае направления документов, необходимых для поступления, через операторов почтовой связи общего пользования указанные документы принимаются, если они поступили в приемную комиссию не позднее срока завершения приема документов по соответствующему конкурсу.</p><p>Реестр подавших заявление по почте во время приёма документов будет доступен <a href=""><b>по ссылке</b></a>. </p>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Даты подачи документов Бакалавриат и специалитет',
                            linkText: 'Перейти',
                            vMode: 'table',
                            type: 'link'
                        })
                        +link-block({
                            classes: '',
                            text: 'Даты подачи документов Магистратура',
                            linkText: 'Перейти',
                            vMode: 'table',
                            type: 'link'
                        })
                        +link-block({
                            classes: '',
                            text: 'Даты подачи документов Аспирантура',
                            linkText: 'Перейти',
                            vMode: 'table',
                            type: 'link'
                        })
                        +link-block({
                            classes: '',
                            text: 'Заявление для поступающих по программам бакалавриата и специалитета',
                            linkText: 'Перейти',
                            vMode: 'table',
                            type: 'link'
                        })
                        +link-block({
                            classes: '',
                            text: 'Заявление для поступающих по программам магистратуры',
                            linkText: 'Перейти',
                            vMode: 'table',
                            type: 'link'
                        })
                        +link-block({
                            classes: '',
                            text: 'Заявление для поступающих по программам научных и научно-педагогических кадров в аспирантуре',
                            linkText: 'Перейти',
                            vMode: 'table',
                            type: 'link'
                        })
                        +link-block({
                            classes: '',
                            text: 'Бланк заявления на апелляцию',
                            linkText: 'Перейти',
                            vMode: 'table',
                            type: 'link'
                        })
                        +link-block({
                            classes: '',
                            text: 'Заявление об отзыве документов',
                            linkText: 'Перейти',
                            vMode: 'table',
                            type: 'link'
                        })

            +m-questions({
                title: 'Вопрос-ответ'
            })


