extends ../layouts/default

block variables
    - const title = "Программа обучения"

block content
    .page
        .page-layout
            +i-intro({
                title: 'Управление бизнес-процессами (Менеджмент)',
                img: 'img/programms/programm_intro.webp',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Программы обучения',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Программа обучения',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })
                a.intro-link(href="")
                    .intro-link__left
                        .intro-link__text Факультет:
                        .h3.intro-link__title Экономики и управления
                    .intro-link__icon
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#link_angle`)

            +programm-info
            +s-skills
            +s-vacancy({
                title: 'Карьера после <br>обучения',
                cards: [
                    {
                        tag: '',
                        title: 'Менеджер по бизнес-процессам',
                        salary: 'от 80 000р',
                        resp: 'проведение аудита бизнес-процессов на соответствие стратегическим целям и задачам, а так же текущей операционной деятельности, осуществление оперативного контроля функционирования',
                        employer: ''
                    },
                    {
                        tag: '',
                        title: 'Аналитик бизнес-процессов',
                        salary: 'от 140 000р',
                        resp: 'автоматизация бизнес-процессов полиграфического и упаковочного производства; анализ показателей выработки, прибыльности, ресурсов, перспектив предприятия',
                        employer: ''
                    },
                    {
                        tag: '',
                        title: 'Специалист по бизнес-процессам',
                        salary: 'от 80 000р',
                        resp: 'проведение аудита бизнес-процессов на соответствие стратегическим целям и задачам, а так же текущей операционной деятельности, осуществление',
                        employer: ''
                    },
                    {
                        tag: '',
                        title: 'Менеджер по бизнес-процессам',
                        salary: 'от 80 000р',
                        resp: 'проведение аудита бизнес-процессов на соответствие стратегическим целям и задачам, а так же текущей операционной деятельности, осуществление оперативного контроля функционирования системы бизнес-процессов и проведение необходимой коррекции для повышения эффективности и результативности бизнес-процессов.',
                        employer: ''
                    },

                ]
            })
            +s-partners
            +programm-programms