extends ../layouts/default

block variables
    - const title = "Проектная деятельность"

block content
    .page
        .page-layout
            +page-intro({
                title: '<span>Проектная</span> <br>деятельность',
                classes: "border-bottom white-bg",
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Студентам',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Проектная деятельность',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })

            section.white-bg
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: `<h2>Обучение через работу над реальными проектами</h2>`
                    })
                        p 
                            b Проектная деятельность — это дисциплина, которая внедрена во все учебные планы университета с первого по последний курс на всех направлениях подготовки бакалавриата и специалитета.

                        p 
                            b Проекты позволяют не только выстроить связь преподаваемых дисциплин с практикой, но и сформировать компетенции, которые требуют работодатели во всех сферах и отраслях: командная работа, междисциплинарность, ориентация на продукт и креативное мышление.

                        +btn({
                            name: 'Подать заявку',
                            cMode: 'darkGreen'
                        })

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<h2>Контактные данные</h2>`
                    })
                        p 
                            | Адрес: <b>Сретенская ул., 23, Херсон</b>
                            <br>Кабинет: <b>В-506</b>
                            <br>Начальник ЦПД: <b>Петров Петр Петрович</b>
                            <br>Телефон: <a href="tel:+74951111111"><b>+7 (495) 111-11-11 доб. 15</b></a>
                            <br>E-mail: <a href="mailto:cpd@khay.ru"><b>cpd@khay.ru</b></a>

                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: '<br><br><h2>Дорожная карта</h2>',
                        noContent: true
                    })

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<h3>Индустрия</h3>`
                    })
                        p Реальные проекты от индустриальных партнеров Университета.
                        p Предмет проектирования – решение реальной или перспективной производственной, инженерной, дизайнерской или управленческой задачи, которая стоит перед предприятием.

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<h3>Университет</h3>`
                    })
                        p Проекты, нацеленные на стратегическое развитие Университета.
                        p Предмет проектирования — реализация проектов по основным сферам деятельности Университета, связанным с развитием образования и образовательных технологий, науки, инфраструктуры, цифровой среды и социальной жизни студентов и сотрудников вуза.

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<h3>Наука</h3>`
                    })
                        p Исследовательские проекты в составе научных коллективов внутри и во вне Университета.
                        p Предмет проектирования – проведение исследований в перспективных областях науки и техники для создания передовых разработок в соответствующих индустриях.

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<h3>Инициативы</h3>`
                    })
                        p Персональные проекты от студентов, сотрудников Университета или внешних инициаторов.
                        p Предмет проектирования — перспективные персональные проекты и стартапы по различным тематикам, нацеленные на достижение конкретного результата на рынке или в социальной сфере.

            +projects-list