extends ../layouts/default

block variables
    - const title = "Проектная деятельность"

block content
    .page
        .page-layout
            +page-intro({
                title: '<span>Проектная</span> <br>деятельность',
                classes: "border-bottom white-bg",
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Студентам',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Проектная деятельность',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })

            section.white-bg
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: `<h2>Обучение через работу над реальными проектами</h2>`
                    })
                        p 
                            b Проектная деятельность — это дисциплина, которая внедрена во все учебные планы университета с первого по последний курс на всех направлениях подготовки бакалавриата и специалитета.

                        p 
                            b Проекты позволяют не только выстроить связь преподаваемых дисциплин с практикой, но и сформировать компетенции, которые требуют работодатели во всех сферах и отраслях: командная работа, междисциплинарность, ориентация на продукт и креативное мышление.

                        +btn({
                            name: 'Подать заявку',
                            cMode: 'darkGreen'
                        })(data-modal="#projectsModal")

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<h2>Контактные данные</h2>`
                    })
                        p 
                            | Адрес: <b>Сретенская ул., 23, Херсон</b>
                            <br>Кабинет: <b>В-506</b>
                            <br>Начальник ЦПД: <b>Петров Петр Петрович</b>
                            <br>Телефон: <a href="tel:+74951111111"><b>+7 (495) 111-11-11 доб. 15</b></a>
                            <br>E-mail: <a href="mailto:cpd@khay.ru"><b>cpd@khay.ru</b></a>

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<h2>Дорожная карта</h2>`
                    })
                        <h3>Индустрия</h3>
                        <p>Реальные проекты от индустриальных партнеров Университета.</p>
                        <p>Предмет проектирования – решение реальной или перспективной производственной, инженерной, дизайнерской или управленческой задачи, которая стоит перед предприятием.</p>

                        <h3>Наука</h3>
                        <p>Исследовательские проекты в составе научных коллективов внутри и во вне Университета.</p>
                        <p>Предмет проектирования – проведение исследований в перспективных областях науки и техники для создания передовых разработок в соответствующих индустриях.</p>

                        <h3>Университет</h3>
                        <p>Проекты, нацеленные на стратегическое развитие Университета.</p>
                        <p>Предмет проектирования — реализация проектов по основным сферам деятельности Университета, связанным с развитием образования и образовательных технологий, науки, инфраструктуры, цифровой среды и социальной жизни студентов и сотрудников вуза.</p>

                        h3 Инициативы
                        p Персональные проекты от студентов, сотрудников Университета или внешних инициаторов.
                        p Предмет проектирования — перспективные персональные проекты и стартапы по различным тематикам, нацеленные на достижение конкретного результата на рынке или в социальной сфере.

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<h3>Инициативы</h3>`
                    })
                        p Персональные проекты от студентов, сотрудников Университета или внешних инициаторов.
                        p Предмет проектирования — перспективные персональные проекты и стартапы по различным тематикам, нацеленные на достижение конкретного результата на рынке или в социальной сфере.

            +projects-list

            section.white-bg
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: '<br><h2>Проекты с индустриальными партнерами</h2>',
                        noContent: true
                    })
                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: '<img src="img/projects/project_1.webp")>'
                    })

                        h3 Требования к партнеру
                        p Ждем от Вас:
                        ul
                            li Проектную задачу и образ итогового результата
                            li Возможность стажировки, практики и трудоустройства для отличившихся участников проекта
                            li Консультационную поддержку проекта
                            li Привлечение представителя компании для реализации проекта с возможностью трудоустройства в университете

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: '<img src="img/projects/project_2.webp")>'
                    })

                        h3 Какие темы проектов могут быть
                        ul
                            li Инженерные разработки, научные исследования, инициативные бизнес стартапы
                            li Текущие нерешенные задачи (кроме срочных и «горящих»)
                            li Инженерные головоломки, требующие отработки большого числа вариантов и нестандартных решений
                            li Трендовые разработки и задачи на перспективу, а также задачи по внедрению технологий переднего края или непосредственно работы по их открытию

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: '<img src="img/projects/project_3.webp")>'
                    })

                        h3 Обязательства университета перед партнером
                        ul
                            li Проектную команду из студентов, необходимую для реализации проекта
                            li Преподавателя Центра проектной деятельности для реализации проекта
                            li Лаборатории и оборудование для реализации проектных задач
                            li Подбор кадров и проектную команду для трудоустройства в вашу компании
                            li Ресурсное обеспечение проекта: расходники, комплектующие
                            li Целевую подготовку будущих сотрудников
                            li Медиаподдержку проектов

            section.white-bg 
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: '<br><h2>Примеры партнерских проектов, которые существуют прямо сейчас</h2>',
                        noContent: true
                    })

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: '<h3>Социально-технические проекты</h3>'
                    })
                        p 
                            b HR-бренд компании «Бизнес-кар»

                        p Цель проекта: повысить узнаваемость бренда компании БИЗНЕС КАР на рынке труда среди кандидатов, молодых специалистов, высококвалифицированных специалистов с целью привлечения и трудоустройства в компанию. В рамках проекта решить следующие задачи: повысить узнаваемость и привлекательность бренда, решить проблемы с трудоустройством молодёжи; совершенствовать каналы коммуникации с клиентами на сайте, сбор заявок. Улучшить айдентику компании. Разработать стратегию позиционирования компании на рынке

                        p 
                            b Группа проектов BMW

                        p Решение актуальных открытых профессиональных задач компании BMW Group Россия в сфере работы с персоналом. Автоматизация процессов связанных с управлением персоналом. Совершенствование обучения персонала в области истории бренда BMW и современного модельного ряда. Разработка решений онлайн оценки кандидатов при приеме на работу. Внедрение новых форматов исследования вовлеченности сотрудников. Создание интерактивных карьерных карт и индивидуальных планов развития сотрудников BMW. Применение генеративного искусственного интеллекта в работе с персоналом.

                        p 
                            b Компания «Тинькофф». Исследование онлайн-репутации и инфлюенсер-маркетинга бренда

                        p Цель проекта:

                        ul
                            li Анализ репутации бренда Тинькофф в сети Интернет
                            li Изучить и проанализировать правила эффективной онлайн-репутации (анализ рынка и конкурентов)
                            li Предложить эффективное управление Интернет репутацией для Тинькофф (краткосрочная и долгосрочная стратегия)
                            li Изучить и проанализировать значение маркетинг влияния (инфлюенсер-маркетинг)
                            li Изучить ценность инфлюенсер-маркетинга и доверия к нему, могут ли социальные медиа влиять на репутацию бренда? Повышать доверие онлайн-подписчиков, создавать ценности и подталкивать стать клиентов банка
                            li Предложить стратегию для инфлюенсер-маркетинга для Тинькофф (краткосрочная и долгосрочная)

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: '<h3>Химбиотех проекты</h3>'
                    })
                        p 
                            b Duracell. Переработка батареек

                        p В России утилизируется не более 20% электронных отходов. Отсутствует пропаганда экологической ответственности, а также несовершенна правовая система, регламентирующая утилизацию электронных отходов. Цель проекта: разработать систему раздельного сбора батареек на этапе жилищно-коммунальных служб регионального масштаба ( сбор, транспортировка, утилизация и т.д.)" предложения по совершенствованию системы расширенной ответственности производителя (РОП), технология утилизации ХИТ, проект системы раздельного сбора батареек на этапе ЖК-служб регионального масштаба, эскизный проект контейнера для сбора батареек в МКД.

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: '<h3>Схема взаимодействия с партнерами</h3>'
                    })
                        p <b>Февраль - Март</b><br>Знакомство и регистрация

                        p Формулировка проблемы с партнером заказчиком. Четкая постановка задачи, понимание образа конечного результата и критериев оценки работы

                        p <b>Апрель - Май</b><br>Утверждение проектов

                        p Отбор проектов экспертами Центра проектной деятельности, Центра трансфера технологий, Центра управления наукой, Центра инжиниринга и руководителями профильных образовательных программ

                        p <b>Июнь - Август</b><br>Распределение студентов и наставников

                        p Согласование с партнером-заказчиком фактического состава команды обучающихся, создание графика рабочего процесса, утверждение наставников (руководителей) проектов

                        p <b>Сентябрь - Май</b><br>Реализация проектов

                        p Организация проектной команды из студентов соответствующих направлений, необходимых для решения проблемы или задачи. Наставник работает со студентами на протяжении всего времени реализации проекта. Представитель компании может проводить регулярные встречи с участниками проекта, дает обратную связь и экспертную поддержку. В декабре проводится промежуточная защита проекта

                        p <b>Май</b><br>Итоговая конференция

                        p Финалом проектной деятельности является студенческая защита, на которой представители Партнера и эксперты Университета принимают полученные результаты работы студентов

            +media-slider({
                sectionClasses: "no-padding-bottom",
                isSection: true,
                fancyGroup: 'projectsActivities',
                slides: [
                    {
                        image: 'img/news/news_slide_6.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_7.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_8.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_6.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_7.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_8.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                ],
            })

            section.m-questions
                .m-container.m-questions__container 
                    .h2.m-questions__title Часто задаваемые вопросы
                    +news-filter({
                        items: [
                            'Общие',
                            'Проекты с партнерами'
                        ]
                    })
                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<h3>Мы объединили здесь всю необходимую информацию, чтобы избавить Вас от необходимости искать ее по разным источникам.</h3>
                        <a href="#" data-modal="#questionModal" class="title-link title-link--plus"><span class="title-link__icon"><svg><use xlink:href=img/sprites/sprite.svg#plus></use></svg></span><span class="title-link__text">Задать вопрос</span></a>`
                        })
                        .m-questions__accordion(data-js="accordion")
                            +spoiler({
                                title: 'Как происходит распределение студентов?',
                                text: '<p><b>Отобранные проекты презентуются студентам всех учебных курсов с учетом направлений специализации, при необходимости проводятся тестирования и собеседования с кандидатами. Студенты с лучшими результатами успеваемости в проектной деятельности получают право первоочередного выбора проекта. Итоговое распределение фиксируется в личном деле студента.</b></p>'
                            })
                            +spoiler({
                                title: 'Какие критерии отбора проектов?',
                                text: '<p><b>Отобранные проекты презентуются студентам всех учебных курсов с учетом направлений специализации, при необходимости проводятся тестирования и собеседования с кандидатами. Студенты с лучшими результатами успеваемости в проектной деятельности получают право первоочередного выбора проекта. Итоговое распределение фиксируется в личном деле студента.</b></p>'
                            })
                            +spoiler({
                                title: 'Какая продолжительность проектов?',
                                text: '<p><b>Отобранные проекты презентуются студентам всех учебных курсов с учетом направлений специализации, при необходимости проводятся тестирования и собеседования с кандидатами. Студенты с лучшими результатами успеваемости в проектной деятельности получают право первоочередного выбора проекта. Итоговое распределение фиксируется в личном деле студента.</b></p>'
                            })
                            +spoiler({
                                title: 'Как взаимодействует Университет с партнером?',
                                text: '<p><b>Отобранные проекты презентуются студентам всех учебных курсов с учетом направлений специализации, при необходимости проводятся тестирования и собеседования с кандидатами. Студенты с лучшими результатами успеваемости в проектной деятельности получают право первоочередного выбора проекта. Итоговое распределение фиксируется в личном деле студента.</b></p>'
                            })
                        +pagination