extends ../layouts/default

block variables
    - const title = "Проектная деятельность"

block content
    .page
        .page-layout
            +page-intro({
                title: '<span>Проектная</span> <br>деятельность',
                classes: "border-bottom white-bg",
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Студентам',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Проектная деятельность',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })

            section.white-bg
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: `<h2>Обучение через работу над реальными проектами</h2>`
                    })
                        p 
                            b Проектная деятельность — это дисциплина, которая внедрена во все учебные планы университета с первого по последний курс на всех направлениях подготовки бакалавриата и специалитета.

                        p 
                            b Проекты позволяют не только выстроить связь преподаваемых дисциплин с практикой, но и сформировать компетенции, которые требуют работодатели во всех сферах и отраслях: командная работа, междисциплинарность, ориентация на продукт и креативное мышление.

                        +btn({
                            name: 'Подать заявку',
                            cMode: 'darkGreen'
                        })