extends ../layouts/default

block variables
    - const title = "Проект детальная"

block content
    .page
        .page-layout
            +page-intro({
                title: '<span>Модульная</span> ситиферма',
                classes: "white-bg",
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Студентам',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Проектная деятельность',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Название проекта',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })

            section.white-bg
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: '<img src="img/projects/project_detailed_1.webp")>'
                    })

                        h3 Основная цель проекта
                        p Создание вертикальной установки для ведения разных видов сельскохозяйственной деятельности на ограниченных закрытых городских площадях одновременно.
                        p На сегодняшний день создана установка с гидропонным и аквапонным модулями, которые помогают разводить рыб и выращивать растения. Разработчики проводят эксперименты для проверки влияния типа освещения на рост рассады, а также исследуют способы повышения экологичности установки. 
                        p Сферы применения проекта разнообразны: городское фермерство, частное предпринимательство, супермаркеты, хозяйства по селекционной работе.
                        p Создание вертикальной установки для ведения разных видов сельскохозяйственной деятельности на ограниченных закрытых городских площадях одновременно.


                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: '<img src="img/projects/project_detailed_1.webp")>'
                    })

                        h3 Бизнес-задачи
                        p Создание вертикальной установки для ведения разных видов сельскохозяйственной деятельности на ограниченных закрытых городских площадях одновременно.
                        p На сегодняшний день создана установка с гидропонным и аквапонным модулями, которые помогают разводить рыб и выращивать растения. Разработчики проводят эксперименты для проверки влияния типа освещения на рост рассады, а также исследуют способы повышения экологичности установки. 
                        p Сферы применения проекта разнообразны: городское фермерство, частное предпринимательство, супермаркеты, хозяйства по селекционной работе.
                        p Создание вертикальной установки для ведения разных видов сельскохозяйственной деятельности на ограниченных закрытых городских площадях одновременно.

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<img src="img/projects/project_detailed_2.webp")><div class="text-items-list">
                            <div class="link-block link-block--table link-block--link">
                                <div class="link-block__desc">Телеграм</div><a class="link-block__link" href="javascript:void(0)" target="_blank"><span class="link-block__text">Перейти</span><span class="link-block__icon">
                                    <svg> 
                                        <use xlink:href="img/sprites/sprite.svg#link"></use>
                                    </svg></span></a>
                            </div>
                            <div class="link-block  link-block--table link-block--link">
                                <div class="link-block__desc">Страница Вконтакте</div><a class="link-block__link" href="javascript:void(0)" target="_blank"><span class="link-block__text">Перейти</span><span class="link-block__icon">
                                    <svg> 
                                        <use xlink:href="img/sprites/sprite.svg#link"></use>
                                    </svg></span></a>
                            </div>
                        </div>`
                    })

                        h3 Об авторе проекта
                        p ФИО<br>
                            b Зрилова Елизавета Валерьевна
                        p Специальность<br>
                            b 09.02.07 “Информационные системы и программирование”
                        p Профиль<br>
                            b Тестирование
                        p Курс (на момент реализации проекта)<br>
                            b 3

                        p Участие автора с проектом в конкурсах
                        ul
                            li 
                                b 1 место в региональном конкурсе «Модульные системы»
                            li 
                                b Полуфиналист «Конкурса студенческих разработок – 2024»

            section.white-bg
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: '<br><h2>Научный руководитель</h2>',
                        noContent: true
                    })
                    +people-detail({
                        hasTitle: true,
                        abbreviated: true,
                        items: [
                            {
                                param: 'Должность',
                                val: 'Начальник центра развития профессиональных компетенций'
                            },
                            {
                                param: 'Образование',
                                val: 'Херсонский аграрный университет, аграрный факультет, кафедра машиностроения, 1986 г.'
                            },
                            {
                                param: 'Ученая степень',
                                val: 'Кандидат наук'
                            },
                            {
                                param: 'Ученое звание',
                                val: 'Доцент'
                            },
                            {
                                param: 'Общий научно-педагогический стаж',
                                val: '<p>19 лет</p><br><ul><li>С 2022 г. по н.в. руководитель стратегического проекта университета «Развитие ДПО»</li><li>Общественный эксперт АСИ по направлению «Образование и кадры»</li><li>Полуфиналист «Лиги лекторов – 2022»</li><li>Эксперт конкурса «Моя страна – моя Россия»</li><li>Эксперт конкурса «Большие вызовы»</li></ul>'
                            },
                            {
                                param: 'Публикации по цифровым технологиям',
                                val: '<ol><li>Мищенко  С.С., Технологии цифрового образования : учебное пособие / Мищенко  С.С.. — Москва : Ай Пи Ар Медиа, 2022. — 171 c. — ISBN 978-5-4497-1613-2. — Текст : электронный // Цифровой образовательный ресурс IPR SMART : [сайт]. — URL: https://www.iprbookshop.ru/119619.html (дата обращения: 23.03.2022). — Режим доступа: для авторизир. пользователей</li><li>Мищенко  С.С., Использование инструментов расширенной реальности в образовательном процессе / Проблемы современного педагогического образования. – Сборник научных трудов: – Ялта: РИО ГПА, 2022 – Вып. 74 – Ч. 3 – С. 51-55.</li><li>Мищенко  С.С., Создание и продвижение образовательного видеоконтента / Опорный образовательный центр. Сборник кейсов №2 : учебное пособие, гриф Министерства науки и высшего образования. Сборник кейсов за 2021 год по развитию цифровых компетенций обучающихся по программам среднего профессионального и высшего образования – Казань: Университет Иннополис, 2021. – С. 169 – 178.</li><li>Мищенко  С.С., Определение антропометрических параметров человека / Опорный образовательный центр. Сборник кейсов №2 : учебное пособие, гриф Министерства науки и высшего образования. Сборник кейсов за 2021 год по развитию цифровых компетенций обучающихся по программам среднего профессионального и высшего образования – Казань: Университет Иннополис, 2021. – С. 178 – 187.</li><li>Мищенко  С.С., Воронина Е.Г., Чайченко М.В. Внедрение цифрового компонента при разработке образовательной программы по направлению подготовки 43.03.01 педагогическое образование, профиль физическая культура / Проблемы современного педагогического образования. – Сборник научных трудов: – Ялта: РИО ГПА, 2021 – Вып. 72 – Ч. 4 – С. 68-70.</li></ol>'
                            },
                            {
                                param: 'Телефон:',
                                val: '<a href="tel:+74959395469">+7 (495) 939 54 69</a>' 
                            },
                            {
                                param: 'E-mail:',
                                val: '<a href="mailto:sibol1954@bk.ru"> sibol1954@bk.ru</a>'
                            }              
                        ]

                    })(data-js='peopleDetail')

            section.projects-list
                .m-container
                    .h2.projects-list__title Другие проекты
                    .a-card-list
                        +a-card({
                            img: 'img/smi/smi_card_1.webp',
                            title: 'Reform',
                            text: 'Подготовка к сдаче ЕГЭ, ОГЭ и внутренних вступительных испытаний по информатике, математике, физике, русскому языку и обществознанию. Программы для школьников, студентов колледжей, граждан иностранных государств.',
                            cMode: 'green'
                        })
                        +a-card({
                            img: 'img/smi/smi_card_2.webp',
                            title: 'Аппарат ударно-волновой терапии',
                            text: 'Инженерно-технологический комплекс, на базе которого проводятся углубленные технико-ориентированные курсы дополнительного образования для школьников. Целых 9 курсов по актуальным направлениям подготовки.'
                        })
                        +a-card({
                            img: 'img/smi/smi_card_3.webp',
                            title: 'Солнечная Регата'
                        })

                    +btn({
                        name: 'Загрузить ещё',
                        cMode: 'lightGreen'
                    })

            section.projects-list
                .m-container
                    .h2.projects-list__title Другие проекты научного руководителя
                    .a-card-list
                        +a-card({
                            img: 'img/smi/smi_card_1.webp',
                            title: 'Фотополимерный 3D-принтер',
                            text: 'Подготовка к сдаче ЕГЭ, ОГЭ и внутренних вступительных испытаний по информатике, математике, физике, русскому языку и обществознанию. Программы для школьников, студентов колледжей, граждан иностранных государств.',
                            cMode: 'green'
                        })
                        +a-card({
                            img: 'img/smi/smi_card_2.webp',
                            title: 'Фотополимерный 3D-принтер',
                            text: 'Инженерно-технологический комплекс, на базе которого проводятся углубленные технико-ориентированные курсы дополнительного образования для школьников. Целых 9 курсов по актуальным направлениям подготовки.'
                        })
                        +a-card({
                            img: 'img/smi/smi_card_3.webp',
                            title: 'Фотополимерный 3D-принтер'
                        })

                    +btn({
                        name: 'Загрузить ещё',
                        cMode: 'lightGreen'
                    })

            section.projects-list
                .m-container
                    .h2.projects-list__title Другие проекты автора
                    .a-card-list
                        +a-card({
                            img: 'img/smi/smi_card_1.webp',
                            title: 'Home++',
                            text: 'Подготовка к сдаче ЕГЭ, ОГЭ и внутренних вступительных испытаний по информатике, математике, физике, русскому языку и обществознанию. Программы для школьников, студентов колледжей, граждан иностранных государств.',
                            cMode: 'green'
                        })
                        +a-card({
                            img: 'img/smi/smi_card_2.webp',
                            title: 'Home++',
                            text: 'Инженерно-технологический комплекс, на базе которого проводятся углубленные технико-ориентированные курсы дополнительного образования для школьников. Целых 9 курсов по актуальным направлениям подготовки.'
                        })
                        +a-card({
                            img: 'img/smi/smi_card_3.webp',
                            title: 'Home++'
                        })

                    +btn({
                        name: 'Загрузить ещё',
                        cMode: 'lightGreen'
                    })