extends ../layouts/default

block variables
    - const title = "Проект детальная"

block content
    .page
        .page-layout
            +page-intro({
                title: '<span>Модульная</span> ситиферма',
                classes: "white-bg",
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Студентам',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Проектная деятельность',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Название проекта',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })

            section.white-bg
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: '<img src="img/projects/project_detailed_1.webp")>'
                    })

                        h3 Основная цель проекта
                        p Создание вертикальной установки для ведения разных видов сельскохозяйственной деятельности на ограниченных закрытых городских площадях одновременно.
                        p На сегодняшний день создана установка с гидропонным и аквапонным модулями, которые помогают разводить рыб и выращивать растения. Разработчики проводят эксперименты для проверки влияния типа освещения на рост рассады, а также исследуют способы повышения экологичности установки. 
                        p Сферы применения проекта разнообразны: городское фермерство, частное предпринимательство, супермаркеты, хозяйства по селекционной работе.
                        p Создание вертикальной установки для ведения разных видов сельскохозяйственной деятельности на ограниченных закрытых городских площадях одновременно.


                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: '<img src="img/projects/project_detailed_1.webp")>'
                    })

                        h3 Бизнес-задачи
                        p Создание вертикальной установки для ведения разных видов сельскохозяйственной деятельности на ограниченных закрытых городских площадях одновременно.
                        p На сегодняшний день создана установка с гидропонным и аквапонным модулями, которые помогают разводить рыб и выращивать растения. Разработчики проводят эксперименты для проверки влияния типа освещения на рост рассады, а также исследуют способы повышения экологичности установки. 
                        p Сферы применения проекта разнообразны: городское фермерство, частное предпринимательство, супермаркеты, хозяйства по селекционной работе.
                        p Создание вертикальной установки для ведения разных видов сельскохозяйственной деятельности на ограниченных закрытых городских площадях одновременно.

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<img src="img/projects/project_detailed_2.webp")><div class="text-items-list">
                            <div class="link-block link-block--table link-block--link">
                                <div class="link-block__desc">Телеграм</div><a class="link-block__link" href="javascript:void(0)" target="_blank"><span class="link-block__text">Перейти</span><span class="link-block__icon">
                                    <svg> 
                                        <use xlink:href="img/sprites/sprite.svg#link"></use>
                                    </svg></span></a>
                            </div>
                            <div class="link-block  link-block--table link-block--link">
                                <div class="link-block__desc">Страница Вконтакте</div><a class="link-block__link" href="javascript:void(0)" target="_blank"><span class="link-block__text">Перейти</span><span class="link-block__icon">
                                    <svg> 
                                        <use xlink:href="img/sprites/sprite.svg#link"></use>
                                    </svg></span></a>
                            </div>
                        </div>`
                    })

                        h3 Об авторе проекта
                        p ФИО<br>
                            b Зрилова Елизавета Валерьевна
                        p Специальность<br>
                            b 09.02.07 “Информационные системы и программирование”
                        p Профиль<br>
                            b Тестирование
                        p Курс (на момент реализации проекта)<br>
                            b 3

                        p Участие автора с проектом в конкурсах
                        ul
                            li 
                                b 1 место в региональном конкурсе «Модульные системы»
                            li 
                                b Полуфиналист «Конкурса студенческих разработок – 2024»