extends ../layouts/default

block variables
    - const title = "Информация о результатах приема"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Информация</span> о&nbsp;результатах приема',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Информация о результатах приема',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })
            .sidebar-layout__content

                +m-columns({
                    title: '<h2>Документы о рeзультатах приема по каждой профессии, специальности среднего профессионального образования (при наличии вступительных испытаний), каждому направлению подготовки или специальности высшего образования с различными условиями приема (на места, финансируемые за счёт бюджетных ассигнований федерального бюджета, бюджетов субъектов Российской Федерации, местных бюджетов, по договорам об образовании за счёт средств физических и (или) юридических лиц) с указанием средней суммы набранных баллов по всем вступительным испытаниям;</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Информация о результатах приема по каждому направлению подготовки или специальности высшего образования с различными условиями приема (по годам и формам обучения)'
                        })
                        .text-items-list__note Образовательная организация не ведет прием по профессиям и специальностям среднего профессионального образования

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Информация о результатах приема по каждой профессии, по каждой специальности среднего профессионального образования, по каждому направлению подготовки или специальности высшего образования, научной специальности с различными условиями приема: на места, финансируемые за счёт бюджетных ассигнований федерального бюджета; на места, финансируемые за счёт бюджетных ассигнований бюджетов субъектов Российской Федерации; на места, финансируемые за счёт бюджетных ассигнований местных бюджетов; по договорам об оказании платных образовательных услуг; о средней сумме набранных баллов по всем вступительным испытаниям (при наличии вступительных испытаний);</h2>'

                    <h3>Бакалавриат</h3>
                    +info-tag
                    .m-table.m-table--columns
                        <table>
                            <thead>
                            <tr>
                                <th rowspan="2">№</th>
                                <th rowspan="2">Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей</th>
                                <th rowspan="2">Наименование профессии, специальности, направления подготовки наименование группы научных специальностей</th>
                                <th rowspan="2">Образовательная программа, направленность, профиль, шифр и наименование научной специальности</th>
                                <th colspan="3">Результаты приема обучающихся за&nbsp;счёт (количество человек)</th>
                            </tr>
                            <tr>
                                <th>по&nbsp;договорам об&nbsp;образовании за&nbsp;счёт средств физических и&nbsp;(или) юридических лиц</th>
                                <th>бюджетных ассигнований федерального бюджета</th>
                                <th>бюджетов субъектов Российской Федерации</th>
                            <tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            </tbody>
                        </table>

                    <h3>Магистратура</h3>
                    +info-tag
                    .m-table.m-table--columns
                        <table>
                            <thead>
                            <tr>
                                <th rowspan="2">№</th>
                                <th rowspan="2">Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей</th>
                                <th rowspan="2">Наименование профессии, специальности, направления подготовки наименование группы научных специальностей</th>
                                <th rowspan="2">Образовательная программа, направленность, профиль, шифр и наименование научной специальности</th>
                                <th colspan="3">Результаты приема обучающихся за&nbsp;счёт (количество человек)</th>
                            </tr>
                            <tr>
                                <th>по&nbsp;договорам об&nbsp;образовании за&nbsp;счёт средств физических и&nbsp;(или) юридических лиц</th>
                                <th>бюджетных ассигнований федерального бюджета</th>
                                <th>бюджетов субъектов Российской Федерации</th>
                            <tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            </tbody>
                        </table>

                    <h3>Аспирантура</h3>
                    +info-tag
                    .m-table.m-table--columns
                        <table>
                            <thead>
                            <tr>
                                <th rowspan="2">№</th>
                                <th rowspan="2">Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей</th>
                                <th rowspan="2">Наименование профессии, специальности, направления подготовки наименование группы научных специальностей</th>
                                <th rowspan="2">Образовательная программа, направленность, профиль, шифр и наименование научной специальности</th>
                                <th colspan="3">Результаты приема обучающихся за&nbsp;счёт (количество человек)</th>
                            </tr>
                            <tr>
                                <th>по&nbsp;договорам об&nbsp;образовании за&nbsp;счёт средств физических и&nbsp;(или) юридических лиц</th>
                                <th>бюджетных ассигнований федерального бюджета</th>
                                <th>бюджетов субъектов Российской Федерации</th>
                            <tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            </tbody>
                        </table>        