extends ../layouts/default

block variables
    - const title = "Руководство. Педагогический (научно-педагогический) состав"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Руководство. Педагогический</span> (научно-педагогический) состав',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Руководство. Педагогический (научно-педагогический) состав',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })
            .sidebar-layout__content
                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Информация о&nbsp;руководителе образовательной организации</h2>'
                    +info-tag
                    +m-table({
                        header: [								
                            "№",
                            "Фамилия, имя, отчество (при наличии)",
                            "Должность руководителя",
                            "Контактные телефоны",
                            "Адрес электронной почты"
                        ],

                        rows: [
                            [
                                "1",
                                "Чернышова Евгения Олеговна",
                                "Ректор",
                                "<a href='tel:+79900595039'>+79900595039</a>",
                                "<a href='mailto:pk.khau@yandex.ru'>pk.khau@yandex.ru</a>"
                            ]
                        ]
                    })

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Информация о&nbsp;заместителях руководителя образовательной организации</h2>'
                    +info-tag
                    +m-table({
                        header: [								
                            "№",
                            "Фамилия, имя, отчество (при&nbsp;наличии)",
                            "Должность руководителя",
                            "Контактные телефоны",
                            "Адрес электронной почты"
                        ],

                        rows: [
                            [
                                "1",
                                "Чернышова Евгения Олеговна",
                                "Первый проректор",
                                "<a href='tel:+79900595039'>+79900595039</a>",
                                "<a href='mailto:pk.khau@yandex.ru'>pk.khau@yandex.ru</a>"
                            ],
                            [
                                "2",
                                "Чернышова Евгения Олеговна",
                                "Проректор по безопасности",
                                "<a href='tel:+79900595039'>+79900595039</a>",
                                "<a href='mailto:pk.khau@yandex.ru'>pk.khau@yandex.ru</a>"
                            ],
                            [
                                "3",
                                "Чернышова Евгения Олеговна",
                                "Проректор по международной деятельности",
                                "<a href='tel:+79900595039'>+79900595039</a>",
                                "<a href='mailto:pk.khau@yandex.ru'>pk.khau@yandex.ru</a>"
                            ],
                            [
                                "4",
                                "Чернышова Евгения Олеговна",
                                "Проректор по цифровому развитию и делопроизводству",
                                "<a href='tel:+79900595039'>+79900595039</a>",
                                "<a href='mailto:pk.khau@yandex.ru'>pk.khau@yandex.ru</a>"
                            ],
                            [
                                "5",
                                "Чернышова Евгения Олеговна",
                                "Проректор по научной работе",
                                "<a href='tel:+79900595039'>+79900595039</a>",
                                "<a href='mailto:pk.khau@yandex.ru'>pk.khau@yandex.ru</a>"
                            ],
                            [
                                "6",
                                "Чернышова Евгения Олеговна",
                                "Проректор по управлению кампусом",
                                "<a href='tel:+79900595039'>+79900595039</a>",
                                "<a href='mailto:pk.khau@yandex.ru'>pk.khau@yandex.ru</a>"
                            ],
                            [
                                "7",
                                "Чернышова Евгения Олеговна",
                                "Проректор по воспитательной и социальной работе",
                                "<a href='tel:+79900595039'>+79900595039</a>",
                                "<a href='mailto:pk.khau@yandex.ru'>pk.khau@yandex.ru</a>"
                            ],
                            [
                                "8",
                                "Чернышова Евгения Олеговна",
                                "Проректор по учебной работе",
                                "<a href='tel:+79900595039'>+79900595039</a>",
                                "<a href='mailto:pk.khau@yandex.ru'>pk.khau@yandex.ru</a>"
                            ]
                        ]
                    })

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Информация о&nbsp;персональном составе педагогических работников каждой реализуемой образовательной программы</h2>'
                    +info-tag
                    +m-table({
                        header: [								
                            "№",
                            "Код, наименование профессии, специальности, направления подготовки, наименование группы научных специальностей",
                            "Уровень образования",
                            "Ссылка на страницу с&nbsp;информацией о&nbsp;ППС"
                        ],

                        rows: [
                            [
                                "1",
                                "05.03.03 «Картография и геоинформатика»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "2",
                                "05.03.04 «Гидрометеорология»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "3",
                                "05.03.06 «Экология и природопользование»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "4",
                                "07.02.01 «Архитектура»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "5",
                                "07.03.03 «Дизайн архитектурной среды»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "6",
                                "08.03.01 «Строительство»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "7",
                                "19.03.01 «Биотехнология»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "8",
                                "19.03.02 «Продукты питания из растительного сырья»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "9",
                                "19.03.03 «Продукты питания животного происхождения»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "10",
                                "19.03.04 «Технология продукции и организация общественного питания»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "11",
                                "20.03.02 «Природообустройство и водопользование»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "12",
                                "21.03.02 «Землеустройство и кадастры»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "13",
                                "21.03.03 «Геодезия и дистанционное зондирование»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "14",
                                "35.03.01 «Лесное дело»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "15",
                                "35.03.03 «Агрохимия и агропочвоведение»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "16",
                                "35.02.05 «Агрономия»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "17",
                                "38.03.02 Менеджмент (профиль Бизнес аналитика и прогнозирование)",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "18",
                                "40.02.02 Правоохранительная деятельность",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "19",
                                "38.03.02 Менеджмент (профиль Менеджмент организаций)",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "20",
                                "38.03.02 Менеджмент (профиль Международный бизнес и предпринимательство)",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "21",
                                "05.03.03 «Картография и геоинформатика»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "22",
                                "38.03.01 Экономика (профиль Бухгалтерский учет, анализ и аудит)",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "23",
                                "38.03.01 Экономика (профиль Экономика предприятия)",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "24",
                                "35.03.10 «Ландшафтная архитектура»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "25",
                                "38.03.02 Менеджмент(профиль Менеджмент туризма)",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "26",
                                "35.03.11 «Гидромелиорация»",
                                "Высшее образование бакалавриат&nbsp;/ магистратура&nbsp;/ специалитет",
                                "Перейти (ссылка)",
                            ],
                            [
                                "27",
                                "38.03.01 Экономика (профиль Бухгалтерский учет, анализ и аудит)",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "28",
                                "35.03.08 «Водные биоресурсы и аквакультура»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "29",
                                "35.02.06 «Технология производства и переработки сельскохозяйственной продукции»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "30",
                                "35.03.06 «Агроинженерия»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "31",
                                "35.03.05 «Садоводство»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                            [
                                "32",
                                "35.03.04 «Защита растений и фитосанитарный контроль»",
                                "Высшее образование бакалавриат",
                                "Перейти (ссылка)",
                            ],
                        ]
                    })  

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Численность иностранных педагогических и научных работников</h2>'
                    p 
                        b Количество: 5