extends ../layouts/default

block variables
    - const title = "Семинары"

block content
    .page
        .page-layout
            +page-intro({
                title: 'Семинары',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Семинары',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })
                .page-intro__text.text-editor 
                    p
                        b Актуальная информация о предстоящих семинарах, лекциях и других мероприятиях, организованных университетом для студентов  и преподавателей . 

                    p 
                        b Здесь вы найдёте расписание семинаров, информацию о спикерах и темах выступлений, а также сможете зарегистрироваться на интересующие вас мероприятия.

                    p 
                        b Присоединяйтесь к сообществу университета и будьте в курсе всех событий!

            +seminars-list