extends ../layouts/default

block variables
    - const title = "Социально-психологическая служба"

block content
    .page
        .page-layout
            +page-intro({
                title: '<span>Социально-</span><br> психологическая служба',
                classes: "white-bg border-bottom",
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Социально-психологическая служба',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })
            .m-container.white-bg
                +m-columns({
                    classes: "m-columns--no-plpr no-border",
                    title: '<h2>Профессиональная помощь студентам и сотрудникам университета, направленная на их социально-психическое благополучие</h2>'
                })
                    ul
                        li индивидуальное психологическое консультирование;
                        li тренинги;
                        li тематические лекции и беседы;
                        li cоциально-психологическое анкетирование, тестирование и опросы.
                    br
                    br
                    h3 Контактная <br>информация
                    p по адресу:<br><b>273003, Херсонская Область, г.о. Херсонский, г. Херсон, ул. Сретенская, д. 23</b>
                    p по телефону:<br><a href="tel:+7 (495) 932 88 36"><b>+7 (495) 932 88 36</b></a><br><a href="tel:+7 (495) 255 67-34"><b>+7 (495) 255 67-34</b></a>
                    p по почте:<br><a href="mailto:info@khay.ru"><b>info@khay.ru</b></a>
                    br
                    br
                    br
            .m-container.white-bg
                +m-columns({
                    classes: "m-columns--no-plpr no-border",
                    title: '<h2>Чем мы можем быть полезны</h2>',
                    noContent: true
                })

            .m-container.white-bg

                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<p><b>Наша служба оказывает всевозможную психологическую помощь</b></p><p>в том числе:</p><ul><li>в работе с самооценкой,</li><li>разрешении межличностных конфликтов,</li><li>налаживании коммуникативных связей,</li><li>снятии подавленного или напряженного состояния</li></ul>'
                })
                    p Мы работаем со страхом, волнением, тревогой и другими сложными чувствами. Помогаем в саморазвитии, самопознании и самореализации.

                    p Если вы столкнулись со сложной ситуацией или просто решили поисследовать себя и свой внутренний мир, обращайтесь в Службу психологической помощи университета. Будем рады вам помочь!

                    p
                        b Важно! Консультации проходят в очном и онлайн режиме, бесплатны и конфиденциальны.
                    br
                    br
                    br

            .m-container.white-bg
                +m-columns({
                    classes: "m-columns--no-plpr no-border",
                    title: '<h2>Как записаться на консультацию</h2>',
                    noContent: true
                })

            .m-container.white-bg

                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<p><b>Рекомендации по формированию сообщения</b></p><p>Для получения компетентного ответа психолога, лаконично, но информативно, опишите свою проблему (что беспокоит вас в данный момент с учетом «контекста ситуации»).</p><p>Сформулируйте вопрос (запрос), который хотите задать психологу. Письмо рассматривается в течение 2-4 дней.</p><p>Будьте внимательны! <br>Ответ отправляется на указанную вами почту.</p><p>По телефону:<a href="tel:+74952230523"><b>+7(495)223-05-23</b></a></p>'
                })
                    p <b>Прямое обращение</b>
                    ul
                        li <b>через форму ВКонтакте</b><br>Войдите в группу в ВК — <a target="_blank" href="vk.com/khay"><b>vk.com/khay</b></a> и нажмите на виджет <b>«Записаться»</b>. Откроется форма записи на консультацию. Внимательно заполните все поля формы и нажмите «ОТПРАВИТЬ». <br><b>Внимание! Обязательно дождитесь звонка специалиста и подтверждения записи на консультацию.</b>

                        li <b>через чат-бот в telegram</b> <br>Переходите по ссылке <a href="t.me/KhayBot" target="_blank"><b>t.me/KhayBot</b></a>и следуй подсказкам бота. 
                        li <b>по электронной почте</b> <br>Чтобы отправить письмо психологу, укажите Ф.И.О., группу (место работы) и ваш контактный телефон, по которому, в случае необходимости, можно с вами связаться.
                    br
                    br
                    br
                    p <b>График работы</b>
                    p Пн. - Пт.: <b>с 9:00 до 21:00 </b><br>Сб. - Вс.: <b>с 9:30 до 17:00</b>
                    br
                    br
                    br
            .m-container.white-bg
                +m-columns({
                    classes: "m-columns--no-plpr no-border",
                    title: '<h2>Особенности работы службы</h2>',
                    noContent: true
                })

            .m-container.white-bg

                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<p><b>График работы</b></p><p>Пн. - Чт.: <b>9:30-18:30</b><br>Пт.:<b>9:30-17:15</b><br>Перерыв на обед:<b>13:00-13:45</b></p>'
                })
                    ul
                        li Психологическая служба работает в течение всего календарного года, за исключением выходных и государственных праздников, и базируется на следующих принципах: конфиденциальность, безопасность, добровольность;
                        li Консультации проводятся очно в кабинетах службы и дистанционно с помощью: мобильной связи, мессенджеров, зума, скайпа, электронной почты;
                        li Длительность заранее запланированной консультации 50 мин. - 1 час;
                        li При необходимости переноса или отмены консультации, обучающийся обязан предупредить специалиста службы психологической помощи минимум за 1 сутки до запланированной встречи;
                        li При возникновении форс-мажорных обстоятельств, необходимо как можно раньше сообщить сотруднику службы о невозможности посещения психологической сессии;
                        li В случае непредвиденных обстоятельств или болезни, сотрудник службы психологической помощи должен предупредить обучающегося об отмене или переносе консультации за 1 сутки до назначенного времени, либо как можно раньше начала запланированной консультации;
                        li Пропуск запланированной консультации без предупреждения не допускается с обеих сторон.
                        li Если вы опоздали на консультацию на 15 мин. и не предупредили об этом заблаговременно, консультация отменяется.
                        li Если Вы находитесь в остром, кризисном состоянии, то возможна внеочередная срочная консультация в день обращения продолжительностью от 15 до 30 минут.
                    br
                    br
                    br
            .m-container.white-bg
                +m-columns({
                    classes: "m-columns--no-plpr no-border",
                    title: '<h2>Дополнительная помощь</h2>',
                    noContent: true
                })
            .m-container.white-bg

                +m-columns({
                    classes: "m-columns--no-plpr",
                    title: '<p>В выходные и праздничные дни, ночью, за срочной психологической помощью можно обратиться по следующим телефонам</p>'
                })
                    ul
                        li Горячая линия Херсонской службы психологической помощи населению<br> <b> 8(495) 051 (с городского телефона) и 051 (с мобильного телефона) </b><br>Режим работы: круглосуточно

                        li Горячая линия по оказанию психологической помощи студенческой молодежи организованной Минобрнауки России  <br><a href="tel:+78002225571 " ><b>8 (800) 222-55-71</b></a> <br>Режим работы: круглосуточно

                        li Телефон доверия для детей, подростков и их родителей<br><a href="tel:+78002000122"><b> 8 (800) 2000-122 </b></a><br>Режим работы: круглосуточно

                        li Горячая линия центра экстренной психологической помощи МЧС России<br> <a href="tel:+74959895050"><b>8 (495) 989-50-50 (бесплатно по Херсону)</b> </a>Режим работы: круглосуточно
                    br
                    br
                    br
            .m-container.white-bg
                +people-detail()(data-js='peopleDetail')
                br
                br

            +quest-form({
                title: '<span>Записаться</span> на&nbsp;консультацию',
                formText: '<p>Для получения компетентного ответа психолога, лаконично, но информативно, опишите свою проблему (что беспокоит вас в данный момент с учетом «контекста ситуации»).</p><p>Сформулируйте вопрос (запрос), который хотите задать психологу. Письмо рассматривается в течение 2-4 дней.</p>', 
                type: 'сonsult'
            })