extends ../layouts/default

block variables
    - const title = "Общественная деятельность"

block content
    .page
        .page-layout
            +page-intro({
                title: '<span>Общественная</span> <br>деятельность',
                classes: "white-bg",
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Студентам',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Общественная деятельность',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })

            section.projects-list
                .m-container
                    .a-card-list.a-card-list--duo
                        +a-card({
                            classes: 'a-card--short',
                            img: 'img/smi/smi_card_4.webp',
                            title: 'Спортивная деятельность',
                            text: 'Вам осталось только сделать правильный выбор среди более чем 40 спортивных секций и сборных команд.',
                            cMode: 'green'
                        })
                        +a-card({
                            classes: 'a-card--short',
                            img: 'img/smi/smi_card_4.webp',
                            title: 'Культурно-творческая деятельность',
                            text: 'При правильном подходе к обучению у вас останется достаточно свободного времени. Помочь интересно и с пользой провести его — наша основная задача.'
                        })

            section.white-bg
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: '<br><h2>Общественные объединения</h2>',
                        noContent: true
                    })
                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<img src="img/life/life_9.webp")><br><img src="img/life/life_10.webp")>
                            <div class="text-items-list">
                                <a href="javascript:void(0)" target="_blank" class="link-block  link-block--table link-block--link">
                                    <div class="link-block__desc">Больше фото и новостей центра</div>
                                    <div class="link-block__link">
                                        <span class="link-block__text"></span>
                                        <span class="link-block__icon">
                                            <svg> 
                                                <use xlink:href="img/sprites/sprite.svg#link"></use>
                                            </svg>
                                        </span>
                                    </div>
                                </a>
                            </div>`
                    })
                        h3 Волонтёрский центр университета
                        p Главная цель Волонтёрского центра университета — дарить добро и помощь каждому! На сегодняшний день в команде Центра более 200 добровольцев, которые не только безвозмездно участвуют в мероприятиях, но и реализуют собственные проекты в сфере молодёжной политики.

                        p В течение года мы участвуем в сотнях мероприятий различного уровня. Наш волонтёрский центр выступил одним из соорганизаторов программы «Городские волонтёры» Чемпионата мира по футболу FIFA-2018 в Херсоне, а также стал единственным в Херсоне ресурсным центром по набору и подготовке волонтёров 45-го мирового чемпионата по профессиональному мастерству по стандартам «WorldSkills».

                        p В качестве волонтёра ты сможешь:

                        ul
                            li писать и реализовывать свои собственные социальные проекты;
                            li найти свой вектор развития;
                            li получить и развить новые компетенции;
                            li стать частью команды проектов различных уровней;
                            li объездить всю страну.

                        p Студенты прокачивают компетенции, пройдя обучающий курс «Школа волонтёра». Обучение состоит из двух блоков: занятия в университете и выездной трёхдневный интенсив. За годы деятельности волонтёрского центра студенты приняли участие в организации и проведении таких мероприятий, как программа «Городские волонтёры» Чемпионата мира по футболу FIFA-2018 в Херсоне, форум молодых деятелей культуры и искусств «Таврида 5.0», Всероссийский молодёжный образовательный форум «Территория Смыслов», Петербургский международный экономический форум, 45-й мировой чемпионат по профессиональному мастерству по стандартам «Ворлдскиллс», V и VI Общероссийский форум «Россия студенческая», Всероссийский конкурс интеллекта, творчества и спорта «Мисс и Мистер Студенчества России».

                        p Благодаря сотрудничеству и партнёрству с крупнейшими добровольческими организациями, такими как: Ассоциацией Волонтерский Центров, АНО «Дирекция спортивных и социальных проектов» в Татарстане и многими других, добровольческая миссия выполняется студентами по всей России.

                        p Каждый год активисты центра принимают участие в конкурсе «Волонтёр года», где по результатам добровольческой деятельности и испытаний определяются лучшие волонтёры в сфере медиа, ивента, тим-лидерства, социального проектирования.

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<img src="img/life/life_11.webp")>
                            <p>Кураторы помогают первокурсникам адаптироваться к студенческой жизни</p>
                            <br><img src="img/life/life_12.webp")>
                            <div class="text-items-list">
                                <a href="javascript:void(0)" target="_blank" class="link-block  link-block--table link-block--link">
                                    <div class="link-block__desc">Наша группа в ВК</div>
                                    <div class="link-block__link">
                                        <span class="link-block__text"></span>
                                        <span class="link-block__icon">
                                            <svg> 
                                                <use xlink:href="img/sprites/sprite.svg#link"></use>
                                            </svg>
                                        </span>
                                    </div>
                                </a>
                            </div>`
                    })
                        h3 Студенческое общественное объединение «Кураторы ХАУ»
                        p Куратор — это живой справочник первокурсника, способный ответить на любой вопрос, касающийся студенческой жизни. Куратор является проводником в новую для первокурсника жизнь, где студент знакомится со структурой обучения, корпоративной культурой, правилами и порядками вуза, а также с внеучебной деятельностью.
                        p Студенческое объединение «Кураторы ХАУ» существует с 2005 года. За всё время участники объединения успели адаптировать десятки тысяч студентов, принять участие в форумах и конкурсах различного уровня, воспитать сотни студентов-кураторов и организовать десятки социальных акций и мероприятий.
                        p Встать на путь становления куратором студент может, начиная с первого курса. Нужно лишь подать заявку в Школу кураторов. 
                        p Школа кураторов — это комплекс мероприятий, направленный на развитие навыков и компетенций, необходимых для работы со студентами-первокурсниками, а также это место, где студент находит своих друзей, любовь, развивается, делится опытом и получает незабываемые впечатления.
                        p Куратором может стать любой студент очной формы обучения, имеющий желание быть лидером, наставником, помощником и лучшим другом для первокурсника.

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<img src="img/life/life_11.webp")>
                            <p>Объединённый совет обучающихся на выезде</p>
                            <br>
                            <div class="text-items-list">
                                <a href="javascript:void(0)" target="_blank" class="link-block  link-block--table link-block--link">
                                    <div class="link-block__desc">Положение о совете</div>
                                    <div class="link-block__link">
                                        <span class="link-block__text"></span>
                                        <span class="link-block__icon">
                                            <svg> 
                                                <use xlink:href="img/sprites/sprite.svg#link"></use>
                                            </svg>
                                        </span>
                                    </div>
                                </a>
                            </div>`
                    })
                        h3 Объединённый совет обучающихся
                        p Объединённый совет обучающихся — организация всесторонней и общественно-полезной студенческой жизни, настраивающая процесс учёта мнений обучающихся аграрного университета, а также формирующая тесную связь студентов всех объединений. ОСО даёт возможность студентам не просто принимать активное участие в решение вопросов, которые затрагивают их интересы, но и организовывать досуг студентов. Также ОСО проводит тренинги и семинары на самые различные темы, которые направлены на развитие внеучебных компетенций обучающегося. ОСО призван защищать законные интересы обучающихся. Мы также представляем студентов в переговорах с администрацией, оказываем консультационную поддержку, помогаем с реализацией творческого и научного потенциала обучающихся.
                        p Давай вместе сделаем студенческую жизнь ярче и комфортнее!

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<h3>Комитет по качеству образования</h3>`
                    })
                        p <b>Комитет по качеству образования</b> — это постоянно действующая организация, реализующая право студентов на участие в управлении образовательным процессом. Она обеспечивает защиту прав студентов в получении качественного образования, а также в содействии университету в подготовке квалифицированных специалистов.
                        p Основной целью работы Комитета является совершенствование системы качества образовательной деятельности и содействие в осуществлении эффективной подготовки специалистов в соответствии с современными требованиями, путем постоянного повышения качества образовательного процесса в Херсонском аграрном университете.

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<h3>Студенческий педагогический отряд «Небо»</h3>`
                    })
                        p <b>СПО «Небо»</b> — это молодое объединение, которое только начинает набирать обороты и действует на базе Московского политехнического университета с 2021 года.
                        p Нашими основными задачами являются: привлечение студенческой молодёжи к участию в социально значимой работе с детьми, подростками и молодёжью, раскрытие и реализация творческих, духовных, интеллектуальных и организаторских потенциалов личности, поддержание физического здоровья студентов, и конечно же, организация воспитательно-оздоровительной и педагогической работы в детском оздоровительном лагере.
                        p Мы созданы, чтобы дарить детям счастье, незабываемые эмоции, улыбки, полезный досуг и сделать их детство и наше студенчество ярким.

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<h3>Задачи комитета</h3>`
                    })
                        ul
                            li обработка обращений студентов и участие в решении проблем, связанных с нарушением их прав и интересов в ходе образовательного процесса;
                            li участие в проведении оценки деятельности Университета по критериям национальных и международных премий в области качества образования;
                            li обсуждение показателей текущей успеваемости студентов, в том числе результатов независимых оценок качества образования и внутривузовского тестирования студентов на предмет оценки остаточных знаний и выработка предложений по результатам данных обсуждений;
                            li внесение предложений и их публичное обсуждение по повышению качества образования в вузе с учётом учебных, научных и профессиональных интересов и потребностей студентов;
                            li разъяснение среди студентов нормативных основ образовательного процесса, ознакомление с политикой в области качества, содержанием образовательных стандартов и основных профессиональных образовательных программ;
                            li разработка и реализация инициативных проектов, направленных на улучшение качества образования в университете.
                            li взаимодействие с органами управления университета при принятии ими решений, затрагивающих интересы обучающихся в области качества образовании;
                            li формирование рекомендаций по внесению изменений в действующие локальные нормативно-правовые акты, регулирующие права, обязанности и интересы обучающихся в части качества образования.

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<img src="img/life/life_12.webp")>
                            <p>Коллектив  студенчесĸого медиацентра «Аграр Медиа»</p>
                            <br>
                            <div class="text-items-list">
                                <a href="javascript:void(0)" target="_blank" class="link-block  link-block--table link-block--link">
                                    <div class="link-block__desc">Телеграм-канал</div>
                                    <div class="link-block__link">
                                        <span class="link-block__text"></span>
                                        <span class="link-block__icon">
                                            <svg> 
                                                <use xlink:href="img/sprites/sprite.svg#link"></use>
                                            </svg>
                                        </span>
                                    </div>
                                </a>
                                <a href="javascript:void(0)" target="_blank" class="link-block  link-block--table link-block--link">
                                    <div class="link-block__desc">Сообщество Вконтакте</div>
                                    <div class="link-block__link">
                                        <span class="link-block__text"></span>
                                        <span class="link-block__icon">
                                            <svg> 
                                                <use xlink:href="img/sprites/sprite.svg#link"></use>
                                            </svg>
                                        </span>
                                    </div>
                                </a>
                            </div>`
                    })
                        h3 Студенчесĸий медиацентр «Аграр Медиа»
                        p «Аграр Медиа» — это ĸоманда, ĸоторая всегда знает последние новости Аграрного урниверситета и не тольĸо. Над ежедневными материалами работают ĸорреспонденты, фотографы, ведущие подĸастов и операторы, а еще монтажеры, дизайнеры и SMM-специалисты.
                        p Деятельность «Аграр Медиа» выходит далеĸо за пределы вуза. Медиацентр Аграрного урниверситета входит в состав Молодежного медиацентра при Минобрнауĸи России. Его участниĸи освещают мероприятия городсĸого и всероссийсĸого масштаба. Форумы, ĸонĸурсы, медиаĸроссы — во всем этом «Аграр Медиа» аĸтивно участвует. А еще, ĸаĸ самые настоящие журналисты, медийщиĸи ездят в пресс-туры по всей России.
                        p Чтобы стать частью ĸоманды, нужно пройти специальный отбор. Он проходит в начале учебного года. Если же вы его пропустили, то это можно сделать после успешного оĸончания нашей Медиашĸолы. Она проходит в оĸтябре. Самые аĸтивные и целеустремленные применяют полученные знания на праĸтиĸе уже в ĸоманде «Аграр Медиа».
                        p Примеры масштабных мероприятий, в ĸоторых участвует ĸоманда «Аграр Медиа»: ПМЭФ, Восточный эĸономичесĸий форум, Медиаĸросс 2.0, программа «Больше, чем путешествие», реалити-шоу «Игры разума» и Летняя шĸола журналистиĸи от Минобрнауĸи РФ, Молодежный форум «ШУМ», форум «Точĸа сбора» в Краснодарсĸом ĸрае и многие другие.


            +media-slider({
                sectionClasses: "no-padding-bottom",
                isSection: true,
                fancyGroup: 'projectsActivities',
                slides: [
                    {
                        image: 'img/news/news_slide_1.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_2.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/life/life_3.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_4.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_5.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_6.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                ],
            })