extends ../layouts/default

block variables
    - const title = "Информация о персональном составе педагогических работников каждой реализуемой образовательной программы"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Информация</span> о персональном составе педагогических работников каждой реализуемой образовательной программы',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Информация о персональном составе педагогических работников каждой реализуемой образовательной программы',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })

            .sidebar-layout__content
                .gost-section.gost-section--bordered.educational-program-header
                    .educational-program-header__item
                        .educational-program-header__title Образовательная программа
                        .educational-program-header__text 38.03.02 Менеджмент (профиль Менеджмент организаций)
                    .educational-program-header__item
                        .educational-program-header__title Уровень образования
                        .educational-program-header__text Высшее образование - бакалавриат
                .gost-section.gost-section--bordered.text-editor
                    +info-tag
                    +m-table({
                        header: [								
                            "№",
                            "Фамилия, имя, отчество (при&nbsp;наличии) педагогического работника",
                            "Занимаемая должность (должности)",
                            "Преподаваемые учебные предметы, курсы, дисциплины (модули)",
                            "Уровень (уровни) профессионального образования",
                            "Наименование направления подготовки и&nbsp;(или) специальности педагогического работника в том числе научной"
                        ],

                        rows: [
                            [
                                "1",
                                "Чернышова Евгения Олеговна",
                                "Доцент, к.н.",
                                "Менеджмент краудфандинговых и краудинвестинговых платформ",
                                "Высшее образование",
                                "Организация управления производством в химической промышленности"
                            ],
                            [
                                "2",
                                "Чернышова Евгения Олеговна",
                                "Доцент, к.н.",
                                "1. Исследование процессов устойчивого развития человеческого капитала высшей школы. <br>2. Исследование систем управления устойчивым инновационным развитием организаций в условиях цифровой трансформации. <br>3. Исследование и моделирование производственных систем и бизнес-процессов.",
                                "Высшее образование",
                                "Маркетинг"
                            ],
                            [
                                "3",
                                "Чернышова Евгения Олеговна",
                                "Доцент, к.н.",
                                "1. Исследование процессов устойчивого развития человеческого капитала высшей школы. <br>2. Исследование систем управления устойчивым инновационным развитием организаций в условиях цифровой трансформации. <br>3. Исследование и моделирование производственных систем и бизнес-процессов.",
                                "Высшее образование",
                                "Мировая экономика"
                            ]
                        ]
                    })
