extends ../layouts/default

block variables
    - const title = "Информация о персональном составе педагогических работников каждой реализуемой образовательной программы"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Информация</span> о персональном составе педагогических работников каждой реализуемой образовательной программы',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Информация о персональном составе педагогических работников каждой реализуемой образовательной программы',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })

            .sidebar-layout__content
                .gost-section.gost-section--bordered
                    .e-program-header
                        .e-program-header__item
                            .e-program-header__title Образовательная программа
                            .e-program-header__text 38.03.02 Менеджмент (профиль Менеджмент организаций)
                        .e-program-header__item
                            .e-program-header__title Уровень образования
                            .e-program-header__text Высшее образование - бакалавриат
                    +info-tag
                    +m-table({
                        header: [								
                            "№",
                            "Фамилия, имя, отчество (при&nbsp;наличии) педагогического работника",
                            "Занимаемая должность (должности)",
                            "Преподаваемые учебные предметы, курсы, дисциплины (модули)",
                            "Уровень (уровни) профессионального образования",
                            "Учёная степень (при наличии)",
                            "Учёное звание (при наличии)",
                            "Награды, международные почетные звания или премии.",
                            "Сведения о повышении квалификации (за последние 3 года) и сведения о профессиональной переподготовке (при наличии)",
                            "Сведения о продолжительности опыта (лет) работы в проф-ой сфере, соответствующей образовательной деятельности по реализации учебных предметов, курсов, дисциплин (модулей)",
                            "Наименование образовательных программ, в реализации которых участвует педагогический работник."
                        ],

                        rows: [
                            [
                                "1",
                                "Чернышова Евгения Олеговна",
                                "Доцент, к.н.",
                                "Менеджмент краудфандинговых и краудинвестинговых платформ",
                                "Высшее образование",
                                "Кандидат наук",
                                "Доцент",
                                "Почетный работник высшего профессионального образования Российской Федерации",
                                "Использование интерактивного цифрового оборудования в образовательном процессе (2022)",
                                "31 год 9 месяцев",
                                "01.03.02 - Прикладная математика и информатика (Интеллектуальные системы управления транспортом (ИСУТ)); <br>09.03.01 - Информатика и вычислительная техника (Программное обеспечение информационных систем (ПОИС)); <br>23.05.01 - Наземные транспортно-технологические средства (Перспективные автомобили и электромобили (ПАиЭМ)); <br>23.05.01 - Наземные транспортно-технологические средства (Спортивные транспортные средства (СТС)); <br>23.05.01 - Наземные транспортно-технологические средства (Перспективные транспортные средства (ПТС)); <br>09.03.03 - Прикладная информатика (Большие и открытые данные (БиОД));"
                            ],
                            [
                                "2",
                                "Чернышова Евгения Олеговна",
                                "Доцент, к.н.",
                                "Маркетинг",
                                "Высшее образование",
                                "Кандидат наук",
                                "Доцент",
                                "Нет",
                                "Использование интерактивного цифрового оборудования в образовательном процессе (2023)",
                                "22 года 9 месяцев",
                                "01.03.02 - Прикладная математика и информатика (Интеллектуальные системы управления транспортом (ИСУТ)); <br>09.03.01 - Информатика и вычислительная техника (Программное обеспечение информационных систем (ПОИС)); <br>23.05.01 - Наземные транспортно-технологические средства (Перспективные автомобили и электромобили (ПАиЭМ)); <br>23.05.01 - Наземные транспортно-технологические средства (Спортивные транспортные средства (СТС)); <br>23.05.01 - Наземные транспортно-технологические средства (Перспективные транспортные средства (ПТС)); <br>09.03.03 - Прикладная информатика (Большие и открытые данные (БиОД));"

                            ],
                            [
                                "3",
                                "Чернышова Евгения Олеговна",
                                "Старший преподаватель",
                                "Мировая экономика",
                                "Высшее образование",
                                "Без ученой степени",
                                "Без ученого звания",
                                "Нет",
                                "Не проходил(а)",
                                "19 лет 9 месяцев",
                                "01.03.02 - Прикладная математика и информатика (Интеллектуальные системы управления транспортом (ИСУТ)); <br>09.03.01 - Информатика и вычислительная техника (Программное обеспечение информационных систем (ПОИС)); <br>23.05.01 - Наземные транспортно-технологические средства (Перспективные автомобили и электромобили (ПАиЭМ)); <br>23.05.01 - Наземные транспортно-технологические средства (Спортивные транспортные средства (СТС)); <br>23.05.01 - Наземные транспортно-технологические средства (Перспективные транспортные средства (ПТС)); <br>09.03.03 - Прикладная информатика (Большие и открытые данные (БиОД));"
                            ]
                        ]
                    })
