extends ../layouts/default

block variables
    - const title = "Спортивная деятельность"

block content
    .page
        .page-layout
            +page-intro({
                title: '<span>Спортивная</span> <br>деятельность',
                classes: "white-bg",
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Студентам',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Спортивная деятельность',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })

            section.white-bg
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: `<h2>Получить консультацию</h2>
                            <div class="text-items-list">
                                <div class="count-block  count-block--column">
                                <div class="count-block__desc">Телефон:</div>
                                <div class="h3 count-block__num"><a href="+79900595039">+7 (990) 059-50-39</a></div>
                                </div>
                            </div>`
                    })
                        ul
                            li 
                                b рассказываем о творческой деятельности
                            li 
                                b делимся воспоминаниями
                        +btn({
                            name: "Оставить заявку",
                            cMode: "darkGreen"
                        })(data-modal="#sectionModal")

            section.projects-list
                .m-container
                    .a-card-list.a-card-list--duo
                        +a-card({
                            classes: 'a-card--short',
                            img: 'img/smi/smi_card_4.webp',
                            title: 'Культурно-творческая деятельность',
                            text: 'При правильном подходе к обучению у вас останется достаточно свободного времени. Помочь интересно и с пользой провести его — наша основная задача.',
                            cMode: 'green'
                        })
                        +a-card({
                            classes: 'a-card--short',
                            img: 'img/smi/smi_card_4.webp',
                            title: 'Общественная деятельность',
                            text: 'Если вы неравнодушны к проблемам окружающих, то общественная деятельность как раз вам по плечу! Наша цель — дарить добро и помощь каждому!'
                        })

            section.white-bg
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: `<img src="img/life/life_15.webp")><br>
                            <div class="video" data-js="video">
                            <div class="video__video">
                                <div class="video__img" data-js="videoPoster"><img src="img/video-poster.webp" alt=""></div>
                                <div class="video__frame" data-js="videoFrame" data-video="<iframe width=&quot;720&quot; height=&quot;405&quot; src=&quot;https://rutube.ru/play/embed/1b56934dff273b81a8c991062e7a85cf/?skinColor=43a047&quot; frameBorder=&quot;0&quot; allow=&quot;clipboard-write; autoplay&quot; webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>"></div>
                            </div>
                            <button class="video__btn" type="button" data-js="videoBtnPlay">
                                <svg>
                                    <use xlink:href="img/sprites/sprite.svg#play"></use>
                                </svg>
                            </button>
                            </div>`
                    })
                        h2 Развивайся физически!
                        p Теперь ты можешь стать не только самым умным и эрудированным, но и доказать окружающим, что известный девиз Олимпийских игр: «Быстрее, выше, сильнее» — это именно про тебя!
                        p Современная спортивная база университета позволит во время обучения укрепить здоровье и поддержать твою высокую работоспособность. Главное — сделай правильный выбор! Среди спортивных секций и сборных команд: мини-футбол, ММА, смешанные боевые единоборства, грепплинг, баскетбол, волейбол, тяжёлая атлетика, армрестлинг, пауэрлифтинг, тхэквондо, шахматы, атлетизм, настольный теннис, киберспорт и т.д. Уверены, что тебе обязательно посчастливится стоять на пьедестале победителя.
                        p Обрати внимание, что на учебных занятиях по физической культуре ты можешь заниматься любым из предложенных направлений физкультурно-оздоровительной и спортивной работы. Для начала занятий тебе необходимо определить свою группу здоровья. Если по состоянию здоровья у тебя не получится заниматься в группах основного или спортивного отделений, ты можешь обучаться в группах специального отделения по индивидуальной программе. Чтобы получить зачет по физической культуре, к концу семестра тебе нужно набрать 50 баллов по балльно-рейтинговой системе, которая включает в себя учебный, спортивный, научный модули и модуль самостоятельной работы.
                        p В университете работает Студенческий спортивный клуб, основной задачей которого является проведение учебно-тренировочных занятий в спортивных секциях во внеучебное время и вовлечение студентов в соревновательную деятельность, а также формирование и подготовка сборных команд университета по видам спорта к участию во всероссийских, студенческих и международных соревнованиях. Секциями руководят опытные и квалифицированные тренеры-преподаватели, имеющие высокие спортивные звания и достижения, — заслуженные мастера спорта (чемпионы мира и Европы) и мастера спорта (чемпионы и призеры России). В течение учебного года Студенческий спортивный клуб совместно с кафедрой физического воспитания проводят соревнования по летним и зимним видам спорта. Ты со своими друзьями можешь стать членом одной из сборных и добиться высочайших результатов или проявить себя на внутренних соревнованиях! Приходи на занятия или к тренеру сборной команды и, возможно, именно тебе предстоит вписать следующую строчку в летопись славных побед нашего университета.
                        p Теперь ты точно убедился, что в университете ты всегда можешь найти возможность заниматься любимым видом спорта, а тренеры тебе помогут добиться высоких результатов. Следить за всеми новостями спортивной жизни университета ты можешь в Telegram-канале Спортивного клуба университета. Подписывайся: <a href="t.me/cckkhay">t.me/cckkhay</a>

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<img src="img/life/life_15.webp")><br><img src="img/life/life_16.webp")><br><img src="img/life/life_17.webp")>`
                    })
                        h2 В составе сборных команд университета тренируются и выступают на соревнованиях различного уровня более 400 человек
                        p Ты со своими друзьями можешь стать членом одной из сборных и добиться высочайших результатов или проявить себя на внутренних соревнованиях!
                        p Каждая сборная команда университета является нашей особой гордостью, университет активно продвигает своих спортсменов. Студенты достойно выступают на соревнованиях и добиваются выдающихся успехов и результатов.
                        p Женская сборная команда по мини-футболу является одной из самых ярких в университете. Женская команда Аграрного университета становилась Чемпионом России по мини-футболу, неоднократно завоевывала серебряные и бронзовые медали Чемпионата и Кубка России, является многократным победителем и призером финала Всероссийских соревнований среди команд образовательных организаций высшего образования по мини-футболу и футболу 7х7, а также Чемпионата Херсона  по мини-футболу, футболу 7х7 и пляжному футболу.
                        p В международных соревнованиях девушки побеждали и завоевывали призовые места в Европейских университетских играх по мини-футболу и футболу 7х7, Чемпионатах Европы по мини-футболу среди команд университетов, клубном Чемпионате Европы по футзалу и др. В августе 2023 года женская сборная команда университета стала победителем Международного фестиваля университетского спорта с участием университетских команд из стран участников БРИКС, членов Шанхайской организации сотрудничества и участников Содружества Независимых Государств.
                        p Мужская сборная команда университета с 2017 по 2020 год являлась участником Высшей лиги Чемпионата России по мини-футболу, четырехкратный победитель и многократный призер Чемпионатов России по футзалу, обладатель и бронзовый призер Кубков России по футзалу. Начиная с 2014 года принимала участие в международных соревнованиях: победитель Чемпионата Мира среди клубных команд по футзалу, обладатель межконтинентального кубка по футзалу, победитель и двукратный серебряный призер Лиги Чемпионов УЕФС по футзалу, обладатель суперкубка Европы по футзалу, победитель Международных любительских спортивных игр по футзалу «Один пояс – один путь» (Китай, 2019 год), бронзовый призер Кубка УЕФС по футзалу, двукратный победитель и серебряный призер международных фестивалей студенческого и молодежного спорта Games, победитель международного турнира (кубок FIFUSA) по микрофутзалу (3х3) на траве, бронзовый призер кубка СНГ по микрофутзалу (3х3).
                        p Сборная активно участвует в студенческих соревнованиях. Двукратный победитель и многократный призер Херсонских студенческих спортивных игр по мини-футболу. Трехкратный победитель (два раза в серебряной и один раз в золотой лигах), бронзовый призер Чемпионатов России по мини-футболу в рамках проектов «Мини-футбол – в вузы». Серебряный призер суперкубка России по микрофутзалу (5х5) среди студенческих команд.

            section.white-bg
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: '<br><h2>Список спортивных секций</h2>',
                        noContent: true
                    })
                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<h3>Локальные, без мероприятий (кружки):</h3>`
                    })

                        <ul>
                            <li>Айкидо</li>
                            <li>Алтимат Фрисби</li>
                            <li>Бадминтон</li>
                        </ul>
                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<h3>С выходом на город / округ / федеральный уровень:</h3>`
                    })
                        ul
                            li Волейбол
                            li Кроссфит
                            li Баскетбол
                            li Футбол
                            li Плавание
                            li Легкая атлетика

            section.news-list.sports-news-list
                .m-container
                    .news-list__header
                        h2.h2.news-list__title Новости
                        +period-select
                    .news-list__items
                        +news-card({
                            classes: '',
                            img: 'img/news/news_31.webp',
                            title: 'Началась проектно-аналитическая сессия',
                            date: '04 сентября 2024',
                            desc: '<p>Рабочая встреча проходит в несколько этапов: экскурсия по университету, презентация и обсуждение текущих результатов программы развития вуза, работа в команде по пяти группам.</p>'
                        })
                        +news-card({
                            classes: '',
                            img: 'img/news/news_32.webp',
                            title: 'Старт открытого конкурса грантов имени П.Л. Капицы для молодых ученых в рамках программы развития',
                            date: '16 октября 2024',
                            desc: '<p>Подробнее ознакомиться с условиями проведения конкурса можно в прикрепленных к материалу приложениях.</p>'
                        })
                        +news-card({
                            classes: '',
                            img: 'img/news/news_33.webp',
                            title: 'В университете к 2030 году создадут пять Передовых Инженерных школ',
                            date: '18 ноября 2024',
                            desc: '<p>Ректор вуза также рассказал об итогах работы ученого совета в 2023 году и поделился планами на будущее.</p>'
                        })
                        +news-card({
                            classes: '',
                            img: 'img/news/news_34.webp',
                            title: 'Наблюдательный совет университета заслушал итоги реализации программы развития университета',
                            date: ''
                        })
                    +pagination({classes: 'news-list__pagination'})

            section.white-bg
                .m-container
                    <br><br>
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: `<h3>Достижения за текущий учебный год</h3>`
                    })
                        .text-items-list
                            +count-block({
                                classes: '',
                                text: 'Секция “Волейбол”',
                                num: '1 место на региональном этапе',
                                vMode: 'column'
                            })
                            +count-block({
                                classes: '',
                                text: 'Кроссфит',
                                num: '4 место на региональном этапе <br>Диплом участника окружного этапа',
                                vMode: 'column'
                            })
                            +count-block({
                                classes: '',
                                text: 'Футбол',
                                num: '1 место на региональном этапе <br>5 место на окружном этапе',
                                vMode: 'column'
                            })
                            +count-block({
                                classes: '',
                                text: 'Обеспеченность мультимедийными проекторами',
                                num: '40 штук',
                                vMode: 'column'
                            })
                            +count-block({
                                classes: '',
                                text: 'Обеспеченность учащихся компьютерами',
                                num: '1500 персональных компьютеров',
                                vMode: 'column'
                            })

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<h3>Волейбол</h3>`
                    })
                        .text-items-list
                            +count-block({
                                classes: '',
                                text: 'Призовые места',
                                num: '2',
                                vMode: 'column'
                            })
                            +count-block({
                                classes: '',
                                text: 'Диплом участника / Сертификат',
                                num: '10',
                                vMode: 'column'
                            })

            section.m-questions
                .m-container.m-questions__container 
                    .h2.m-questions__title Вопрос-ответ
                    +news-filter({
                        items: [
                            'Общие',
                            'Спорт'
                        ]
                    })
                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<h3>Мы объединили здесь всю необходимую информацию, чтобы избавить Вас от необходимости искать ее по разным источникам.</h3>
                        <a href="#" data-modal="#questionModal" class="title-link title-link--plus"><span class="title-link__icon"><svg><use xlink:href=img/sprites/sprite.svg#plus></use></svg></span><span class="title-link__text">Задать вопрос</span></a>`
                        })
                        .m-questions__accordion(data-js="accordion")
                            +spoiler({
                                title: 'В соответствии с какими нормативными документами составлено распоряжение о практиках?',
                                text: '<p><b>Приказ Министерства образования и науки РФ от 27 ноября 2015 г. № 1383 “Об утверждении Положения о практике обучающихся, осваивающих основные профессиональные образовательные программы высшего образования”</b></p>'
                            })
                            +spoiler({
                                title: 'Как должны соотноситься сроки прививки от коронавируса и от энцефалита?',
                                text: '<p><b>Приказ Министерства образования и науки РФ от 27 ноября 2015 г. № 1383 “Об утверждении Положения о практике обучающихся, осваивающих основные профессиональные образовательные программы высшего образования”</b></p>'
                            })
                            +spoiler({
                                title: 'Что нужно делать для онлайн-практики? Нужно ли делать прививку и в целом проходить медосмотр? ',
                                text: '<p><b>Приказ Министерства образования и науки РФ от 27 ноября 2015 г. № 1383 “Об утверждении Положения о практике обучающихся, осваивающих основные профессиональные образовательные программы высшего образования”</b></p>'
                            })
                            +spoiler({
                                title: 'Есть ли льготы для общежития для победителей в конкурсах по менеджменту?',
                                text: '<p><b>Приказ Министерства образования и науки РФ от 27 ноября 2015 г. № 1383 “Об утверждении Положения о практике обучающихся, осваивающих основные профессиональные образовательные программы высшего образования”</b></p>'
                            })
                        +pagination