extends ../layouts/default

block variables
    - const title = "Стипендии и меры поддержки обучающихся"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Стипендии</span> и меры поддержки обучающихся',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Стипендии и меры поддержки обучающихся',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })
            .sidebar-layout__content
                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Сведения о наличии и условиях предоставления обучающимся стипендий</h2>'
                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Виды стипендий</h2>'
                    +info-tag
                    +m-table({
                        header: [								
                            "№",
                            "Вид стипендии",
                            "Назначение",
                            "Основание для прекращения выплаты",
                            "Назначение объекта"
                        ],

                        rows: [
                            [
                                "1",
                                "Назначение объекта",
                                "Назначается на 1 семестр, выплачивается ежемесячно",
                                "Получение оценки «удовлетворительно» в период промежуточной аттестации, наличие академической задолженности, отчисление, академический отпуск",
                                "Назначается всем студентам 1 курса, обучающимся по очной форме обучения за счёт средств федерального бюджета, в период, с начала учебного года до прохождения первой промежуточной аттестации; Назначается студентам 1 курса 2 семестра обучения и последующим курсам обучения по результатам промежуточной аттестациипри условии отсутствия оценок «удовлетворительно» и отсутствия академической задолженности"
                            ],
                            [
                                "2",
                                "Повышенная государственная академическая стипендия",
                                "Назначается на 1 семестр, выплачивается ежемесячно",
                                "Получение оценки «удовлетворительно» в период промежуточной аттестации, наличие академической задолженности, отчисление, академический отпуск",
                                "Назначается студентам, обучающимся по очной форме обучения за счет средств федерального бюджета по образовательным программам высшего образования (программам бакалавриата, специалитета, магистратуры), в том числеобучающимся - иностранным гражданам и лицам без гражданства, за особые достижения в учебной, научно-исследовательской, общественной, культурно-творческой и спортивной деятельности. Данный вид стипендии назначается на конкурсной основе."
                            ],
                            [
                                "3",
                                "Государственная социальная стипендия",
                                "С даты подачи заявления студентом на срок действия основания для ее назначения",
                                "Отчисление, прекращение действия основания по которому была назначена государственная социальная стипендия",
                                "Назначается обучающимся по очной форме на бюджетной основе, относящимся к социальным категориям"
                            ],
                            [
                                "4",
                                "Повышенная государственная академическая стипендия",
                                "Назначается на 1 семестр, выплачивается ежемесячно",
                                "Отчисление, прекращение действия основания по которому была назначена государственная социальная стипендия, получение оценки «удовлетворительно» или наличие академической задолженности",
                                "Назначается студентам 1 и 2 курса обучения, обучающимся по программам высшего образования (бакалавриат, специалитет), получающим государственную социальную стипендию и имеющим оценки «хорошо», «хорошо» и «отлично», «отлично» по итогам промежуточной аттестации."
                            ],
                            [
                                "5",
                                "Повышенная государственная академическая стипендия",
                                "Назначается на 1 семестр, выплачивается ежемесячно",
                                "Отчисление, прекращение действия основания по которому была назначена государственная социальная стипендия, получение оценки «удовлетворительно» или наличие академической задолженности",
                                "Назначается обучающимся по очной формеобучения за счет средств федерального бюджета по образовательным программам высшего образования (бакалавриата, специалитета, магистратуры), а также по программам подготовки научно-педагогических кадров в аспирантуре, выдающиеся успехи которых в учебе и научных исследованиях подтверждены дипломами (или другими документами) победителей всероссийских и международных олимпиад, творческих конкурсов, фестивалей или являющиеся авторами открытий, двух и более изобретений, научных статей в центральных изданиях Российской Федерации и за рубежом."
                            ],
                            [
                                "6",
                                "Государственная социальная стипендия",
                                "С даты подачи заявления студентом на срок действия основания для ее назначения",
                                "Отчисление, прекращение действия основания по которому была назначена государственная социальная стипендия",
                                "Критерии, которым должны удовлетворять претенденты, подробно описаны  в Постановлении Правительства Российской Федерации от 3 ноября 2015 г. № 1192"
                            ],
                            [
                                "7",
                                "Государственная социальная стипендия",
                                "С даты подачи заявления студентом на срок действия основания для ее назначения",
                                "Отчисление, прекращение действия основания по которому была назначена государственная социальная стипендия",
                                "Критерии, которым должны удовлетворять претенденты, подробно описаны в Постановлении Правительства Российской Федерации от 27 августа 2016 г. № 854"
                            ]
                        ]
                    })

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Федеральные нормативные акты</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Приказ Минобрнауки России от 27.12.2016 № 1663'
                        })
                        +link-block({
                            classes: '',
                            text: 'Приказ Минобрнауки России от 15.08.2022 № 777'
                        }) 
                        +link-block({
                            classes: '',
                            text: 'Постановление Правительства России от 03.15.2015 № 1192'
                        })
                        +link-block({
                            classes: '',
                            text: 'Постановление Правительства России от 27.08.2016 № 854'
                        })
                        +link-block({
                            classes: '',
                            text: 'Копия постановления Правительства РФ от 17.12.2016 №1390 "О формировании стипендиального фонда" (В редакции Постановления Правительства Российской Федерации от 28.06.2021 №1033)'
                        })

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Приказ об установлении стипендий студентам на учебный год</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Приказ об установлении размеров стипендий'
                        })
                        +link-block({
                            classes: '',
                            text: 'Приказ об установлении размеров повышенных стипендий'
                        })

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Приказ о создании стипендиальной комиссии на учебный год</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Приказ по основной деятельности № 0990-ОД от 31.08.2023 Об утверждении состава стипендиальной комиссии университета'
                        })

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Положение о стипендиальной комиссии</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Положение о стипендиальном обеспечении и других формах материальной поддержки обучающихся'
                        })

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>График выплаты стипендий</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Положение о стипендиальном обеспечении и других формах материальной поддержки обучающихся'
                        })

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Положения о назначении государственной академической стипендии и государственной социальной стипендии студентам (бакалаврам, специалистам и магистрам), государственной стипендии аспирантам и стипендии слушателям подготовительного отделения</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Положение о стипендиальном обеспечении и других формах материальной поддержки обучающихся'
                        })

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Иные локальные нормативные акты</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Положение о порядке оказания материальной поддержки нуждающимся обучающимся '
                        })
                        +link-block({
                            classes: '',
                            text: 'Положение об именной стипендии'
                        })

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Меры социальной поддержки</h2>'
                    +info-tag
                    +m-table({
                        header: [								
                            "№",
                            "Вид социальной поддержки",
                            "Назначение",
                            "Основание для прекращения выплаты",
                            "Дополнительная информация"
                        ],

                        rows: [
                            [
                                "1",
                                "Выплаты категориям лиц из числа детей-сирот и детей, оставшихся без попечения родителей, лицам из числа детей-сирот и детей, оставшихся без попечения родителей,лицам, потерявшим в период обучения обоих родителей или единственного родителя, обучающимся по очной форме обучения за счет бюджетных ассигнований федерального бюджета",
                                "Для лиц, имеющих статус на момент поступления назначение производится автоматически. В случае приобретения статуса в период обучения на основании письменного заявления",
                                "Отчисление обучающегося, уход в академический отпуск в связи с призывом на военную службу или по обстоятельствам личного характера.",
                                "В период обучения из средств федерального бюджета (публичных обязательств) выплачивается: <br><br>- ежемесячная дотация на питание;<br><br>- ежегодное пособие на приобретение учебной литературы и письменных принадлежностей в размере трехмесячной государственной социальной стипендии; <br><br>- денежная выплата (пополнение) на обеспечение комплектом одежды, обуви и мягким инвентарем; <br><br>- денежная компенсация расходов напроезд на городском, пригородном транспорте, а также на проезд один раз в год к месту жительства и обратно к месту учебы."
                            ],
                            [
                                "2",
                                "Материальная поддержка из средств стипендиального фонда",
                                "На основании личного заявления при наличии соответствующего основания, как правило, не более 1 раза в календарный год",
                                "",
                                "Подробный перечень оснований для оказания материальной поддержки и порядок подачи заявлений определен Положением о порядке оказания материальной поддержки нуждающимся обучающимся университета"
                            ]
                        ]
                    })

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Сведения о наличии общежития, интерната, количестве жилых помещений в общежитии, интернате для иногородних обучающихся</h2>'
                    +info-tag
                    +m-table({
                        header: [								
                            "№",
                            "Наименование показателя",
                            "Общежитий",
                            "Интернатов"
                        ],

                        rows: [
                            [
                                "1",
                                "Количество всего в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья",
                                "1",
                                "—",
                            ],
                            [
                                "2",
                                "Общая площадь (кв.м.)",
                                "123",
                                "—",
                            ],
                            [
                                "3",
                                "Жилая площадь (кв.м.)",
                                "123",
                                "—",
                            ],
                            [
                                "4",
                                "Количество мест: <br>всего в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья",
                                "123 <br><br>11",
                                "—",
                            ],
                            [
                                "5",
                                "Обеспеченность 100% мягкими и жестким инвентарем по установленным стандартным нормам",
                                "да",
                                "—",
                            ],
                            [
                                "6",
                                "Наличие питания (включая буфеты, столовые)",
                                "да",
                                "—",
                            ]
                        ]
                    })