extends ../layouts/default

block variables
    - const title = "Структура и органы управления образовательной организацией"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Структура и органы</span> <br>управления образовательной организацией',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Структура и органы управления образовательной организацией',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })
            .sidebar-layout__content

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Кафедры<h2>'
                    +info-tag
                    +m-table({
                        header: [								
                            "№",
                            "Наименование структурного подразделения",
                            "ФИО руководителя структурного подразделения",
                            "Должность руководителя структурного подразделения",
                            "Сведения о наличии положений о структурных подразделениях с приложением их в виде электронных документов"
                        ],

                        rows: [
                            [
                                "Факультет экономики и управления"
                            ],
                            [
                                "1",
                                'Кафедра "Менеджмент"',
                                "Чернышова Евгения Олеговна",
                                "Заведующий кафедрой, к.н.",
                                "Положение о структурном подразделении: <a href='#'>Положение о кафедре</a>",
                            ],
                            [
                                "2",
                                'Кафедра "Менеджмент"',
                                "Чернышова Евгения Олеговна",
                                "Заведующий кафедрой, к.н.",
                                "Положение о структурном подразделении: <a href='#'>Положение о кафедре</a>",
                            ]
                        ]
                    })

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Факультеты/Институты<h2>'
                    +info-tag
                    +m-table({
                        header: [								
                            "№",
                            "Наименование структурного подразделения",
                            "ФИО руководителя структурного подразделения",
                            "Должность руководителя структурного подразделения",
                            "Сведения о наличии положений о структурных подразделениях с приложением их в виде электронных документов"
                        ],

                        rows: [
                            [
                                "1",
                                'Факультет экономики и управления',
                                "Чернышова Евгения Олеговна",
                                "Заведующий кафедрой, к.н.",
                                "Положение о структурном подразделении: <a href='#'>Положение о факультете</a>",
                            ],
                            [
                                "2",
                                'Факультет базовых компетенций',
                                "Чернышова Евгения Олеговна",
                                "Заведующий кафедрой, к.н.",
                                "Положение о структурном подразделении: <a href='#'>о факультете базовых компетенций</a>",
                            ]
                        ]
                    })

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Иные структурные подразделения<h2>'
                    +info-tag
                    +m-table({
                        header: [								
                            "№",
                            "Наименование структурного подразделения",
                            "ФИО руководителя структурного подразделения",
                            "Должность руководителя структурного подразделения",
                            "Сведения о наличии положений о структурных подразделениях с приложением их в виде электронных документов"
                        ],

                        rows: [
                            [
                                "1",
                                'Отдел кадров',
                                "Чернышова Евгения Олеговна",
                                "Заведующий кафедрой, к.н.",
                                "Положение о структурном подразделении: <a href='#'>об отделе кадров</a>",
                            ],
                            [
                                "2",
                                'Центр карьеры и трудоустройства',
                                "Чернышова Евгения Олеговна",
                                "Заведующий кафедрой, к.н.",
                                "Положение о структурном подразделении: <a href='#'>о центре карьеры и трудоустройства</a>",
                            ]
                        ]
                    })