extends ../layouts/default

block variables
    - const title = "Студенческая жизнь"

block content
    .page
        .page-layout
            +page-intro({
                title: '<span>Студенческая</span> <br>жизнь',
                classes: "white-bg",
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Студентам',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Студенческая жизнь',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })

            section.projects-list
                .m-container
                    .a-card-list
                        +a-card({
                            img: 'img/smi/smi_card_1.webp',
                            title: 'Культурно-творческая деятельность',
                            text: 'Подготовка к сдаче ЕГЭ, ОГЭ и внутренних вступительных испытаний по информатике, математике, физике, русскому языку и обществознанию. Программы для школьников, студентов колледжей, граждан иностранных государств.',
                            cMode: 'green'
                        })
                        +a-card({
                            img: 'img/smi/smi_card_2.webp',
                            title: 'Общественная деятельность',
                            text: 'Инженерно-технологический комплекс, на базе которого проводятся углубленные технико-ориентированные курсы дополнительного образования для школьников. Целых 9 курсов по актуальным направлениям подготовки.'
                        })
                        +a-card({
                            img: 'img/smi/smi_card_3.webp',
                            title: 'Спортивная деятельность'
                        })

            section.white-bg
                .m-container
                    +m-columns({
                        classes: "m-columns--no-plpr no-border",
                        title: '<br><h2>Кружки и секции</h2>',
                        noContent: true
                    })
                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<img src="img/life/life_1.webp")><br><img src="img/life/life_2.webp")>
                            <div class="text-items-list">
                                <div class="link-block  link-block--table link-block--link">
                                    <div class="link-block__desc">Сообщество Вконтакте</div><a class="link-block__link" href="javascript:void(0)" target="_blank"><span class="link-block__text">Перейти</span><span class="link-block__icon">
                                        <svg> 
                                            <use xlink:href="img/sprites/sprite.svg#link"></use>
                                        </svg></span></a>
                                </div>
                            </div>`
                    })

                        h3 Творческая мастерская университета
                        p Уникальный коллектив, объединивший самых разносторонних людей, которым интересно творчество в его совокупности: это и актёрское мастерство, и хореография, и вокальное исполнение, ведение и организация различных мероприятий. Словом, участники Творческой мастерской так или иначе задействованы во всех культурно-массовых мероприятиях, проводимых в стенах университета и за его пределами.
                        p Ты сможешь:

                        ul
                            li заниматься актёрским мастерством и режиссурой;
                            li проходить тренинги по развитию актёрских способностей и сцендвижению, ораторскому искусству с профессиональными педагогами;
                            li стать лучшим актёром/актрисой университета;
                            li создать и воплотить в жизнь свой собственный творческий сценарий;
                            li участвовать в различных театральных и творческих фестивалях по всей стране.

                        p P.S.: Нашему коллективу уже 17 лет, тебе примерно столько же — мы точно найдем общий язык!

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<img src="img/life/life_3.webp")><br><img src="img/life/life_4.webp")>
                            <div class="text-items-list">
                                <div class="link-block  link-block--table link-block--link">
                                    <div class="link-block__desc">Сообщество Вконтакте</div><a class="link-block__link" href="javascript:void(0)" target="_blank"><span class="link-block__text">Перейти</span><span class="link-block__icon">
                                        <svg> 
                                            <use xlink:href="img/sprites/sprite.svg#link"></use>
                                        </svg></span></a>
                                </div>
                            </div>`
                    })

                        h3 Танцевальный коллектив Free Dance Family
                        p «Free Dance Family» — это не просто победители и призёры множественных чемпионатов и соревнований, это команда мечты, где у тебя появится шанс стать лучшей версией себя. Именно здесь ты сможешь попробовать самые различные танцевальные стили и стать универсальным танцором высокого уровня. Придётся много трудиться, но поверь, это действительно стоит того, чтобы выступать в самых разных уголках мира, учиться у лучших, побеждать и разделять эту радость со своей командой.
                        p Команда основана в 2003 году и имеет богатую историю. Танцоры постоянно развиваются как на танцевальных репетициях и мастер-классах, так и на регулярных занятиях акробатикой.
                        p Ты сможешь:
                        ul
                            li стать частью команды;
                            li раскрыть в себе творческий потенциал и прокачать свой танцевальный уровень;
                            li выступать в стенах университета, а также на лучших площадках города;
                            li участвовать в межвузовских фестивалях, профессиональных чемпионатах и международных соревнованиях.
                        p Ищи в социальных сетях по хештегу: #FreeDanceFamily

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<img src="img/life/life_5.webp")>
                            <div class="text-items-list">
                                <div class="link-block  link-block--table link-block--link">
                                    <div class="link-block__desc">Сообщество Вконтакте</div><a class="link-block__link" href="javascript:void(0)" target="_blank"><span class="link-block__text">Перейти</span><span class="link-block__icon">
                                        <svg> 
                                            <use xlink:href="img/sprites/sprite.svg#link"></use>
                                        </svg></span></a>
                                </div>
                            </div>`
                        })

                            h3 Команда по чирлидингу «FULL DRIVE»
                            p Коллектив «Full Drive» — это большая, дружная семья со стажем более десяти лет. Команда создавалась с целью удивлять студентов университета зрелищными номерами. Однако мастерство коллектива возросло, и коллектив начал выступать в спортивных дисциплинах чирлидинга и стал призёром Всероссийских соревнований «Games» в 2014 году. В коллективе присутствуют не только девушки, но и юноши, на которых возложена большая ответственность. Ребята от тренировки к тренировке развивают навыки акробатики, а также оттачивают различные групповые и парные станты с женской частью команды.
                            p С недавних пор команда начала принимать участие в соревнованиях по чирлидингу «Битва двух столиц», а так же во Всероссийской студенческой «Cheer Dance Show лиге», где самые сильные команды России борются за звание лучших, и «Full Drive» в их числе. В 2019 году наша команда вошла в список команд, которым доверили отстаивать честь не только родного вуза, но и всей столицы в г. Санкт-Петербурге. В 2021 году ребята неоднократно становилась призёрами соревнований в спортивной номинации «смешанный групп-стант».
                            p Несмотря на большую занятость студентов, команда много трудится и проводит в спортзале почти по 20 часов в неделю, понимая, что оно того стоит. Каждый человек в нашей команде живёт чирлидингом и готов работать до победного.
                            p Ты сможешь:
                            ul
                                li Улучшить свою физическую подготовку;
                                li Выполнить разряд по чирлидингу;
                                li Научиться выполнять гимнастические и акробатические элементы, пирамиды, станты и танцевальные связки;
                                li Работать в дружном коллективе, где всему научат.

                    +m-columns({
                        classes: "m-columns--no-plpr",
                        title: `<img src="img/life/life_6.webp")><br>
                            <p>Выступления творческой студии «Полиграфомания»</p>
                            <div class="text-items-list">
                                <div class="link-block  link-block--table link-block--link">
                                    <div class="link-block__desc">Сообщество Вконтакте</div><a class="link-block__link" href="javascript:void(0)" target="_blank"><span class="link-block__text">Перейти</span><span class="link-block__icon">
                                        <svg> 
                                            <use xlink:href="img/sprites/sprite.svg#link"></use>
                                        </svg></span></a>
                                </div>
                            </div>`
                        })

                            h3 Творческая студия «Полиграфомания»
                            p Творческий проект «Полиграфомания» — это концертирующее (и концентрирующее) объединение поэтов, прозаиков, художников и музыкантов, существующее с 2007 года.
                            p Здесь происходят разнообразные действа: от видеопоказов, синтетических постановок и ежегодных поэтических турниров до обсуждений, творческих семинаров, музыкальных концертов, лекций по поэтике и занятий по теории языка и литературы. Студия постоянно устраивает концерты и фестивали в Доме Носова, Светловке, Фурцевке, Центре современного искусства, на традиционных литплощадках (Китайский Летчик Джао Да, ExLibris) и в других местах. Самые крупные мероприятия — музыкально-поэтический фестиваль «Голубиня» и Открытый турнир поэтов университета, которые проводятся ежегодно и привлекают множество поэтов и музыкантов. Регулярно проводятся поэтические и музыкальные вечера, мастер-классы, встречи с крупными литераторами и художниками.
                            p Кроме живого и плодотворного общения и приобщения к творчеству, один из важных плодов деятельности проекта — его альманахи. На данный момент вышел уже 3-й по счёту альманах «Полиграфомания», активно готовится к печати 4-й, со стихами, прозой и графикой студентов и выпускников университета.
                            p Ты сможешь:

                            ul
                                li представить своё творчество и включиться в современный литературный процесс;
                                li повысить уровень литературного мастерства;
                                li научиться глубже воспринимать произведения искусства;
                                li найти продуктивную творческую среду.

            +media-slider({
                sectionClasses: "no-padding-bottom",
                isSection: true,
                fancyGroup: 'projectsActivities',
                slides: [
                    {
                        image: 'img/news/news_slide_1.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_2.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_3.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_4.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_5.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                    {
                        image: 'img/news/news_slide_6.webp',
                        video: '',
                        title: '',
                        text: '',
                        mMode: 'image'
                    },
                ],
            })