extends ../layouts/default

block variables
    - const title = "Вакансия"

block content
    .page
        .page-layout
            +page-intro({
                classes: 'page-intro--mobileEmpty',
                title: '',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Вакансии',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Название вакансии',
                            link: 'javascript:void(0);'
                        }
                    ],
                }
            })
            +vacancy-detailed