extends ../layouts/default

block variables
    - const title = "Вакантные места для приёма (перевода) обучающихся"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Вакантные места</span> <br>для приёма (перевода) обучающихся',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Вакантные места для приёма (перевода) обучающихся',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })
            .sidebar-layout__content
                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Бакалавриат</h2>'
                    +info-tag
                    .m-table.m-table--columns(data-js="mTable")
                        <table>
                            <thead>
                            <tr>
                                <th rowspan="2">№</th>
                                <th rowspan="2">Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей</th>
                                <th rowspan="2">Наименование профессии, специальности, направления подготовки наименование группы научных специальностей</th>
                                <th rowspan="2">Образовательная программа, направленность, профиль, шифр и наименование научной специальности</th>
                                <th class="_subtitle" colspan="3">Количество вакантных мест для приема (перевода) обучающихся на места, финансируемые за счёт</th>
                            </tr>
                            <tr>
                                <th>по договорам об&nbsp;образовании за&nbsp;счёт средств физических и&nbsp;(или) юридических лиц</th>
                                <th>бюджетных ассигнований федерального бюджета</th>
                                <th>бюджетов субъектов Российской Федерации</th>
                            <tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            </tbody>
                        </table>

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Магистратура</h2>'
                    +info-tag
                    .m-table.m-table--columns(data-js="mTable")
                        <table>
                            <thead>
                            <tr>
                                <th rowspan="2">№</th>
                                <th rowspan="2">Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей</th>
                                <th rowspan="2">Наименование профессии, специальности, направления подготовки наименование группы научных специальностей</th>
                                <th rowspan="2">Образовательная программа, направленность, профиль, шифр и наименование научной специальности</th>
                                <th  class="_subtitle" colspan="3">Количество вакантных мест для приема (перевода) обучающихся на места, финансируемые за счёт</th>
                            </tr>
                            <tr>
                                <th>по договорам об&nbsp;образовании за&nbsp;счёт средств физических и&nbsp;(или) юридических лиц</th>
                                <th>бюджетных ассигнований федерального бюджета</th>
                                <th>бюджетов субъектов Российской Федерации</th>
                            <tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            </tbody>
                        </table>

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Аспирантура</h2>'
                    +info-tag
                    .m-table.m-table--columns(data-js="mTable")
                        <table>
                            <thead>
                            <tr>
                                <th rowspan="2">№</th>
                                <th rowspan="2">Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей</th>
                                <th rowspan="2">Наименование профессии, специальности, направления подготовки наименование группы научных специальностей</th>
                                <th rowspan="2">Образовательная программа, направленность, профиль, шифр и наименование научной специальности</th>
                                <th  class="_subtitle" colspan="3">Количество вакантных мест для приема (перевода) обучающихся на места, финансируемые за счёт</th>
                            </tr>
                            <tr>
                                <th>по договорам об&nbsp;образовании за&nbsp;счёт средств физических и&nbsp;(или) юридических лиц</th>
                                <th>бюджетных ассигнований федерального бюджета</th>
                                <th>бюджетов субъектов Российской Федерации</th>
                            <tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            </tbody>
                        </table>       