extends ../layouts/default

block variables
    - const title = "Вакантные места для приёма (перевода) обучающихся"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Вакантные места</span> <br>для приёма (перевода) обучающихся',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Вакантные места для приёма (перевода) обучающихся',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })
            .sidebar-layout__content
                .gost-section.gost-section--bordered.text-editor
                    .gost-section__text!= '<p>В образовательной организации не ведется обучение по профессиям СПО</p><p>В образовательной организации не ведется обучение по специальностям СПО</p>'
                    .gost-section__title!= '<h3>Бакалавриат</h3>'
                    +info-tag
                    .m-table.m-table--columns(data-js="mTable")
                        <table>
                            <thead>
                            <tr>
                                <th rowspan="2">№</th>
                                <th rowspan="2">Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей</th>
                                <th rowspan="2">Наименование профессии, специальности, направления подготовки наименование группы научных специальностей</th>
                                <th rowspan="2">Уровень образования</th>
                                <th rowspan="2">Курс</th>
                                <th rowspan="2">Форма обучения</th>
                                <th class="_subtitle" colspan="4">Количество вакантных мест для приема (перевода) обучающихся на места, финансируемые за счёт</th>
                            </tr>
                            <tr>
                                <th>по договорам об&nbsp;образовании за&nbsp;счёт средств физических и&nbsp;(или) юридических лиц</th>
                                <th>бюджетных ассигнований федерального бюджета</th>
                                <th>бюджетов субъектов Российской Федерации</th>
                                <th>местных бюджетов</th>
                            <tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Высшее образование&nbsp;- бакалавриат</td>
                                <td>Все курсы</td>
                                <td>Все формы</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Высшее образование&nbsp;- бакалавриат</td>
                                <td>Все курсы</td>
                                <td>Все формы</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Высшее образование&nbsp;- бакалавриат</td>
                                <td>Все курсы</td>
                                <td>Все формы</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>0</td>
                            </tr>
                            </tbody>
                        </table>

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h3>Магистратура</h3>'
                    +info-tag
                    .m-table.m-table--columns(data-js="mTable")
                        <table>
                            <thead>
                            <tr>
                                <th rowspan="2">№</th>
                                <th rowspan="2">Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей</th>
                                <th rowspan="2">Наименование профессии, специальности, направления подготовки наименование группы научных специальностей</th>
                                <th rowspan="2">Уровень образования</th>
                                <th rowspan="2">Курс</th>
                                <th rowspan="2">Форма обучения</th>
                                <th class="_subtitle" colspan="4">Количество вакантных мест для приема (перевода) обучающихся на места, финансируемые за счёт</th>
                            </tr>
                            <tr>
                                <th>по договорам об&nbsp;образовании за&nbsp;счёт средств физических и&nbsp;(или) юридических лиц</th>
                                <th>бюджетных ассигнований федерального бюджета</th>
                                <th>бюджетов субъектов Российской Федерации</th>
                                <th>местных бюджетов</th>
                            <tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Высшее образование&nbsp;- магистратура</td>
                                <td>Все курсы</td>
                                <td>Все формы</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Высшее образование&nbsp;- магистратура</td>
                                <td>Все курсы</td>
                                <td>Все формы</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Высшее образование&nbsp;- магистратура</td>
                                <td>Все курсы</td>
                                <td>Все формы</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>0</td>
                            </tr>
                            </tbody>
                        </table>

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h3>Аспирантура</h3>'
                    +info-tag
                    .m-table.m-table--columns(data-js="mTable")
                        <table>
                            <thead>
                            <tr>
                                <th rowspan="2">№</th>
                                <th rowspan="2">Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей</th>
                                <th rowspan="2">Наименование профессии, специальности, направления подготовки наименование группы научных специальностей</th>
                                <th rowspan="2">Уровень образования</th>
                                <th rowspan="2">Курс</th>
                                <th rowspan="2">Форма обучения</th>
                                <th class="_subtitle" colspan="4">Количество вакантных мест для приема (перевода) обучающихся на места, финансируемые за счёт</th>
                            </tr>
                            <tr>
                                <th>по договорам об&nbsp;образовании за&nbsp;счёт средств физических и&nbsp;(или) юридических лиц</th>
                                <th>бюджетных ассигнований федерального бюджета</th>
                                <th>бюджетов субъектов Российской Федерации</th>
                                <th>местных бюджетов</th>
                            <tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Высшее образование&nbsp;- аспирантура</td>
                                <td>Все курсы</td>
                                <td>Все формы</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Высшее образование&nbsp;- аспирантура</td>
                                <td>Все курсы</td>
                                <td>Все формы</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Высшее образование&nbsp;- аспирантура</td>
                                <td>Все курсы</td>
                                <td>Все формы</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>0</td>
                            </tr>
                            </tbody>
                        </table>      