extends ../layouts/default

block variables
    - const title = "Законодательная карта"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Законодательная</span> <br>карта',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Законодательная карта',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })
            .sidebar-layout__content
                +m-columns({
                    title: '<h2>Структура официального сайта образовательной организации в информационно-телекоммуникационной сети «Интернет», а также формат представления образовательной организацией информации, обязательной к размещению на Сайте определяются в соответствии с:</h2>'
                })
                    ul
                        li 
                            b Статьёй 29 Федерального закона “Об образовании в Российской Федерации” от  29.12.2012 № 273-ФЗ
                        li 
                            b Постановлением Правительства Российской Федерации от 20.10.2021 № 1802 "Об утверждении Правил размещения на официальном сайте образовательной организации в информационно-телекоммуникационной сети "Интернет" и обновления информации об образовательной организации, а также о признании утратившими силу некоторых актов и отдельных положений некоторых актов Правительства Российской Федерации"
                        li 
                            b Приказом Федеральной службы по надзору в сфере образования и науки от 14.08.2020 № 831 "Об утверждении Требований к структуре официального сайта образовательной организации в информационно-телекоммуникационной сети "Интернет" и формату представления информации