extends ../layouts/default

block variables
    - const title = "Законодательная карта"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Законодательная</span> <br>карта',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Законодательная карта',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })
            .sidebar-layout__content
                +m-columns({
                    title: '<h2>Структура официального сайта образовательной организации в информационно-телекоммуникационной сети «Интернет», а также формат представления образовательной организацией информации, обязательной к размещению на Сайте определяются в соответствии с:</h2>'
                })
                    ul
                        li 
                            b Статьёй 29 Федерального закона “Об образовании в Российской Федерации” от&nbsp;29.12.2012 № 273-ФЗ
                        li 
                            b Постановлением Правительства Российской Федерации от&nbsp;20.10.2021 № 1802&nbsp;"Об утверждении Правил размещения на официальном сайте образовательной организации в информационно-телекоммуникационной сети "Интернет" и обновления информации об образовательной организации, а также о признании утратившими силу некоторых актов и отдельных положений некоторых актов Правительства Российской Федерации"
                        li 
                            b Приказом Федеральной службы по надзору в сфере образования и науки от&nbsp;14.08.2020 № 831&nbsp;"Об утверждении Требований к структуре официального сайта образовательной организации в информационно-телекоммуникационной сети "Интернет" и формату представления информации

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__header
                        div 
                            .gost-section__title!= '<h2>Структура раздела <br>«Сведения об образовательной организации»</h2>'
                            +info-tag
                        .gost-section__text 
                            p Раздел "Сведения об образовательной организации" выполнены в соответствии с методическими рекомендациями Министерства образования и науки РФ (Рособрнадзор), включая изменения, внесенные в <a href="#">приказе №1968 от 27.11.2017</a>

                    +m-table({
                        header: [								
                            "№",
                            "Название подраздела",
                            "Наличие подраздела на сайте",
                            "Наличие требуемых информационных материалов в подразделе",
                            "Адресная ссылка на подраздел Сайта в сети Интернет"
                        ],

                        rows: [
                            [
                                "1",
                                "Основные сведения",
                                "да",
                                "да",
                                "<a href='https://xay.hudson88.ru/sveden/common/' target='_blank'>https://xay.hudson88.ru/sveden/common/</a>"
                            ],
                            [
                                "2",
                                "Структура и органы управления образовательной организацией",
                                "да",
                                "да",
                                "<a href='https://xay.hudson88.ru/sveden/common/' target='_blank'>https://xay.hudson88.ru/sveden/common/</a>"
                            ],
                            [
                                "3",
                                "Документы",
                                "да",
                                "да",
                                "<a href='https://xay.hudson88.ru/sveden/common/' target='_blank'>https://xay.hudson88.ru/sveden/common/</a>"
                            ],
                            [
                                "4",
                                "Образование",
                                "да",
                                "да",
                                "<a href='https://xay.hudson88.ru/sveden/common/' target='_blank'>https://xay.hudson88.ru/sveden/common/</a>"
                            ],
                            [
                                "5",
                                "Образовательные стандарты и требования",
                                "да",
                                "да",
                                "<a href='https://xay.hudson88.ru/sveden/common/' target='_blank'>https://xay.hudson88.ru/sveden/common/</a>"
                            ],
                            [
                                "6",
                                "Руководство. Педагогический (научно-педагогический) состав",
                                "да",
                                "да",
                                "<a href='https://xay.hudson88.ru/sveden/common/' target='_blank'>https://xay.hudson88.ru/sveden/common/</a>"
                            ],
                            [
                                "7",
                                "Материально-техническое обеспечение и оснащенность образовательного процесса",
                                "да",
                                "да",
                                "<a href='https://xay.hudson88.ru/sveden/common/' target='_blank'>https://xay.hudson88.ru/sveden/common/</a>"
                            ],
                            [
                                "8",
                                "Стипендии и иные виды материальной поддержки",
                                "да",
                                "да",
                                "<a href='https://xay.hudson88.ru/sveden/common/' target='_blank'>https://xay.hudson88.ru/sveden/common/</a>"
                            ],
                            [
                                "9",
                                "Платные образовательные услуги",
                                "да",
                                "да",
                                "<a href='https://xay.hudson88.ru/sveden/common/' target='_blank'>https://xay.hudson88.ru/sveden/common/</a>"
                            ],
                            [
                                "10",
                                "Финансово-хозяйственная деятельность",
                                "да",
                                "да",
                                "<a href='https://xay.hudson88.ru/sveden/common/' target='_blank'>https://xay.hudson88.ru/sveden/common/</a>"
                            ],
                            [
                                "11",
                                "Вакантные места для приема (перевода)",
                                "да",
                                "да",
                                "<a href='https://xay.hudson88.ru/sveden/common/' target='_blank'>https://xay.hudson88.ru/sveden/common/</a>"
                            ],
                            [
                                "12",
                                "Доступная среда",
                                "да",
                                "да",
                                "<a href='https://xay.hudson88.ru/sveden/common/' target='_blank'>https://xay.hudson88.ru/sveden/common/</a>"
                            ],
                            [
                                "13",
                                "Международное сотрудничество",
                                "да",
                                "да",
                                "<a href='https://xay.hudson88.ru/sveden/common/' target='_blank'>https://xay.hudson88.ru/sveden/common/</a>"
                            ]
                        ]
                    })