-
    const defaultadminSignaturesProps = {
    classes: ''
    }

mixin admin-signatures(props = defaultadminSignaturesProps)
    -
        const checkProps = {
        classes: props.classes ? props.classes : defaultadminSignaturesProps.classes
        }

    section.admin-signatures(class=checkProps.classes)
        .m-container
            +m-columns({
                classes: "m-columns--no-plpr no-border",
                title: '<a href="#" class="title-download"><span class="title-download__icon"><svg><use xlink:href=img/sprites/sprite.svg#download></use></svg></span><span class="title-download__text">Полный состав сотрудников университета</span></a>'
            })
                .text-items-list
                    +link-unit({
                        phone: '+7 (999) 999-99-99',
                        email: 'khay1@khay.ru'
                    })