.people-detail {

    display: flex;
    align-items: flex-start;

    @include max(tablet) {
        flex-direction: column;
    }

    &--single {
        margin-top: 80px;
        margin-bottom: 40px;

        @include max(laptop) {
            margin-top: 45px;
        }

        @include max(tablet) {
            margin-top: 15px;
        }

        @include max(mobile) {
            margin-top: 0;
        }
    }

    &__img {
        flex: 0 0 851px;

        @include max(large) {
            flex: 1 1 auto;
            max-width: 851px;
        }

        @include max(tablet) {
            max-width: 600px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        flex: 1 1 auto;
        max-width: 1044px;
        padding: 22px 30px 54px 40px;

        @include max(large) {
            flex: 0 0 700px;
        }

        @include max(laptop) {
            flex: 0 0 600px;
            padding: 25px;
        }

        @include max(tablet) {
            max-width: 600px;
            flex-basis: auto;
        }

        @include max(mobile) {
            padding: 15px;
        }

    }

    &__info {
        max-width: 500px;
        max-height: none;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 30px;
        transition: max-height $tr-time;
    }

    &__item {
        color: $c-accent;
        font-size: 16px;

        @include max(mobile) {
            font-size: 14px;
        }
    }

    &__param {
        font-weight: 400;
        line-height: 1.17em;
        opacity: 0.4;
    }

    &__val {
        margin-top: 9px;
        font-weight: 500;
        line-height: 1.02em;
        transition: color $tr-time;

        a:hover {
            color: $c-accent-light;
        }

        ul,
        ol {
            padding-left: 1.1em;
        }
    }

    &__showmore {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        min-height: 44px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.02em;
        text-align: left;
        color: $c-accent;
        cursor: pointer;

        .show-more {
            display: none;
        }

        .show-less {
            display: block;
        }

        svg {
            margin-top: 3px;
            flex: 0 0 10px;
            transform: rotate(-90deg);
        }
    }

    .collapsed &__showmore {
        .show-more {
            display: block;
        }

        .show-less {
            display: none;
        }

        svg {
            transform: rotate(90deg);
        }
    }

}

.people-detail--hasTitle {
    border-top: 1px solid $c-border-op;
    padding-top: 25px;
}