-
    const defaultPeopleDetailProps = {
        classes: '',
        hasTitle: false,
        abbreviated: false,
        items: [
            {
                param: 'Должность',
                val: 'Профессор'
            },
            {
                param: 'Образование',
                val: 'МГУ им.М.В.Ломоносова, географический факультет, кафедра геоморфологии, 1976 г.'
            },
            {
                param: 'Ученая степень',
                val: 'Доктор географических наук (2003)'
            },
            {
                param: 'Ученое звание',
                val: 'Профессор'
            },
            {
                param: 'Область научных интересов',
                val: 'Биогенное рельефообразование, овражная эрозия, стационарные наблюдения за динамикой рельефа, экологическая геоморфология, городская геоморфология, субрельеф, методология и методика геоморфологических исследований и геоморфологического картографирования, школьная физическая география.'
            },
            {
                param: 'Тема кандидатской диссертации',
                val: 'История развития малых эрозионных форм краевой зоны московского оледенения (на примере бассейна р.Протвы)'
            },
            {
                param: 'Тема докторской диссертации',
                val: 'История развития малых эрозионных форм краевой зоны московского оледенения (на примере бассейна р.Протвы)'
            },
            {
                param: 'Телефон:',
                val: '<a href="tel:+74959395469">+7 (495) 939 54 69</a>' 
            },
            {
                param: 'E-mail:',
                val: '<a href="mailto:sibol1954@bk.ru"> sibol1954@bk.ru</a>'
            }              
        ]
    }

mixin people-detail(props = defaultPeopleDetailProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultPeopleDetailProps.classes,
            hasTitle: props.hasTitle ? props.hasTitle : defaultPeopleDetailProps.hasTitle,
            abbreviated: props.abbreviated ? props.abbreviated : defaultPeopleDetailProps.abbreviated,
            items: props.items ? props.items : defaultPeopleDetailProps.items
        }

        let hasTitleClass = checkProps.hasTitle === true ? ' people-detail--hasTitle' : ''

    .people-detail(class=checkProps.classes + hasTitleClass)&attributes(attributes)
        .people-detail__img(data-js='peopleDetailImg')
            img(src="img/peoples/people.webp")
        .people-detail__content(data-js='peopleDetailContent')
            .title.title--dark(data-js='peopleDetailTitle')
                .title__h1
                    h1 <span>Мищенко</span><br> Сергей Сергеевич
            .people-detail__info(data-js='peopleDetailInfo')
                - let itemsCount = 0
                - while(itemsCount < checkProps.items.length)
                    .people-detail__item
                        .people-detail__param!= checkProps.items[itemsCount].param
                        .people-detail__val!= checkProps.items[itemsCount].val

                    - itemsCount++
