-
    const defaultPeopleDetailProps = {
    classes: ''
    }

mixin people-detail(props = defaultPeopleDetailProps)
    -
        const checkProps = {
        classes: props.classes ? props.classes : defaultNewsListProps.classes
        }
    .m-container
        section.people-detail(class=checkProps.classes)
            .people-detail__img
                img(src="img/peoples/people.jpg")
            .people-detail__content
                .title.title--dark
                    .title__h1
                        h1 <span>Мищенко</span><br> Сергей Сергеевич
                .text-editor
                    p Должность <br>
                        b Профессор

                    p Образование<br>
                        b МГУ им.М.В.Ломоносова, географический факультет, кафедра геоморфологии, 1976 г.

                    p Ученая степень<br>
                        b Доктор географических наук (2003)

                    p Ученое звание<br>
                        b Профессор

                    p Область научных интересов<br>
                        b Биогенное рельефообразование, овражная эрозия, стационарные наблюдения за динамикой рельефа, экологическая геоморфология, городская геоморфология, субрельеф, методология и методика геоморфологических исследований и геоморфологического картографирования, школьная физическая география.

                    p Тема кандидатской диссертации<br>
                        b История развития малых эрозионных форм краевой зоны московского оледенения (на примере бассейна р.Протвы)

                    p Тема докторской диссертации<br>
                        b История развития малых эрозионных форм краевой зоны московского оледенения (на примере бассейна р.Протвы)

                    p Телефон:<br>
                        a(href="tel:+74959395469")
                            b +7 (495) 939 54 69

                    p E-mail:<br>
                        a(href="mailto:sibol1954@bk.ru")
                            b sibol1954@bk.ru