.news-filter {
    display: flex;
    align-items: center;
    gap: 50px;

    @include max(laptop) {
        flex-wrap: wrap;
        gap: 30px;
    }

    @include max(tablet) {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    &__group {
        max-width: 100%;
    }

    &__subtitle {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 45;
        line-height: 1.17em;
        opacity: 0.4;
    }

    &__list {
        list-style-type: none;
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        overflow-y: auto;

        @include max(tablet) {
            margin-right: -20px;
            width: calc(100% + 20px);
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        flex-shrink: 0;
        min-width: 125px;
        min-height: 49px;
        background-color: rgba(51, 93, 152, 0.1);
        padding: 10px 21px;
        white-space: nowrap;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        line-height: 1em;
        letter-spacing: -0.02em;
        text-align: center;
        color: $c-accent;
        border-right: 1px solid #B2BCBC;
        border-color: #B2BCBC;
        transition: all $tr-time;

        &:last-child {
            border-right: none;
            margin-right: 15px;
        }

        &:hover,
        &.active {
            color: $c-white;
            background-color: $c-accent;
            border-color: $c-accent;
        }

        @include max(mobile) {
            min-width: 95px;
            min-height: 40px;
        }
    }
}