-
    const defaultBtnPlusProps = {
        classes: '',
        name: 'Подробнее',
        noText: false
    }

mixin btn-plus(props = defaultBtnPlusProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultBtnPlusProps.classes,
            name: props.name ? props.name : defaultNewsCardProps.name,
            noText: props.noText ? props.noText : defaultNewsCardProps.noText
        }

    a.btn-plus(class=checkProps.classes href="#")
        if(checkProps.noText !== true)
            span.btn-plus__text!= checkProps.name
        span.btn-plus__icon 
            svg
                use(xlink:href=`img/sprites/sprite.svg#plus`)

