.page-intro {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 24px 28px 40px;

    @include max(laptop) {
        padding: 24px 20px 40px;
        gap: 80px;
    }

    @include max(tablet) {
        gap: 50px;
        padding: 24px 15px 40px;
    }

    @include max(mobile) {
        padding: 24px 15px 40px;
        min-height: auto;
    }

    &__content {
        margin-top: auto;
    }

    &__text {
        margin-top: 20px;
        max-width: 690px;
    }

    &__tag {
        margin-top: 16px;
    }

    &__back {
        display: flex;
        align-items: center;
        width: fit-content;
        gap: 10px;
        color: $c-accent;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.02em;
        transition: all $tr-time;

        .icon {
            width: 53px;
            height: 53px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $c-white;
            color: $c-accent;
            border-radius: 100%;
            transition: all $tr-time;

            svg {
                width: 9px;
                height: 12px;
                transform: rotate(-180deg);
            }
        }

        &:hover {
            color: $c-accent-light;

            .icon {
                background-color: $c-accent;
                color: $c-white;
            }
        }
    }

}

.page-intro--mobileEmpty {
    @include max(mobile) {
        display: none;
    }
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}

.no-border {
    border: 0 !important;
}