-
    const defaultPageIntroProps = {
        classes: '',
        title: '',
        breadcrumbs: {},
        backBtn: false
    }

mixin page-intro(props = defaultPageIntroProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultPageIntroProps.classes,
            title: props.title ? props.title : defaultPageIntroProps.title,
            breadcrumbs: props.breadcrumbs ? props.breadcrumbs : defaultPageIntroProps.breadcrumbs,
            backBtn: props.backBtn ? props.backBtn : defaultPageIntroProps.backBtn
        }

        let mobileEmpty = checkProps.title.length < 1 && checkProps.backBtn === false ? ' page-intro--mobileEmpty' : ''

    section.page-intro(class= checkProps.classes + mobileEmpty)
        +breadcrumbs(checkProps.breadcrumbs)
        - if(checkProps.title.length > 0)
            .page-intro__content
                +title({
                    tag: 'h1',
                    text: checkProps.title
                })
                block
        - if(checkProps.backBtn === true)
            a.page-intro__back(href="#")
                span.icon
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#link_angle`)
                | Назад


