.page-intro {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 24px 28px 40px;

    @include max(laptop) {
        padding: 24px 20px 40px;
        gap: 80px;
    }

    @include max(tablet) {
        gap: 50px;
        padding: 24px 15px 40px;
    }

    @include max(mobile) {
        padding: 24px 15px 40px;
        min-height: auto;
    }

    &__content {
        margin-top: auto;
    }

    &__tag {
        margin-top: 16px;
    }

}

.border-bottom{
    border-bottom: 1px solid #ccc;
}

.no-border{
    border:0 !important;
}