-
    const defaultProgrammCardProps = {
        classes: '',
        faculty: '',
        name: 'Название программы',
        params: [
            {
                name: 'Название параметра',
                value: 'Значение параметра'
            }
        ],
        isRow: false,
        vMode: ''
    }

mixin programm-card(props= defaultProgrammCardProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultProgrammCardProps.classes,
            faculty: props.faculty ? props.faculty : defaultProgrammCardProps.faculty,
            name: props.name ? props.name : defaultProgrammCardProps.name,
            params: props.params ? props.params : defaultProgrammCardProps.params,
            isRow: props.isRow ? props.isRow : defaultProgrammCardProps.isRow,
            vMode: props.vMode ? props.vMode : defaultProgrammCardProps.vMode
        }

        isRowClass = checkProps.isRow === true ? ' programm-card--row' : ''
        vModeClass = checkProps.vMode.length > 0 ? ' programm-card--' + checkProps.vMode : ''

    .programm-card(class= checkProps.classes + isRowClass + vModeClass data-js="programmCard")&attributes(attributes)
        .programm-card__header
            - if(checkProps.faculty.length > 0)
                .programm-card__suptitle!= checkProps.faculty
            .h3.programm-card__title
                a(href="#")!= checkProps.name

        .programm-card__items
            - let paramsCount = 0
            - while(paramsCount < checkProps.params.length)
                .programm-card__item
                    .programm-card__param!= checkProps.params[paramsCount].name
                    .h3.programm-card__val!= checkProps.params[paramsCount].value

                - paramsCount++



