.programm-card {
    display: flex;
    flex-direction: column;
    color: $c-accent-middle;
    background-color: $c-white;
    padding: 20px;

    &--green {
        background-color: $c-bg-main;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 80px;

        @include max(large) {
            margin-top: 50px;
        }

        @include max(mobile) {
            margin-top: 20px;
            gap: 10px;
        }
    }

    &__param {
        opacity: 0.4;
        color: $c-accent;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.17em;
    }

    &__suptitle {
        color: $c-accent-light;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.02em;
    }

    &__title {
        margin-top: 8px;
    }

    &__val {
        margin-top: 10px;
    }

}

@include min(tablet) {
    .programm-card {
        &--row {
            flex-direction: row;
            align-items: center;
            border-left: 4px solid $c-accent-light;
            padding: 30px 25px;

            @include max(laptop) {
                flex-direction: column;
                align-items: flex-start;
            }

        }

        &--row &__header {
            flex: 0 0 380px;
            margin-right: auto;

            @include max(laptop) {
                flex-basis: auto;
                margin-right: 0;
            }
        }

        &--row &__items {
            flex-direction: row;
            align-items: center;
            gap: 0;
            flex: 0 1 1012px;
            margin-top: 0;

            @include max(large) {
                margin-top: 0;
            }

            @include max(laptop) {
                flex-basis: auto;
                width: 100%;
                margin-top: 20px !important;
            }

        }

        &--row &__item {
            flex: 0 1 25%;
            padding: 0 20px;
            border-left: 1px solid $c-border-op;

            @include max(large) {
                padding: 0 10px;
            }

            @include max(laptop) {
                &:first-child {
                    border-left: none;
                    padding-left: 0;
                }
            }

        }

    }
}