-
    const defaultNewsCardProps = {
        classes: '',
    }

mixin news-card(props = defaultNewsCardProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultNewsCardProps.classes,
        }

    .news-card(class=checkProps.classes)
