.m-table {
    overflow-x: auto;
    margin-top: 34px;

    @include max(mobile) {
        margin-right: -15px;
    }

    &::-webkit-scrollbar {
        width: 9px;
        height: 9px;

        @include max(tablet) {
            width: 5px;
            height: 5px;
        }
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $c-accent-middle;
        border-radius: 21px;
    }

    table {
        min-width: 100%;

        @include max(mobile) {
            margin-right: 15px;
        }
    }

    th,
    td {
        padding: 23px;
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.02em;
        color: $c-accent;

        @include max(large) {
            min-width: 120px;
        }

        @include max(laptop) {
            padding: 15px;
        }

        @include max(mobile) {
            padding: 5px 10px;
            font-size: 12px;
            min-width: 85px;
        }
    }

    tr th:first-child,
    tr td:first-child {
        min-width: auto !important;
    }

    th {
        background-color: $c-accent-middle;
        color: $c-white;
    }

    tbody tr:nth-child(odd) td {
        background-color: $c-bg-main;
    }
}

.m-table.m-table--rows {

    table {
        overflow: hidden;
        display: flex;
        align-items: stretch;
    }

    tbody {
        display: flex;
        overflow-x: auto;
        align-items: stretch;

        &::-webkit-scrollbar {
            width: 9px;
            height: 9px;

            @include max(tablet) {
                width: 5px;
                height: 5px;
            }
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $c-accent-middle;
            border-radius: 21px;
        }
    }

    th,
    td {
        display: flex;
        align-items: center;
    }

    tr {
        display: grid;
        grid-auto-rows: 1fr;
    }

    tbody tr:nth-child(odd) td {
        background-color: $c-white;
    }

    tbody tr td:nth-child(odd) {
        background-color: $c-bg-main;
    }
}