-
    const defaultMTableProps = {
        classes: '',
        vMode: 'columns',
        header: [
            '№',
            'Наименование объекта',
            'Вид помещения',
            'Адрес местонахождения',
            'Количество посадочных мест',
            'Общая площадь (кв.м.)',
            'График работы'
        ],
        rows: [
            [
                '1',
                'Буфет',
                'Объект питания',
                'Сретенская ул., 23, Херсон',
                '10',
                '19,8',
                'пн.-сб. 8:00-17:00'
            ],
            [
                '2',
                'Столовая',
                'Объект питания',
                'Сретенская ул., 23, Херсон',
                '45',
                '86,5',
                'пн.-пт. 9:00-17:00'
            ]
        ]
    }

mixin m-table(props= defaultMTableProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultMTableProps.classes,
            header: props.header ? props.header : defaultMTableProps.header,
            rows:  props.rows ? props.rows : defaultMTableProps.rows,
            vMode: props.vMode ? props.vMode : defaultMTableProps.vMode,
        }

    .m-table(class= checkProps.classes + ' ' + `m-table--${checkProps.vMode}`)&attributes(attributes)
        table.scrollbar
            thead
                tr
                    - let countHeader = 0 
                    - while (countHeader < checkProps.header.length)
                        th!= checkProps.header[countHeader]

                        - countHeader += 1;
            tbody.scrollbar
                - let countRows = 0 
                - while (countRows < checkProps.rows.length)
                    tr
                        - let countCell = 0 
                        - while (countCell < checkProps.rows[countRows].length)
                            td!= checkProps.rows[countRows][countCell]

                            - countCell += 1;

                        - countRows += 1;



