extends layouts/default

block variables
    - const title = "Страницы"

block content

    .page
        section.section.pages-list
            .m-container
                +title({
                    classes: 'pages-list__title',
                    tag: 'h1',
                    text: 'Страницы'
                })
                +title({
                    classes: 'pages-list__subtitle',
                    tag: 'h2',
                    text: 'Университет'
                })
                .pages-list__links
                    a.pages-list__link(href="history.html" target="_blank") История университета
                    a.pages-list__link(href="museum.html" target="_blank") Музей при университете

                +title({
                    classes: 'pages-list__subtitle',
                    tag: 'h2',
                    text: 'ГОСТ / Сведения'
                })
                .pages-list__links
                    a.pages-list__link(href="mto.html" target="_blank") Материально-техническое обеспечение и оснащённость образовательного процесса
                    a.pages-list__link(href="platnoe-obrazovanie.html" target="_blank") Платные образовательные услуги
                    a.pages-list__link(href="rukovodstvo-i-prepodavateli.html" target="_blank") Руководство. Педагогический (научно-педагогический) состав
                    a.pages-list__link(href="dostupnaya-sreda.html" target="_blank") Доступная среда
                    a.pages-list__link(href="ob-universitete.html" target="_blank") Об университете
                    a.pages-list__link(href="dokumenti.html" target="_blank") Документы
                    a.pages-list__link(href="obrazovanie.html" target="_blank") Образование
                    a.pages-list__link(href="fin-hoz-deyatelnost.html" target="_blank") Финансово-хозяйственная деятельность
                    a.pages-list__link(href="stipendii.html" target="_blank") Стипендии и меры поддержки обучающихся
                    a.pages-list__link(href="obrazovatelnie-programmi.html" target="_blank") Информация о реализуемых образовательных программах
                    a.pages-list__link(href="perevodi-vosstanovleniya-otchisleniya.html" target="_blank") Информация о результатах перевода, о результатах восстановления и отчисления
                    a.pages-list__link(href="nauchnaya-deyatelnost.html" target="_blank") Информация о направлениях и результатах научной (научно-исследовательской) деятельности и научно-исследовательской базе для ее осуществления
                    a.pages-list__link(href="sostav-rabotnikov-programm.html" target="_blank") Информация о персональном составе педагогических работников каждой реализуемой образовательной программы
                    a.pages-list__link(href="dohodi.html" target="_blank") Сведения о доходах
                    a.pages-list__link(href="zakonodatelnaya-karta.html" target="_blank") Законодательная карта
                    a.pages-list__link(href="rezultati-priema.html" target="_blank") Информация о результатах приема
                    a.pages-list__link(href="obrazovatelnie-standarti.html" target="_blank") Образовательные стандарты и требования
                    a.pages-list__link(href="mezhdunarodnoe-sotrudnichestvo.html" target="_blank") Международное сотрудничество
                    a.pages-list__link(href="chislennost-obuchayushchihsya.html" target="_blank") Информация о численности обучающихся
                    a.pages-list__link(href="opisanie-programmi.html" target="_blank") Об описании образовательной программы
                    a.pages-list__link(href="vakantnie-mesta.html" target="_blank") Вакантные места для приёма (перевода) обучающихся
                    a.pages-list__link(href="struktura.html" target="_blank") Структура и органы управления образовательной организацией