extends layouts/default

block variables
    - const title = "Страницы"

block content

    .page
        section.section.pages-list
            .m-container
                +title({
                    classes: 'pages-list__title',
                    tag: 'h1',
                    text: 'Страницы'
                })
                +title({
                    classes: 'pages-list__subtitle',
                    tag: 'h2',
                    text: 'ГОСТ / Сведения'
                })
                .pages-list__links
                    a.pages-list__link(href="mto.html") Материально-техническое обеспечение и оснащённость образовательного процесса
                    a.pages-list__link(href="platnoe-obrazovanie.html") Платные образовательные услуги
                    a.pages-list__link(href="rukovodstvo-i-prepodavateli.html") Руководство. Педагогический (научно-педагогический) состав
                    a.pages-list__link(href="dostupnaya-sreda.html") Доступная среда
                    a.pages-list__link(href="perevodi-vosstanovleniya-otchisleniya.html") Информация о результатах перевода, о результатах восстановления и отчисления
                    a.pages-list__link(href="nauchnaya-deyatelnost.html") Информация о направлениях и результатах научной (научно-исследовательской) деятельности и научно-исследовательской базе для ее осуществления
                    a.pages-list__link(href="sostav-rabotnikov-program.html") Информация о персональном составе педагогических работников каждой реализуемой образовательной программы

