.count-block {
    display: flex;
    justify-content: space-between;

    &--row {
        align-items: center;
        background-color: $c-bg-main;
        padding: 20px 25px;
        margin-top: 18px;
        gap: 50px;

        &.count-block--reverse {
            flex-direction: row-reverse;
        }

        @include max(mobile) {
            padding: 10px 15px;
            gap: 10px;
            margin-top: 10px;
        }
    }

    &__desc {
        flex: 1 1 auto;
        color: $c-accent;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.17em;
        opacity: 0.6;

        @include max(mobile) {
            font-size: 14px;
        }
    }

    &__num {
        color: $c-accent-middle;

        a {
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
            padding: 0;
            margin: 0;
            display: inline;

            @include max(mobile) {
                font-size: inherit;
                font-weight: inherit;
                line-height: inherit;
                padding: 0;
                margin: 0;
                display: inline;
            }
        }
    }

    &--row &__num {
        flex: 0 0 71px;

        @include max(mobile) {
            flex-basis: 48px;
        }
    }

    &--column {
        flex-direction: column;
        padding: 20px 0;
        gap: 10px;

        &.count-block--reverse {
            flex-direction: column-reverse;
        }

        &:first-child {
            padding: 0 0 20px;
        }

        @include max(mobile) {
            padding: 10px 0;
        }
    }

}