.main-burger {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 90;

    &__icon {
        background-color: $c-accent;
        padding: 40px 35px;
        width: 100px;
        height: 100vh;

        @include max(laptop) {
            padding: 25px 20px;
            width: 70px;
        }

        @include max(tablet) {
            height: 72px;
        }

        @include max(mobile) {
            height: 64px;
            padding: 20px;
        }
    }


    &__icon {
        cursor: pointer;
        color: $c-white;
    }

    &__icon svg {
        width: 29px;
        height: 21.82px;
    }
}