.faculty-video {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: $c-white;

    &__title {
        margin-bottom: 35px;
        color: $c-accent;

        @include max(mobile) {
            margin-bottom: 20px;
        }
    }
}