.abiturientam-news {
    padding-top: 30px;

    &__container {
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        @include max(mobile) {
            flex-direction: column;
            gap: 10px;
        }
    }

    &__item {
        flex: 0 0 calc((100% - 20px) / 2);

        @include max(mobile) {
            flex-basis: auto;
        }
    }
}