.preparatory-tech {
    padding-top: 100px;
    padding-bottom: 50px;
}

.preparatory-news {
    padding-top: 50px;
    padding-bottom: 50px;
}

.preparatory-about {
    padding-top: 50px;
    padding-bottom: 50px;
}