-
    const defaultAbiturientamPromoProps = {
        classes: ''
    }

mixin abiturientam-promo(props = defaultAbiturientamPromoProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultAbiturientamPromoProps.classes
        }

    section.abiturientam-promo
        .m-container
            .abiturientam-promo__img 
                img(src="img/abiturientam/abiturientam_promo.webp" alt="")
            .abiturientam-promo__content
                .h3.abiturientam-promo__title Лучший выбор профессии будущего
                .abiturientam-promo__slider(data-js="abiturientamPromoSlider")
                    .swiper-wrapper 
                        .abiturientam-promo__slide.swiper-slide
                            .abiturientam-promo__num 01
                            .abiturientam-promo__subtitle Университет
                        .abiturientam-promo__slide.swiper-slide
                            .abiturientam-promo__num 02
                            .abiturientam-promo__subtitle Практико-ориентированное образование
                        .abiturientam-promo__slide.swiper-slide
                            .abiturientam-promo__num 03
                            .abiturientam-promo__subtitle Широкие возможности трудоустройства
                        .abiturientam-promo__slide.swiper-slide
                            .abiturientam-promo__num 04
                            .abiturientam-promo__subtitle Решение реальных задач
                        .abiturientam-promo__slide.swiper-slide
                            .abiturientam-promo__num 05
                            .abiturientam-promo__subtitle Решение реальных задач




