-
    const defaultmultiMenuProps = {
        classes: '',
        isHeader: false
    }

mixin multi-menu(props= defaultmultiMenuProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultmultiMenuProps.classes,
            isHeader: props.isHeader ? props.isHeader : defaultmultiMenuProps.isHeader,
        }

        let isHeaderClass = checkProps.isHeader === true ? ' multi-menu--header' : '' 

    - if (checkProps.isHeader === true)
        .multi-menu(class= checkProps.classes + isHeaderClass data-js="multiMenu" data-id="0")&attributes(attributes)
            .multi-menu__list.multi-menu__list--1.active(data-js='multiMenuList' data-level="1")
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='1')
                        span.multi-menu__text Поступающим 1-1
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='2') 
                        span.multi-menu__text Обучающимся
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='3') 
                        span.multi-menu__text Структура
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='4')
                        span.multi-menu__text Об университете
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='5')
                        span.multi-menu__text Кафедры
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='6')
                        span.multi-menu__text Довузовское образование
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='7')
                        span.multi-menu__text Наука
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='8')
                        span.multi-menu__text Международная деятельность
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='9') 
                        span.multi-menu__text Общие сведения
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='10') 
                        span.multi-menu__text Сведения об образовательной организации
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='11') 
                        span.multi-menu__text Противодействие коррупции
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='12') 
                        span.multi-menu__text Новости
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

            .multi-menu__list.multi-menu__list--2(data-js='multiMenuList' data-level="2" data-index="1")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='1')
                        span.multi-menu__text Уровень 2-1
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='2') 
                        span.multi-menu__text Обучающимся
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='3') 
                        span.multi-menu__text Структура
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='4') 
                        span.multi-menu__text Об университете
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='5') 
                        span.multi-menu__text Кафедры
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='6') 
                        span.multi-menu__text Довузовское образование
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='7') 
                        span.multi-menu__text Наука
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='8') 
                        span.multi-menu__text Международная деятельность
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='9') 
                        span.multi-menu__text Общие сведения
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='10') 
                        span.multi-menu__text Сведения об образовательной организации
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='11') 
                        span.multi-menu__text Противодействие коррупции
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='12') 
                        span.multi-menu__text Новости
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

            .multi-menu__list.multi-menu__list--2(data-js='multiMenuList' data-level="2" data-index="2")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='13')
                        span.multi-menu__text Уровень 2-2
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='14') 
                        span.multi-menu__text Обучающимся
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='15') 
                        span.multi-menu__text Структура
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='16') 
                        span.multi-menu__text Об университете
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='17') 
                        span.multi-menu__text Кафедры
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='18') 
                        span.multi-menu__text Довузовское образование
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='19') 
                        span.multi-menu__text Наука
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='20') 
                        span.multi-menu__text Международная деятельность
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='21') 
                        span.multi-menu__text Общие сведения
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='22') 
                        span.multi-menu__text Сведения об образовательной организации
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='23') 
                        span.multi-menu__text Противодействие коррупции
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='24') 
                        span.multi-menu__text Новости
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

            .multi-menu__list.multi-menu__list--2(data-js='multiMenuList' data-level="2" data-index="3")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='1')
                        span.multi-menu__text Уровень 2-3
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='2') 
                        span.multi-menu__text Обучающимся
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='3') 
                        span.multi-menu__text Структура
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='4') 
                        span.multi-menu__text Об университете
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='5') 
                        span.multi-menu__text Кафедры
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='6') 
                        span.multi-menu__text Довузовское образование
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='7') 
                        span.multi-menu__text Наука
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='8') 
                        span.multi-menu__text Международная деятельность
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='9') 
                        span.multi-menu__text Общие сведения
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='10') 
                        span.multi-menu__text Сведения об образовательной организации
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='11') 
                        span.multi-menu__text Противодействие коррупции
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='12') 
                        span.multi-menu__text Новости
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

        .multi-menu(class= checkProps.classes + isHeaderClass data-js="multiMenu" data-id="1")&attributes(attributes)
            .multi-menu__list.multi-menu__list--1.active(data-js='multiMenuList' data-level="1")
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='1')
                        span.multi-menu__text Поступающим 1-2
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='2') 
                        span.multi-menu__text Обучающимся
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='3') 
                        span.multi-menu__text Структура
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='4')
                        span.multi-menu__text Об университете
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='5')
                        span.multi-menu__text Кафедры
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='6')
                        span.multi-menu__text Довузовское образование
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='7')
                        span.multi-menu__text Наука
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='8')
                        span.multi-menu__text Международная деятельность
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='9') 
                        span.multi-menu__text Общие сведения
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='10') 
                        span.multi-menu__text Сведения об образовательной организации
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='11') 
                        span.multi-menu__text Противодействие коррупции
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='12') 
                        span.multi-menu__text Новости
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

            .multi-menu__list.multi-menu__list--2(data-js='multiMenuList' data-level="2" data-index="1")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='1')
                        span.multi-menu__text Уровень 2-1
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='2') 
                        span.multi-menu__text Обучающимся
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='3') 
                        span.multi-menu__text Структура
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='4') 
                        span.multi-menu__text Об университете
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='5') 
                        span.multi-menu__text Кафедры
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='6') 
                        span.multi-menu__text Довузовское образование
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='7') 
                        span.multi-menu__text Наука
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='8') 
                        span.multi-menu__text Международная деятельность
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='9') 
                        span.multi-menu__text Общие сведения
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='10') 
                        span.multi-menu__text Сведения об образовательной организации
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='11') 
                        span.multi-menu__text Противодействие коррупции
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='12') 
                        span.multi-menu__text Новости
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

            .multi-menu__list.multi-menu__list--2(data-js='multiMenuList' data-level="2" data-index="2")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='13')
                        span.multi-menu__text Уровень 2-2
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='14') 
                        span.multi-menu__text Обучающимся
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='15') 
                        span.multi-menu__text Структура
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='16') 
                        span.multi-menu__text Об университете
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='17') 
                        span.multi-menu__text Кафедры
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='18') 
                        span.multi-menu__text Довузовское образование
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='19') 
                        span.multi-menu__text Наука
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='20') 
                        span.multi-menu__text Международная деятельность
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='21') 
                        span.multi-menu__text Общие сведения
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='22') 
                        span.multi-menu__text Сведения об образовательной организации
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='23') 
                        span.multi-menu__text Противодействие коррупции
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='24') 
                        span.multi-menu__text Новости
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

            .multi-menu__list.multi-menu__list--2(data-js='multiMenuList' data-level="2" data-index="3")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='1')
                        span.multi-menu__text Уровень 2-3
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='2') 
                        span.multi-menu__text Обучающимся
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='3') 
                        span.multi-menu__text Структура
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='4') 
                        span.multi-menu__text Об университете
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='5') 
                        span.multi-menu__text Кафедры
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='6') 
                        span.multi-menu__text Довузовское образование
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='7') 
                        span.multi-menu__text Наука
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='8') 
                        span.multi-menu__text Международная деятельность
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='9') 
                        span.multi-menu__text Общие сведения
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='10') 
                        span.multi-menu__text Сведения об образовательной организации
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='11') 
                        span.multi-menu__text Противодействие коррупции
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='12') 
                        span.multi-menu__text Новости
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)                        

        .multi-menu(class= checkProps.classes + isHeaderClass data-js="multiMenu" data-id="2")&attributes(attributes)
            .multi-menu__list.multi-menu__list--1.active(data-js='multiMenuList' data-level="1")
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='1')
                        span.multi-menu__text Поступающим 1-3
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='2') 
                        span.multi-menu__text Обучающимся
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='3') 
                        span.multi-menu__text Структура
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='4')
                        span.multi-menu__text Об университете
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='5')
                        span.multi-menu__text Кафедры
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='6')
                        span.multi-menu__text Довузовское образование
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='7')
                        span.multi-menu__text Наука
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='8')
                        span.multi-menu__text Международная деятельность
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='9') 
                        span.multi-menu__text Общие сведения
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='10') 
                        span.multi-menu__text Сведения об образовательной организации
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='11') 
                        span.multi-menu__text Противодействие коррупции
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='12') 
                        span.multi-menu__text Новости
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

            .multi-menu__list.multi-menu__list--2(data-js='multiMenuList' data-level="2" data-index="1")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='1')
                        span.multi-menu__text Уровень 2-1
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='2') 
                        span.multi-menu__text Обучающимся
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='3') 
                        span.multi-menu__text Структура
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='4') 
                        span.multi-menu__text Об университете
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='5') 
                        span.multi-menu__text Кафедры
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='6') 
                        span.multi-menu__text Довузовское образование
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='7') 
                        span.multi-menu__text Наука
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='8') 
                        span.multi-menu__text Международная деятельность
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='9') 
                        span.multi-menu__text Общие сведения
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='10') 
                        span.multi-menu__text Сведения об образовательной организации
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='11') 
                        span.multi-menu__text Противодействие коррупции
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='12') 
                        span.multi-menu__text Новости
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

            .multi-menu__list.multi-menu__list--2(data-js='multiMenuList' data-level="2" data-index="2")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='13')
                        span.multi-menu__text Уровень 2-2
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='14') 
                        span.multi-menu__text Обучающимся
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='15') 
                        span.multi-menu__text Структура
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='16') 
                        span.multi-menu__text Об университете
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='17') 
                        span.multi-menu__text Кафедры
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='18') 
                        span.multi-menu__text Довузовское образование
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='19') 
                        span.multi-menu__text Наука
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='20') 
                        span.multi-menu__text Международная деятельность
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='21') 
                        span.multi-menu__text Общие сведения
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='22') 
                        span.multi-menu__text Сведения об образовательной организации
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='23') 
                        span.multi-menu__text Противодействие коррупции
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='24') 
                        span.multi-menu__text Новости
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

            .multi-menu__list.multi-menu__list--2(data-js='multiMenuList' data-level="2" data-index="3")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='1')
                        span.multi-menu__text Уровень 2-3
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='2') 
                        span.multi-menu__text Обучающимся
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='3') 
                        span.multi-menu__text Структура
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='4') 
                        span.multi-menu__text Об университете
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='5') 
                        span.multi-menu__text Кафедры
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='6') 
                        span.multi-menu__text Довузовское образование
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='7') 
                        span.multi-menu__text Наука
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='8') 
                        span.multi-menu__text Международная деятельность
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='9') 
                        span.multi-menu__text Общие сведения
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='10') 
                        span.multi-menu__text Сведения об образовательной организации
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='11') 
                        span.multi-menu__text Противодействие коррупции
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='12') 
                        span.multi-menu__text Новости
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

    - else
        .multi-menu(class= checkProps.classes + isHeaderClass data-js="multiMenu")&attributes(attributes)
            .multi-menu__list.multi-menu__list--1.active(data-js='multiMenuList' data-level="1")
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='1')
                        span.multi-menu__text Поступающим
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='2') 
                        span.multi-menu__text Обучающимся
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='3') 
                        span.multi-menu__text Структура
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='4')
                        span.multi-menu__text Об университете
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='5')
                        span.multi-menu__text Кафедры
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='6')
                        span.multi-menu__text Довузовское образование
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='7')
                        span.multi-menu__text Наука
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='8')
                        span.multi-menu__text Международная деятельность
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='9') 
                        span.multi-menu__text Общие сведения
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='10') 
                        span.multi-menu__text Сведения об образовательной организации
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='11') 
                        span.multi-menu__text Противодействие коррупции
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='12') 
                        span.multi-menu__text Новости
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

            .multi-menu__list.multi-menu__list--2(data-js='multiMenuList' data-level="2" data-index="1")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='1')
                        span.multi-menu__text Уровень 2-1
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='2') 
                        span.multi-menu__text Обучающимся
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='3') 
                        span.multi-menu__text Структура
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='4') 
                        span.multi-menu__text Об университете
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='5') 
                        span.multi-menu__text Кафедры
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='6') 
                        span.multi-menu__text Довузовское образование
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='7') 
                        span.multi-menu__text Наука
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='8') 
                        span.multi-menu__text Международная деятельность
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='9') 
                        span.multi-menu__text Общие сведения
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='10') 
                        span.multi-menu__text Сведения об образовательной организации
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='11') 
                        span.multi-menu__text Противодействие коррупции
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='12') 
                        span.multi-menu__text Новости
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

            .multi-menu__list.multi-menu__list--2(data-js='multiMenuList' data-level="2" data-index="2")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='13')
                        span.multi-menu__text Уровень 2-2
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='14') 
                        span.multi-menu__text Обучающимся
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='15') 
                        span.multi-menu__text Структура
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='16') 
                        span.multi-menu__text Об университете
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='17') 
                        span.multi-menu__text Кафедры
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='18') 
                        span.multi-menu__text Довузовское образование
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='19') 
                        span.multi-menu__text Наука
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='20') 
                        span.multi-menu__text Международная деятельность
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='21') 
                        span.multi-menu__text Общие сведения
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='22') 
                        span.multi-menu__text Сведения об образовательной организации
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='23') 
                        span.multi-menu__text Противодействие коррупции
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='24') 
                        span.multi-menu__text Новости
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

            .multi-menu__list.multi-menu__list--2(data-js='multiMenuList' data-level="2" data-index="3")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='1')
                        span.multi-menu__text Уровень 2-3
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='2') 
                        span.multi-menu__text Обучающимся
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='3') 
                        span.multi-menu__text Структура
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='4') 
                        span.multi-menu__text Об университете
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='5') 
                        span.multi-menu__text Кафедры
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='6') 
                        span.multi-menu__text Довузовское образование
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='7') 
                        span.multi-menu__text Наука
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='8') 
                        span.multi-menu__text Международная деятельность
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='9') 
                        span.multi-menu__text Общие сведения
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='10') 
                        span.multi-menu__text Сведения об образовательной организации
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='11') 
                        span.multi-menu__text Противодействие коррупции
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='12') 
                        span.multi-menu__text Новости
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

            .multi-menu__list.multi-menu__list--3(data-js='multiMenuList' data-level="3" data-index="1")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='1')
                        span.multi-menu__text Уровень 3-1
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='2') 
                        span.multi-menu__text Обучающимся
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='3') 
                        span.multi-menu__text Структура
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

            .multi-menu__list.multi-menu__list--3(data-js='multiMenuList' data-level="3" data-index="2")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='1')
                        span.multi-menu__text Уровень 3-2
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='2') 
                        span.multi-menu__text Обучающимся
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='3') 
                        span.multi-menu__text Структура
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)

            .multi-menu__list.multi-menu__list--3(data-js='multiMenuList' data-level="3" data-index="13")
                .multi-menu__back(data-js="multiMenuBack")
                    svg 
                        use(xlink:href="img/sprites/sprite.svg#link_angle")
                    | Назад
                .multi-menu__items
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='1')
                        span.multi-menu__text Уровень 3-13
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='2') 
                        span.multi-menu__text Обучающимся
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)
                    a.multi-menu__item(href="index.html" data-js="multiMenuItem" data-index='3') 
                        span.multi-menu__text Структура
                        span.multi-menu__icon(data-js="multiMenuIcon")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#link_angle`)