-
    const defaultMenuListProps = {
        classes: '',
        links: [
            "Поступающим",
            "Обучающимся",
            "Структура",
            "Об университете",
            "Кафедры",
            "Довузовское образование",
            "Наука",
            "Международная деятельность",
            "Общие сведения",
            "Сведения об образовательной организации",
            "Противодействие коррупции",
            "Новости"
        ]
    }

mixin menu-list(props= defaultMenuListProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultMenuListProps.classes,
            links: props.links ? props.links : defaultMenuListProps.links,
        }

    ul.menu-list(class= checkProps.classes data-js="menuList")&attributes(attributes)
        -let count = 0
        - while (count < checkProps.links.length)
            a.menu-list__item(href="index.html" data-js="menuListItem" data-index=count)
                span.menu-list__text!= checkProps.links[count]
                span.menu-list__icon(data-js="menuListIcon")
                    svg
                        use(xlink:href=`img/sprites/sprite.svg#link_angle`)

            - count++
