.info-tag {
    width: fit-content;
    padding: 11px 23px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.02em;
    color: $c-white;
    background-color: $c-accent-light;
    border-radius: 27px;

    @include max(mobile) {
        padding: 10px 15px;
        font-size: 12px;
        border-radius: 20px;
    }
}