-
    const defaultAbiturientamInfoProps = {
        classes: '',
        items: [
            {
                icon: 'img/abiturientam/abiturientam_info_1.svg',
                subtitle: 'Структура, план приема',
                text: 'Направления подготовки для бакалавриата и магистратуры, стоимость обучения по контракту'
            },
            {
                icon: 'img/abiturientam/abiturientam_info_2.svg',
                subtitle: 'Приемная комиссия',
                text: 'Состав приемной комиссии, расписание и часы работы'
            },
            {
                icon: 'img/abiturientam/abiturientam_info_3.svg',
                subtitle: 'Результаты вступительных испытаний',
                text: 'Состав приемной комиссии, расписание и часы работы'
            },
            {
                icon: 'img/abiturientam/abiturientam_info_4.svg',
                subtitle: 'Иностранным абитуриентам',
                text: 'Состав приемной комиссии, расписание и часы работы'
            },
            {
                icon: 'img/abiturientam/abiturientam_info_5.svg',
                subtitle: 'Результаты вступительных испытаний',
                text: 'Состав приемной комиссии, расписание и часы работы'
            }
        ]
    }

mixin abiturientam-info(props = defaultAbiturientamInfoProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultAbiturientamInfoProps.classes,
            items: props.items ? props.items : defaultAbiturientamInfoProps.items
        }

    section.abiturientam-info
        .m-container
            .abiturientam-info__slider(data-js="abiturientamInfoSlider")
                .swiper-wrapper
                    - let itemsCount = 0
                    - while (itemsCount < checkProps.items.length)
                        a.abiturientam-info__slide.swiper-slide(href="#")
                            span.abiturientam-info__icon
                                img(src=checkProps.items[itemsCount].icon alt='')
                            span.h3.abiturientam-info__subtitle!= checkProps.items[itemsCount].subtitle
                            span.abiturientam-info__text.text-editor!= checkProps.items[itemsCount].text

                        - itemsCount++




