-
    const defaultIIntroProps = {
        classes: '',
        breadcrumbs: {},
        img: '',
        title: '',
        date: '',
    }

mixin i-intro(props = defaultIIntroProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultIIntroProps.classes,
            breadcrumbs: props.breadcrumbs ? props.breadcrumbs : defaultIIntroProps.breadcrumbs,
            img: props.img ? props.img : defaultIIntroProps.img,
            title: props.title ? props.title : defaultIIntroProps.title,
            small: props.small ? props.small : defaultIIntroProps.small,
            date: props.date ? props.date : defaultIIntroProps.date
        }

    section.i-intro(class= checkProps.classes)
        .i-intro__img
            img(src=checkProps.img alt="")
        .m-container.i-intro__container
            +breadcrumbs(checkProps.breadcrumbs)
            .i-intro__top
                block
            .i-intro__bottom
                +title({
                    classes: 'i-intro__title',
                    tag: 'h1',
                    text: checkProps.title,
                    cMode: 'light',
                })
                - if(checkProps.date.length > 0)
                    .i-intro__date!= checkProps.date

