.i-intro {
    position: relative;

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        min-height: 700px;
        padding-top: 20px;
        padding-bottom: 45px;

        @include max(large) {
            min-height: 540px;
        }

        @include max(laptop) {
            min-height: 560px;
            padding-top: 20px;
            padding-bottom: 45px;
        }

        @include max(tablet) {
            min-height: 500px;
            padding-top: 20px;
            padding-bottom: 45px;
        }

        @include max(tablet) {
            min-height: 250px;
            padding-bottom: 30px;
        }
    }

    &__top {
        flex: 1 1 auto;
        position: relative;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        margin-top: 24px;
        padding-top: 25px;
        padding-bottom: 8px;

        @include max(tablet) {
            padding-top: 10px;
            margin-top: 15px;
        }

        @include max(mobile) {
            border-top: none;
        }
    }

    &__bottom {
        flex: 0 0 auto;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 8px 0 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2);

        @include max(mobile) {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__title {
        max-width: 1270px;
    }

    &__date {
        color: $c-white;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.02em;
        text-align: right;

        @include max(tablet) {
            font-size: 14px;
        }

        @include max(mobile) {
            opacity: 0.7;

            br {
                display: none;
            }
        }

        span {
            font-size: 80px;
            font-weight: 500;
            line-height: 0.91em;
            letter-spacing: -0.025em;

            @include max(tablet) {
                font-size: 52px;
            }

            @include max(mobile) {
                font-size: 20px;
            }
        }
    }
}

.intro-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: fit-content;
    min-width: 646px;
    max-width: 85%;
    padding: 25px 20px 25px 30px;
    color: $c-white;
    background-color: $c-accent;
    transition: background-color $tr-time;

    @include max(tablet) {
        min-width: 420px;
        padding: 10px 15px;
    }

    @include max(mobile) {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
    }

    &:hover {
        background-color: $c-accent-dark;
    }

    &__text {
        opacity: 0.4;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.17em;
    }

    &__title {
        margin-top: 5px;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 53px;
        width: 53px;
        height: 53px;
        border-radius: 100%;
        background-color: $c-accent;
        border: 1px solid rgba(255, 255, 255, 0.2);

        @include max(tablet) {
            flex-basis: 40px;
            height: 40px;
            width: 40px;
        }

        svg {
            width: 9px;
            height: 12px;
        }
    }
}