.site-footer {
    padding: 83px 0 148px;
    background-color: $c-accent;
    color: $c-white;

    @include max(laptop) {
        padding: 80px 0 120px;
    }

    @include max(mobile) {
        padding: 50px 0;
    }

    a {
        transition: color $tr-time;
    }

    a:hover {
        color: $c-accent-light;
    }

    &__row {
        display: flex;
        align-items: flex-start;
        gap: 120px;

        @include max(large) {
            gap: 50px;
        }

        @include max(laptop) {
            gap: 40px;
        }

        @include max(mobile) {
            flex-direction: column;
            gap: 30px;
        }

        &--mid {
            margin-top: 100px;
            gap: 90px;

            @include max(large) {
                gap: 25px;
            }

            @include max(laptop) {
                gap: 20px;
            }

            @include max(mobile) {
                margin-top: 50px;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 20px 30px;
            }
        }
    }

    &__col {
        flex: 0 1 420px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        &--first {
            flex-basis: 540px;
        }

        @include max(mobile) {
            flex-basis: auto;
            gap: 30px;
        }
    }

    &__block {
        flex: 0 1 calc((100% - 40px) / 2);

        @include max(mobile) {
            flex-basis: auto;
        }
    }

    &__title {
        font-size: 32px;
        font-weight: 500;
        letter-spacing: -1px;
        line-height: 1.02em;

        @include max(large) {
            font-size: 28px;
        }

        @include max(laptop) {
            font-size: 24px;
        }

        @include max(tablet) {
            font-size: 22px;
        }

        @include max(mobile) {
            font-size: 20px;
        }
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.02em;
        margin-top: 30px;

        @include max(large) {
            font-size: 22px;
        }

        @include max(laptop) {
            font-size: 18px;
        }

        @include max(mobile) {
            font-size: 16px;
        }
    }

    &__textblock {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.25em;
        color: #688D80;

        @include max(large) {
            font-size: 22px;
        }

        @include max(laptop) {
            font-size: 18px;
            gap: 15px;
            margin-top: 15px;
        }

        @include max(mobile) {
            font-size: 14px;
            gap: 10px;
            margin-top: 10px;
        }

    }

    &__copyright {
        max-width: 915px;
        margin-top: 33px;
        font-family: $ff-second;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        color: $c-text-grey;

        @include max(large) {
            font-size: 16px;
            max-width: 840px;
        }

        @include max(laptop) {
            font-size: 14px;
            max-width: 720px;
        }

        @include max(mobile) {
            font-size: 12px;
            margin-top: 30px;
        }
    }

    &__links {
        flex: 0 1 323px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        @include max(mobile) {
            flex-basis: 220px;
            gap: 2px;
        }
    }

    &__link {
        min-height: 3em;
        font-family: $ff-second;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.5em;
        text-transform: uppercase;

        @include max(large) {
            font-size: 14px;
        }

        @include max(laptop) {
            font-size: 12px;
        }
    }
}