.history-intro {
    position: relative;
    padding-top: 20px;
    padding-bottom: 35px;
    margin-bottom: 40px;

    .m-container {
        margin-left: 0;
    }

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img,
        picture {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__header,
    &__body {
        padding: 24px 78px 24px 35px;

        @include max(mobile) {
            padding: 20px;
        }
    }

    &__header {
        @include max(mobile) {
            display: none;
        }
    }

    &__body {
        padding-bottom: 100px;
    }

    &__header {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    &__title {
        position: relative;
        margin-bottom: 36px;

        .title__h1 {
            font-size: 0.625em;

            @include max(tablet) {
                font-size: 1em;
            }
        }
    }

    &__text p {
        font-size: 24px;
        line-height: 134%;
        margin-bottom: 24px;
    }

    &__content {
        position: relative;
        max-width: 734px;
        background-color: $c-accent;
    }
}

.history-timeline {
    .tabs-block__slides {
        border: 0;

    }

    .m-columns {
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;

        /*margin-left: 28px;
        /*margin-left: 28px;
        margin-right: 28px;
        @include max(laptop){
            margin-left: 25px;
            margin-right: 25px;
        }
        @include max(mobile){
            margin-left: 15px;
            margin-right: 15px;
        }*/
        &__main {
            max-width: 731px;

            @include max(mobile) {
                padding-bottom: 0;
            }

            &.text-editor p {
                /*font-size: 24px;
                line-height: 1.34em;*/
                max-width: 621px;
                /*@include max(mobile){
                    font-size:1em;
                }*/
            }

            padding-bottom: 85px;
        }

        &__header {

            h2 {
                font-size: 80px;

                @include max(mobile) {
                    font-size: 2em;
                }
            }
        }
    }

    img {
        margin-bottom: 28px;
    }
}

.text-block-width-img {
    background: #fff;
    padding: 0 28px 35px;

    @include max(laptop) {
        padding-left: 25px;
        padding-right: 25px;
    }

    @include max(mobile) {
        padding-left: 15px;
        padding-right: 15px;
    }

    .text-block-width-img__block .m-columns {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &--history {


        .text-block-width-img__block .m-columns:first-child {
            border: 0;
        }
    }

    &__block {
        .m-columns__main {
            max-width: 731px;
        }

        .m-columns__header {
            max-width: 1000px;
            flex: 0 0 calc(100% - 731px - 45px);

            img {
                margin-bottom: 0;
            }

            img+img {
                margin-top: 20px
            }
        }
    }

    .m-columns {
        padding: 0;
        justify-content: space-between;
        /*.text-editor h2{
            font-size: 45px;
            @include max(mobile){
                font-size: 2em;
            }
        }
        .text-editor p{
            font-size:24px;
            line-height: 134%;
            max-width: 550px;
            @include max(mobile){
                font-size: 1em;
            }
        }*/
    }
}