-
    const defaultSeminarsDetailedProps = {
        classes: '',
    }

mixin seminars-detailed(props = defaultSeminarsDetailedProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSeminarsDetailedProps.classes
        }

    section.seminars-detailed
        div(data-js="seminarNameBlock" data-value="Научный семинар «Культурный ландшафт»")
        div(data-js="seminarDateBlock" data-value="12.12.2024")
        .m-container.seminars-detailed__container
            .seminars-detailed__main.text-editor 
                p 
                    b Семинар «Культурный ландшафт» начал свою деятельность на Географическом факультете  в 1993 году и в настоящее время функционирует как междисциплинарный. Среди основных целей семинара - продвижение ландшафтного подхода в гуманитарные области знания и гуманитарных подходов в географии, поддержка междисциплинарных исследований, создание творческой среды для дискуссий по ключевым вопросам развития географии, содействие в формировании профессионального сообщества.

                +quote({
                    classes: 'quote--text',
                    text: `<p><b>Трек «Первопроходец»</b></p>
                        <p><b>Трек создан, чтобы первокурсники могли раскрыть свой потенциал, окунуться в студенческую жизнь и познакомиться с молодежной политикой страны.</b></p>`
                })

                p 
                    b В 2023 году по инициативе семинара была создана комиссия по культурной географии Херсонского городского отделения Русского географического общества. С этого времени семинар и комиссия действуют совместно.

                p 
                    b «Пространство Земли организует культуру, а культура организует пространство» – этот тезис Ю.А. Веденина (1997) блестяще отражает «полюсы притяжения», формирующие междисциплинарный характер семинара. В его работе участвуют преподаватели, научные сотрудники, студенты и аспиранты географического, биологического, филологического, исторического, философского и др. факультетов университета и других университетов России, а также ученые из различных институтов Российской академии наук (Этнологии и антропологии, Востоковедения, Географии, Психологии) учителя школ, искусствоведы, писатели, кинематографисты, представители управленческих органов и общественных организаций и т.д, работающие как в Москве, так и в других районах России и странах ближнего зарубежья.

                p 
                    b Семинар «Культурный ландшафт» начал свою деятельность на Географическом факультете  в 1993 году и в настоящее время функционирует как междисциплинарный. Среди основных целей семинара - продвижение ландшафтного подхода в гуманитарные области знания и гуманитарных подходов в географии, поддержка междисциплинарных исследований, создание творческой среды для дискуссий по ключевым вопросам развития географии, содействие в формировании профессионального сообщества.

                p 
                    b В 2023 году по инициативе семинара была создана комиссия по культурной географии Херсонского городского отделения Русского географического общества. С этого времени семинар и комиссия действуют совместно.

                p 
                    b «Пространство Земли организует культуру, а культура организует пространство» – этот тезис Ю.А. Веденина (1997) блестяще отражает «полюсы притяжения», формирующие междисциплинарный характер семинара. В его работе участвуют преподаватели, научные сотрудники, студенты и аспиранты географического, биологического, филологического, исторического, философского и др. факультетов университета и других университетов России, а также ученые из различных институтов Российской академии наук (Этнологии и антропологии, Востоковедения, Географии, Психологии) учителя школ, искусствоведы, писатели, кинематографисты, представители управленческих органов и общественных организаций и т.д, работающие как в Москве, так и в других районах России и странах ближнего зарубежья.

                +video({
                video: '<iframe width="720" height="405" src="https://rutube.ru/play/embed/1b56934dff273b81a8c991062e7a85cf/?skinColor=43a047" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>',
                poster: 'img/video-poster.webp'
                })

                +media-slider({
                    classes: 'media-slider--news media-slider--text',
                    fancyGroup: 'news1',
                    slides: [
                        {
                            image: 'img/news/news_slide_1.webp',
                            video: '',
                            title: '',
                            text: '',
                            mMode: 'image'
                        },
                        {
                            image: 'img/news/news_slide_2.webp',
                            video: '',
                            title: '',
                            text: '',
                            mMode: 'image'
                        },
                        {
                            image: 'img/news/news_slide_3.webp',
                            video: '',
                            title: '',
                            text: '',
                            mMode: 'image'
                        },
                        {
                            image: 'img/news/news_slide_1.webp',
                            video: '',
                            title: '',
                            text: '',
                            mMode: 'image'
                        },
                        {
                            image: 'img/news/news_slide_2.webp',
                            video: '',
                            title: '',
                            text: '',
                            mMode: 'image'
                        },
                        {
                            image: 'img/news/news_slide_3.webp',
                            video: '',
                            title: '',
                            text: '',
                            mMode: 'image'
                        },
                    ],
                })

            .seminars-detailed__sidebar
                .seminars-detailed__info.seminar-info
                    +btn({
                        classes: 'btn--darkGreen',
                        name: 'Запрос на участие'
                    })(data-modal="#seminarModal")
                    .h2.seminar-info__title Сопредседатели семинара:
                    .seminar-info__items
                        +count-block({
                            classes: 'count-block--reverse',
                            text: 'профессор, доктор географических наук',
                            num: 'Иванов Владимир Николаевич',
                            vMode: 'column'
                        })
                        +count-block({
                            classes: 'count-block--reverse',
                            text: 'профессор, доктор географических наук',
                            num: 'Иванов Владимир Николаевич',
                            vMode: 'column'
                        })
                        +count-block({
                            classes: '',
                            text: 'Ученый секретарь:',
                            num: 'Иванова Милена Максимовна',
                            vMode: 'column'
                        })
                        +count-block({
                            classes: '',
                            text: 'E-mail:',
                            num: '<a href="mailto:seminarkl@khay.ru">seminarkl@khay.ru</a>',
                            vMode: 'column'
                        })
                    .seminar-info__desc.text-editor
                        p На нашем YouTube канале вы можете посмотреть видеозаписи всех предыдущих семинаров
                    .seminar-info__links
                        a.seminar-info__link(href="")
                            span.h3.seminar-info__link-text смотреть видео
                            span.seminar-info__link-icon
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#link_angle`)

                        a.seminar-info__link(href="")
                            span.h3.seminar-info__link-text схема проезда
                            span.seminar-info__link-icon
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#link_angle`)



