.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.02em;
    color: $c-accent;
    padding: 32px 24px;
    cursor: pointer;
    text-align: center;

    @include max(mobile) {
        padding: 20px 15px;
    }

    &--transparent {
        padding: 5px;
        transition: all $tr-time;

        &:hover {
            color: $c-accent-light;
        }
    }

    &--green {
        color: $c-white;
        background-color: $c-accent-light;
        transition: all $tr-time;

        &:hover {
            background-color: $c-accent-dark;
        }
    }

    &--lightGreen {
        color: $c-accent;
        background-color: #D8E8DE;
        transition: all $tr-time;

        &:hover {
            background-color: $c-accent-dark;
            color: $c-white !important;
        }
    }

    &--darkGreen {
        color: $c-white;
        background-color: $c-accent;
        transition: all $tr-time;

        &:hover {
            background-color: $c-accent-dark;
            color: $c-white !important;
        }
    }
}